<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('预交冲抵列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                           
                           
                           <li><label>费用日期：</label> <input type="text"
								class="time-input" placeholder="请选择费用日期" name="startFeeDate" />&nbsp;到&nbsp;
								<input type="text" class="time-input" placeholder="请选择费用日期" name="endFeeDate"/></li>
                            <li>
                                <label>审核状态：</label>
                               
                                 <select name="auditStatus" th:with="type=${@dict.getType('hy_examine_type')}">
                                    <option value="">请选择</option>
                      <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                          
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
              
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:offset:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:offset:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:offset:remove')}]];
        var prefix = ctx + "system/paymentOffset";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "预交冲抵",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
          
                {
                    field: 'offsetCategory',
                    title: '冲抵类别'
                },
                {
                    field: 'offsetPreson',
                    title: '冲抵人'
                },
                {
                    field: 'offsetOperationDate',
                    title: '冲抵操作时间'
                },
                {
                    field: 'offsetRange',
                    title: '冲抵范围'
                },
                {
                    field: 'offsetDate',
                    title: '冲抵抵用时间'
                },
               
                {
                    field: 'hyAuditManagement.auditProcess',
                    title: '审核流程'
                },
                {
                    field: 'hyAuditManagement.auditStatus',
                    title: '审核状态',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case 0 : value =  "已审核";break;
                        	case 1 : value =  "未审核";break;
                    	}
    	            	return value;
    	            }
                }
              ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>