<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改访客')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-visit-edit" th:object="${hyVisit}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text" placeholder="请输入姓名">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电话号：</label>
                <div class="col-sm-8">
                    <input name="telphone" th:field="*{telphone}" class="form-control" type="text" placeholder="请输入电话号">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请地址：</label>
                <div class="col-sm-8">
                    <input name="applicationAddress" th:field="*{applicationAddress}" class="form-control" type="text" placeholder="请输入申请地址">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="applicationTime" th:value="${#dates.format(hyVisit.applicationTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">有效时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="effectiveTime" th:value="${#dates.format(hyVisit.effectiveTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">有效天数：</label>
                <div class="col-sm-8">
                    <input name="effectiveDay" th:field="*{effectiveDay}" class="form-control" type="text" placeholder="请输入有效天数">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">小区id：</label>
                <div class="col-sm-8">
                    <input name="residentialQuartersId" th:field="*{residentialQuartersId}" class="form-control" type="text" placeholder="请输入小区id" onkeyup="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/visit";
        $("#form-visit-edit").validate({
        	rules:{
        		name:{
        			required:true,
        			maxlength : 255
        		},
        		telphone:{
        			required:true,
        			maxlength : 255
        		},
        		applicationAddress:{
        			required:true,
        			maxlength : 255
        		},
        		applicationTime:{
        			required:true
        		},
        		effectiveTime:{
        			required:true
        		},
        		effectiveDay:{
        			required:true,
        			maxlength : 255
        		},
        		residentialQuartersId:{
        			required:true,
        			maxlength : 20
        		}
        	},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-visit-edit').serialize());
            }
        }

        $("input[name='applicationTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='effectiveTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>