<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('业主资料登记列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li><label>业主名称：</label> <input type="text" name="ownerName" />
							</li>

							<li><label>业主标识：</label> <input type="text" name="ownerIdentification" onkeyup="this.value=this.value.replace(/\D/g,'')" /></li>


							<li><label>房屋编号：</label> <input type="text" name="houseNum" /></li>
							<li><label>房屋名称：</label> <input type="text" name="houseName" /></li>


							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()"
					shiro:hasPermission="system:registration:export"> <i
					class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:registration:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:registration:remove')}]];
        var prefix = ctx + "system/noSetProperty";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "业主资料登记",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
          
                {
                    field: 'ownerIdentification',
                    title: '业主/租户'
                },
                {
                    field: 'ownerName',
                    title: '客户名称'
                },
                {
                    field: 'houseNum',
                    title: '房屋编号'
                },
             
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                }
               
      ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>