<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyArrearageMapper">

	<resultMap type="HyHouseInf" id="HyHouseInfResult">
		<result property="id" column="id" />
		<result property="houseNumber" column="house_number" />
		<result property="houseName" column="house_name" />
		<result property="builtUpArea" column="built_up_area" />
		<result property="groupArea" column="group_area" />
		<result property="unit" column="unit" />
		<result property="floor" column="floor" />
		<result property="sameUnitNumber" column="same_unit_number" />
		<result property="areaType" column="area_type" />
		<result property="bilingArea" column="biling_area" />
		<result property="insideArea" column="inside_area" />
		<result property="sharedArea" column="shared_area" />
		<result property="gardenArea" column="garden_area" />
		<result property="basementArea" column="basement_area" />
		<result property="sharedLobbyArea" column="shared_lobby_area" />
		<result property="sharedLayersArea" column="shared_layers_area" />
		<result property="shareRatio" column="share_ratio" />
		<result property="buildingStructure"
			column="building_structure" />
		<result property="parametersPer" column="parameters_per" />
		<result property="houseLayout" column="house_layout" />
		<result property="floorHeight" column="floor_height" />
		<result property="natureProperty" column="nature_property" />
		<result property="natureUse" column="nature_use" />
		<result property="usageStatus" column="usage_status" />
		<result property="occupancyStatus" column="occupancy_status" />
		<result property="deliveryStatus" column="delivery_status" />
		<result property="houseType" column="house_type" />
		<result property="salesStatus" column="sales_status" />
		<result property="purchaseContract" column="purchase_contract" />
		<result property="marketingNum" column="marketing_num" />
		<result property="deliveryStatusBefore" column="delivery_status_before" />
		<result property="changeDate" column="change_date" />
		<result property="changePerson" column="change_person" />
		<result property="remark" column="remark" />
		<result property="buildingId" column="building_id" />
		<result property="ownerId" column="owner_id" />
		<association property="hyCost" column="id"
			javaType="HyCost" resultMap="HyCostResult" />
		<association property="hyOwnerRegistration" column="id"
			javaType="HyOwnerRegistration" resultMap="HyOwnerRegistrationResult" />
	</resultMap>
	
	<resultMap type="HyCost" id="HyCostResult">
		<result property="id" column="id" />
		<result property="costItems" column="cost_items" />
		<result property="expenseType" column="expense_type" />
		<result property="parentId" column="parent_id" />
		<result property="ancestors" column="ancestors" />
		<result property="standardName" column="standard_name" />
		<result property="feeNum" column="fee_num" />
		<result property="chargingStandard" column="charging_standard" />
		<result property="calculationMehod" column="calculation_mehod" />
		<result property="standardDescription"
			column="standard_description" />
		<result property="standardState" column="standard_state" />
		<result property="proportionDamags" column="proportion_damags" />
		<result property="projectModification"
			column="project_modification" />
		<result property="billingCycle" column="billing_cycle" />
		<result property="bilingStartDate" column="biling_start_date" />
		<result property="bilingEndDate" column="biling_end_date" />
		<result property="auditResultsReason"
			column="audit_results_reason" />
		<result property="feeDateOld" column="fee_date_old" />
		<result property="feeDate" column="fee_date" />
		<result property="dueDateOld" column="due_date_old" />
		<result property="dueDate" column="due_date" />
		<result property="amountReceivableOld"
			column="amount_receivable_old" />
		<result property="paymentDeadlinTime"
			column="payment_deadlin_time" />
		<result property="amountReceivable" column="amount_receivable" />
		<result property="amountActually" column="amount_actually" />
		<result property="remarks" column="remarks" />
		<result property="operationDate" column="operation_date" />
		<result property="operationUser" column="operation_user" />
		<result property="operationType" column="operation_type" />
		<result property="deleteReason" column="delete_reason" />
		<result property="advancePaymentOffset"
			column="advance_payment_offset" />
		<result property="writeOff" column="write_off" />
		<result property="refundAmount" column="refund_amount" />
		<result property="amountArrears" column="amount_arrears" />
		<result property="collectionStatus" column="collection_status" />
		<result property="frozenPerson" column="frozen_person" />
		<result property="frozenState" column="frozen_state" />
		<result property="frozenDate" column="frozen_date" />
		<result property="frozenReason" column="frozen_reason" />
		<result property="advanceStatus" column="advance_status" />
		<result property="transferTenants" column="transfer_tenants" />
		<result property="changeDate" column="change_date" />
		<result property="billingMethod" column="billing_method" />
		<result property="calculationStandard"
			column="calculation_standard" />
	</resultMap>
	

	<resultMap type="HyOwnerRegistration"
		id="HyOwnerRegistrationResult">
		<result property="id" column="id" />
		<result property="ownerName" column="owner_name" />
		<result property="houseNum" column="house_num" />
		<result property="fixedTelephone" column="fixed_telephone" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="idCardNum" column="id_card_num" />
		<result property="suplierCategory" column="suplier_category" />
		<result property="lockedNot" column="locked_not" />
		<result property="accessNum" column="access_num" />
		<result property="certificateName" column="certificate_name" />
		<result property="customerCategoy" column="customer_categoy" />
		<result property="faxPhone" column="fax_phone" />
		<result property="contactAddress" column="contact_address" />
		<result property="postalCode" column="postal_code" />
		<result property="postalPreson" column="postal_preson" />
		<result property="eMail" column="e_mail" />
		<result property="phoneAccount" column="phone_account" />
		<result property="bindingPhoneNum" column="binding_phone_num" />
		<result property="coOwner" column="co_owner" />
		<result property="ownerIdentification"
			column="owner_identification" />
		<result property="firName" column="fir_name" />
		<result property="secName" column="sec_name" />
		<result property="gender" column="gender" />
		<result property="nationality" column="nationality" />
		<result property="birthDate" column="birth_date" />
		<result property="workUnit" column="work_unit" />
		<result property="ownerJob" column="owner_job" />
		<result property="ownerHobby" column="owner_hobby" />
		<result property="ownerId" column="owner_id" />
		<result property="taxpayerNum" column="taxpayer_num" />
		<result property="ownerAddPhone" column="owner_add_phone" />
		<result property="bankAccount" column="bank_account" />
		<result property="collectionCategory"
			column="collection_category" />
		<result property="bankType" column="bank_type" />
		<result property="bankNum" column="bank_num" />
		<result property="bankAccountName" column="bank_account_name" />
	</resultMap>
	
	<sql id="selectHyHouseInfVo">
	SELECT
		o.owner_name,
		h.house_number,
		h.house_name,
		c.payment_deadlin_time
	FROM
		hy_house_inf h
		LEFT JOIN hy_owner_registration o ON h.owner_id = o.id
		LEFT JOIN house_and_cost a ON a.house_id = h.id
		LEFT JOIN hy_cost c ON a.cost_id = c.id
	</sql>

	<select id="selectHyArrearageList" parameterType="HyHouseInf"
		resultMap="HyHouseInfResult">
		<include refid="selectHyHouseInfVo" />
		<where>
			<if test="buildingId != null"> and h.building_id = #{buildingId}</if>
		</where>
	</select>

</mapper>