<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyAssessorMapper">
    
    <resultMap type="HyAssessor" id="HyAssessorResult">
        <result property="id"    column="id"    />
        <result property="materialId"    column="material_id"    />
        <result property="specimenId"    column="specimen_id"    />
        <association property="hyInventory" column="id"
			javaType="HyInventory" resultMap="HyInventoryResult" />
        <association property="hyMaterial" column="id"
			javaType="HyMaterial" resultMap="HyMaterialResult" />
        <association property="hySpecimen" column="id"
			javaType="HySpecimen" resultMap="HySpecimenResult" />
    </resultMap>
    
    <resultMap type="HyInventory" id="HyInventoryResult">
        <result property="id"    column="id"    />
        <result property="materialId"    column="material_id"    />
        <result property="checkId"    column="check_id"    />
    </resultMap>
	
	<resultMap type="HySpecimen" id="HySpecimenResult">
        <result property="id"    column="id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="deptId"    column="dept_id"    />
        <association property="hyDept" column="id"
			javaType="HyDept" resultMap="HyDeptResult" />
		<association property="hyEmployee" column="id"
			javaType="HyEmployee" resultMap="HyEmployeeResult" />
    </resultMap>
	
	<resultMap type="HyDept" id="HyDeptResult">
        <result property="id"    column="id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="leader"    column="leader"    />
        <result property="propertyId"    column="property_id"    />
    </resultMap>
	
	<resultMap type="HyEmployee" id="HyEmployeeResult">
        <result property="id"    column="id"    />
        <result property="employeeName"    column="employee_name"    />
        <result property="employeePhone"    column="employee_phone"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>
	
	<resultMap type="HyMaterial" id="HyMaterialResult">
        <result property="id"    column="id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialType"    column="material_type"    />
        <result property="materialUnit"    column="material_unit"    />
        <result property="materialNumber"    column="material_number"    />
        <result property="materialAddress"    column="material_address"    />
        <result property="materialDept"    column="material_dept"    />
        <result property="materialSupplier"    column="material_supplier"    />
        <result property="materialCommute"    column="material_commute"    />
        <result property="createTime"    column="create_time"    />
        <result property="state"    column="state"    />
        <result property="checkmen"    column="checkmen"    />
    </resultMap>
	
    <sql id="selectHyAssessorVo">
        select 
        a.id, 
        a.material_id,
        a.specimen_id,
        m.material_code, 
        m.material_name, 
        m.material_type, 
        m.material_unit, 
        m.material_number, 
        m.material_address, 
        m.material_dept, 
        m.material_supplier, 
        m.material_commute, 
        m.create_time, 
        m.state,
        m.checkmen,
        i.check_id,
        d.dept_name,
        e.employee_name
        from 
        hy_assessor a
        LEFT JOIN hy_material m ON a.material_id = m.id
        LEFT JOIN hy_inventory i ON a.material_id = i.material_id
        LEFT JOIN hy_specimen s ON a.specimen_id = s.id
        LEFT JOIN hy_dept d ON s.dept_id = d.id
        LEFT JOIN hy_employee e ON s.employee_id = e.id
    </sql>
	
    <select id="selectHyAssessorList" parameterType="HyAssessor" resultMap="HyAssessorResult">
        <include refid="selectHyAssessorVo"/>
        <where>  
            <if test="hyMaterial != null">
             <if test="hyMaterial.materialCode != null and hyMaterial.materialCode != ''"> and m.material_code = #{hyMaterial.materialCode}</if>
             <if test="hyMaterial.materialName != null and hyMaterial.materialName != ''"> and m.material_name = #{hyMaterial.materialName}</if>
            </if>
            and m.state = "2"
        </where>
    </select>
    
    <select id="selectHyAssessorById" parameterType="Long" resultMap="HyAssessorResult">
        <include refid="selectHyAssessorVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertHyAssessor" parameterType="HyAssessor">
        insert into hy_assessor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="materialId != null">material_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="materialId != null">#{materialId},</if>
         </trim>
    </insert>

    <update id="updateHyAssessor" parameterType="HyAssessor">
        update hy_assessor
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="specimenId != null">specimen_id = #{specimenId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyAssessorById" parameterType="Long">
        delete from hy_assessor where id = #{id}
    </delete>

    <delete id="deleteHyAssessorByIds" parameterType="String">
        delete from hy_assessor where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>