<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyBillSetMapper">

	<resultMap type="HyBillSet" id="HyBillSetResult">
		 <result property="id"    column="id"    />
        <result property="businessType"    column="business_type"    />
        <result property="billTypes"    column="bill_types"    />
        <result property="billCategory"    column="bill_category"    />
        <result property="billNumber"    column="bill_number"    />
        <result property="prefix"    column="prefix"    />
        <result property="suffix"    column="suffix"    />
        <result property="invoiceNumber"    column="invoice_number"    />
        <result property="digit"    column="digit"    />
        <result property="billDate"    column="bill_date"    />
        <result property="billSample"    column="bill_sample"    />
        <result property="billDateNew"    column="bill_date_new"    />
        <result property="billPanel"    column="bill_panel"    />
        <result property="paymentMethodNew"    column="payment_method_new"    />
        <result property="paymentMethod"    column="payment_method"    />
        <result property="paymentPerson"    column="payment_person"    />
        <result property="paymentAmount"    column="payment_amount"    />
        <result property="paymentDate"    column="payment_date"    />
        <result property="modifyPerson"    column="modify_person"    />
        <result property="modifyTime"    column="modify_time"    />
        <result property="panel"    column="panel"    />
        <result property="billAmount"    column="bill_amount"    />
        <result property="cancelNot"    column="cancel_not"    />
        <result property="writeNot"    column="write_not"    />
        <result property="remark"    column="remark"    />
        <result property="draftCheckNumber"    column="draft_check_number"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="costId"    column="cost_id"    />
        <result property="revokeId"    column="revoke_id"    />
        <result property="offsetId"    column="offset_id"    />
		<association property="hyHouseInf" column="id"
			javaType="HyHouseInf" resultMap="HyHouseInfResult" />
		<association property="hyOwnerRegistration" column="id"
			javaType="HyOwnerRegistration" resultMap="HyOwnerRegistrationResult" />
		<association property="hyCost" column="id"
			javaType="HyCost" resultMap="HyCostResult" />
		<association property="hyRevoke" column="id"
			javaType="HyRevoke" resultMap="HyRevokeResult" />
		<association property="hyPaymentOffset" column="id"
			javaType="HyPaymentOffset" resultMap="HyPaymentOffsetResult" />
	</resultMap>
	
	<resultMap type="HyOwnerRegistration"
		id="HyOwnerRegistrationResult">
		<result property="id" column="id" />
		<result property="ownerName" column="owner_name" />
		<result property="fixedTelephone" column="fixed_telephone" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="idCardNum" column="id_card_num" />
		<result property="suplierCategory" column="suplier_category" />
		<result property="lockedNot" column="locked_not" />
		<result property="accessNum" column="access_num" />
		<result property="certificateName" column="certificate_name" />
		<result property="customerCategoy" column="customer_categoy" />
		<result property="faxPhone" column="fax_phone" />
		<result property="contactAddress" column="contact_address" />
		<result property="postalCode" column="postal_code" />
		<result property="postalPreson" column="postal_preson" />
		<result property="eMail" column="e_mail" />
		<result property="phoneAccount" column="phone_account" />
		<result property="bindingPhoneNum" column="binding_phone_num" />
		<result property="coOwner" column="co_owner" />
		<result property="ownerIdentification"
			column="owner_identification" />
		<result property="firName" column="fir_name" />
		<result property="secName" column="sec_name" />
		<result property="gender" column="gender" />
		<result property="nationality" column="nationality" />
		<result property="birthDate" column="birth_date" />
		<result property="workUnit" column="work_unit" />
		<result property="ownerJob" column="owner_job" />
		<result property="ownerHobby" column="owner_hobby" />
		<result property="ownerId" column="owner_id" />
		<result property="taxpayerNum" column="taxpayer_num" />
		<result property="ownerAddPhone" column="owner_add_phone" />
		<result property="bankAccount" column="bank_account" />
		<result property="collectionCategory"
			column="collection_category" />
		<result property="bankType" column="bank_type" />
		<result property="bankNum" column="bank_num" />
		<result property="bankAccountName" column="bank_account_name" />
	</resultMap>


	<resultMap type="HyHouseInf" id="HyHouseInfResult">
		<result property="id" column="id" />
		<result property="building" column="building" />
		<result property="houseNumber" column="house_number" />
		<result property="houseName" column="house_name" />
		<result property="builtUpArea" column="built_up_area" />
		<result property="groupArea" column="group_area" />
		<result property="unit" column="unit" />
		<result property="floor" column="floor" />
		<result property="sameUnitNumber" column="same_unit_number" />
		<result property="areaType" column="area_type" />
		<result property="bilingArea" column="biling_area" />
		<result property="insideArea" column="inside_area" />
		<result property="sharedArea" column="shared_area" />
		<result property="gardenArea" column="garden_area" />
		<result property="basementArea" column="basement_area" />
		<result property="sharedLobbyArea" column="shared_lobby_area" />
		<result property="sharedLayersArea" column="shared_layers_area" />
		<result property="shareRatio" column="share_ratio" />
		<result property="buildingStructure"
			column="building_structure" />
		<result property="parametersPer" column="parameters_per" />
		<result property="houseLayout" column="house_layout" />
		<result property="floorHeight" column="floor_height" />
		<result property="natureProperty" column="nature_property" />
		<result property="natureUse" column="nature_use" />
		<result property="usageStatus" column="usage_status" />
		<result property="occupancyStatus" column="occupancy_status" />
		<result property="deliveryStatus" column="delivery_status" />
		<result property="houseType" column="house_type" />
		<result property="salesStatus" column="sales_status" />
		<result property="purchaseContract" column="purchase_contract" />
		<result property="marketingNum" column="marketing_num" />
	</resultMap>

	<resultMap type="HyCost" id="HyCostResult">
		<result property="id" column="id" />
		<result property="costItems" column="cost_items" />
		<result property="expenseType" column="expense_type" />
		<result property="parentId" column="parent_id" />
		<result property="ancestors" column="ancestors" />
		<result property="standardName" column="standard_name" />
		<result property="feeNum" column="fee_num" />
		<result property="chargingStandard" column="charging_standard" />
		<result property="calculationMehod" column="calculation_mehod" />
		<result property="standardDescription"
			column="standard_description" />
		<result property="standardState" column="standard_state" />
		<result property="penaltyContract" column="penalty_contract" />
		<result property="proportionDamags" column="proportion_damags" />
		<result property="projectModification"
			column="project_modification" />
		<result property="billingCycle" column="billing_cycle" />
		<result property="bilingStartDate" column="biling_start_date" />
		<result property="bilingEndDate" column="biling_end_date" />
		<result property="auditResultsReason"
			column="audit_results_reason" />
		<result property="feeDateOld" column="fee_date_old" />
		<result property="feeDate" column="fee_date" />
		<result property="dueDateOld" column="due_date_old" />
		<result property="dueDate" column="due_date" />
		<result property="amountReceivableOld"
			column="amount_receivable_old" />
		<result property="amountReceivable" column="amount_receivable" />
		<result property="amountActually" column="amount_actually" />
		<result property="remarks" column="remarks" />
		<result property="operationDate" column="operation_date" />
		<result property="operationUser" column="operation_user" />
		<result property="operationType" column="operation_type" />
		<result property="deleteReason" column="delete_reason" />
		<result property="advancePaymetnOffset"
			column="advance_paymetn_offset" />
		<result property="writeOff" column="write_off" />
		<result property="refundAmount" column="refund_amount" />
		<result property="amountArrears" column="amount_arrears" />
		<result property="collectionStatus" column="collection_status" />
		<result property="frozenPerson" column="frozen_person" />
		<result property="frozenState" column="frozen_state" />
		<result property="frozenDate" column="frozen_date" />
		<result property="frozenReason" column="frozen_reason" />
		<result property="advanceStatus" column="advance_status" />
		<result property="deliveryStatus" column="delivery_status" />
		<result property="transferTenants" column="transfer_tenants" />
		<result property="changeDate" column="change_date" />
	</resultMap>
	<resultMap type="HyRevoke" id="HyRevokeResult">
		<result property="id" column="id" />
		<result property="houseNum" column="house_num" />
		<result property="revokeDate" column="revoke_date" />
		<result property="revokeReason" column="revoke_reason" />
		<result property="remark" column="remark" />
	</resultMap>

	<resultMap type="HyPaymentOffset" id="HyPaymentOffsetResult">
		<result property="id" column="id" />
		<result property="houseNum" column="house_num" />
		<result property="offsetCategory" column="offset_category" />
		<result property="offsetPreson" column="offset_preson" />
		<result property="offsetOperationDate"
			column="offset_operation_date" />
		<result property="offsetRange" column="offset_range" />
		<result property="offsetDate" column="offset_date" />
		<result property="importPerson" column="import_person" />
		<result property="importTime" column="import_time" />
		<result property="advanceTime" column="advance_time" />
		<result property="offsetExpense" column="offset_expense" />
		<result property="advanceAmount" column="advance_amount" />

	</resultMap>

	 <sql id="selectHyBillSetVo">
		select
		b.id, 
		b.business_type, 
		b.bill_types, 
		b.bill_category, 
		b.bill_number, 
		b.prefix, 
		b.suffix, 
		b.invoice_number, 
		b.digit, 
		b.bill_date, 
		b.bill_sample, 
		b.bill_date_new, 
		b.bill_panel, 
		b.payment_method_new, 
		b.payment_method, 
		b.payment_person, 
		b.payment_amount, 
		b.payment_date, 
		b.modify_person, 
		b.modify_time, 
		b.panel, 
		b.bill_amount, 
		b.cancel_not, 
		b.write_not, 
		b.remark, 
		b.draft_check_number, 
		b.owner_id, 
		b.cost_id, 
		b.revoke_id, 
		b.offset_id,
		o.owner_name,
		h.house_name,
		h.house_number,
		c.cost_items,
		c.fee_date,
		c.biling_start_date,
		c.biling_end_date,
		c.standard_name,
		c.penalty_contract,
		r.revoke_date,
		r.revoke_reason,
		r.remark,
		p.advance_time,
		p.offset_expense,
		p.advance_amount
		from
		hy_bill_set b
		left
		join
		hy_owner_registration o on
		b.owner_id=o.id
		left join
		hy_house_inf h on
		o.id=h.owner_id
		left join
		hy_cost c on
		b.cost_id=c.id
		left join 
		hy_revoke r on b.revoke_id=r.id
		left join
		hy_payment_offset p on
		b.offset_id=p.id
		where 1=1
	</sql> 
	
	<select id="selectHyBillSetList" parameterType="HyBillSet" resultMap="HyBillSetResult">
        <include refid="selectHyBillSetVo"/>
        <where>  
            <if test="businessType != null "> and b.business_type = #{businessType}</if>
            <if test="billTypes != null  and billTypes != ''"> and b.bill_types = #{billTypes}</if>
            <if test="billCategory != null  and billCategory != ''"> and b.bill_category = #{billCategory}</if>
            <if test="billNumber != null  and billNumber != ''"> and b.bill_number = #{billNumber}</if>
            <if test="prefix != null  and prefix != ''"> and b.prefix = #{prefix}</if>
            <if test="suffix != null  and suffix != ''"> and b.suffix = #{suffix}</if>
            <if test="invoiceNumber != null  and invoiceNumber != ''"> and b.invoice_number = #{invoiceNumber}</if>
            <if test="digit != null  and digit != ''"> and b.digit = #{digit}</if>
            <if test="billDate != null "> and b.bill_date = #{billDate}</if>
            <if test="billSample != null  and billSample != ''"> and b.bill_sample = #{billSample}</if>
            <if test="billDateNew != null "> and b.bill_date_new = #{billDateNew}</if>
            <if test="billPanel != null  and billPanel != ''"> and b.bill_panel = #{billPanel}</if>
            <if test="paymentMethodNew != null  and paymentMethodNew != ''"> and b.payment_method_new = #{paymentMethodNew}</if>
            <if test="paymentMethod != null  and paymentMethod != ''"> and b.payment_method = #{paymentMethod}</if>
            <if test="paymentPerson != null  and paymentPerson != ''"> and b.payment_person = #{paymentPerson}</if>
            <if test="paymentAmount != null "> and b.payment_amount = #{paymentAmount}</if>
            <if test="paymentDate != null "> and b.payment_date = #{paymentDate}</if>
            <if test="modifyPerson != null  and modifyPerson != ''"> and b.modify_person = #{modifyPerson}</if>
            <if test="modifyTime != null "> and b.modify_time = #{modifyTime}</if>
            <if test="panel != null  and panel != ''"> and b.panel = #{panel}</if>
            <if test="billAmount != null "> and b.bill_amount = #{billAmount}</if>
            <if test="cancelNot != null "> and b.cancel_not = #{cancelNot}</if>
            <if test="writeNot != null "> and b.write_not = #{writeNot}</if>
            <if test="draftCheckNumber != null  and draftCheckNumber != ''"> and b.draft_check_number = #{draftCheckNumber}</if>
            <if test="ownerId != null "> and b.owner_id = #{ownerId}</if>
            <if test="costId != null "> and b.cost_id = #{costId}</if>
            <if test="revokeId != null "> and b.revoke_id = #{revokeId}</if>
            <if test="offsetId != null "> and b.offset_id = #{offsetId}</if>
        </where>
    </select>

	<select id="selectHyBillSetListByDate" parameterType="HyBillSet"
		resultMap="HyBillSetResult">
		<include refid="selectHyBillSetVo" />
		<if test="businessType != null  and businessType != ''"> and b.business_type = #{businessType}</if>
		<if test="billTypes != null  and billTypes != ''"> and b.bill_types = #{billTypes}</if>
		<if test="billCategory != null  and billCategory != ''"> and b.bill_category = #{billCategory}</if>
		<if test="prefix != null  and prefix != ''"> and b.prefix = #{prefix}</if>
		<if test="suffix != null  and suffix != ''"> and b.suffix = #{suffix}</if>
		<if test="digit != null  and digit != ''"> and b.digit = #{digit}</if>
		<if test="billSample != null  and billSample != ''"> and b.bill_sample = #{billSample}</if>
		<if test="billPanel != null  and billPanel != ''"> and b.bill_panel = #{billPanel}</if>
		<if test="panel!=null and panel!=''"> and b.panel=#{panel}</if>
		<if test="billDate!=null "> and b.bill_date between #{startTime} and #{endTime}</if>
		<if test="billDateNew!=null "> and b.bill_date_new between #{startTimeNew} and
			#{endTimeNew}</if>
		<if test="ownerId !=null"> and b.owner_id = #{ownerId}</if>
		<if test="costId !=null"> and b.cost_id = #{costId}</if>
		<if test="revokeId !=null"> and b.revoke_id = #{revokeId}</if>
		<if test="offsetId !=null"> and b.offset_id = #{offsetId}</if>
	</select>

	<select id="selectHyBillSetListOr" parameterType="HyBillSet"
		resultMap="HyBillSetResult">
		<include refid="selectHyBillSetVo" />
		<if test="businessType != null  and businessType != ''"> and b.business_type = #{businessType}</if>
		<if test="billTypes != null  and billTypes != ''"> and b.bill_types = #{billTypes}</if>
		<if test="billCategory != null  and billCategory != ''"> and b.bill_category = #{billCategory}</if>
		<if test="prefix != null  and prefix != ''"> and b.prefix = #{prefix}</if>
		<if test="suffix != null  and suffix != ''"> and b.suffix = #{suffix}</if>
		<if test="digit != null  and digit != ''"> and b.digit = #{digit}</if>
		<if test="billSample != null  and billSample != ''"> and b.bill_sample = #{billSample}</if>
		<if test="billPanel != null  and billPanel != ''"> and b.bill_panel = #{billPanel}</if>
		<if test="panel!=null and panel!=''"> and b.panel=#{panel}</if>
		<if test="billDate!=null "> and b.bill_date=#{billDate}</if>
		<if test="billNumber!=null and billNumber!= ''"> and b.bill_number = #{billNumber}</if>
		<if test="modifyPerson !=null and modifyPerson !=''"> and b.modify_person = #{modifyPerson}</if>
		<if test="paymentPerson !=null and paymentPerson !=''"> and b.payment_person = #{paymentPerson}</if>
		<if test="ownerId !=null"> and b.owner_id = #{ownerId}</if>
		<if test="costId !=null"> and b.cost_id = #{costId}</if>
		<if test="revokeId !=null"> and b.revoke_id = #{revokeId}</if>
		<if test="offsetId !=null"> and b.offset_id = #{offsetId}</if>
	</select>


	<select id="selectHyBillSetById" parameterType="Long"
		resultMap="HyBillSetResult">
		<include refid="selectHyBillSetVo" />
		and b.id = #{id}
	</select>

	<insert id="insertHyBillSet" parameterType="HyBillSet">
        insert into hy_bill_set
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="businessType != null">business_type,</if>
            <if test="billTypes != null">bill_types,</if>
            <if test="billCategory != null">bill_category,</if>
            <if test="billNumber != null">bill_number,</if>
            <if test="prefix != null">prefix,</if>
            <if test="suffix != null">suffix,</if>
            <if test="invoiceNumber != null">invoice_number,</if>
            <if test="digit != null">digit,</if>
            <if test="billDate != null">bill_date,</if>
            <if test="billSample != null">bill_sample,</if>
            <if test="billDateNew != null">bill_date_new,</if>
            <if test="billPanel != null">bill_panel,</if>
            <if test="paymentMethodNew != null">payment_method_new,</if>
            <if test="paymentMethod != null">payment_method,</if>
            <if test="paymentPerson != null">payment_person,</if>
            <if test="paymentAmount != null">payment_amount,</if>
            <if test="paymentDate != null">payment_date,</if>
            <if test="modifyPerson != null">modify_person,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="panel != null">panel,</if>
            <if test="billAmount != null">bill_amount,</if>
            <if test="cancelNot != null">cancel_not,</if>
            <if test="writeNot != null">write_not,</if>
            <if test="remark != null">remark,</if>
            <if test="draftCheckNumber != null">draft_check_number,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="costId != null">cost_id,</if>
            <if test="revokeId != null">revoke_id,</if>
            <if test="offsetId != null">offset_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="billTypes != null">#{billTypes},</if>
            <if test="billCategory != null">#{billCategory},</if>
            <if test="billNumber != null">#{billNumber},</if>
            <if test="prefix != null">#{prefix},</if>
            <if test="suffix != null">#{suffix},</if>
            <if test="invoiceNumber != null">#{invoiceNumber},</if>
            <if test="digit != null">#{digit},</if>
            <if test="billDate != null">#{billDate},</if>
            <if test="billSample != null">#{billSample},</if>
            <if test="billDateNew != null">#{billDateNew},</if>
            <if test="billPanel != null">#{billPanel},</if>
            <if test="paymentMethodNew != null">#{paymentMethodNew},</if>
            <if test="paymentMethod != null">#{paymentMethod},</if>
            <if test="paymentPerson != null">#{paymentPerson},</if>
            <if test="paymentAmount != null">#{paymentAmount},</if>
            <if test="paymentDate != null">#{paymentDate},</if>
            <if test="modifyPerson != null">#{modifyPerson},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="panel != null">#{panel},</if>
            <if test="billAmount != null">#{billAmount},</if>
            <if test="cancelNot != null">#{cancelNot},</if>
            <if test="writeNot != null">#{writeNot},</if>
            <if test="remark != null">#{remark},</if>
            <if test="draftCheckNumber != null">#{draftCheckNumber},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="costId != null">#{costId},</if>
            <if test="revokeId != null">#{revokeId},</if>
            <if test="offsetId != null">#{offsetId},</if>
         </trim>
    </insert>

    <update id="updateHyBillSet" parameterType="HyBillSet">
        update hy_bill_set
        <trim prefix="SET" suffixOverrides=",">
            <if test="businessType != null">business_type = #{businessType},</if>
            <if test="billTypes != null">bill_types = #{billTypes},</if>
            <if test="billCategory != null">bill_category = #{billCategory},</if>
            <if test="billNumber != null">bill_number = #{billNumber},</if>
            <if test="prefix != null">prefix = #{prefix},</if>
            <if test="suffix != null">suffix = #{suffix},</if>
            <if test="invoiceNumber != null">invoice_number = #{invoiceNumber},</if>
            <if test="digit != null">digit = #{digit},</if>
            <if test="billDate != null">bill_date = #{billDate},</if>
            <if test="billSample != null">bill_sample = #{billSample},</if>
            <if test="billDateNew != null">bill_date_new = #{billDateNew},</if>
            <if test="billPanel != null">bill_panel = #{billPanel},</if>
            <if test="paymentMethodNew != null">payment_method_new = #{paymentMethodNew},</if>
            <if test="paymentMethod != null">payment_method = #{paymentMethod},</if>
            <if test="paymentPerson != null">payment_person = #{paymentPerson},</if>
            <if test="paymentAmount != null">payment_amount = #{paymentAmount},</if>
            <if test="paymentDate != null">payment_date = #{paymentDate},</if>
            <if test="modifyPerson != null">modify_person = #{modifyPerson},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
            <if test="panel != null">panel = #{panel},</if>
            <if test="billAmount != null">bill_amount = #{billAmount},</if>
            <if test="cancelNot != null">cancel_not = #{cancelNot},</if>
            <if test="writeNot != null">write_not = #{writeNot},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="draftCheckNumber != null">draft_check_number = #{draftCheckNumber},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="costId != null">cost_id = #{costId},</if>
            <if test="revokeId != null">revoke_id = #{revokeId},</if>
            <if test="offsetId != null">offset_id = #{offsetId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteHyBillSetById" parameterType="Long">
		delete from
		hy_bill_set where id = #{id}
	</delete>

	<delete id="deleteHyBillSetByIds" parameterType="String">
		delete from hy_bill_set where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

</mapper>