<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyBillMapper">
    
    <resultMap type="HyBill" id="HyBillResult">
        <result property="id"    column="id"    />
        <result property="billCode"    column="bill_code"    />
        <result property="materialUse"    column="material_use"    />
        <result property="isStock"    column="is_stock"    />
        <result property="materialId"    column="material_id"    />
        <association property="hyMaterial" column="id"
			javaType="HyMaterial" resultMap="HyMaterialResult" />
    </resultMap>
    
    <resultMap type="HyMaterial" id="HyMaterialResult">
        <result property="id"    column="id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialType"    column="material_type"    />
        <result property="materialUnit"    column="material_unit"    />
        <result property="materialNumber"    column="material_number"    />
        <result property="materialAddress"    column="material_address"    />
        <result property="materialDept"    column="material_dept"    />
        <result property="materialSupplier"    column="material_supplier"    />
        <result property="materialCommute"    column="material_commute"    />
        <result property="createTime"    column="create_time"    />
        <result property="state"    column="state"    />
        <result property="specimen"    column="specimen"    />
        <result property="specimendept"    column="specimendept"    />
        <result property="checkmen"    column="checkmen"    />
    </resultMap>

    <sql id="selectHyBillVo">
        select 
        b.id, 
        b.bill_code, 
        b.material_use, 
        b.is_stock, 
        b.material_id,
        m.material_type, 
        m.material_number, 
        m.material_address, 
        m.state,
        m.create_time,
        m.specimen,
		m.specimendept,
		m.checkmen
        from 
        hy_bill b
        LEFT JOIN hy_material m ON b.material_id = m.id
    </sql>

    <select id="selectHyBillList" parameterType="HyBill" resultMap="HyBillResult">
        <include refid="selectHyBillVo"/>
        <where>  
            <if test="materialUse != null  and materialUse != ''"> and b.material_use = #{materialUse}</if>
            <if test="isStock != null  and isStock != ''"> and b.is_stock = #{isStock}</if>
            <if test="time != null  and time != ''"> and b.time = #{time}</if>
            <if test="materialId != null "> and b.material_id = #{materialId}</if>
            <if test="hyMaterial != null "> 
			<if test="hyMaterial.materialType != null  and hyMaterial.materialType != ''"> and m.material_type = #{hyMaterial.materialType}</if>
            <if test="hyMaterial.materialNumber != null "> and m.material_number = #{hyMaterial.materialNumber}</if>
			</if>
        </where>
    </select>
    
    <select id="selectHyBillById" parameterType="Long" resultMap="HyBillResult">
        <include refid="selectHyBillVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHyBill" parameterType="HyBill" useGeneratedKeys="true" keyProperty="id">
        insert into hy_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            bill_code,
            <if test="materialUse != null">material_use,</if>
            <if test="isStock != null">is_stock,</if>
            <if test="materialId != null">material_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            UUID(),
            <if test="materialUse != null">#{materialUse},</if>
            <if test="isStock != null">#{isStock},</if>
            <if test="materialId != null">#{materialId},</if>
         </trim>
    </insert>

    <update id="updateHyBill" parameterType="HyBill">
        update hy_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="billCode != null">bill_code = #{billCode},</if>
            <if test="materialUse != null">material_use = #{materialUse},</if>
            <if test="isStock != null">is_stock = #{isStock},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyBillById" parameterType="Long">
        delete from hy_bill where id = #{id}
    </delete>

    <delete id="deleteHyBillByIds" parameterType="String">
        delete from hy_bill where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>