<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyCheckeProjectMapper">
    
    <resultMap type="HyCheckeProject" id="HyCheckeProjectResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="standard"    column="standard"    />
        <result property="isMeasured"    column="is_measured"    />
        <result property="referenceValue"    column="reference_value"    />
        <result property="measuredValue"    column="measured_value"    />
        <result property="explains"    column="explains"    />
        <result property="inspectionInstructions"    column="inspection_instructions"    />
        <result property="projectPicture"    column="project_picture"    />
        <result property="detailPicture"    column="detail_picture"    />
        <result property="problemDescription"    column="problem_description"    />
        <result property="patrolLongitude"    column="patrol_longitude"    />
        <result property="patrolLatitude"    column="patrol_latitude"    />
        <result property="nodeId"    column="node_id"    />
        <association property="hyCheckNode" column="id"
			javaType="HyCheckNode" resultMap="HyCheckNodeResult" />
		<association property="hyNodeTask" column="id"
			javaType="HyNodeTask" resultMap="HyNodeTaskResult" />
		<association property="hyPatrolScheme" column="id"
			javaType="HyPatrolScheme" resultMap="HyPatrolSchemeResult" />
    </resultMap>
    
    <resultMap type="HyCheckNode" id="HyCheckNodeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="nodeAddress"    column="node_address"    />
        <result property="nodeLongitude"    column="node_longitude"    />
        <result property="nodeLatitude"    column="node_latitude"    />
        <result property="nodeRemark"    column="node_remark"    />
    </resultMap>
	
	<resultMap type="HyNodeTask" id="HyNodeTaskResult">
        <result property="id"    column="id"    />
        <result property="taskName"    column="task_name"    />
        <result property="inspectionWay"    column="inspection_way"    />
        <result property="remark"    column="remark"    />
        <result property="nodeId"    column="node_id"    />
    </resultMap>
	
	<resultMap type="HyPatrolScheme" id="HyPatrolSchemeResult">
        <result property="id"    column="id"    />
        <result property="documentNumber"    column="document_number"    />
        <result property="plannedTime"    column="planned_time"    />
        <result property="planRange"    column="plan_range"    />
        <result property="planAnnual"    column="plan_annual"    />
        <result property="planner"    column="planner"    />
        <result property="checkPeople"    column="check_people"    />
        <result property="inspectionTime"    column="inspection_time"    />
        <result property="remark"    column="remark"    />
        <result property="makeTime"    column="make_time"    />
        <result property="documentMaker"    column="document_maker"    />
        <result property="revisionTime"    column="revision_time"    />
        <result property="reviser"    column="reviser"    />
        <result property="isCheck"    column="is_check"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditor"    column="auditor"    />
        <result property="actualInspectionTime"    column="actual_inspection_time"    />
        <result property="inspectionStatus"    column="inspection_status"    />
        <result property="changeStatus"    column="change_status"    />
        <result property="inspectionInstructions"    column="inspection_instructions"    />
        <result property="deptId"    column="deptId"    />
    </resultMap>
	
    <sql id="selectHyCheckeProjectVo">
        select 
        c.id, 
        c.type, 
        c.standard, 
        c.is_measured, 
        c.reference_value, 
        c.measured_value, 
        c.explains, 
        c.inspection_instructions, 
        c.project_picture, 
        c.detail_picture, 
        c.problem_description, 
        c.patrol_longitude, 
        c.patrol_latitude, 
        c.node_id,
        n.name,
        t.task_name,
        s.inspection_time,
        n.node_address
        from 
        hy_checke_project c
        LEFT JOIN hy_check_node n ON c.node_id = n.id
        LEFT JOIN hy_node_task t ON t.node_id = n.id
        LEFT JOIN hy_inspection_detail d ON d.task_id = t.id
        LEFT JOIN hy_inspection_route r ON d.route_id = r.id
        LEFT JOIN hy_patrol_scheme s ON r.scheme_id = s.id
    </sql>

    <select id="selectHyCheckeProjectList" parameterType="HyCheckeProject" resultMap="HyCheckeProjectResult">
        <include refid="selectHyCheckeProjectVo"/>
        <where>  
            <if test="type != null  and type != ''"> and c.type = #{type}</if>
            <if test="standard != null  and standard != ''"> and c.standard = #{standard}</if>
            <if test="isMeasured != null  and isMeasured != ''"> and c.is_measured = #{isMeasured}</if>
            <if test="referenceValue != null  and referenceValue != ''"> and c.reference_value = #{referenceValue}</if>
            <if test="measuredValue != null  and measuredValue != ''"> and c.measured_value = #{measuredValue}</if>
            <if test="explains != null  and explains != ''"> and c.explains = #{explains}</if>
            <if test="inspectionInstructions != null  and inspectionInstructions != ''"> and c.inspection_instructions = #{inspectionInstructions}</if>
            <if test="projectPicture != null  and projectPicture != ''"> and c.project_picture = #{projectPicture}</if>
            <if test="detailPicture != null  and detailPicture != ''"> and c.detail_picture = #{detailPicture}</if>
            <if test="problemDescription != null  and problemDescription != ''"> and c.problem_description = #{problemDescription}</if>
            <if test="patrolLongitude != null  and patrolLongitude != ''"> and c.patrol_longitude = #{patrolLongitude}</if>
            <if test="patrolLatitude != null  and patrolLatitude != ''"> and c.patrol_latitude = #{patrolLatitude}</if>
            <if test="nodeId != null "> and c.node_id = #{nodeId}</if>
            <if test="hyCheckNode != null and hyCheckNode != ''">
            	<if test="hyCheckNode.name != null and hyCheckNode.name != ''"> and n.name = #{hyCheckNode.name}</if>
            </if>
        </where>
    </select>
    
    <select id="selectHyCheckeProjectById" parameterType="Long" resultMap="HyCheckeProjectResult">
        <include refid="selectHyCheckeProjectVo"/>
        where c.id = #{id}
    </select>
        
    <insert id="insertHyCheckeProject" parameterType="HyCheckeProject" useGeneratedKeys="true" keyProperty="id">
        insert into hy_checke_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="standard != null">standard,</if>
            <if test="isMeasured != null">is_measured,</if>
            <if test="referenceValue != null">reference_value,</if>
            <if test="measuredValue != null">measured_value,</if>
            <if test="explains != null">explains,</if>
            <if test="inspectionInstructions != null">inspection_instructions,</if>
            <if test="projectPicture != null">project_picture,</if>
            <if test="detailPicture != null">detail_picture,</if>
            <if test="problemDescription != null">problem_description,</if>
            <if test="patrolLongitude != null">patrol_longitude,</if>
            <if test="patrolLatitude != null">patrol_latitude,</if>
            <if test="nodeId != null">node_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="standard != null">#{standard},</if>
            <if test="isMeasured != null">#{isMeasured},</if>
            <if test="referenceValue != null">#{referenceValue},</if>
            <if test="measuredValue != null">#{measuredValue},</if>
            <if test="explains != null">#{explains},</if>
            <if test="inspectionInstructions != null">#{inspectionInstructions},</if>
            <if test="projectPicture != null">#{projectPicture},</if>
            <if test="detailPicture != null">#{detailPicture},</if>
            <if test="problemDescription != null">#{problemDescription},</if>
            <if test="patrolLongitude != null">#{patrolLongitude},</if>
            <if test="patrolLatitude != null">#{patrolLatitude},</if>
            <if test="nodeId != null">#{nodeId},</if>
         </trim>
    </insert>

    <update id="updateHyCheckeProject" parameterType="HyCheckeProject">
        update hy_checke_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="standard != null">standard = #{standard},</if>
            <if test="isMeasured != null">is_measured = #{isMeasured},</if>
            <if test="referenceValue != null">reference_value = #{referenceValue},</if>
            <if test="measuredValue != null">measured_value = #{measuredValue},</if>
            <if test="explains != null">explains = #{explains},</if>
            <if test="inspectionInstructions != null">inspection_instructions = #{inspectionInstructions},</if>
            <if test="projectPicture != null">project_picture = #{projectPicture},</if>
            <if test="detailPicture != null">detail_picture = #{detailPicture},</if>
            <if test="problemDescription != null">problem_description = #{problemDescription},</if>
            <if test="patrolLongitude != null">patrol_longitude = #{patrolLongitude},</if>
            <if test="patrolLatitude != null">patrol_latitude = #{patrolLatitude},</if>
            <if test="nodeId != null">node_id = #{nodeId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyCheckeProjectById" parameterType="Long">
        delete from hy_checke_project where id = #{id}
    </delete>

    <delete id="deleteHyCheckeProjectByIds" parameterType="String">
        delete from hy_checke_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>