<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyCheckMapper">
    
    <resultMap type="HyCheck" id="HyCheckResult">
        <result property="id"    column="id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="deptId"    column="dept_id"    />
        <association property="hyDept" column="id"
			javaType="HyDept" resultMap="HyDeptResult" />
		<association property="hyEmployee" column="id"
			javaType="HyEmployee" resultMap="HyEmployeeResult" />
    </resultMap>

	 <resultMap type="HyDept" id="HyDeptResult">
        <result property="id"    column="id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="leader"    column="leader"    />
        <result property="propertyId"    column="property_id"    />
    </resultMap>
	
	<resultMap type="HyEmployee" id="HyEmployeeResult">
        <result property="id"    column="id"    />
        <result property="employeeName"    column="employee_name"    />
        <result property="employeePhone"    column="employee_phone"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>
	
    <sql id="selectHyCheckVo">
        select 
        c.id, 
        c.employee_id, 
        c.dept_id,
        d.dept_name,
        e.employee_name 
        from 
        hy_check c
        LEFT JOIN hy_dept d ON c.dept_id = d.id
        LEFT JOIN hy_employee e ON c.employee_id = e.id
    </sql>

    <select id="selectHyCheckList" parameterType="HyCheck" resultMap="HyCheckResult">
        <include refid="selectHyCheckVo"/>
        <where>  
            <if test="employeeId != null "> and c.employee_id = #{employeeId}</if>
            <if test="deptId != null "> and c.dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectHyCheckById" parameterType="Long" resultMap="HyCheckResult">
        <include refid="selectHyCheckVo"/>
        where c.id = #{id}
    </select>
        
    <insert id="insertHyCheck" parameterType="HyCheck" useGeneratedKeys="true" keyProperty="id">
        insert into hy_check
        <trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="id != null">id,</if>
            <if test="employeeId != null">employee_id,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        	<if test="id != null">#{id},</if>
            <if test="employeeId != null">#{employeeId},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateHyCheck" parameterType="HyCheck">
        update hy_check
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyCheckById" parameterType="Long">
        delete from hy_check where id = #{id}
    </delete>

    <delete id="deleteHyCheckByIds" parameterType="String">
        delete from hy_check where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>