<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyCommunityIntroductionMapper">
    
    <resultMap type="HyCommunityIntroduction" id="HyCommunityIntroductionResult">
        <result property="id"    column="id"    />
        <result property="introductionPhotoAddress"    column="introduction_photo_address"    />
        <result property="communityId"    column="community_id"    />
        <association property="hyCommunity" column="id"
			javaType="HyCommunity" resultMap="HyCommunityResult" />
    </resultMap>
	
	<resultMap type="HyCommunity" id="HyCommunityResult">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="releaseTime" column="release_time" />
		<result property="introductionContent"
			column="introduction_content" />
		<result property="communityName"
			column="community_name" />
		<result property="communityProvince"
			column="community_province" />
		<result property="communityCity"
			column="community_city" />
		<result property="communityArea"
			column="community_area" />
		<result property="communityAddress"
			column="community_address" />
	</resultMap>
	
    <sql id="selectHyCommunityIntroductionVo">
        select 
        i.id, 
        i.introduction_photo_address, 
        i.community_id,
        c.community_name 
        from 
        hy_community_introduction i
        LEFT JOIN hy_community c ON i.community_id = c.id
    </sql>

    <select id="selectHyCommunityIntroductionList" parameterType="HyCommunityIntroduction" resultMap="HyCommunityIntroductionResult">
        <include refid="selectHyCommunityIntroductionVo"/>
        <where>  
            <if test="introductionPhotoAddress != null  and introductionPhotoAddress != ''"> and i.introduction_photo_address = #{introductionPhotoAddress}</if>
            <if test="communityId != null "> and i.community_id = #{communityId}</if>
        </where>
    </select>
    
    <select id="selectHyCommunityIntroductionById" parameterType="Long" resultMap="HyCommunityIntroductionResult">
        <include refid="selectHyCommunityIntroductionVo"/>
        where i.id = #{id}
    </select>
        
    <insert id="insertHyCommunityIntroduction" parameterType="HyCommunityIntroduction">
        insert into hy_community_introduction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="introductionPhotoAddress != null">introduction_photo_address,</if>
            <if test="communityId != null">community_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="introductionPhotoAddress != null">#{introductionPhotoAddress},</if>
            <if test="communityId != null">#{communityId},</if>
         </trim>
    </insert>

    <update id="updateHyCommunityIntroduction" parameterType="HyCommunityIntroduction">
        update hy_community_introduction
        <trim prefix="SET" suffixOverrides=",">
            <if test="introductionPhotoAddress != null">introduction_photo_address = #{introductionPhotoAddress},</if>
            <if test="communityId != null">community_id = #{communityId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyCommunityIntroductionById" parameterType="Long">
        delete from hy_community_introduction where id = #{id}
    </delete>

    <delete id="deleteHyCommunityIntroductionByIds" parameterType="String">
        delete from hy_community_introduction where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>