<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyCommunitySupportMapper">
    
    <resultMap type="HyCommunitySupport" id="HyCommunitySupportResult">
        <result property="id"    column="id"    />
        <result property="matchingTypes"    column="matching_types"    />
        <result property="matchingType"    column="matching_type"    />
        <result property="contacts"    column="contacts"    />
        <result property="matchingName"    column="matching_name"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="address"    column="address"    />
        <result property="abreak"    column="abreak"    />
        <result property="communityId"    column="community_id"    />
        <association property="hyCommunity" column="id"
			javaType="HyCommunity" resultMap="HyCommunityResult" />
    </resultMap>
    
	<resultMap type="HyCommunity" id="HyCommunityResult">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="releaseTime" column="release_time" />
		<result property="introductionContent"
			column="introduction_content" />
		<result property="communityName"
			column="community_name" />
		<result property="communityProvince"
			column="community_province" />
		<result property="communityCity"
			column="community_city" />
		<result property="communityArea"
			column="community_area" />
		<result property="communityAddress"
			column="community_address" />
	</resultMap>
	
    <sql id="selectHyCommunitySupportVo">
        select 
        s.id, 
        s.matching_types, 
        s.matching_type, 
        s.contacts, 
        s.matching_name, 
        s.contact_number, 
        s.address, 
        s.abreak, 
        s.community_id,
        c.community_name 
        from 
        hy_community_support s
        LEFT JOIN hy_community c ON s.community_id = c.id
    </sql>

    <select id="selectHyCommunitySupportList" parameterType="HyCommunitySupport" resultMap="HyCommunitySupportResult">
        <include refid="selectHyCommunitySupportVo"/>
        <where>  
            <if test="matchingTypes != null "> and s.matching_types = #{matchingTypes}</if>
            <if test="matchingType != null "> and s.matching_type = #{matchingType}</if>
            <if test="contacts != null  and contacts != ''"> and s.contacts = #{contacts}</if>
            <if test="matchingName != null  and matchingName != ''"> and s.matching_name like concat('%', #{matchingName}, '%')</if>
            <if test="contactNumber != null "> and s.contact_number = #{contactNumber}</if>
            <if test="address != null  and address != ''"> and s.address = #{address}</if>
            <if test="abreak != null  and abreak != ''"> and s.abreak = #{abreak}</if>
            <if test="communityId != null "> and s.community_id = #{communityId}</if>
        </where>
    </select>
    
    <select id="selectHyCommunitySupportById" parameterType="Long" resultMap="HyCommunitySupportResult">
        <include refid="selectHyCommunitySupportVo"/>
        where s.id = #{id}
    </select>
        
    <insert id="insertHyCommunitySupport" parameterType="HyCommunitySupport">
        insert into hy_community_support
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="matchingTypes != null">matching_types,</if>
            <if test="matchingType != null">matching_type,</if>
            <if test="contacts != null">contacts,</if>
            <if test="matchingName != null">matching_name,</if>
            <if test="contactNumber != null">contact_number,</if>
            <if test="address != null">address,</if>
            <if test="abreak != null">abreak,</if>
            <if test="communityId != null">community_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="matchingTypes != null">#{matchingTypes},</if>
            <if test="matchingType != null">#{matchingType},</if>
            <if test="contacts != null">#{contacts},</if>
            <if test="matchingName != null">#{matchingName},</if>
            <if test="contactNumber != null">#{contactNumber},</if>
            <if test="address != null">#{address},</if>
            <if test="abreak != null">#{abreak},</if>
            <if test="communityId != null">#{communityId},</if>
         </trim>
    </insert>

    <update id="updateHyCommunitySupport" parameterType="HyCommunitySupport">
        update hy_community_support
        <trim prefix="SET" suffixOverrides=",">
            <if test="matchingTypes != null">matching_types = #{matchingTypes},</if>
            <if test="matchingType != null">matching_type = #{matchingType},</if>
            <if test="contacts != null">contacts = #{contacts},</if>
            <if test="matchingName != null">matching_name = #{matchingName},</if>
            <if test="contactNumber != null">contact_number = #{contactNumber},</if>
            <if test="address != null">address = #{address},</if>
            <if test="abreak != null">abreak = #{abreak},</if>
            <if test="communityId != null">community_id = #{communityId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyCommunitySupportById" parameterType="Long">
        delete from hy_community_support where id = #{id}
    </delete>

    <delete id="deleteHyCommunitySupportByIds" parameterType="String">
        delete from hy_community_support where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>