<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyCostMapper">
    
    <resultMap type="HyCost" id="HyCostResult">
        <result property="id"    column="id"    />
        <result property="costItems"    column="cost_items"    />
        <result property="expenseType"    column="expense_type"    />
        <result property="parentId"    column="parent_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="standardName"    column="standard_name"    />
        <result property="chargingStandard"    column="charging_standard"    />
        <result property="calculationMehod"    column="calculation_mehod"    />
        <result property="standardDescription"    column="standard_description"    />
        <result property="standardState"    column="standard_state"    />
        <result property="proportionDamags"    column="proportion_damags"    />
        <result property="projectModification"    column="project_modification"    />
        <result property="billingCycle"    column="billing_cycle"    />
        <result property="bilingStartDate"    column="biling_start_date"    />
        <result property="auditResultsReason"    column="audit_results_reason"    />
        
    </resultMap>

    <sql id="selectHyCostVo">
        select
        c.id, c.cost_items, c.expense_type,
        c.parent_id,c.ancestors,c.standard_name,c.charging_standard,
       c. calculation_mehod,c.standard_description,c.standard_state,
        c.proportion_damags,c.project_modification,c.billing_cycle,
        c.biling_start_date,c.audit_results_reason,
        o.owner_name,
        h.group_area,h.building,
        p.parking_number
        from 
        hy_cost c
        left join hy_owner_registration o on c.id=o.house_num
        left join hy_house_inf h on o.house_num=h.house_number
        left join hy_parking_inf p on h.house_number=p.house_number where 1=1;
    </sql>

    <select id="selectHyCostList" parameterType="HyCost" resultMap="HyCostResult">
        <include refid="selectHyCostVo"/>
        <where>  
            <if test="costItems != null  and costItems != ''"> and cost_items = #{costItems}</if>
            <if test="expenseType != null  and expenseType != ''"> and expense_type = #{expenseType}</if>
        </where>
    </select>
    
    <select id="selectHyCostById" parameterType="Long" resultMap="HyCostResult">
        <include refid="selectHyCostVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHyCost" parameterType="HyCost" useGeneratedKeys="true" keyProperty="id">
        insert into hy_cost
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="costItems != null">cost_items,</if>
            <if test="expenseType != null">expense_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="costItems != null">#{costItems},</if>
            <if test="expenseType != null">#{expenseType},</if>
         </trim>
    </insert>

    <update id="updateHyCost" parameterType="HyCost">
        update hy_cost
        <trim prefix="SET" suffixOverrides=",">
            <if test="costItems != null">cost_items = #{costItems},</if>
            <if test="expenseType != null">expense_type = #{expenseType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyCostById" parameterType="Long">
        delete from hy_cost where id = #{id}
    </delete>

    <delete id="deleteHyCostByIds" parameterType="String">
        delete from hy_cost where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>