<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyCommunityInformationMapper">
    
    <resultMap type="HyCommunityInformation" id="HyCommunityInformationResult">
        <result property="id"    column="id"    />
        <result property="informationTitle"    column="information_title"    />
        <result property="operationTime"    column="operation_time"    />
        <result property="informationContent"    column="information_content"    />
    </resultMap>

    <sql id="selectHyCommunityInformationVo">
        select id, information_title, operation_time, information_content from hy_community_information
    </sql>

    <select id="selectHyCommunityInformationList" parameterType="HyCommunityInformation" resultMap="HyCommunityInformationResult">
        <include refid="selectHyCommunityInformationVo"/>
        <where>  
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="informationTitle != null  and informationTitle != ''"> and information_title = #{informationTitle}</if>
            <if test="operationTime != null "> and operation_time = #{operationTime}</if>
            <if test="informationContent != null  and informationContent != ''"> and information_content = #{informationContent}</if>
        </where>
    </select>
    
    <select id="selectHyCommunityInformationById" parameterType="Long" resultMap="HyCommunityInformationResult">
        <include refid="selectHyCommunityInformationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHyCommunityInformation" parameterType="HyCommunityInformation" useGeneratedKeys="true" keyProperty="id">
        insert into hy_community_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="informationTitle != null">information_title,</if>
            <if test="operationTime != null">operation_time,</if>
            <if test="informationContent != null">information_content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="informationTitle != null">#{informationTitle},</if>
            <if test="operationTime != null">#{operationTime},</if>
            <if test="informationContent != null">#{informationContent},</if>
         </trim>
    </insert>

    <update id="updateHyCommunityInformation" parameterType="HyCommunityInformation">
        update hy_community_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="informationTitle != null">information_title = #{informationTitle},</if>
            <if test="operationTime != null">operation_time = #{operationTime},</if>
            <if test="informationContent != null">information_content = #{informationContent},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyCommunityInformationById" parameterType="Long">
        delete from hy_community_information where id = #{id}
    </delete>

    <delete id="deleteHyCommunityInformationByIds" parameterType="String">
        delete from hy_community_information where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>