<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyDamagesMapper">
    
    <resultMap type="HyDamages" id="HyDamagesResult">
        <result property="id"    column="id"    />
        <result property="contractDamagesDelay"    column="contract_damages_delay"    />
        <result property="contractDamagesProportion"    column="contract_damages_proportion"    />
        <result property="paymentDeadlinStrTime"    column="payment_deadlin_str_time"    />
    </resultMap>

    <sql id="selectHyDamagesVo">
        select id, contract_damages_delay, contract_damages_proportion, payment_deadlin_str_time from hy_damages
    </sql>

    <select id="selectHyDamagesList" parameterType="HyDamages" resultMap="HyDamagesResult">
        <include refid="selectHyDamagesVo"/>
        <where>  
            <if test="contractDamagesDelay != null  and contractDamagesDelay != ''"> and contract_damages_delay = #{contractDamagesDelay}</if>
            <if test="contractDamagesProportion != null  and contractDamagesProportion != ''"> and contract_damages_proportion = #{contractDamagesProportion}</if>
            <if test="paymentDeadlinStrTime != null "> and payment_deadlin_str_time = #{paymentDeadlinStrTime}</if>
        </where>
    </select>
    
    <select id="selectHyDamagesById" parameterType="Long" resultMap="HyDamagesResult">
        <include refid="selectHyDamagesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHyDamages" parameterType="HyDamages" useGeneratedKeys="true" keyProperty="id">
        insert into hy_damages
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractDamagesDelay != null">contract_damages_delay,</if>
            <if test="contractDamagesProportion != null">contract_damages_proportion,</if>
            <if test="paymentDeadlinStrTime != null">payment_deadlin_str_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractDamagesDelay != null">#{contractDamagesDelay},</if>
            <if test="contractDamagesProportion != null">#{contractDamagesProportion},</if>
            <if test="paymentDeadlinStrTime != null">#{paymentDeadlinStrTime},</if>
         </trim>
    </insert>

    <update id="updateHyDamages" parameterType="HyDamages">
        update hy_damages
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractDamagesDelay != null">contract_damages_delay = #{contractDamagesDelay},</if>
            <if test="contractDamagesProportion != null">contract_damages_proportion = #{contractDamagesProportion},</if>
            <if test="paymentDeadlinStrTime != null">payment_deadlin_str_time = #{paymentDeadlinStrTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyDamagesById" parameterType="Long">
        delete from hy_damages where id = #{id}
    </delete>

    <delete id="deleteHyDamagesByIds" parameterType="String">
        delete from hy_damages where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>