<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyDeliveryMapper">
    
    <resultMap type="HyDelivery" id="HyDeliveryResult">
        <result property="id"    column="id"    />
        <result property="deliveryCode"    column="delivery_code"    />
        <result property="liftingId"    column="lifting_id"    />
        <association property="hyLifting" column="id"
			javaType="HyLifting" resultMap="HyLiftingResult" />
    </resultMap>

    <resultMap type="HyLifting" id="HyLiftingResult">
        <result property="id"    column="id"    />
        <result property="materialNumber"    column="material_number"    />
        <result property="materialUse"    column="material_use"    />
        <result property="isreturn"    column="isreturn"    />
        <result property="createTime"    column="create_time"    />
        <result property="depts"    column="depts"    />
        <result property="proposer"    column="proposer"    />
        <result property="materialId"    column="material_id"    />
        
        <result property="reason"    column="reason"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="isLong"    column="is_long"    />
        <result property="leadingCadre"    column="leading_cadre"    />
        <result property="leadingDepartment"    column="leading_department"    />

        <association property="hyMaterial" column="id"
			javaType="HyMaterial" resultMap="HyMaterialResult" />
    </resultMap>
	
	<resultMap type="HyMaterial" id="HyMaterialResult">
        <result property="id"    column="id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialType"    column="material_type"    />
        <result property="materialUnit"    column="material_unit"    />
        <result property="materialNumber"    column="material_number"    />
        <result property="materialAddress"    column="material_address"    />
        <result property="materialDept"    column="material_dept"    />
        <result property="materialSupplier"    column="material_supplier"    />
        <result property="materialCommute"    column="material_commute"    />
        <result property="createTime"    column="create_time"    />
        <result property="state"    column="state"    />
        <result property="specimen"    column="specimen"    />
        <result property="specimendept"    column="specimendept"    />
        <result property="checkmen"    column="checkmen"    />
    </resultMap>
    
    <sql id="selectHyDeliveryVo">
        select 
        d.id, 
        d.delivery_code, 
        d.lifting_id,
        l.create_time,
        l.proposer,
        l.depts,
        l.material_use,
        l.material_number,
        m.checkmen,
        m.specimendept,
        m.specimen,
        m.material_type
        from hy_delivery d
        LEFT JOIN hy_lifting l ON d.lifting_id = l.id
        LEFT JOIN hy_material m ON l.material_id = m.id
    </sql>

    <select id="selectHyDeliveryList" parameterType="HyDelivery" resultMap="HyDeliveryResult">
        <include refid="selectHyDeliveryVo"/>
        <where>  
            <if test="hyLifting!= null ">
             <if test="hyLifting.createTime != null and hyLifting.createTime != ''"> and l.create_time = #{hyLifting.createTime}</if>
             <if test="hyLifting.materialUse != null and hyLifting.materialUse != ''"> and l.material_use = #{hyLifting.materialUse}</if>
             <if test="hyLifting.proposer != null and hyLifting.proposer != ''"> and l.proposer = #{hyLifting.proposer}</if>
            <if test="hyLifting.hyMaterial != null ">
             <if test="hyLifting.hyMaterial.materialType != null and hyLifting.hyMaterial.materialType != ''"> and m.material_type = #{hyLifting.hyMaterial.materialType}</if>
             <if test="hyLifting.hyMaterial.checkmen != null and hyLifting.hyMaterial.checkmen != ''"> and m.checkmen = #{hyLifting.hyMaterial.checkmen}</if>
            </if>
            </if>
            <if test="deliveryCode != null "> and d.delivery_code = #{deliveryCode}</if>
            <if test="liftingId != null "> and d.lifting_id = #{liftingId}</if>
        </where>
    </select>
    
    <select id="selectHyDeliveryById" parameterType="Long" resultMap="HyDeliveryResult">
        <include refid="selectHyDeliveryVo"/>
        where d.id = #{id}
    </select>
        
    <insert id="insertHyDelivery" parameterType="HyDelivery" useGeneratedKeys="true" keyProperty="id">
        insert into hy_delivery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            delivery_code,
            <if test="liftingId != null">lifting_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            UUID(),
            <if test="liftingId != null">#{liftingId},</if>
         </trim>
    </insert>

    <update id="updateHyDelivery" parameterType="HyDelivery">
        update hy_delivery
        <trim prefix="SET" suffixOverrides=",">
            delivery_code = UUID(),
            <if test="liftingId != null">lifting_id = #{liftingId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyDeliveryById" parameterType="Long">
        delete from hy_delivery where id = #{id}
    </delete>

    <delete id="deleteHyDeliveryByIds" parameterType="String">
        delete from hy_delivery where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>