<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyDistributionRuleMapper">
    
    <resultMap type="HyDistributionRule" id="HyDistributionRuleResult">
        <result property="id"    column="id"    />
        <result property="commissionFromSuperior"    column="commission_from_superior"    />
        <result property="topCommission"    column="top_commission"    />
        <result property="productId"    column="product_id"    />
        <result property="threeLevelDistribution"    column="three_level_distribution"    />
        <result property="startDistribution"    column="start_distribution"    />
        <result property="distributionType"    column="distribution_type"    />
    </resultMap>

    <sql id="selectHyDistributionRuleVo">
        select id, commission_from_superior, top_commission, product_id, three_level_distribution, start_distribution, distribution_type from hy_distribution_rule
    </sql>

    <select id="selectHyDistributionRuleList" parameterType="HyDistributionRule" resultMap="HyDistributionRuleResult">
        <include refid="selectHyDistributionRuleVo"/>
        <where>  
            <if test="commissionFromSuperior != null  and commissionFromSuperior != ''"> and commission_from_superior = #{commissionFromSuperior}</if>
            <if test="topCommission != null  and topCommission != ''"> and top_commission = #{topCommission}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="threeLevelDistribution != null  and threeLevelDistribution != ''"> and three_level_distribution = #{threeLevelDistribution}</if>
            <if test="startDistribution != null "> and start_distribution = #{startDistribution}</if>
            <if test="distributionType != null  and distributionType != ''"> and distribution_type = #{distributionType}</if>
        </where>
    </select>
    
    <select id="selectHyDistributionRuleById" parameterType="Long" resultMap="HyDistributionRuleResult">
        <include refid="selectHyDistributionRuleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHyDistributionRule" parameterType="HyDistributionRule" useGeneratedKeys="true" keyProperty="id">
        insert into hy_distribution_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commissionFromSuperior != null">commission_from_superior,</if>
            <if test="topCommission != null">top_commission,</if>
            <if test="productId != null">product_id,</if>
            <if test="threeLevelDistribution != null">three_level_distribution,</if>
            <if test="startDistribution != null">start_distribution,</if>
            <if test="distributionType != null">distribution_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commissionFromSuperior != null">#{commissionFromSuperior},</if>
            <if test="topCommission != null">#{topCommission},</if>
            <if test="productId != null">#{productId},</if>
            <if test="threeLevelDistribution != null">#{threeLevelDistribution},</if>
            <if test="startDistribution != null">#{startDistribution},</if>
            <if test="distributionType != null">#{distributionType},</if>
         </trim>
    </insert>

    <update id="updateHyDistributionRule" parameterType="HyDistributionRule">
        update hy_distribution_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="commissionFromSuperior != null">commission_from_superior = #{commissionFromSuperior},</if>
            <if test="topCommission != null">top_commission = #{topCommission},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="threeLevelDistribution != null">three_level_distribution = #{threeLevelDistribution},</if>
            <if test="startDistribution != null">start_distribution = #{startDistribution},</if>
            <if test="distributionType != null">distribution_type = #{distributionType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyDistributionRuleById" parameterType="Long">
        delete from hy_distribution_rule where id = #{id}
    </delete>

    <delete id="deleteHyDistributionRuleByIds" parameterType="String">
        delete from hy_distribution_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>