<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyExemptionReasonMapper">
    
    <resultMap type="HyExemptionReason" id="HyExemptionReasonResult">
        <result property="id"    column="id"    />
        <result property="exemptionCategory"    column="exemption_category"    />
        <result property="exemptionReason"    column="exemption_reason"    />
    </resultMap>

    <sql id="selectHyExemptionReasonVo">
        select id, exemption_category, exemption_reason from hy_exemption_reason
    </sql>

    <select id="selectHyExemptionReasonList" parameterType="HyExemptionReason" resultMap="HyExemptionReasonResult">
        <include refid="selectHyExemptionReasonVo"/>
        <where>  
            <if test="exemptionCategory != null  and exemptionCategory != ''"> and exemption_category = #{exemptionCategory}</if>
            <if test="exemptionReason != null  and exemptionReason != ''"> and exemption_reason = #{exemptionReason}</if>
        </where>
    </select>
    
    <select id="selectHyExemptionReasonById" parameterType="Long" resultMap="HyExemptionReasonResult">
        <include refid="selectHyExemptionReasonVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHyExemptionReason" parameterType="HyExemptionReason" useGeneratedKeys="true" keyProperty="id">
        insert into hy_exemption_reason
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="exemptionCategory != null">exemption_category,</if>
            <if test="exemptionReason != null">exemption_reason,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="exemptionCategory != null">#{exemptionCategory},</if>
            <if test="exemptionReason != null">#{exemptionReason},</if>
         </trim>
    </insert>

    <update id="updateHyExemptionReason" parameterType="HyExemptionReason">
        update hy_exemption_reason
        <trim prefix="SET" suffixOverrides=",">
            <if test="exemptionCategory != null">exemption_category = #{exemptionCategory},</if>
            <if test="exemptionReason != null">exemption_reason = #{exemptionReason},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyExemptionReasonById" parameterType="Long">
        delete from hy_exemption_reason where id = #{id}
    </delete>

    <delete id="deleteHyExemptionReasonByIds" parameterType="String">
        delete from hy_exemption_reason where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>