<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyFeeRemissionMapper">

	<resultMap type="HyFeeRemission" id="HyFeeRemissionResult">
		<result property="id" column="id" />
		<result property="businessExemptedType"
			column="business_exempted_type" />
		<result property="feeName" column="fee_name" />
		<result property="reliefTypes" column="relief_types" />
		<result property="totalAmountDeduction"
			column="total_amount_deduction" />
		<result property="reducedAmount" column="reduced_amount" />
		<result property="cancellationCreditAmount"
			column="cancellation_credit_amount" />
		<result property="monthlyDeductionAmount"
			column="monthly_deduction_amount" />
		<result property="reductionRatio" column="reduction_ratio" />
		<result property="sharingTotalDeduction"
			column="sharing_total_deduction" />
		<result property="timeStr" column="time_str" />
		<result property="timeEnd" column="time_end" />
		<result property="exemptionReason" column="exemption_reason" />
		<result property="remarks" column="remarks" />
		<result property="offsetModificationRecord"
			column="offset_modification_record" />
		<result property="auditStatus" column="audit_status" />
		<result property="taxRate" column="tax_rate" />
		<result property="feeDate" column="fee_date" />
		<result property="dueDate" column="due_date" />
		<result property="remissionYear" column="remission_year" />
		<result property="remissionMonth" column="remission_month" />
		<result property="exemptionRegistrant"
			column="exemption_registrant" />
		<result property="registrationTime" column="registration_time" />
		<result property="reduceNot" column="reduce_not" />
		<result property="amountNotRemitted"
			column="amount_not_remitted" />
		<result property="amountTaxInc" column="amount_tax_inc" />
		<result property="taxation" column="taxation" />
		<result property="amountExcludingTax"
			column="amount_excluding_tax" />
		<result property="offsetTime" column="offset_time" />
		<result property="cancellationTime" column="cancellation_time" />
		<result property="revocation" column="revocation" />
		<result property="writeoffOnt" column="writeoff_ont" />
		<result property="writeoffTime" column="writeoff_time" />
		<result property="houseNumber" column="house_number" />
		<result property="reductionExemption" column="reduction_exemption" />
		<result property="deductionBase" column="deduction_base" />
		<result property="closingDate" column="closing_date" />
		<result property="exemptionRegistration" column="exemption_registration" />
		<association property="hyOwnerRegistration" column="id"
			javaType="HyOwnerRegistration" resultMap="HyOwnerRegistrationResult" />
		<association property="hyHouseInf" column="id"
			javaType="HyHouseInf" resultMap="HyHouseInfResult" />
		<association property="hyParkingInf" column="id"
			javaType="HyParkingInf" resultMap="HyParkingInfResult" />
		<association property="hyMeter" column="id"
			javaType="HyMeter" resultMap="HyMeterResult" />
		<association property="hyCost" column="id"
			javaType="HyCost" resultMap="HyCostResult" />
	</resultMap>

	<resultMap type="HyOwnerRegistration"
		id="HyOwnerRegistrationResult">
		<result property="ownerName" column="owner_name" />
		<result property="houseNum" column="house_num" />
	</resultMap>

	<resultMap type="HyHouseInf" id="HyHouseInfResult">
		<result property="houseNumber" column="house_number" />
		<result property="houseName" column="house_name" />
	</resultMap>

	<resultMap type="HyParkingInf" id="HyParkingInfResult">
		<result property="parkingNumber" column="parking_number" />
		<result property="houseNumber" column="house_number" />
	</resultMap>

	<resultMap type="HyMeter" id="HyMeterResult">
		<result property="houseNum" column="house_num" />
		<result property="meterName" column="meter_name" />
	</resultMap>

<resultMap type="HyCost" id="HyCostResult">
		<result property="id" column="id" />
		<result property="houseNum" column="house_num" />
		<result property="costItems" column="cost_items" />
		<result property="expenseType" column="expense_type" />
		<result property="parentId" column="parent_id" />
		<result property="ancestors" column="ancestors" />
		<result property="standardName" column="standard_name" />
		<result property="feeNum" column="fee_num" />
		<result property="chargingStandard" column="charging_standard" />
		<result property="calculationMehod" column="calculation_mehod" />
		<result property="standardDescription"
			column="standard_description" />
		<result property="standardState" column="standard_state" />
		<result property="proportionDamags" column="proportion_damags" />
		<result property="projectModification"
			column="project_modification" />
		<result property="billingCycle" column="billing_cycle" />
		<result property="bilingStartDate" column="biling_start_date" />
		<result property="bilingEndDate" column="biling_end_date" />
		<result property="auditResultsReason"
			column="audit_results_reason" />
		<result property="feeDateOld" column="fee_date_old" />
		<result property="feeDate" column="fee_date" />
		<result property="dueDateOld" column="due_date_old" />
		<result property="dueDate" column="due_date" />
		<result property="amountReceivableOld"
			column="amount_receivable_old" />
		<result property="amountReceivable" column="amount_receivable" />
		<result property="amountActually" column="amount_actually" />
		<result property="remarks" column="remarks" />
		<result property="operationDate" column="operation_date" />
		<result property="operationUser" column="operation_user" />
		<result property="operationType" column="operation_type" />
		<result property="deleteReason" column="delete_reason" />
		<result property="advancePaymetnOffset"
			column="advance_paymetn_offset" />
		<result property="writeOff" column="write_off" />
		<result property="refundAmount" column="refund_amount" />
		<result property="amountArrears" column="amount_arrears" />
		<result property="collectionStatus" column="collection_status" />
		<result property="frozenPerson" column="frozen_person" />
		<result property="frozenState" column="frozen_state" />
		<result property="frozenDate" column="frozen_date" />
		<result property="frozenReason" column="frozen_reason" />
		<result property="advanceStatus" column="advance_status" />
		<result property="deliveryStatus" column="delivery_status" />
		<result property="transferTenants" column="transfer_tenants" />
		<result property="changeDate" column="change_date" />
		
		
		
	</resultMap>

	<sql id="selectHyFeeRemissionVo">
		SELECT
			f.id,
			f.business_exempted_type,
			f.fee_name,
			f.relief_types,
			f.total_amount_deduction,
			f.reduced_amount,
			f.cancellation_credit_amount,
			f.monthly_deduction_amount,
			f.reduction_ratio,
			f.sharing_total_deduction,
			f.time_str,
			f.time_end,
			f.exemption_reason,
			f.remarks,
			f.offset_modification_record,
			f.audit_status,
			f.tax_rate,
			f.house_number,
			f.fee_date,
			f.due_date,
			f.remission_year,
			f.remission_month,
			f.exemption_registrant,
			f.registration_time,
			f.reduce_not,
			f.amount_not_remitted,
			f.amount_tax_inc,
			f.taxation,
			f.amount_excluding_tax,
			f.offset_time,
			f.cancellation_time,
			f.revocation,
			f.writeoff_ont,
			f.writeoff_time,
			f.reduction_exemption,
			f.deduction_base,
			f.closing_date,
			f.exemption_registration,
			o.owner_name,
			h.house_name,
			p.parking_number,
			c.operation_date,
			c.biling_start_date,
			c.biling_end_date,
			m.meter_name 
		FROM
			hy_fee_remission f
			LEFT JOIN hy_owner_registration o ON f.house_number = o.house_num
			LEFT JOIN hy_house_inf h ON h.house_number = o.house_num
			LEFT JOIN hy_parking_inf p ON p.house_number = h.house_number
			LEFT JOIN hy_meter m ON m.house_num = p.house_number 
			left join hy_cost c on f.house_number = c.house_num
		WHERE
			1 = 1
	</sql>

	<select id="selectHyFeeRemissionList"
		parameterType="HyFeeRemission" resultMap="HyFeeRemissionResult">
		<include refid="selectHyFeeRemissionVo" />
		<if test="businessExemptedType != null "> and f.business_exempted_type = #{businessExemptedType}
		</if>
		<if test="feeName != null  and feeName != ''"> and f.fee_name like concat('%', #{feeName}, '%')</if>
		<if test="reliefTypes != null "> and f.relief_types = #{reliefTypes}</if>
		<if test="totalAmountDeduction != null "> and f.total_amount_deduction = #{totalAmountDeduction}
		</if>
		<if test="reducedAmount != null "> and f.reduced_amount = #{reducedAmount}</if>
		<if test="houseNumber != null and houseNumber != ''"> and f.house_number = #{houseNumber}</if>
		<if test="cancellationCreditAmount != null "> and f.cancellation_credit_amount =
			#{cancellationCreditAmount}
		</if>
		<if test="monthlyDeductionAmount != null "> and f.monthly_deduction_amount = #{monthlyDeductionAmount}
		</if>
		<if test="reductionRatio != null "> and f.reduction_ratio = #{reductionRatio}</if>
		<if test="sharingTotalDeduction != null "> and f.sharing_total_deduction = #{sharingTotalDeduction}
		</if>
		<if test="timeStr != null "> and f.time_str = #{timeStr}</if>
		<if test="timeEnd != null "> and f.time_end = #{timeEnd}</if>
		<if test="exemptionReason != null  and exemptionReason != ''"> and f.exemption_reason = #{exemptionReason}</if>
		<if test="remarks != null  and remarks != ''"> and f.remarks = #{remarks}</if>
		<if test="offsetModificationRecord != null  and offsetModificationRecord != ''"> and f.offset_modification_record = #{offsetModificationRecord}
		</if>
		<if test="auditStatus != null "> and f.audit_status = #{auditStatus}</if>
		<if test="taxRate != null "> and f.tax_rate = #{taxRate}</if>
		<if test="feeDate != null "> and f.fee_date = #{feeDate}</if>
		<if test="dueDate != null "> and f.due_date = #{dueDate}</if>
		<if test="remissionYear != null  and remissionYear != ''"> and f.remission_year = #{remissionYear}</if>
		<if test="remissionMonth != null  and remissionMonth != ''"> and f.remission_month = #{remissionMonth}</if>
		<if test="exemptionRegistrant != null  and exemptionRegistrant != ''"> and f.exemption_registrant = #{exemptionRegistrant}</if>
		<if test="registrationTime != null "> and f.registration_time = #{registrationTime}</if>
		<if test="reduceNot != null "> and f.reduce_not = #{reduceNot}</if>
		<if test="amountNotRemitted != null "> and f.amount_not_remitted = #{amountNotRemitted}</if>
		<if test="amountTaxInc != null "> and f.amount_tax_inc = #{amountTaxInc}</if>
		<if test="taxation != null "> and f.taxation = #{taxation}</if>
		<if test="amountExcludingTax != null "> and f.amount_excluding_tax = #{amountExcludingTax}</if>
		<if test="offsetTime != null "> and f.offset_time = #{offsetTime}</if>
		<if test="cancellationTime != null "> and f.cancellation_time = #{cancellationTime}</if>
		<if test="revocation != null  and revocation != ''"> and f.revocation = #{revocation}</if>
		<if test="writeoffOnt != null "> and f.writeoff_ont = #{writeoffOnt}</if>
		
		<if test="writeoffOnt != null "> and f.writeoff_ont = #{writeoffOnt}</if>
		<if test="ownerName != null and ownerName != ''"> and o.owner_name = #{ownerName}</if>
	</select>

	<select id="selectHyFeeRemissionById" parameterType="Long"
		resultMap="HyFeeRemissionResult">
		<include refid="selectHyFeeRemissionVo" />
		and f.id = #{id}
	</select>

	<insert id="insertHyFeeRemission" parameterType="HyFeeRemission"
		useGeneratedKeys="true" keyProperty="id">
		insert into hy_fee_remission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="businessExemptedType != null and businessExemptedType !=''">business_exempted_type,</if>
			<if test="feeName != null and feeName != ''">fee_name,</if>
			<if test="reliefTypes != null and reliefTypes != ''">relief_types,</if>
			<if test="totalAmountDeduction != null and totalAmountDeduction != ''">total_amount_deduction,</if>
			<if test="reducedAmount != null and reducedAmount != ''">reduced_amount,</if>
			<if test="cancellationCreditAmount != null and cancellationCreditAmount != '' ">cancellation_credit_amount,</if>
			<if test="monthlyDeductionAmount != null and monthlyDeductionAmount != ''">monthly_deduction_amount,</if>
			<if test="reductionRatio != null and reductionRatio != ''">reduction_ratio,</if>
			<if test="sharingTotalDeduction != null and sharingTotalDeduction != ''">sharing_total_deduction,</if>
			<if test="timeStr != null and timeStr != ''">time_str,</if>
			<if test="timeEnd != null and timeEnd != ''">time_end,</if>
			<if test="exemptionReason != null and exemptionReason != ''">exemption_reason,</if>
			<if test="remarks != null and remarks != ''">remarks,</if>
			<if test="offsetModificationRecord != null and offsetModificationRecord !=''">offset_modification_record,</if>
			<if test="auditStatus != null and auditStatus !=''">audit_status,</if>
			<if test="taxRate != null and taxRate !=''">tax_rate,</if>
			<if test="feeDate != null and feeDate != ''">fee_date,</if>
			<if test="dueDate != null and dueDate !=''">due_date,</if>
			<if test="houseNumber != null and houseNumber != ''">house_number,</if>
			<if test="remissionYear != null and remissionYear !=''">remission_year,</if>
			<if test="remissionMonth != null and remissionMonth !=''">remission_month,</if>
			<if test="exemptionRegistrant != null and exemptionRegistrant != ''">exemption_registrant,</if>
			<if test="registrationTime != null and registrationTime != ''">registration_time,</if>
			<if test="reduceNot != null and reduceNot != '' ">reduce_not,</if>
			<if test="amountNotRemitted != null and amountNotRemitted !=  ''">amount_not_remitted,</if>
			<if test="amountTaxInc != null and amountTaxInc != ''">amount_tax_inc,</if>
			<if test="taxation != null and taxation != ''">taxation,</if>
			<if test="amountExcludingTax != null and amountExcludingTax !=''">amount_excluding_tax,</if>
			<if test="offsetTime != null and offsetTime != '' ">offset_time,</if>
			<if test="cancellationTime != null and cancellationTime !=  ''">cancellation_time,</if>
			<if test="revocation != null and revocation != revocation !=  '' ">revocation,</if>
			<if test="writeoffOnt != null and writeoffOnt != ''">writeoff_ont,</if>
			<if test="writeoffTime != null and writeoffTime !=  '' ">writeoff_time,</if>
			<!-- <if test="ownerName != null "> owner_name, </if> <if test="houseName 
				!= null "> house_name,</if> <if test="parkingNumber != null "> parking_number,</if> 
				<if test="meterName != null "> meter_name ,</if> -->
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="businessExemptedType != null and businessExemptedType !=''">#{businessExemptedType},</if>
			<if test="feeName != null and feeName != ''">#{feeName},</if>
			<if test="reliefTypes != null and reliefTypes != ''">#{reliefTypes},</if>
			<if test="totalAmountDeduction != null and totalAmountDeduction != ''">#{totalAmountDeduction},</if>
			<if test="reducedAmount != null and reducedAmount != ''">#{reducedAmount},</if>
			<if test="cancellationCreditAmount != null and cancellationCreditAmount != '' ">#{cancellationCreditAmount},</if>
			<if test="monthlyDeductionAmount != null and monthlyDeductionAmount != ''">#{monthlyDeductionAmount},</if>
			<if test="reductionRatio != null and reductionRatio != ''">#{reductionRatio},</if>
			<if test="sharingTotalDeduction != null and sharingTotalDeduction != ''">#{sharingTotalDeduction},</if>
			<if test="timeStr != null and timeStr != ''">#{timeStr},</if>
			<if test="timeEnd != null and timeEnd != ''">#{timeEnd},</if>
			<if test="exemptionReason != null and exemptionReason != ''">#{exemptionReason},</if>
			<if test="remarks != null and remarks != ''">#{remarks},</if>
			<if test="offsetModificationRecord != null and offsetModificationRecord !=''">#{offsetModificationRecord},</if>
			<if test="auditStatus != null and auditStatus !=''">#{auditStatus},</if>
			<if test="taxRate != null and taxRate !=''">#{taxRate},</if>
			<if test="feeDate != null and feeDate != ''">#{feeDate},</if>
			<if test="dueDate != null and dueDate !=''">#{dueDate},</if>
			<if test="houseNumber != null and houseNumber != ''">#{houseNumber},</if>
			<if test="remissionYear != null and remissionYear !=''">#{remissionYear},</if>
			<if test="remissionMonth != null and remissionMonth !=''">#{remissionMonth},</if>
			<if test="exemptionRegistrant != null and exemptionRegistrant != ''">#{exemptionRegistrant},</if>
			<if test="registrationTime != null and registrationTime != ''">#{registrationTime},</if>
			<if test="reduceNot != null and reduceNot != '' ">#{reduceNot},</if>
			<if test="amountNotRemitted != null and amountNotRemitted !=  ''">#{amountNotRemitted},</if>
			<if test="amountTaxInc != null and amountTaxInc != ''">#{amountTaxInc},</if>
			<if test="taxation != null and taxation != ''">#{taxation},</if>
			<if test="amountExcludingTax != null and amountExcludingTax !=''">#{amountExcludingTax},</if>
			<if test="offsetTime != null and offsetTime != '' ">#{offsetTime},</if>
			<if test="cancellationTime != null and cancellationTime !=  ''">#{cancellationTime},</if>
			<if test="revocation != null and revocation != revocation !=  '' ">#{revocation},</if>
			<if test="writeoffOnt != null and writeoffOnt != ''">#{writeoffOnt},</if>
			<if test="writeoffTime != null and writeoffTime !=  '' ">#{writeoffTime},</if>
			<!-- <if test="ownerName != null "> #{ownerName}, </if> <if test="houseName 
				!= null "> #{houseName},</if> <if test="parkingNumber != null "> #{parkingNumber},</if> 
				<if test="meterName != null "> #{meterName} ,</if> -->
		</trim>
	</insert>

	<update id="updateHyFeeRemission" parameterType="HyFeeRemission">
		update hy_fee_remission
		<trim prefix="SET" suffixOverrides=",">
			<if test="businessExemptedType != null">business_exempted_type = #{businessExemptedType},</if>
			<if test="feeName != null">fee_name = #{feeName},</if>
			<if test="reliefTypes != null">relief_types = #{reliefTypes},</if>
			<if test="totalAmountDeduction != null">total_amount_deduction = #{totalAmountDeduction},</if>
			<if test="reducedAmount != null">reduced_amount = #{reducedAmount},</if>
			<if test="cancellationCreditAmount != null">cancellation_credit_amount = #{cancellationCreditAmount},</if>
			<if test="monthlyDeductionAmount != null">monthly_deduction_amount = #{monthlyDeductionAmount},</if>
			<if test="reductionRatio != null">reduction_ratio = #{reductionRatio},</if>
			<if test="sharingTotalDeduction != null">sharing_total_deduction = #{sharingTotalDeduction},</if>
			<if test="timeStr != null">time_str = #{timeStr},</if>
			<if test="timeEnd != null">time_end = #{timeEnd},</if>
			<if test="houseNumber != null">house_number = #{houseNumber},</if>
			<if test="exemptionReason != null">exemption_reason = #{exemptionReason},</if>
			<if test="remarks != null">remarks = #{remarks},</if>
			<if test="offsetModificationRecord != null">offset_modification_record = #{offsetModificationRecord},</if>
			<if test="auditStatus != null">audit_status = #{auditStatus},</if>
			<if test="taxRate != null">tax_rate = #{taxRate},</if>
			<if test="feeDate != null">fee_date = #{feeDate},</if>
			<if test="dueDate != null">due_date = #{dueDate},</if>
			<if test="remissionYear != null">remission_year = #{remissionYear},</if>
			<if test="remissionMonth != null">remission_month = #{remissionMonth},</if>
			<if test="exemptionRegistrant != null">exemption_registrant = #{exemptionRegistrant},</if>
			<if test="registrationTime != null">registration_time = #{registrationTime},</if>
			<if test="reduceNot != null">reduce_not = #{reduceNot},</if>
			<if test="amountNotRemitted != null">amount_not_remitted = #{amountNotRemitted},</if>
			<if test="amountTaxInc != null">amount_tax_inc = #{amountTaxInc},</if>
			<if test="taxation != null">taxation = #{taxation},</if>
			<if test="amountExcludingTax != null">amount_excluding_tax = #{amountExcludingTax},</if>
			<if test="offsetTime != null">offset_time = #{offsetTime},</if>
			<if test="cancellationTime != null">cancellation_time = #{cancellationTime},</if>
			<if test="revocation != null">revocation = #{revocation},</if>
			<if test="writeoffOnt != null">writeoff_ont = #{writeoffOnt},</if>
			<if test="writeoffTime != null">writeoff_time = #{writeoffTime},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteHyFeeRemissionById" parameterType="Long">
		delete from
		hy_fee_remission where id = #{id}
	</delete>

	<delete id="deleteHyFeeRemissionByIds" parameterType="String">
		delete from hy_fee_remission where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

</mapper>