<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyInspectionDetailMapper">
    
    <resultMap type="HyInspectionDetail" id="HyInspectionDetailResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="inspectionTime"    column="inspection_time"    />
        <result property="remark"    column="remark"    />
        <result property="routeId"    column="route_id"    />
        <result property="taskId"    column="task_id"    />
        <association property="hyNodeTask" column="id"
			javaType="HyNodeTask" resultMap="HyNodeTaskResult" />
        <association property="hyCheckNode" column="id"
			javaType="HyCheckNode" resultMap="HyCheckNodeResult" />
    </resultMap>
	
	<resultMap type="HyNodeTask" id="HyNodeTaskResult">
        <result property="id"    column="id"    />
        <result property="taskName"    column="task_name"    />
        <result property="inspectionWay"    column="inspection_way"    />
        <result property="remark"    column="remark"    />
        <result property="nodeId"    column="node_id"    />
    </resultMap>
	
	<resultMap type="HyCheckNode" id="HyCheckNodeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="nodeAddress"    column="node_address"    />
        <result property="nodeLongitude"    column="node_longitude"    />
        <result property="nodeLatitude"    column="node_latitude"    />
        <result property="nodeRemark"    column="node_remark"    />
    </resultMap>
	
    <sql id="selectHyInspectionDetailVo">
        select 
        d.id, 
        d.code, 
        d.inspection_time, 
        d.remark, 
        d.route_id, 
        d.task_id,
        n.name,
        t.task_name 
        from 
        hy_inspection_detail d
        LEFT JOIN hy_node_task t ON d.task_id = t.id
        LEFT JOIN hy_check_node n ON t.node_id = n.id
    </sql>

    <select id="selectHyInspectionDetailList" parameterType="HyInspectionDetail" resultMap="HyInspectionDetailResult">
        <include refid="selectHyInspectionDetailVo"/>
        <where>  
            <if test="code != null  and code != ''"> and d.code = #{code}</if>
            <if test="inspectionTime != null "> and d.inspection_time = #{inspectionTime}</if>
            <if test="routeId != null "> and d.route_id = #{routeId}</if>
            <if test="taskId != null "> and d.task_id = #{taskId}</if>
        </where>
    </select>
    
    <select id="selectHyInspectionDetailById" parameterType="Long" resultMap="HyInspectionDetailResult">
        <include refid="selectHyInspectionDetailVo"/>
        where d.id = #{id}
    </select>
        
    <insert id="insertHyInspectionDetail" parameterType="HyInspectionDetail" useGeneratedKeys="true" keyProperty="id">
        insert into hy_inspection_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="inspectionTime != null">inspection_time,</if>
            <if test="remark != null">remark,</if>
            <if test="routeId != null">route_id,</if>
            <if test="taskId != null">task_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="inspectionTime != null">#{inspectionTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="routeId != null">#{routeId},</if>
            <if test="taskId != null">#{taskId},</if>
         </trim>
    </insert>

    <update id="updateHyInspectionDetail" parameterType="HyInspectionDetail">
        update hy_inspection_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="inspectionTime != null">inspection_time = #{inspectionTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="routeId != null">route_id = #{routeId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyInspectionDetailById" parameterType="Long">
        delete from hy_inspection_detail where id = #{id}
    </delete>

    <delete id="deleteHyInspectionDetailByIds" parameterType="String">
        delete from hy_inspection_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>