<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyInventoryMapper">
    
    <resultMap type="HyInventory" id="HyInventoryResult">
        <result property="id"    column="id"    />
        <result property="materialId"    column="material_id"    />
        <result property="checkId"    column="check_id"    />
        <association property="hyMaterial" column="id"
			javaType="HyMaterial" resultMap="HyMaterialResult" />
        <association property="hyCheck" column="id"
			javaType="HyCheck" resultMap="HyCheckResult" />
    </resultMap>
	
	    <resultMap type="HyCheck" id="HyCheckResult">
        <result property="id"    column="id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="deptId"    column="dept_id"    />
        <association property="sysDept" column="id"
			javaType="SysDept" resultMap="SysDeptResult" />
		<association property="sysUser" column="id"
			javaType="SysUser" resultMap="SysUserResult" />
    </resultMap>

	 <resultMap type="SysDept" id="SysDeptResult">
		<id     property="deptId"     column="dept_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="deptName"   column="dept_name"   />
		<result property="orderNum"   column="order_num"   />
		<result property="leader"     column="leader"      />
		<result property="phone"      column="phone"       />
		<result property="email"      column="email"       />
		<result property="status"     column="status"      />
		<result property="delFlag"    column="del_flag"    />
		<result property="parentName" column="parent_name" />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<resultMap type="SysUser" id="SysUserResult">
		<id     property="userId"        column="user_id"         />
		<result property="deptId"        column="dept_id"         />
		<result property="loginName"     column="login_name"      />
		<result property="userName"      column="user_name"       />
		<result property="userType"      column="user_type"       />
		<result property="email"         column="email"           />
		<result property="phonenumber"   column="phonenumber"     />
		<result property="sex"           column="sex"             />
		<result property="avatar"        column="avatar"          />
		<result property="password"      column="password"        />
		<result property="salt"          column="salt"            />
		<result property="status"        column="status"          />
		<result property="delFlag"       column="del_flag"        />
		<result property="loginIp"       column="login_ip"        />
		<result property="loginDate"     column="login_date"      />
		<result property="pwdUpdateDate" column="pwd_update_date" />
		<result property="createBy"      column="create_by"       />
		<result property="createTime"    column="create_time"     />
		<result property="updateBy"      column="update_by"       />
		<result property="updateTime"    column="update_time"     />
		<result property="remark"        column="remark"          />
	</resultMap>
	
	<resultMap type="HyMaterial" id="HyMaterialResult">
        <result property="id"    column="id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialType"    column="material_type"    />
        <result property="materialUnit"    column="material_unit"    />
        <result property="materialNumber"    column="material_number"    />
        <result property="materialAddress"    column="material_address"    />
        <result property="materialDept"    column="material_dept"    />
        <result property="materialSupplier"    column="material_supplier"    />
        <result property="materialCommute"    column="material_commute"    />
        <result property="createTime"    column="create_time"    />
        <result property="state"    column="state"    />
    </resultMap>
	
    <sql id="selectHyInventoryVo">
        select 
        i.id, 
        i.material_id,
        i.check_id,
        m.material_code, 
        m.material_name, 
        m.material_type, 
        m.material_number, 
        m.material_address,
        d.dept_name, 
        u.user_name
        from hy_inventory i
        LEFT JOIN hy_material m ON i.material_id = m.id
        LEFT JOIN hy_check c ON i.check_id = c.id
        LEFT JOIN sys_dept d ON c.dept_id = d.dept_id
        LEFT JOIN sys_user u ON c.employee_id = u.user_id
    </sql>

    <select id="selectHyInventoryList" parameterType="HyInventory" resultMap="HyInventoryResult">
        <include refid="selectHyInventoryVo"/>
        <where> 
        	 <if test="checkId != null"> and i.check_id = #{checkId}</if>
            <if test="hyMaterial != null">
             <if test="hyMaterial.materialCode != null and hyMaterial.materialCode != ''"> and m.material_code = #{hyMaterial.materialCode}</if>
             <if test="hyMaterial.materialName != null and hyMaterial.materialName != ''"> and m.material_name = #{hyMaterial.materialName}</if>
            </if>
        </where>
    </select>
    
    <select id="selectHyInventoryById" parameterType="Long" resultMap="HyInventoryResult">
        <include refid="selectHyInventoryVo"/>
        where i.id = #{id}
    </select>
        
    <insert id="insertHyInventory" parameterType="HyInventory" useGeneratedKeys="true" keyProperty="id">
        insert into hy_inventory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialId != null">material_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialId != null">#{materialId},</if>
         </trim>
    </insert>

    <update id="updateHyInventory" parameterType="HyInventory">
        update hy_inventory
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="checkId != null">check_id = #{checkId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyInventoryById" parameterType="Long">
        delete from hy_inventory where id = #{id}
    </delete>

    <delete id="deleteHyInventoryByIds" parameterType="String">
        delete from hy_inventory where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>