<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyMaterialMapper">
    
    <resultMap type="HyMaterial" id="HyMaterialResult">
        <result property="id"    column="id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialType"    column="material_type"    />
        <result property="materialSpecification"    column="material_specification"    />
        <result property="materialUnit"    column="material_unit"    />
        <result property="materialNumber"    column="material_number"    />
        <result property="materialAddress"    column="material_address"    />
        <result property="materialDept"    column="material_dept"    />
        <result property="materialCommute"    column="material_commute"    />
        <result property="createTime"    column="create_time"    />
        <result property="state"    column="state"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="shelfId"    column="shelf_id"    />
        <association property="hySupplier"     column="id" 
        	javaType="HySupplier" resultMap="HySupplierResult" />
        <association property="hyWarehouse"     column="id" 
        	javaType="HyWarehouse" resultMap="HyWarehouseResult" />
        <association property="hyGoodsShelf" column="id"
			javaType="HyGoodsShelf" resultMap="HyGoodsShelfResult" />
    </resultMap>
    
    <resultMap type="HyGoodsShelf" id="HyGoodsShelfResult">
        <result property="id"    column="id"    />
        <result property="shelfName"    column="shelf_name"    />
        <result property="shelfType"    column="shelf_type"    />
        <result property="shelfCount"    column="shelf_count"    />
        <result property="warehouseId"    column="warehouse_id"    />
    </resultMap>
	
	<resultMap type="HySupplier" id="HySupplierResult">
        <result property="id"    column="id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="supplierBusinessLicence"    column="supplier_business_licence"    />
        <result property="supplierCharge"    column="supplier_charge"    />
        <result property="supplierPhone"    column="supplier_phone"    />
        <result property="supplierEmail"    column="supplier_email"    />
        <result property="supplierAddress"    column="supplier_address"    />
        <result property="incorporationDate"    column="incorporation_date"    />
    </resultMap>
    
    <resultMap type="HyWarehouse" id="HyWarehouseResult">
        <result property="id"    column="id"    />
        <result property="warehouseName"    column="warehouse_name"    />
        <result property="warehouseAddress"    column="warehouse_address"    />
        <result property="warehouseType"    column="warehouse_type"    />
        <result property="warehouseArea"    column="warehouse_area"    />
        <result property="warehouseNum"    column="warehouse_num"    />
        <result property="warehousePhone"    column="warehouse_phone"    />
        <result property="administrators"    column="administrators"    />
    </resultMap>
    
    <sql id="selectHyMaterialVo">
        select 
        m.id, 
        m.material_code, 
        m.material_name, 
        m.material_type, 
        m.material_specification, 
        m.material_unit, 
        m.material_number, 
        m.material_address, 
        m.material_dept, 
        m.material_commute, 
        m.create_time, 
        m.state, 
        m.supplier_id, 
        m.warehouse_id, 
        m.shelf_id, 
        s.supplier_name, 
        w.warehouse_name, 
        g.shelf_name 
        from 
        hy_material m
        LEFT JOIN  hy_supplier s ON m.supplier_id = s.id
        LEFT JOIN  hy_warehouse w ON m.warehouse_id = w.id
        LEFT JOIN  hy_goods_shelf g ON m.shelf_id =g.id
    </sql>

    <select id="selectHyMaterialList" parameterType="HyMaterial" resultMap="HyMaterialResult">
        <include refid="selectHyMaterialVo"/>
        <where>  
            <if test="materialCode != null "> and m.material_code = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''"> and m.material_name like concat('%', #{materialName}, '%')</if>
            <if test="materialType != null  and materialType != ''"> and m.material_type = #{materialType}</if>
            <if test="materialSpecification != null  and materialSpecification != ''"> and m.material_specification = #{materialSpecification}</if>
            <if test="materialUnit != null  and materialUnit != ''"> and m.material_unit = #{materialUnit}</if>
            <if test="materialNumber != null "> and m.material_number = #{materialNumber}</if>
            <if test="materialAddress != null  and materialAddress != ''"> and m.material_address = #{materialAddress}</if>
            <if test="materialDept != null  and materialDept != ''"> and m.material_dept = #{materialDept}</if>
            <if test="materialCommute != null  and materialCommute != ''"> and m.material_commute = #{materialCommute}</if>
            <if test="state != null  and state != ''"> and m.state = #{state}</if>
            <if test="supplierId != null  and supplierId != ''"> and m.supplier_id = #{supplierId}</if>
            <if test="warehouseId != null  and warehouseId != ''"> and m.warehouse_id = #{warehouseId}</if>
            <if test="shelfId != null  and shelfId != ''"> and m.shelf_id = #{shelfId}</if>
        </where>
    </select>
    
    <select id="selectHyMaterialLists" parameterType="HyMaterial" resultMap="HyMaterialResult">
        <include refid="selectHyMaterialVo"/>
        <where>  
            <if test="materialCode != null "> and m.material_code = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''"> and m.material_name like concat('%', #{materialName}, '%')</if>
            <if test="materialType != null  and materialType != ''"> and m.material_type = #{materialType}</if>
            <if test="materialUnit != null  and materialUnit != ''"> and m.material_unit = #{materialUnit}</if>
            <if test="materialSpecification != null  and materialSpecification != ''"> and m.material_specification = #{materialSpecification}</if>
            <if test="materialNumber != null "> and m.material_number = #{materialNumber}</if>
            <if test="materialAddress != null  and materialAddress != ''"> and m.material_address = #{materialAddress}</if>
            <if test="materialDept != null  and materialDept != ''"> and m.material_dept = #{materialDept}</if>
            <if test="materialCommute != null  and materialCommute != ''"> and m.material_commute = #{materialCommute}</if>
            <if test="supplierId != null  and supplierId != ''"> and m.supplier_id = #{supplierId}</if>
            <if test="warehouseId != null  and warehouseId != ''"> and m.warehouse_id = #{warehouseId}</if>
            <if test="shelfId != null  and shelfId != ''"> and m.shelf_id = #{shelfId}</if>
            and state = "3"
        </where>
    </select>
    
    <select id="selectHyMaterialById" parameterType="Long" resultMap="HyMaterialResult">
        <include refid="selectHyMaterialVo"/>
        where m.id = #{id}
    </select>
        
    <insert id="insertHyMaterial" parameterType="HyMaterial" useGeneratedKeys="true" keyProperty="id">
        insert into hy_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialCode != null">material_code,</if>
            <if test="materialName != null">material_name,</if>
            <if test="materialType != null">material_type,</if>
            <if test="materialSpecification != null">material_specification,</if>
            <if test="materialUnit != null">material_unit,</if>
            <if test="materialNumber != null">material_number,</if>
            <if test="materialAddress != null">material_address,</if>
            <if test="materialDept != null">material_dept,</if>
            <if test="materialCommute != null">material_commute,</if>
            <if test="createTime != null">create_time,</if>
            state,
            <if test="specimen != null">specimen,</if>
            <if test="specimendept != null">specimendept,</if>
            <if test="checkmen != null">checkmen,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="shelfId != null">shelf_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="materialSpecification != null">#{materialSpecification},</if>
            <if test="materialUnit != null">#{materialUnit},</if>
            <if test="materialNumber != null">#{materialNumber},</if>
            <if test="materialAddress != null">#{materialAddress},</if>
            <if test="materialDept != null">#{materialDept},</if>
            <if test="materialCommute != null">#{materialCommute},</if>
            <if test="createTime != null">#{createTime},</if>
            "1",
            <if test="specimen != null">#{specimen},</if>
            <if test="checkmen != null">#{checkmen},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="shelfId != null">#{shelfId},</if>
         </trim>
    </insert>

    <update id="updateHyMaterial" parameterType="HyMaterial">
        update hy_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="materialSpecification != null">material_specification = #{materialSpecification},</if>
            <if test="materialUnit != null">material_unit = #{materialUnit},</if>
            <if test="materialNumber != null">material_number = #{materialNumber},</if>
            <if test="materialAddress != null">material_address = #{materialAddress},</if>
            <if test="materialDept != null">material_dept = #{materialDept},</if>
            <if test="materialCommute != null">material_commute = #{materialCommute},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="state != null">state = #{state},</if>
            <if test="specimen != null">specimen = #{specimen},</if>
            <if test="specimendept != null">specimendept = #{specimendept},</if>
            <if test="checkmen != null">checkmen = #{checkmen},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="shelfId != null">shelf_id = #{shelfId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyMaterialById" parameterType="Long">
        delete from hy_material where id = #{id}
    </delete>

    <delete id="deleteHyMaterialByIds" parameterType="String">
        delete from hy_material where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>