<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyOrderMapper">
    
    <resultMap type="HyOrder" id="HyOrderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userPicture"    column="user_picture"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="state"    column="state"    />
        <result property="number"    column="number"    />
        <result property="createTime"    column="create_time"    />
        <result property="productId"    column="product_id"    />
        <association property="hyUser"
			column="id" javaType="HyUser"
			resultMap="HyUserResult" />
        <association property="hyProduct"
			column="id" javaType="HyProduct"
			resultMap="HyProductResult" />
        <association property="hyShop" column="id"
			javaType="HyShop" resultMap="HyShopResult" />
        <association property="hyBusiness"
			column="id" javaType="HyBusiness"
			resultMap="HyBusinessResult" />
    </resultMap>

	<resultMap type="HyBusiness" id="HyBusinessResult">
		<result property="id" column="id" />
		<result property="businessName" column="business_name" />
		<result property="legalRepresentative"
			column="legal_representative" />
		<result property="legalTelphone" column="legal_telphone" />
		<result property="idCard" column="id_card" />
		<result property="eMail" column="e_mail" />
	</resultMap>

	<resultMap type="HyShop" id="HyShopResult">
        <result property="id"    column="id"    />
        <result property="shopName"    column="shop_name"    />
        <result property="shopAddress"    column="shop_address"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="businessHours"    column="business_hours"    />
        <result property="businessId"    column="business_id"    />
    </resultMap>

	<resultMap type="HyProduct" id="HyProductResult">
        <result property="id"    column="id"    />
    	<result property="productName"    column="product_name"    />
    	 <result property="briefIntroduction"    column="brief_introduction"    />
        <result property="soldNumber"    column="sold_number"    />
        <result property="stockNumber"    column="stock_number"    />
        <result property="state"    column="state"    />
        <result property="snapUpDate"    column="snap_up_date"    />
        <result property="sendCodeDate"    column="send_code_date"    />
        <result property="appointmentDate"    column="appointment_date"    />  
        <result property="appointmentMode"    column="appointment_mode"    />
        <result property="useDate"    column="use_date"    />
        <result property="shopId"    column="shop_id"    />
        <result property="limitedQuantity"    column="limited_quantity"    />
        <result property="productOrderBy"    column="product_order_by"    />
        <result property="customerServiceTel"    column="customer_service_tel"    />
        <result property="shareTitle"    column="share_title"    />
        <result property="salState"  column="sal_state"/>
        <result property="lableId"  column="lable_id"/>
    </resultMap>
 	<resultMap type="HyUser" id="HyUserResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="telphone"    column="telphone"    />
    </resultMap>
    
     <sql id="selectHyOrderVo">
        select 
        o.id, 
        o.user_id, 
        o.user_picture,
        o.order_number, 
        o.unit_price, 
        o.number,
        o.state,
        o.create_time,
        o.product_id,
        u.name,
        p.product_name,
        b.business_name
        from 
        hy_order o
        LEFT JOIN hy_user u ON o.user_id=u.id
        LEFT JOIN hy_product p ON o.product_id=p.id
        LEFT JOIN hy_shop s ON s.id=p.shop_id
        LEFT JOIN hy_business b ON b.id=s.business_id
        
        where 1=1
    </sql>
    
    <sql id="selectHyOrderVoTest">
        select 
        o.id, 
        o.user_id, 
        o.user_picture,
        o.order_number, 
        o.unit_price, 
        o.number,
        o.state,
        o.create_time,
        o.product_id,
        u.name,
        p.product_name,
        b.business_name
        from 
        hy_order o
        LEFT JOIN hy_user u ON o.user_id=u.id
        LEFT JOIN hy_product p ON o.product_id=p.id
        LEFT JOIN hy_shop s ON s.id=p.shop_id
        LEFT JOIN hy_business b ON b.id=s.business_id
        
        where 1=1
    </sql>
    
    <sql id="selectId">
    	select
    	o.id, 
        o.user_id, 
        o.user_picture,
        o.order_number, 
        o.unit_price, 
        o.number,
        o.state,
        o.create_time,
        o.product_id
        from 
        hy_order o
        where 1=1 
        ORDER BY o.id DESC LIMIT 0,1
    </sql>
    
    <sql id="selectHyOrderState">
     select 
        o.id, 
        o.state
        from 
        hy_order o
        LEFT JOIN hy_user u ON o.user_id=u.id
        where 1=1
    </sql>

    <select id="selectHyOrderList" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        	
            <if test="hyUser != null and hyUser != ''">
            <if test="hyUser.name != null and hyUser.name != ''"> and u.name = #{hyUser.name}</if>
            </if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="state != null and state!='' "> and state = #{state}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="hyProduct != null and hyProduct != ''">
            <if test="hyProduct.productName != null and hyProduct.productName != ''"> and p.product_name = #{hyProduct.productName}</if>
            </if>
    </select>
    
   <select id="selectId" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectId"/>
    </select>
    
    <select id="selectHyOrderListTest" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVoTest"/>
        
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="state != null and state!='' "> and state = #{state}</if>
            <if test="number != null "> and number = #{number}</if>
      
    </select>
    
     <select id="selectHyOrderState" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderState"/>
    </select>
    
    <select id="selectHyOrderById" parameterType="Long" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        and o.id = #{id}
    </select>
        
    <insert id="insertHyOrder" parameterType="HyOrder" useGeneratedKeys="true" keyProperty="id">
        insert into hy_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="userPicture != null">user_Picture,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="state != null">state,</if>
            <if test="number != null">number,</if>
            <if test="productId != null ">product_id,</if>
            create_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="userPicture != null">#{userPicture},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="state != null">#{state},</if>
            <if test="number != null">#{number},</if>
            <if test="productId != null ">#{productId},</if>
            NOW(),
         </trim>
    </insert>

    <update id="updateHyOrder" parameterType="HyOrder">
        update hy_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="state != null">state = #{state},</if>
            <if test="number != null">number = #{number},</if>
            <if test="userPicture != null and userPicture !=''">user_picture = #{userPicture},</if>
             <if test="productId != null ">product_id = #{productId}</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyOrderById" parameterType="Long">
        delete from hy_order where id = #{id}
    </delete>

    <delete id="deleteHyOrderByIds" parameterType="String">
        delete from hy_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>