<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyOrderMapper">
    
    <resultMap type="HyOrder" id="HyOrderResult">
        <result property="id"    column="id"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="orderState"    column="order_state"    />
        <result property="createTime"    column="create_time"    />
        <result property="refundReason"    column="refund_reason"    />
        <result property="refundInstructions"    column="refund_instructions"    />
        <result property="refundAmount"    column="refund_amount"    />
        <result property="ownerId"    column="owner_id"    />
        <association property="hyOwnerRegistration" column="id" 
			javaType="HyOwnerRegistration" resultMap="HyOwnerRegistrationResult" />
        <association property="orderAndProduct" column="id" 
			javaType="OrderAndProduct" resultMap="OrderAndProductResult" />
        <association property="hyProduct" column="id" 
			javaType="HyProduct" resultMap="HyProductResult" />
        <association property="hyPicture" column="id" 
			javaType="HyPicture" resultMap="HyPictureResult" />
    </resultMap>
    
     <resultMap type="HyPicture" id="HyPictureResult">
        <result property="id"    column="id"    />
        <result property="pictureAddress"    column="picture_address"    />
        <result property="productId"    column="product_id"    />
    </resultMap>
    
    <resultMap type="HyProduct" id="HyProductResult">
        <result property="id"    column="id"    />
        <result property="productNumber"    column="product_number"    />
        <result property="productName"    column="product_name"    />
        <result property="briefIntroduction"    column="brief_introduction"    />
        <result property="productType"    column="product_type"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="currentPrice"    column="current_price"    />
        <result property="soldNumber"    column="sold_number"    />
        <result property="stockNumber"    column="stock_number"    />
        <result property="state"    column="state"    />
        <result property="productOrderBy"    column="product_order_by"    />
        <result property="shopId"    column="shop_id"    />
        <result property="lableId"    column="lable_id"    />
    </resultMap>
    
    <resultMap type="OrderAndProduct" id="OrderAndProductResult">
        <result property="orderId"    column="order_id"    />
        <result property="productId"    column="product_id"    />
        <result property="number"    column="number"    />
    </resultMap>
    
    <resultMap type="HyOwnerRegistration"
		id="HyOwnerRegistrationResult">
		<result property="id" column="id" />
		<result property="ownerName" column="owner_name" />
		<result property="fixedTelephone" column="fixed_telephone" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="idCardNum" column="id_card_num" />
		<result property="suplierCategory" column="suplier_category" />
		<result property="lockedNot" column="locked_not" />
		<result property="accessNum" column="access_num" />
		<result property="certificateName" column="certificate_name" />
		<result property="customerCategoy" column="customer_categoy" />
		<result property="faxPhone" column="fax_phone" />
		<result property="contactAddress" column="contact_address" />
		<result property="postalCode" column="postal_code" />
		<result property="postalPreson" column="postal_preson" />
		<result property="eMail" column="e_mail" />
		<result property="phoneAccount" column="phone_account" />
		<result property="bindingPhoneNum" column="binding_phone_num" />
		<result property="coOwner" column="co_owner" />
		<result property="ownerIdentification"
			column="owner_identification" />
		<result property="firName" column="fir_name" />
		<result property="secName" column="sec_name" />
		<result property="gender" column="gender" />
		<result property="nationality" column="nationality" />
		<result property="birthDate" column="birth_date" />
		<result property="workUnit" column="work_unit" />
		<result property="ownerJob" column="owner_job" />
		<result property="ownerHobby" column="owner_hobby" />
		<result property="ownerId" column="owner_id" />
		<result property="taxpayerNum" column="taxpayer_num" />
		<result property="ownerAddPhone" column="owner_add_phone" />
		<result property="bankAccount" column="bank_account" />
		<result property="collectionCategory"
			column="collection_category" />
		<result property="bankType" column="bank_type" />
		<result property="bankNum" column="bank_num" />
		<result property="bankAccountName" column="bank_account_name" />
		<result property="projectId" column="project_id" />
	</resultMap>

    <sql id="selectHyOrderVo">
        select 
        o.id, 
        o.order_number, 
        o.order_state, 
        o.create_time, 
        o.refund_reason, 
        o.refund_instructions, 
        o.refund_amount, 
        o.owner_id, 
        r.owner_name, 
        r.mobile_phone, 
        r.contact_address, 
        a.product_id, 
        a.number, 
        p.product_name, 
        p.current_price, 
        c.picture_address
        from 
        hy_order o
        LEFT JOIN  hy_owner_registration r ON o.owner_id = r.id
        LEFT JOIN  order_and_product a ON o.id = a.order_id
        LEFT JOIN  hy_product p ON p.id = a.product_id
        LEFT JOIN  hy_picture c ON p.id = c.product_id
    </sql>

    <select id="selectHyOrderList" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        <where>  
            <if test="id != null  and id != ''"> and o.id = #{id}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and o.order_number = #{orderNumber}</if>
            <if test="orderState != null  and orderState != ''"> and o.order_state = #{orderState}</if>
            <if test="refundReason != null  and refundReason != ''"> and o.refund_reason = #{refundReason}</if>
            <if test="refundInstructions != null  and refundInstructions != ''"> and o.refund_instructions = #{refundInstructions}</if>
            <if test="refundAmount != null "> and o.refund_amount = #{refundAmount}</if>
            <if test="ownerId != null "> and o.owner_id = #{ownerId}</if>
        </where>
    </select>
    
    <select id="selectHyOrderListByObligation" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        <where>  
            <if test="orderNumber != null  and orderNumber != ''"> and o.order_number = #{orderNumber}</if>
            and o.order_state = "1"
            <if test="refundReason != null  and refundReason != ''"> and o.refund_reason = #{refundReason}</if>
            <if test="refundInstructions != null  and refundInstructions != ''"> and o.refund_instructions = #{refundInstructions}</if>
            <if test="refundAmount != null "> and o.refund_amount = #{refundAmount}</if>
            <if test="ownerId != null "> and o.owner_id = #{ownerId}</if>
        </where>
    </select>
    
    <select id="selectHyOrderListBySend" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        <where>  
            <if test="orderNumber != null  and orderNumber != ''"> and o.order_number = #{orderNumber}</if>
             <if test="commercialSpecification != null  and commercialSpecification != ''"> and o.commercial_specification = #{commercialSpecification}</if>
            and o.order_state = "2"
            <if test="refundReason != null  and refundReason != ''"> and o.refund_reason = #{refundReason}</if>
            <if test="refundInstructions != null  and refundInstructions != ''"> and o.refund_instructions = #{refundInstructions}</if>
            <if test="refundAmount != null "> and o.refund_amount = #{refundAmount}</if>
            <if test="ownerId != null "> and o.owner_id = #{ownerId}</if>
        </where>
    </select>
    
    <select id="selectHyOrderListByCollect" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        <where>  
            <if test="orderNumber != null  and orderNumber != ''"> and o.order_number = #{orderNumber}</if>
            and o.order_state = "3"
            <if test="refundReason != null  and refundReason != ''"> and o.refund_reason = #{refundReason}</if>
            <if test="refundInstructions != null  and refundInstructions != ''"> and o.refund_instructions = #{refundInstructions}</if>
            <if test="refundAmount != null "> and o.refund_amount = #{refundAmount}</if>
            <if test="ownerId != null "> and o.owner_id = #{ownerId}</if>
        </where>
    </select>
    
    <select id="selectHyOrderListByFinished" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        <where>  
            <if test="orderNumber != null  and orderNumber != ''"> and o.order_number = #{orderNumber}</if>
            and o.order_state = "4"
            <if test="refundReason != null  and refundReason != ''"> and o.refund_reason = #{refundReason}</if>
            <if test="refundInstructions != null  and refundInstructions != ''"> and o.refund_instructions = #{refundInstructions}</if>
            <if test="refundAmount != null "> and o.refund_amount = #{refundAmount}</if>
            <if test="ownerId != null "> and o.owner_id = #{ownerId}</if>
        </where>
    </select>
    
    <select id="selectHyOrderListByRefunded" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        <where>  
            <if test="orderNumber != null  and orderNumber != ''"> and o.order_number = #{orderNumber}</if>
            and o.order_state = "5"
            <if test="refundReason != null  and refundReason != ''"> and o.refund_reason = #{refundReason}</if>
            <if test="refundInstructions != null  and refundInstructions != ''"> and o.refund_instructions = #{refundInstructions}</if>
            <if test="refundAmount != null "> and o.refund_amount = #{refundAmount}</if>
            <if test="ownerId != null "> and o.owner_id = #{ownerId}</if>
        </where>
    </select>
    
    <select id="selectHyOrderById" parameterType="Long" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        where o.id = #{id}
    </select>
        
    <insert id="insertHyOrder" parameterType="HyOrder" useGeneratedKeys="true" keyProperty="id">
        insert into hy_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null">order_number,</if>
            <if test="orderState != null">order_state,</if>
            <if test="createTime != null">create_time,</if>
            <if test="refundReason != null">refund_reason,</if>
            <if test="refundInstructions != null">refund_instructions,</if>
            <if test="refundAmount != null">refund_amount,</if>
            <if test="ownerId != null">owner_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="refundReason != null">#{refundReason},</if>
            <if test="refundInstructions != null">#{refundInstructions},</if>
            <if test="refundAmount != null">#{refundAmount},</if>
            <if test="ownerId != null">#{ownerId},</if>
         </trim>
    </insert>

    <update id="updateHyOrder" parameterType="HyOrder">
        update hy_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="refundReason != null">refund_reason = #{refundReason},</if>
            <if test="refundInstructions != null">refund_instructions = #{refundInstructions},</if>
            <if test="refundAmount != null">refund_amount = #{refundAmount},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyOrderById" parameterType="Long">
        delete from hy_order where id = #{id}
    </delete>

    <delete id="deleteHyOrderByIds" parameterType="String">
        delete from hy_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>