<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyOrderMapper">
    
    <resultMap type="HyOrder" id="HyOrderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userPicture"    column="user_picture"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="tradeName"    column="trade_name"    />
        <result property="businessName"    column="business_name"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="state"    column="state"    />
        <result property="number"    column="number"    />
        <association property="hyUser"
			column="id" javaType="HyUser"
			resultMap="HyUserResult" />
    </resultMap>

 <resultMap type="HyUser" id="HyUserResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="telphone"    column="telphone"    />
    </resultMap>

    <sql id="selectHyOrderVo">
        select 
        o.id, 
        o.user_id, 
        o.user_picture,
        o.order_number, 
        o.trade_name, 
        o.business_name, 
        o.unit_price, 
        o.number,
        o.state,
        u.name
        from 
        hy_order o
        LEFT JOIN hy_user u ON o.user_id=u.id
        where 1=1
    </sql>
    
    <sql id="selectHyOrderVoTest">
        select 
        o.id, 
        o.user_id, 
        o.user_picture,
        o.order_number, 
        o.trade_name, 
        o.business_name, 
        o.unit_price, 
        o.number,
        o.state
        from 
        hy_order o
        where 1=1
    </sql>
    
    <sql id="selectHyOrderState">
     select 
        o.id, 
        o.state
        from 
        hy_order o
        LEFT JOIN hy_user u ON o.user_id=u.id
        where 1=1
    </sql>

    <select id="selectHyOrderList" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        	
            <if test="hyUser != null and hyUser != ''">
            <if test="hyUser.name != null and hyUser.name != ''"> and u.name = #{hyUser.name}</if>
            </if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="tradeName != null  and tradeName != ''"> and trade_name like concat('%', #{tradeName}, '%')</if>
            <if test="businessName != null  and businessName != ''"> and business_name like concat('%', #{businessName}, '%')</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="state != null and state!='' "> and state = #{state}</if>
            <if test="number != null "> and number = #{number}</if>
      
    </select>
    
    <select id="selectHyOrderListTest" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderVoTest"/>
        
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="tradeName != null  and tradeName != ''"> and trade_name like concat('%', #{tradeName}, '%')</if>
            <if test="businessName != null  and businessName != ''"> and business_name like concat('%', #{businessName}, '%')</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="state != null and state!='' "> and state = #{state}</if>
            <if test="number != null "> and number = #{number}</if>
      
    </select>
    
     <select id="selectHyOrderState" parameterType="HyOrder" resultMap="HyOrderResult">
        <include refid="selectHyOrderState"/>
    </select>
    
    <select id="selectHyOrderById" parameterType="Long" resultMap="HyOrderResult">
        <include refid="selectHyOrderVo"/>
        and o.id = #{id}
    </select>
        
    <insert id="insertHyOrder" parameterType="HyOrder" useGeneratedKeys="true" keyProperty="id">
        insert into hy_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="userPicture != null">user_Picture,</if>
            <if test="tradeName != null">trade_name,</if>
            <if test="businessName != null">business_name,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="state != null">state,</if>
            <if test="number != null">number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="userPicture != null">#{userPicture},</if>
            <if test="tradeName != null">#{tradeName},</if>
            <if test="businessName != null">#{businessName},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="state != null">#{state},</if>
            <if test="number != null">#{number},</if>
         </trim>
    </insert>

    <update id="updateHyOrder" parameterType="HyOrder">
        update hy_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="tradeName != null">trade_name = #{tradeName},</if>
            <if test="businessName != null">business_name = #{businessName},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="state != null">state = #{state},</if>
            <if test="number != null">number = #{number},</if>
            <if test="userPicture != null and userPicture !=''">user_picture = #{userPicture},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyOrderById" parameterType="Long">
        delete from hy_order where id = #{id}
    </delete>

    <delete id="deleteHyOrderByIds" parameterType="String">
        delete from hy_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>