<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyPaymentOffsetMapper">
    
    <resultMap type="HyPaymentOffset" id="HyPaymentOffsetResult">
        <result property="id"    column="id"    />
        <result property="offsetPreson"    column="offset_preson"    />
        <result property="offsetOperationDate"    column="offset_operation_date"    />
        <result property="offsetYear"    column="offset_year"    />
        <result property="offsetMonth"    column="offset_month"    />
        <result property="offsetMoney"    column="offset_money"    />
        <result property="offsetDate"    column="offset_date"    />
        <result property="auditProcess"    column="audit_process"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="houseId"    column="house_id"    />
        <result property="costId"    column="cost_id"    />
        <association property="hyHouseInf" column="id"
			javaType="HyHouseInf" resultMap="HyHouseInfResult" />
		<association property="hyOwnerRegistration" column="id"
			javaType="HyOwnerRegistration" resultMap="HyOwnerRegistrationResult" />
		<association property="hyCost" column="id"
			javaType="HyCost" resultMap="HyCostResult" />
    </resultMap>
    
    <resultMap type="HyHouseInf" id="HyHouseInfResult">
		<result property="id" column="id" />
		<result property="houseNumber" column="house_number" />
		<result property="houseName" column="house_name" />
		<result property="builtUpArea" column="built_up_area" />
		<result property="groupArea" column="group_area" />
		<result property="unit" column="unit" />
		<result property="floor" column="floor" />
		<result property="sameUnitNumber" column="same_unit_number" />
		<result property="areaType" column="area_type" />
		<result property="bilingArea" column="biling_area" />
		<result property="insideArea" column="inside_area" />
		<result property="sharedArea" column="shared_area" />
		<result property="gardenArea" column="garden_area" />
		<result property="basementArea" column="basement_area" />
		<result property="sharedLobbyArea" column="shared_lobby_area" />
		<result property="sharedLayersArea" column="shared_layers_area" />
		<result property="shareRatio" column="share_ratio" />
		<result property="buildingStructure"
			column="building_structure" />
		<result property="parametersPer" column="parameters_per" />
		<result property="houseLayout" column="house_layout" />
		<result property="floorHeight" column="floor_height" />
		<result property="natureProperty" column="nature_property" />
		<result property="natureUse" column="nature_use" />
		<result property="usageStatus" column="usage_status" />
		<result property="occupancyStatus" column="occupancy_status" />
		<result property="deliveryStatus" column="delivery_status" />
		<result property="houseType" column="house_type" />
		<result property="salesStatus" column="sales_status" />
		<result property="purchaseContract" column="purchase_contract" />
		<result property="marketingNum" column="marketing_num" />
		<result property="deliveryStatusBefore" column="delivery_status_before" />
		<result property="changeDate" column="change_date" />
		<result property="changePerson" column="change_person" />
		<result property="remark" column="remark" />
		<result property="buildingId" column="building_id" />
		<result property="ownerId" column="owner_id" />
	</resultMap>
	
	<resultMap type="HyOwnerRegistration"
		id="HyOwnerRegistrationResult">
		<result property="id" column="id" />
		<result property="ownerName" column="owner_name" />
		<result property="fixedTelephone" column="fixed_telephone" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="idCardNum" column="id_card_num" />
		<result property="suplierCategory" column="suplier_category" />
		<result property="lockedNot" column="locked_not" />
		<result property="accessNum" column="access_num" />
		<result property="certificateName" column="certificate_name" />
		<result property="customerCategoy" column="customer_categoy" />
		<result property="faxPhone" column="fax_phone" />
		<result property="contactAddress" column="contact_address" />
		<result property="postalCode" column="postal_code" />
		<result property="postalPreson" column="postal_preson" />
		<result property="eMail" column="e_mail" />
		<result property="phoneAccount" column="phone_account" />
		<result property="bindingPhoneNum" column="binding_phone_num" />
		<result property="coOwner" column="co_owner" />
		<result property="ownerIdentification"
			column="owner_identification" />
		<result property="firName" column="fir_name" />
		<result property="secName" column="sec_name" />
		<result property="gender" column="gender" />
		<result property="nationality" column="nationality" />
		<result property="birthDate" column="birth_date" />
		<result property="workUnit" column="work_unit" />
		<result property="ownerJob" column="owner_job" />
		<result property="ownerHobby" column="owner_hobby" />
		<result property="ownerId" column="owner_id" />
		<result property="taxpayerNum" column="taxpayer_num" />
		<result property="ownerAddPhone" column="owner_add_phone" />
		<result property="bankAccount" column="bank_account" />
		<result property="collectionCategory"
			column="collection_category" />
		<result property="bankType" column="bank_type" />
		<result property="bankNum" column="bank_num" />
		<result property="bankAccountName" column="bank_account_name" />
		<result property="projectId" column="project_id" />
	</resultMap>
	
	<resultMap type="HyCost" id="HyCostResult">
		<result property="id" column="id" />
		<result property="costItems" column="cost_items" />
		<result property="expenseType" column="expense_type" />
		<result property="parentId" column="parent_id" />
		<result property="ancestors" column="ancestors" />
		<result property="standardName" column="standard_name" />
		<result property="feeNum" column="fee_num" />
		<result property="chargingStandard" column="charging_standard" />
		<result property="calculationMehod" column="calculation_mehod" />
		<result property="standardDescription"
			column="standard_description" />
		<result property="standardState" column="standard_state" />
		<result property="proportionDamags" column="proportion_damags" />
		<result property="projectModification"
			column="project_modification" />
		<result property="billingCycle" column="billing_cycle" />
		<result property="bilingStartDate" column="biling_start_date" />
		<result property="bilingEndDate" column="biling_end_date" />
		<result property="auditResultsReason"
			column="audit_results_reason" />
		<result property="feeDateOld" column="fee_date_old" />
		<result property="feeDate" column="fee_date" />
		<result property="dueDateOld" column="due_date_old" />
		<result property="dueDate" column="due_date" />
		<result property="amountReceivableOld"
			column="amount_receivable_old" />
		<result property="amountReceivable" column="amount_receivable" />
		<result property="amountActually" column="amount_actually" />
		<result property="remarks" column="remarks" />
		<result property="operationDate" column="operation_date" />
		<result property="operationUser" column="operation_user" />
		<result property="operationType" column="operation_type" />
		<result property="deleteReason" column="delete_reason" />
		<result property="advancePaymentOffset"
			column="advance_payment_offset" />
		<result property="writeOff" column="write_off" />
		<result property="refundAmount" column="refund_amount" />
		<result property="amountArrears" column="amount_arrears" />
		<result property="collectionStatus" column="collection_status" />
		<result property="frozenPerson" column="frozen_person" />
		<result property="frozenState" column="frozen_state" />
		<result property="frozenDate" column="frozen_date" />
		<result property="frozenReason" column="frozen_reason" />
		<result property="advanceStatus" column="advance_status" />
		<result property="transferTenants" column="transfer_tenants" />
		<result property="changeDate" column="change_date" />
		<result property="billingMethod" column="billing_method" />
		<result property="calculationStandard"
			column="calculation_standard" />
	</resultMap>
	
    <sql id="selectHyPaymentOffsetVo">
        select 
        p.id, 
        p.offset_preson, 
        p.offset_operation_date, 
        p.offset_year, 
        p.offset_month, 
        p.offset_money, 
        p.offset_date, 
        p.audit_process, 
        p.audit_status, 
        p.house_id, 
        p.cost_id, 
        h.house_number, 
        o.owner_name, 
        c.cost_items, 
        c.due_date,
        c.amount_receivable 
        from 
        hy_payment_offset p
        LEFT JOIN hy_house_inf h ON p.house_id=h.id
        LEFT JOIN hy_owner_registration o ON h.owner_id = o.id
        LEFT JOIN house_and_cost a ON a.house_id=h.id
        LEFT JOIN hy_cost c ON p.cost_id=c.id
    </sql>

    <select id="selectHyPaymentOffsetList" parameterType="HyPaymentOffset" resultMap="HyPaymentOffsetResult">
        <include refid="selectHyPaymentOffsetVo"/>
        <where>  
            <if test="offsetPreson != null  and offsetPreson != ''"> and p.offset_preson = #{offsetPreson}</if>
            <if test="offsetOperationDate != null "> and p.offset_operation_date = #{offsetOperationDate}</if>
            <if test="offsetYear != null  and offsetYear != ''"> and p.offset_year = #{offsetYear}</if>
            <if test="offsetMonth != null  and offsetMonth != ''"> and p.offset_month = #{offsetMonth}</if>
            <if test="offsetMoney != null "> and p.offset_money = #{offsetMoney}</if>
            <if test="offsetDate != null "> and p.offset_date = #{offsetDate}</if>
            <if test="auditProcess != null  and auditProcess != ''"> and p.audit_process = #{auditProcess}</if>
            and p.audit_status = "1"
            <if test="houseId != null "> and p.house_id = #{houseId}</if>
            <if test="costId != null "> and p.cost_id = #{costId}</if>
        </where>
    </select>
    <select id="selectHyPaymentOffsetListAAA" parameterType="HyPaymentOffset" resultMap="HyPaymentOffsetResult">
        <include refid="selectHyPaymentOffsetVo"/>
        <where>  
             <if test="offsetPreson != null  and offsetPreson != ''"> and p.offset_preson = #{offsetPreson}</if>
            <if test="offsetOperationDate != null "> and p.offset_operation_date = #{offsetOperationDate}</if>
            <if test="offsetYear != null  and offsetYear != ''"> and p.offset_year = #{offsetYear}</if>
            <if test="offsetMonth != null  and offsetMonth != ''"> and p.offset_month = #{offsetMonth}</if>
            <if test="offsetMoney != null "> and p.offset_money = #{offsetMoney}</if>
            <if test="offsetDate != null "> and p.offset_date = #{offsetDate}</if>
            <if test="auditProcess != null  and auditProcess != ''"> and p.audit_process = #{auditProcess}</if>
            and p.audit_status = "0"
            <if test="houseId != null "> and p.house_id = #{houseId}</if>
            <if test="costId != null "> and p.cost_id = #{costId}</if>
        </where>
    </select>
    
    <select id="selectHyPaymentOffsetListAll" parameterType="HyPaymentOffset" resultMap="HyPaymentOffsetResult">
        <include refid="selectHyPaymentOffsetVo"/>
        <where>  
            <if test="offsetPreson != null  and offsetPreson != ''"> and p.offset_preson = #{offsetPreson}</if>
            <if test="offsetOperationDate != null "> and p.offset_operation_date = #{offsetOperationDate}</if>
            <if test="offsetYear != null  and offsetYear != ''"> and p.offset_year = #{offsetYear}</if>
            <if test="offsetMonth != null  and offsetMonth != ''"> and p.offset_month = #{offsetMonth}</if>
            <if test="offsetMoney != null "> and p.offset_money = #{offsetMoney}</if>
            <if test="offsetDate != null "> and p.offset_date = #{offsetDate}</if>
            <if test="auditProcess != null  and auditProcess != ''"> and p.audit_process = #{auditProcess}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and p.audit_status = #{auditStatus}</if>
            <if test="houseId != null "> and p.house_id = #{houseId}</if>
            <if test="costId != null "> and p.cost_id = #{costId}</if>
            
            <if test="hyOwnerRegistration.ownerName != null  and hyOwnerRegistration.ownerName != ''"> and o.owner_name = #{hyOwnerRegistration.ownerName}</if>
            <if test="hyHouseInf.houseNumber != null  and hyHouseInf.houseNumber != ''"> and h.house_number = #{hyHouseInf.houseNumber}</if>
            <if test="hyHouseInf.houseName != null  and hyHouseInf.houseName != ''"> and h.house_name = #{hyHouseInf.houseName}</if>
            <if test="hyHouseInf.natureProperty != null  and hyHouseInf.natureProperty != ''"> and h.nature_property = #{hyHouseInf.natureProperty}</if>
            <if test="hyCost.costItems != null  and hyCost.costItems != ''"> and c.cost_items = #{hyCost.costItems}</if>
            
        </where>
    </select>
    
    <select id="selectHyPaymentOffsetById" parameterType="Long" resultMap="HyPaymentOffsetResult">
        <include refid="selectHyPaymentOffsetVo"/>
        where p.id = #{id}
    </select>
        
    <insert id="insertHyPaymentOffset" parameterType="HyPaymentOffset">
        insert into hy_payment_offset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="offsetPreson != null">offset_preson,</if>
            <if test="offsetOperationDate != null"> offset_operation_date,</if>
            <if test="offsetYear != null">offset_year,</if>
            <if test="offsetMonth != null">offset_month,</if>
            <if test="offsetMoney != null">offset_money,</if>
            <if test="offsetDate != null">offset_date,</if>
            <if test="auditProcess != null">audit_process,</if>
            audit_status,
            <if test="houseId != null">house_id,</if>
            <if test="costId != null">cost_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="offsetPreson != null">#{offsetPreson},</if>
            <if test="offsetOperationDate != null">#{offsetOperationDate},</if>
            <if test="offsetYear != null">#{offsetYear},</if>
            <if test="offsetMonth != null">#{offsetMonth},</if>
            <if test="offsetMoney != null">#{offsetMoney},</if>
            <if test="offsetDate != null">#{offsetDate},</if>
            <if test="auditProcess != null">#{auditProcess},</if>
            "0",
            <if test="houseId != null">#{houseId},</if>
            <if test="costId != null">#{costId},</if>
         </trim>
    </insert>

    <update id="updateHyPaymentOffset" parameterType="HyPaymentOffset">
        update hy_payment_offset
        <trim prefix="SET" suffixOverrides=",">
            <if test="offsetPreson != null and offsetPreson !=''">offset_preson = #{offsetPreson},</if>
            <if test="offsetYear != null and offsetYear !=''">offset_year = #{offsetYear},</if>
            <if test="offsetMonth != null and offsetMonth !=''">offset_month = #{offsetMonth},</if>
            <if test="offsetMoney != null and offsetMoney !=''">offset_money = #{offsetMoney},</if>
            <if test="offsetDate != null and offsetDate !=''">offset_date = #{offsetDate},</if>
            <if test="auditProcess != null and auditProcess !=''">audit_process = #{auditProcess},</if>
            <if test="auditStatus != null and auditStatus !=''">audit_status = #{auditStatus},</if>
            <if test="houseId != null">house_id = #{houseId},</if>
            <if test="costId != null">cost_id = #{costId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyPaymentOffsetById" parameterType="Long">
        delete from hy_payment_offset where id = #{id}
    </delete>

    <delete id="deleteHyPaymentOffsetByIds" parameterType="String">
        delete from hy_payment_offset where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>