<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyPictureMapper">
    
    <resultMap type="HyPicture" id="HyPictureResult">
        <result property="id"    column="id"    />
        <result property="pcitureAddress"    column="pciture_address"    />
        <result property="productId"    column="product_id"    />
    </resultMap>

    <sql id="selectHyPictureVo">
        select id, pciture_address, product_id from hy_picture
    </sql>
    
    <select id="selectHyPictureAddress" parameterType="HyPicture" resultMap="HyPictureResult">
        <include refid="selectHyPictureVo"/>
        where pciture_address=#{pcitureAddress}
    </select>

    <select id="selectHyPictureList" parameterType="HyPicture" resultMap="HyPictureResult">
        <include refid="selectHyPictureVo"/>
        <where>  
            <if test="pcitureAddress != null  and pcitureAddress != ''"> and pciture_address = #{pcitureAddress}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
        </where>
    </select>
    
    <select id="selectHyPictureById" parameterType="Long" resultMap="HyPictureResult">
        <include refid="selectHyPictureVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHyPicture" parameterType="HyPicture" useGeneratedKeys="true" keyProperty="id">
        insert into hy_picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pcitureAddress != null">pciture_address,</if>
            <if test="productId != null">product_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pcitureAddress != null">#{pcitureAddress},</if>
            <if test="productId != null">#{productId},</if>
         </trim>
    </insert>

    <update id="updateHyPicture" parameterType="HyPicture">
        update hy_picture
        <trim prefix="SET" suffixOverrides=",">
            <if test="pcitureAddress != null">pciture_address = #{pcitureAddress},</if>
            <if test="productId != null">product_id = #{productId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyPictureById" parameterType="Long">
        delete from hy_picture where id = #{id}
    </delete>

    <delete id="deleteHyPictureByIds" parameterType="String">
        delete from hy_picture where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>