<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyPollingPeriodMapper">
    
    <resultMap type="HyPollingPeriod" id="HyPollingPeriodResult">
        <result property="id"    column="id"    />
        <result property="periodName"    column="period_name"    />
        <result property="type"    column="type"    />
        <result property="intervalValue"    column="interval_value"    />
        <result property="isStart"    column="is_start"    />
        <result property="schemeId"    column="scheme_id"    />
    </resultMap>

    <sql id="selectHyPollingPeriodVo">
        select id, period_name, type, interval_value, is_start, scheme_id from hy_polling_period
    </sql>

    <select id="selectHyPollingPeriodList" parameterType="HyPollingPeriod" resultMap="HyPollingPeriodResult">
        <include refid="selectHyPollingPeriodVo"/>
        <where>  
            <if test="periodName != null  and periodName != ''"> and period_name like concat('%', #{periodName}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="intervalValue != null  and intervalValue != ''"> and interval_value = #{intervalValue}</if>
            <if test="isStart != null  and isStart != ''"> and is_start = #{isStart}</if>
            <if test="schemeId != null  and schemeId != ''"> and scheme_id = #{schemeId}</if>
        </where>
    </select>
    
    <select id="selectHyPollingPeriodById" parameterType="Long" resultMap="HyPollingPeriodResult">
        <include refid="selectHyPollingPeriodVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHyPollingPeriod" parameterType="HyPollingPeriod" useGeneratedKeys="true" keyProperty="id">
        insert into hy_polling_period
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="periodName != null">period_name,</if>
            <if test="type != null">type,</if>
            <if test="intervalValue != null">interval_value,</if>
            <if test="isStart != null">is_start,</if>
            <if test="schemeId != null">scheme_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="periodName != null">#{periodName},</if>
            <if test="type != null">#{type},</if>
            <if test="intervalValue != null">#{intervalValue},</if>
            <if test="isStart != null">#{isStart},</if>
            <if test="schemeId != null">#{schemeId},</if>
         </trim>
    </insert>

    <update id="updateHyPollingPeriod" parameterType="HyPollingPeriod">
        update hy_polling_period
        <trim prefix="SET" suffixOverrides=",">
            <if test="periodName != null">period_name = #{periodName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="intervalValue != null">interval_value = #{intervalValue},</if>
            <if test="isStart != null">is_start = #{isStart},</if>
            <if test="schemeId != null">scheme_id = #{schemeId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyPollingPeriodById" parameterType="Long">
        delete from hy_polling_period where id = #{id}
    </delete>

    <delete id="deleteHyPollingPeriodByIds" parameterType="String">
        delete from hy_polling_period where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>