<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyProductMapper">
    
    <resultMap type="HyProduct" id="HyProductResult">
        <result property="id"    column="id"    />
        <result property="productNumber"    column="product_number"    />
        <result property="productName"    column="product_name"    />
        <result property="briefIntroduction"    column="brief_introduction"    />
        <result property="productType"    column="product_type"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="currentPrice"    column="current_price"    />
        <result property="soldNumber"    column="sold_number"    />
        <result property="stockNumber"    column="stock_number"    />
        <result property="state"    column="state"    />
        <result property="productOrderBy"    column="product_order_by"    />
        <result property="shopId"    column="shop_id"    />
        <result property="lableId"    column="lable_id"    />
         <association property="hyShop" column="id"
			javaType="HyShop" resultMap="HyShopResult" />
         <association property="hyPicture" column="id"
			javaType="HyPicture" resultMap="HyPictureResult" />
         <association property="hyLable" column="id"
			javaType="HyLable" resultMap="HyLableResult" />
         <association property="hyDeatilPicture" column="id"
			javaType="HyDeatilPicture" resultMap="HyDeatilPictureResult" />
    </resultMap>
    
    <resultMap type="HyDeatilPicture" id="HyDeatilPictureResult">
        <result property="id"    column="id"    />
        <result property="deatilPicture"    column="deatil_picture"    />
        <result property="productId"    column="product_id"    />
    </resultMap>
    
    <resultMap type="HyLable" id="HyLableResult">
        <result property="id"    column="id"    />
        <result property="lableName"    column="lable_name"    />
    </resultMap>
    
    <resultMap type="HyShop" id="HyShopResult">
        <result property="id"    column="id"    />
        <result property="shopName"    column="shop_name"    />
        <result property="shopAddress"    column="shop_address"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="businessHours"    column="business_hours"    />
        <result property="businessId"    column="business_id"    />
    </resultMap>

 	<resultMap type="HyPicture" id="HyPictureResult">
        <result property="id"    column="id"    />
        <result property="pictureAddress"    column="picture_address"    />
        <result property="productId"    column="product_id"    />
    </resultMap>

    <sql id="selectHyProductVo">
        select 
        p.id, 
        p.product_number, 
        p.product_name, 
        p.brief_introduction, 
        p.product_type, 
        p.original_price, 
        p.current_price, 
        p.sold_number, 
        p.stock_number, 
        p.state, 
        p.product_order_by,
        p.shop_id,
        p.lable_id,
        s.shop_name,
        a.picture_address,
        l.lable_name,
        d.deatil_picture
        from 
        hy_product p
        LEFT JOIN hy_shop s ON  p.shop_id=s.id
        LEFT JOIN hy_picture a ON a.product_id = p.id
        LEFT JOIN hy_lable l ON p.lable_id=l.id
        LEFT JOIN hy_deatil_picture d ON d.product_id=p.id
        where 1=1
    </sql>
    
    <select id="selectHyProductList" parameterType="HyProduct" resultMap="HyProductResult">
        <include refid="selectHyProductVo"/>
            <if test="id != null"> and p.id = #{id}</if>
            <if test="productNumber != null  and productNumber != ''"> and p.product_number = #{productNumber}</if>
            <if test="productName != null  and productName != ''"> and p.product_name like concat('%', #{productName}, '%')</if>
            <if test="briefIntroduction != null  and briefIntroduction != ''"> and p.brief_introduction = #{briefIntroduction}</if>
            <if test="productType != null  and productType != ''"> and p.product_type = #{productType}</if>
            <if test="originalPrice != null "> and p.original_price = #{originalPrice}</if>
            <if test="currentPrice != null "> and p.current_price = #{currentPrice}</if>
            <if test="soldNumber != null "> and p.sold_number = #{soldNumber}</if>
            <if test="stockNumber != null "> and p.stock_number = #{stockNumber}</if>
            <if test="state != null  and state != ''"> and p.state = #{state}</if>
            <if test="productOrderBy != null "> and p.product_order_by = #{productOrderBy}</if>
            <if test="shopId != null "> and p.shop_id = #{shopId}</if>
            <if test="lableId != null "> and p.lable_id = #{lableId}</if>
    </select>
    
    <select id="selectHyProductById" parameterType="Long" resultMap="HyProductResult">
        <include refid="selectHyProductVo"/>
        and p.id = #{id}
    </select>
    
    <insert id="insertHyProduct" parameterType="HyProduct" useGeneratedKeys="true" keyProperty="id">
        insert into hy_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productNumber != null">product_number,</if>
            <if test="productName != null">product_name,</if>
            <if test="briefIntroduction != null">brief_introduction,</if>
            <if test="productType != null">product_type,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="currentPrice != null">current_price,</if>
            <if test="soldNumber != null">sold_number,</if>
            <if test="stockNumber != null">stock_number,</if>
            <if test="state != null">state,</if>
            <if test="productOrderBy != null">product_order_by,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="lableId != null">lable_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productNumber != null">#{productNumber},</if>
            <if test="productName != null">#{productName},</if>
            <if test="briefIntroduction != null">#{briefIntroduction},</if>
            <if test="productType != null">#{productType},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="currentPrice != null">#{currentPrice},</if>
            <if test="soldNumber != null">#{soldNumber},</if>
            <if test="stockNumber != null">#{stockNumber},</if>
            <if test="state != null">#{state},</if>
            <if test="productOrderBy != null">#{productOrderBy},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="lableId != null">#{lableId},</if>
         </trim>
    </insert>
    <update id="updateHyProduct" parameterType="HyProduct">
        update hy_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productNumber != null">product_number = #{productNumber},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="briefIntroduction != null">brief_introduction = #{briefIntroduction},</if>
            <if test="productType != null">product_type = #{productType},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="currentPrice != null">current_price = #{currentPrice},</if>
            <if test="soldNumber != null">sold_number = #{soldNumber},</if>
            <if test="stockNumber != null">stock_number = #{stockNumber},</if>
            <if test="state != null">state = #{state},</if>
            <if test="productOrderBy != null">product_order_by = #{productOrderBy},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="lableId != null">lable_id = #{lableId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyProductById" parameterType="Long">
        delete from hy_product where id = #{id}
    </delete>

    <delete id="deleteHyProductByIds" parameterType="String">
        delete from hy_product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>