<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyReportMapper">
    
    <resultMap type="HyReport" id="HyReportResult">
        <result property="id"    column="id"    />
        <result property="reportNumber"    column="report_number"    />
        <result property="reportAddress"    column="report_address"    />
        <result property="reportArea"    column="report_area"    />
        <result property="reportLevel"    column="report_level"    />
        <result property="reportClassify"    column="report_classify"    />
        <result property="reportContent"    column="report_content"    />
        <result property="reportDescription"    column="report_description"    />
        <result property="reportDate"    column="report_date"    />
        <result property="reportQuality"    column="report_quality"    />
        <result property="reportState"    column="report_state"    />
        <result property="reportAudit"    column="report_audit"    />
        <result property="reportEvaluate"    column="report_evaluate"    />
        <result property="reportCost"    column="report_cost"    />
        <result property="reportConsumable"    column="report_consumable"    />
        <result property="reportTotal"    column="report_total"    />
        <result property="reportVisit"    column="report_visit"    />
        <result property="reportPush"    column="report_push"    />
        <result property="reportPicture"    column="report_picture"    />
        <result property="reportDuration"    column="report_duration"    />
        <result property="maintenanceDifficulty"    column="maintenance_difficulty"    />
        <result property="quartersId"    column="quarters_id"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="recipientsId"    column="recipients_id"    />
        <association property="hyOwnerRegistration"
			column="id" javaType="HyOwnerRegistration"
			resultMap="HyOwnerRegistrationResult" />
		<association property="hyResidentialQuarters"
			column="id" javaType="HyResidentialQuarters"
			resultMap="HyResidentialQuartersResult" />
        <association property="hyRecipients"
			column="id" javaType="HyRecipients"
			resultMap="HyRecipientsResult" />
        <association property="sysUser"
			column="id" javaType="SysUser"
			resultMap="SysUserResult" />
    </resultMap>
    
     <resultMap type="HyResidentialQuarters" id="HyResidentialQuartersResult">
        <result property="id"    column="id"    />
        <result property="communityAddress"    column="community_address"    />
        <result property="communityName"    column="community_name"    />
        <result property="contacts"    column="contacts"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="contactQq"    column="Contact_QQ"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="county"    column="county"    />
        <result property="address"    column="address"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="customerLink"    column="customer_link"    />
        <result property="externalLinks"    column="external_links"    />
        <result property="propertyId"    column="property_id"    />
    </resultMap>

	<resultMap type="HyRecipients" id="HyRecipientsResult">
        <result property="id"    column="id"    />
        <result property="personType"    column="person_type"    />
        <result property="recipientsDept"    column="recipients_dept"    />
        <result property="recipientsEmployee"    column="recipients_employee"    />
        <result property="recipientsPhone"    column="recipients_phone"    />
        <result property="notificationWay"    column="notification_way"    />
        <result property="recipientsProvince"    column="recipients_province"    />
        <result property="recipientsCity"    column="recipients_city"    />
        <result property="recipientsArea"    column="recipients_area"    />
        <result property="singular"    column="singular"    />
        <result property="reportId"    column="report_id"    />
    </resultMap>

    	<resultMap type="HyOwnerRegistration"
		id="HyOwnerRegistrationResult">
		<result property="id" column="id" />
		<result property="ownerName" column="owner_name" />
		<result property="fixedTelephone" column="fixed_telephone" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="idCardNum" column="id_card_num" />
		<result property="suplierCategory" column="suplier_category" />
		<result property="lockedNot" column="locked_not" />
		<result property="accessNum" column="access_num" />
		<result property="certificateName" column="certificate_name" />
		<result property="customerCategoy" column="customer_categoy" />
		<result property="faxPhone" column="fax_phone" />
		<result property="contactAddress" column="contact_address" />
		<result property="postalCode" column="postal_code" />
		<result property="postalPreson" column="postal_preson" />
		<result property="eMail" column="e_mail" />
		<result property="phoneAccount" column="phone_account" />
		<result property="bindingPhoneNum" column="binding_phone_num" />
		<result property="coOwner" column="co_owner" />
		<result property="ownerIdentification"
			column="owner_identification" />
		<result property="firName" column="fir_name" />
		<result property="secName" column="sec_name" />
		<result property="gender" column="gender" />
		<result property="nationality" column="nationality" />
		<result property="birthDate" column="birth_date" />
		<result property="workUnit" column="work_unit" />
		<result property="ownerJob" column="owner_job" />
		<result property="ownerHobby" column="owner_hobby" />
		<result property="ownerId" column="owner_id" />
		<result property="taxpayerNum" column="taxpayer_num" />
		<result property="ownerAddPhone" column="owner_add_phone" />
		<result property="bankAccount" column="bank_account" />
		<result property="collectionCategory"
			column="collection_category" />
		<result property="bankType" column="bank_type" />
		<result property="bankNum" column="bank_num" />
		<result property="bankAccountName" column="bank_account_name" />
		<result property="projectId" column="project_id" />
	</resultMap>
    
    <resultMap type="SysUser" id="SysUserResult">
		<id     property="userId"        column="user_id"         />
		<result property="deptId"        column="dept_id"         />
		<result property="loginName"     column="login_name"      />
		<result property="userName"      column="user_name"       />
		<result property="userType"      column="user_type"       />
		<result property="email"         column="email"           />
		<result property="phonenumber"   column="phonenumber"     />
		<result property="sex"           column="sex"             />
		<result property="avatar"        column="avatar"          />
		<result property="password"      column="password"        />
		<result property="salt"          column="salt"            />
		<result property="status"        column="status"          />
		<result property="delFlag"       column="del_flag"        />
		<result property="loginIp"       column="login_ip"        />
		<result property="loginDate"     column="login_date"      />
		<result property="pwdUpdateDate" column="pwd_update_date" />
		<result property="createBy"      column="create_by"       />
		<result property="createTime"    column="create_time"     />
		<result property="updateBy"      column="update_by"       />
		<result property="updateTime"    column="update_time"     />
		<result property="remark"        column="remark"          />
	</resultMap>

    <sql id="selectHyReportVo">
        select 
        r.id, 
        r.report_number, 
        r.report_address, 
        r.report_area, 
        r.report_level, 
        r.report_classify, 
        r.report_content, 
        r.report_description, 
        r.report_date, 
        r.report_quality, 
        r.report_state, 
        r.report_audit, 
        r.report_evaluate, 
        r.report_cost, 
        r.report_consumable, 
        r.report_total, 
        r.report_visit, 
        r.report_push, 
        r.report_picture, 
        r.report_duration, 
        r.maintenance_difficulty, 
        r.quarters_id,
        r.owner_id,
        r.recipients_id,
        o.owner_name,
        o.mobile_phone,
        q.community_name,
        e.recipients_employee,
        e.recipients_phone,
        u.user_name 
        from 
        hy_report r
        LEFT JOIN hy_owner_registration o ON r.owner_id=o.id
        LEFT JOIN hy_residential_quarters q ON r.quarters_id=q.id
        LEFT JOIN hy_recipients e ON r.recipients_id=e.id
        left join sys_user u on e.recipients_employee = u.user_id
    </sql>
    
    <sql id="selectHyReportCount">
        select 
       COUNT(*) singular
        from 
        hy_report r
       LEFT JOIN hy_owner_registration o ON o.owner_id=o.id
       LEFT JOIN hy_residential_quarters q ON r.quarters_id=q.id
        LEFT JOIN hy_recipients e ON r.recipients_id=e.id
        left join sys_user u on e.recipients_employee = u.user_id
    </sql>

    <select id="selectHyReportList" parameterType="HyReport" resultMap="HyReportResult">
        <include refid="selectHyReportVo"/>
        <where>  
            <if test="id != null  and id != ''"> and r.id = #{id}</if>
            <if test="reportNumber != null  and reportNumber != ''"> and r.report_number = #{reportNumber}</if>
            <if test="reportAddress != null  and reportAddress != ''"> and r.report_address = #{reportAddress}</if>
            <if test="reportArea != null  and reportArea != ''"> and r.report_area = #{reportArea}</if>
            <if test="reportLevel != null  and reportLevel != ''"> and r.report_level = #{reportLevel}</if>
            <if test="reportClassify != null  and reportClassify != ''"> and r.report_classify = #{reportClassify}</if>
            <if test="reportContent != null  and reportContent != ''"> and r.report_content = #{reportContent}</if>
            <if test="reportDescription != null  and reportDescription != ''"> and r.report_description = #{reportDescription}</if>
            <if test="reportDate != null "> and r.report_date = #{reportDate}</if>
            <if test="reportQuality != null  and reportQuality != ''"> and r.report_quality = #{reportQuality}</if>
            <if test="reportState != null  and reportState != ''"> and r.report_state = #{reportState}</if>
            <if test="reportAudit != null  and reportAudit != ''"> and r.report_audit = #{reportAudit}</if>
            <if test="reportEvaluate != null  and reportEvaluate != ''"> and r.report_evaluate = #{reportEvaluate}</if>
            <if test="reportCost != null "> and r.report_cost = #{reportCost}</if>
            <if test="reportConsumable != null "> and r.report_consumable = #{reportConsumable}</if>
            <if test="reportTotal != null "> and r.report_total = #{reportTotal}</if>
            <if test="reportVisit != null  and reportVisit != ''"> and r.report_visit = #{reportVisit}</if>
            <if test="reportPush != null  and reportPush != ''"> and r.report_push = #{reportPush}</if>
            <if test="reportPicture != null  and reportPicture != ''"> and r.report_picture = #{reportPicture}</if>
            <if test="reportDuration != null  and reportDuration != ''"> and r.report_duration = #{reportDuration}</if>
            <if test="maintenanceDifficulty != null  and maintenanceDifficulty != ''"> and r.maintenance_difficulty = #{maintenanceDifficulty}</if>
            <if test="quartersId != null "> and r.quarters_id = #{quartersId}</if>
            <if test="ownerId != null "> and r.owner_id = #{ownerId}</if>
            <if test="recipientsId != null "> and r.recipients_id = #{recipientsId}</if>
        </where>
    </select>
    
    <select id="selectHyReportListByDP" parameterType="HyReport" resultMap="HyReportResult">
        <include refid="selectHyReportVo"/>
        <where>  
            <if test="reportNumber != null  and reportNumber != ''"> and r.report_number = #{reportNumber}</if>
            <if test="reportAddress != null  and reportAddress != ''"> and r.report_address = #{reportAddress}</if>
            <if test="reportArea != null  and reportArea != ''"> and r.report_area = #{reportArea}</if>
            <if test="reportLevel != null  and reportLevel != ''"> and r.report_level = #{reportLevel}</if>
            <if test="reportClassify != null  and reportClassify != ''"> and r.report_classify = #{reportClassify}</if>
            <if test="reportContent != null  and reportContent != ''"> and r.report_content = #{reportContent}</if>
            <if test="reportDescription != null  and reportDescription != ''"> and r.report_description = #{reportDescription}</if>
            <if test="reportDate != null "> and r.report_date = #{reportDate}</if>
            <if test="reportQuality != null  and reportQuality != ''"> and r.report_quality = #{reportQuality}</if>
            and r.report_state = "1"
            <if test="reportAudit != null  and reportAudit != ''"> and r.report_audit = #{reportAudit}</if>
            <if test="reportEvaluate != null  and reportEvaluate != ''"> and r.report_evaluate = #{reportEvaluate}</if>
            <if test="reportCost != null "> and r.report_cost = #{reportCost}</if>
            <if test="reportConsumable != null "> and r.report_consumable = #{reportConsumable}</if>
            <if test="reportTotal != null "> and r.report_total = #{reportTotal}</if>
            <if test="reportVisit != null  and reportVisit != ''"> and r.report_visit = #{reportVisit}</if>
            <if test="reportPush != null  and reportPush != ''"> and r.report_push = #{reportPush}</if>
            <if test="reportPicture != null  and reportPicture != ''"> and r.report_picture = #{reportPicture}</if>
            <if test="reportDuration != null  and reportDuration != ''"> and r.report_duration = #{reportDuration}</if>
            <if test="maintenanceDifficulty != null  and maintenanceDifficulty != ''"> and r.maintenance_difficulty = #{maintenanceDifficulty}</if>
            <if test="quartersId != null "> and r.quarters_id = #{quartersId}</if>
            <if test="ownerId != null "> and r.owner_id = #{ownerId}</if>
            <if test="recipientsId != null "> and r.recipients_id = #{recipientsId}</if>
        </where>
    </select>
    
    <select id="selectHyReportListByYP" parameterType="HyReport" resultMap="HyReportResult">
        <include refid="selectHyReportVo"/>
        <where>  
            <if test="reportNumber != null  and reportNumber != ''"> and r.report_number = #{reportNumber}</if>
            <if test="reportAddress != null  and reportAddress != ''"> and r.report_address = #{reportAddress}</if>
            <if test="reportArea != null  and reportArea != ''"> and r.report_area = #{reportArea}</if>
            <if test="reportLevel != null  and reportLevel != ''"> and r.report_level = #{reportLevel}</if>
            <if test="reportClassify != null  and reportClassify != ''"> and r.report_classify = #{reportClassify}</if>
            <if test="reportContent != null  and reportContent != ''"> and r.report_content = #{reportContent}</if>
            <if test="reportDescription != null  and reportDescription != ''"> and r.report_description = #{reportDescription}</if>
            <if test="reportDate != null "> and r.report_date = #{reportDate}</if>
            <if test="reportQuality != null  and reportQuality != ''"> and r.report_quality = #{reportQuality}</if>
            and r.report_state = "2"
            <if test="reportAudit != null  and reportAudit != ''"> and r.report_audit = #{reportAudit}</if>
            <if test="reportEvaluate != null  and reportEvaluate != ''"> and r.report_evaluate = #{reportEvaluate}</if>
            <if test="reportCost != null "> and r.report_cost = #{reportCost}</if>
            <if test="reportConsumable != null "> and r.report_consumable = #{reportConsumable}</if>
            <if test="reportTotal != null "> and r.report_total = #{reportTotal}</if>
            <if test="reportVisit != null  and reportVisit != ''"> and r.report_visit = #{reportVisit}</if>
            <if test="reportPush != null  and reportPush != ''"> and r.report_push = #{reportPush}</if>
            <if test="reportPicture != null  and reportPicture != ''"> and r.report_picture = #{reportPicture}</if>
            <if test="reportDuration != null  and reportDuration != ''"> and r.report_duration = #{reportDuration}</if>
            <if test="maintenanceDifficulty != null  and maintenanceDifficulty != ''"> and r.maintenance_difficulty = #{maintenanceDifficulty}</if>
            <if test="quartersId != null "> and r.quarters_id = #{quartersId}</if>
            <if test="ownerId != null "> and r.owner_id = #{ownerId}</if>
            <if test="recipientsId != null "> and r.recipients_id = #{recipientsId}</if>
        </where>
    </select>
    
    <select id="selectHyReportListByYWC" parameterType="HyReport" resultMap="HyReportResult">
        <include refid="selectHyReportVo"/>
        <where>  
            <if test="reportNumber != null  and reportNumber != ''"> and r.report_number = #{reportNumber}</if>
            <if test="reportAddress != null  and reportAddress != ''"> and r.report_address = #{reportAddress}</if>
            <if test="reportArea != null  and reportArea != ''"> and r.report_area = #{reportArea}</if>
            <if test="reportLevel != null  and reportLevel != ''"> and r.report_level = #{reportLevel}</if>
            <if test="reportClassify != null  and reportClassify != ''"> and r.report_classify = #{reportClassify}</if>
            <if test="reportContent != null  and reportContent != ''"> and r.report_content = #{reportContent}</if>
            <if test="reportDescription != null  and reportDescription != ''"> and r.report_description = #{reportDescription}</if>
            <if test="reportDate != null "> and r.report_date = #{reportDate}</if>
            <if test="reportQuality != null  and reportQuality != ''"> and r.report_quality = #{reportQuality}</if>
            and r.report_state = "3"
            <if test="reportAudit != null  and reportAudit != ''"> and r.report_audit = #{reportAudit}</if>
            <if test="reportEvaluate != null  and reportEvaluate != ''"> and r.report_evaluate = #{reportEvaluate}</if>
            <if test="reportCost != null "> and r.report_cost = #{reportCost}</if>
            <if test="reportConsumable != null "> and r.report_consumable = #{reportConsumable}</if>
            <if test="reportTotal != null "> and r.report_total = #{reportTotal}</if>
            <if test="reportVisit != null  and reportVisit != ''"> and r.report_visit = #{reportVisit}</if>
            <if test="reportPush != null  and reportPush != ''"> and r.report_push = #{reportPush}</if>
            <if test="reportPicture != null  and reportPicture != ''"> and r.report_picture = #{reportPicture}</if>
            <if test="reportDuration != null  and reportDuration != ''"> and r.report_duration = #{reportDuration}</if>
            <if test="maintenanceDifficulty != null  and maintenanceDifficulty != ''"> and r.maintenance_difficulty = #{maintenanceDifficulty}</if>
            <if test="quartersId != null "> and r.quarters_id = #{quartersId}</if>
            <if test="ownerId != null "> and r.owner_id = #{ownerId}</if>
            <if test="recipientsId != null "> and r.recipients_id = #{recipientsId}</if>
        </where>
    </select>
    
    <select id="selectHyReportCount" parameterType="Long" resultMap="HyReportResult">
        <include refid="selectHyReportCount"/>
        where r.recipients_id = #{id}
    </select>
    
    <select id="selectHyReportById" parameterType="Long" resultMap="HyReportResult">
        <include refid="selectHyReportVo"/>
        where r.id = #{id}
    </select>
        
    <insert id="insertHyReport" parameterType="HyReport" useGeneratedKeys="true" keyProperty="id">
        insert into hy_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportNumber != null">report_number,</if>
            <if test="reportAddress != null">report_address,</if>
            <if test="reportArea != null">report_area,</if>
            <if test="reportLevel != null">report_level,</if>
            <if test="reportClassify != null">report_classify,</if>
            <if test="reportContent != null">report_content,</if>
            <if test="reportDescription != null">report_description,</if>
            report_date,
            <if test="reportQuality != null">report_quality,</if>
            report_state,
            report_audit,
            <if test="reportEvaluate != null">report_evaluate,</if>
            <if test="reportCost != null">report_cost,</if>
            <if test="reportConsumable != null">report_consumable,</if>
            <if test="reportTotal != null">report_total,</if>
            <if test="reportVisit != null">report_visit,</if>
            <if test="reportPush != null">report_push,</if>
            <if test="reportPicture != null">report_picture,</if>
            <if test="reportDuration != null">report_duration,</if>
            <if test="maintenanceDifficulty != null">maintenance_difficulty,</if>
            <if test="quartersId != null">quarters_id,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="recipientsId != null">recipients_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportNumber != null">#{reportNumber},</if>
            <if test="reportAddress != null">#{reportAddress},</if>
            <if test="reportArea != null">#{reportArea},</if>
            <if test="reportLevel != null">#{reportLevel},</if>
            <if test="reportClassify != null">#{reportClassify},</if>
            <if test="reportContent != null">#{reportContent},</if>
            <if test="reportDescription != null">#{reportDescription},</if>
            NOW(),
            <if test="reportQuality != null">#{reportQuality},</if>
            "1",
            "1",
            <if test="reportEvaluate != null">#{reportEvaluate},</if>
            <if test="reportCost != null">#{reportCost},</if>
            <if test="reportConsumable != null">#{reportConsumable},</if>
            <if test="reportTotal != null">#{reportTotal},</if>
            <if test="reportVisit != null">#{reportVisit},</if>
            <if test="reportPush != null">#{reportPush},</if>
            <if test="reportPicture != null">#{reportPicture},</if>
            <if test="reportDuration != null">#{reportDuration},</if>
            <if test="maintenanceDifficulty != null">#{maintenanceDifficulty},</if>
            <if test="quarters != null">#{quarters},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="recipientsId != null">#{recipientsId},</if>
         </trim>
    </insert>

    <update id="updateHyReport" parameterType="HyReport">
        update hy_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportNumber != null">report_number = #{reportNumber},</if>
            <if test="reportAddress != null">report_address = #{reportAddress},</if>
            <if test="reportArea != null">report_area = #{reportArea},</if>
            <if test="reportLevel != null">report_level = #{reportLevel},</if>
            <if test="reportClassify != null">report_classify = #{reportClassify},</if>
            <if test="reportContent != null">report_content = #{reportContent},</if>
            <if test="reportDescription != null">reportDescription = #{reportDescription},</if>
            report_date = NOW(),
            <if test="reportQuality != null">report_quality = #{reportQuality},</if>
            <if test="reportState != null">report_state = #{reportState},</if>
            <if test="reportAudit != null">report_audit = #{reportAudit},</if>
            <if test="reportEvaluate != null">report_evaluate = #{reportEvaluate},</if>
            <if test="reportCost != null">report_cost = #{reportCost},</if>
            <if test="reportConsumable != null">report_consumable = #{reportConsumable},</if>
            <if test="reportTotal != null">report_total = #{reportTotal},</if>
            <if test="reportVisit != null">report_visit = #{reportVisit},</if>
            <if test="reportPush != null">report_push = #{reportPush},</if>
            <if test="reportPicture != null">report_picture = #{reportPicture},</if>
            <if test="reportDuration != null">report_duration = #{reportDuration},</if>
            <if test="maintenanceDifficulty != null">maintenance_difficulty = #{maintenanceDifficulty},</if>
            <if test="quarters != null">quarters_id = #{quarters},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="recipientsId != null">recipients_id = #{recipientsId},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="updateAudit" parameterType="HyReport">
        update hy_report set report_audit="2"
    </update>

    <delete id="deleteHyReportById" parameterType="Long">
        delete from hy_report where id = #{id}
    </delete>

    <delete id="deleteHyReportByIds" parameterType="String">
        delete from hy_report where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>