<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyRecipientsMapper">
    
    <resultMap type="HyRecipients" id="HyRecipientsResult">
        <result property="id"    column="id"    />
        <result property="personType"    column="person_type"    />
        <result property="recipientsProperty"    column="recipients_property"    />
        <result property="recipientsDept"    column="recipients_dept"    />
        <result property="recipientsEmployee"    column="recipients_employee"    />
        <result property="recipientsName"    column="recipients_name"    />
        <result property="recipientsPhone"    column="recipients_phone"    />
        <result property="notificationWay"    column="notification_way"    />
        <result property="notificationType"    column="notification_type"    />
        <result property="recipientsProvince"    column="recipients_province"    />
        <result property="recipientsCity"    column="recipients_city"    />
        <result property="recipientsArea"    column="recipients_area"    />
    </resultMap>

    <sql id="selectHyRecipientsVo">
        select 
        c.id, 
        c.person_type, 
        c.recipients_property, 
        c.recipients_dept, 
        c.recipients_employee, 
        c.recipients_name, 
        c.recipients_phone, 
        c.notification_way, 
        c.notification_type, 
        c.recipients_province, 
        c.recipients_city, 
        c.recipients_area
        from 
        hy_recipients c
    </sql>

    <select id="selectHyRecipientsList" parameterType="HyRecipients" resultMap="HyRecipientsResult">
        <include refid="selectHyRecipientsVo"/>
        <where>  
            <if test="personType != null  and personType != ''"> and c.person_type = #{personType}</if>
            <if test="recipientsProperty != null  and recipientsProperty != ''"> and c.recipients_property = #{recipientsProperty}</if>
            <if test="recipientsDept != null  and recipientsDept != ''"> and c.recipients_dept = #{recipientsDept}</if>
            <if test="recipientsEmployee != null  and recipientsEmployee != ''"> and c.recipients_employee = #{recipientsEmployee}</if>
            <if test="recipientsName != null  and recipientsName != ''"> and c.recipients_name like concat('%', #{recipientsName}, '%')</if>
            <if test="recipientsPhone != null  and recipientsPhone != ''"> and c.recipients_phone like concat('%', #{recipientsPhone}, '%')</if>
            <if test="notificationWay != null  and notificationWay != ''"> and c.notification_way = #{notificationWay}</if>
            <if test="notificationType != null  and notificationType != ''"> and c.notification_type = #{notificationType}</if>
            <if test="recipientsProvince != null  and recipientsProvince != ''"> and c.recipients_province = #{recipientsProvince}</if>
            <if test="recipientsCity != null  and recipientsCity != ''"> and c.recipients_city = #{recipientsCity}</if>
            <if test="recipientsArea != null  and recipientsArea != ''"> and c.recipients_area = #{recipientsArea}</if>
        </where>
    </select>
    
    <select id="selectHyRecipientsById" parameterType="Long" resultMap="HyRecipientsResult">
        <include refid="selectHyRecipientsVo"/>
        where c.id = #{id}
    </select>
        
    <insert id="insertHyRecipients" parameterType="HyRecipients" useGeneratedKeys="true" keyProperty="id">
        insert into hy_recipients
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="personType != null">person_type,</if>
            <if test="recipientsProperty != null">recipients_property,</if>
            <if test="recipientsDept != null">recipients_dept,</if>
            <if test="recipientsEmployee != null">recipients_employee,</if>
            <if test="recipientsName != null">recipients_name,</if>
            <if test="recipientsPhone != null">recipients_phone,</if>
            <if test="notificationWay != null">notification_way,</if>
            <if test="notificationType != null">notification_type,</if>
            <if test="recipientsProvince != null">recipients_province,</if>
            <if test="recipientsCity != null">recipients_city,</if>
            <if test="recipientsArea != null">recipients_area,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="personType != null">#{personType},</if>
            <if test="recipientsProperty != null">#{recipientsProperty},</if>
            <if test="recipientsDept != null">#{recipientsDept},</if>
            <if test="recipientsEmployee != null">#{recipientsEmployee},</if>
            <if test="recipientsName != null">#{recipientsName},</if>
            <if test="recipientsPhone != null">#{recipientsPhone},</if>
            <if test="notificationWay != null">#{notificationWay},</if>
            <if test="notificationType != null">#{notificationType},</if>
            <if test="recipientsProvince != null">#{recipientsProvince},</if>
            <if test="recipientsCity != null">#{recipientsCity},</if>
            <if test="recipientsArea != null">#{recipientsArea},</if>
         </trim>
    </insert>

    <update id="updateHyRecipients" parameterType="HyRecipients">
        update hy_recipients
        <trim prefix="SET" suffixOverrides=",">
            <if test="personType != null">person_type = #{personType},</if>
            <if test="recipientsProperty != null">recipients_property = #{recipientsProperty},</if>
            <if test="recipientsDept != null">recipients_dept = #{recipientsDept},</if>
            <if test="recipientsEmployee != null">recipients_employee = #{recipientsEmployee},</if>
            <if test="recipientsName != null">recipients_name = #{recipientsName},</if>
            <if test="recipientsPhone != null">recipients_phone = #{recipientsPhone},</if>
            <if test="notificationWay != null">notification_way = #{notificationWay},</if>
            <if test="notificationType != null">notification_type = #{notificationType},</if>
            <if test="recipientsProvince != null">recipients_province = #{recipientsProvince},</if>
            <if test="recipientsCity != null">recipients_city = #{recipientsCity},</if>
            <if test="recipientsArea != null">recipients_area = #{recipientsArea},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyRecipientsById" parameterType="Long">
        delete from hy_recipients where id = #{id}
    </delete>

    <delete id="deleteHyRecipientsByIds" parameterType="String">
        delete from hy_recipients where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>