<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyRefundMapper">

	<resultMap type="HyRefund" id="HyRefundResult">
		<result property="id" column="id" />
		<result property="applyNumber" column="apply_number" />
		<result property="refundAmount" column="refund_amount" />
		<result property="damages" column="damages" />
		<result property="refundMoney" column="refund_money" />
		<result property="refundDamages" column="refund_damages" />
		<result property="refundReasons" column="refund_reasons" />
		<result property="collectionId" column="collection_id" />
		<result property="isExamine" column="is_examine" />
		<result property="refundRemark" column="refund_remark" />
		
		<result property="refundVoucher" column="refund_voucher" />
		<result property="payee" column="payee" />
		<result property="refunder" column="refunder" />
		<result property="refundMethod" column="refund_method" />
		<result property="refundVoucherNo" column="refund_voucher_no" />
		<result property="idCard" column="id_card" />
		<result property="acceptancePerson" column="acceptance_person" />
	
	
		<association property="hyCollection" column="id"
			javaType="HyCollection" resultMap="HyCollectionResult" />
		<association property="hyOwnerRegistration" column="id"
			javaType="HyOwnerRegistration" resultMap="HyOwnerRegistrationResult" />
		<association property="hyHouseInf" column="id"
			javaType="HyHouseInf" resultMap="HyHouseInfResult" />
		<association property="houseAndCost" column="id"
			javaType="HouseAndCost" resultMap="HouseAndCostResult" />
		<association property="hyCost" column="id"
			javaType="HyCost" resultMap="HyCostResult" />
	</resultMap>

	<resultMap type="HyCollection" id="HyCollectionResult">
		<result property="id" column="id" />
		<result property="manageProjects" column="manage_projects" />
		<result property="applyTime" column="apply_time" />
		<result property="payee" column="payee" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="amount" column="amount" />
		<result property="collection" column="collection" />
		<result property="collectionTime" column="collection_time" />
		<result property="collectionPerson" column="collection_person" />
		<result property="bookkeeping" column="bookkeeping" />
		<result property="bookTime" column="book_time" />
		<result property="bookPerson" column="book_person" />
		<result property="brake" column="brake" />
	</resultMap>

	<resultMap type="HyOwnerRegistration"
		id="HyOwnerRegistrationResult">
		<result property="id" column="id" />
		<result property="ownerName" column="owner_name" />
		<result property="fixedTelephone" column="fixed_telephone" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="idCardNum" column="id_card_num" />
		<result property="suplierCategory" column="suplier_category" />
		<result property="lockedNot" column="locked_not" />
		<result property="accessNum" column="access_num" />
		<result property="certificateName" column="certificate_name" />
		<result property="customerCategoy" column="customer_categoy" />
		<result property="faxPhone" column="fax_phone" />
		<result property="contactAddress" column="contact_address" />
		<result property="postalCode" column="postal_code" />
		<result property="postalPreson" column="postal_preson" />
		<result property="eMail" column="e_mail" />
		<result property="phoneAccount" column="phone_account" />
		<result property="bindingPhoneNum" column="binding_phone_num" />
		<result property="coOwner" column="co_owner" />
		<result property="ownerIdentification"
			column="owner_identification" />
		<result property="firName" column="fir_name" />
		<result property="secName" column="sec_name" />
		<result property="gender" column="gender" />
		<result property="nationality" column="nationality" />
		<result property="birthDate" column="birth_date" />
		<result property="workUnit" column="work_unit" />
		<result property="ownerJob" column="owner_job" />
		<result property="ownerHobby" column="owner_hobby" />
		<result property="ownerId" column="owner_id" />
		<result property="taxpayerNum" column="taxpayer_num" />
		<result property="ownerAddPhone" column="owner_add_phone" />
		<result property="bankAccount" column="bank_account" />
		<result property="collectionCategory"
			column="collection_category" />
		<result property="bankType" column="bank_type" />
		<result property="bankNum" column="bank_num" />
		<result property="bankAccountName" column="bank_account_name" />
		<result property="projectId" column="project_id" />
	</resultMap>

	<resultMap type="HyHouseInf" id="HyHouseInfResult">
		<result property="id" column="id" />
		<result property="houseNumber" column="house_number" />
		<result property="houseName" column="house_name" />
		<result property="builtUpArea" column="built_up_area" />
		<result property="groupArea" column="group_area" />
		<result property="unit" column="unit" />
		<result property="floor" column="floor" />
		<result property="sameUnitNumber" column="same_unit_number" />
		<result property="areaType" column="area_type" />
		<result property="bilingArea" column="biling_area" />
		<result property="insideArea" column="inside_area" />
		<result property="sharedArea" column="shared_area" />
		<result property="gardenArea" column="garden_area" />
		<result property="basementArea" column="basement_area" />
		<result property="sharedLobbyArea" column="shared_lobby_area" />
		<result property="sharedLayersArea" column="shared_layers_area" />
		<result property="shareRatio" column="share_ratio" />
		<result property="buildingStructure"
			column="building_structure" />
		<result property="parametersPer" column="parameters_per" />
		<result property="houseLayout" column="house_layout" />
		<result property="floorHeight" column="floor_height" />
		<result property="natureProperty" column="nature_property" />
		<result property="natureUse" column="nature_use" />
		<result property="usageStatus" column="usage_status" />
		<result property="occupancyStatus" column="occupancy_status" />
		<result property="deliveryStatus" column="delivery_status" />
		<result property="houseType" column="house_type" />
		<result property="salesStatus" column="sales_status" />
		<result property="purchaseContract" column="purchase_contract" />
		<result property="marketingNum" column="marketing_num" />
		<result property="deliveryStatusBefore"
			column="delivery_status_before" />
		<result property="changeDate" column="change_date" />
		<result property="changePerson" column="change_person" />
		<result property="remark" column="remark" />
		<result property="buildingId" column="building_id" />
		<result property="ownerId" column="owner_id" />
	</resultMap>

	<resultMap type="HouseAndCost" id="HouseAndCostResult">
		<result property="houseId" column="house_id" />
		<result property="costId" column="cost_id" />
	</resultMap>

	<resultMap type="HyCost" id="HyCostResult">
		<result property="id" column="id" />
		<result property="costItems" column="cost_items" />
		<result property="expenseType" column="expense_type" />
		<result property="parentId" column="parent_id" />
		<result property="ancestors" column="ancestors" />
		<result property="standardName" column="standard_name" />
		<result property="feeNum" column="fee_num" />
		<result property="chargingStandard" column="charging_standard" />
		<result property="calculationMehod" column="calculation_mehod" />
		<result property="standardDescription"
			column="standard_description" />
		<result property="standardState" column="standard_state" />
		<result property="proportionDamags" column="proportion_damags" />
		<result property="projectModification"
			column="project_modification" />
		<result property="billingCycle" column="billing_cycle" />
		<result property="bilingStartDate" column="biling_start_date" />
		<result property="bilingEndDate" column="biling_end_date" />
		<result property="auditResultsReason"
			column="audit_results_reason" />
		<result property="feeDateOld" column="fee_date_old" />
		<result property="feeDate" column="fee_date" />
		<result property="dueDateOld" column="due_date_old" />
		<result property="dueDate" column="due_date" />
		<result property="amountReceivableOld"
			column="amount_receivable_old" />
		<result property="amountReceivable" column="amount_receivable" />
		<result property="amountActually" column="amount_actually" />
		<result property="remarks" column="remarks" />
		<result property="operationDate" column="operation_date" />
		<result property="operationUser" column="operation_user" />
		<result property="operationType" column="operation_type" />
		<result property="deleteReason" column="delete_reason" />
		<result property="advancePaymentOffset"
			column="advance_payment_offset" />
		<result property="writeOff" column="write_off" />
		<result property="refundAmount" column="refund_amount" />
		<result property="amountArrears" column="amount_arrears" />
		<result property="collectionStatus" column="collection_status" />
		<result property="frozenPerson" column="frozen_person" />
		<result property="frozenState" column="frozen_state" />
		<result property="frozenDate" column="frozen_date" />
		<result property="frozenReason" column="frozen_reason" />
		<result property="advanceStatus" column="advance_status" />
		<result property="transferTenants" column="transfer_tenants" />
		<result property="changeDate" column="change_date" />
		<result property="billingMethod" column="billing_method" />
		<result property="calculationStandard"
			column="calculation_standard" />
	</resultMap>

	<sql id="selectHyRefundVo">
		select
		ref.id,
		ref.apply_number,
		ref.refund_amount,
		ref.damages,
		ref.refund_money,
		ref.refund_damages,
		ref.refund_reasons,
		ref.collection_id,
		ref.is_examine,
		ref.refund_remark,
		ref.refund_voucher,
		ref.payee,
		ref.refunder,
		ref.refund_method,
		ref.refund_voucher_no,
		ref.id_card,
		ref.acceptance_person,
		owner.owner_name,
		inf.house_number,
		inf.house_name,
		coll.receipt_number,
		coll.collection_time,
		cos.cost_items,
		cos.amount_arrears,
		cos.fee_date,
		cos.due_date,
		cos.biling_start_date,
		cos.biling_end_date
		from hy_refund ref
		left join hy_collection coll on ref.collection_id = coll.id
		left join hy_owner_registration owner on owner.id = coll.owner_id
		left join hy_house_inf inf on inf.id=coll.house_id
		left join house_and_cost hac on inf.id = hac.house_id
		left join hy_cost cos on cos.id=hac.cost_id
	</sql>

	<select id="selectHyRefundList" parameterType="HyRefund"
		resultMap="HyRefundResult">
		<include refid="selectHyRefundVo" />
		<where>
			<if test="applyNumber != null  and applyNumber != ''"> and ref.apply_number = #{applyNumber}</if>
			<if test="refundAmount != null "> and ref.refund_amount = #{refundAmount}</if>
			<if test="damages != null "> and ref.damages = #{damages}</if>
			<if test="refundMoney != null "> and ref.refund_money = #{refundMoney}</if>
			<if test="refundDamages != null "> and ref.refund_damages = #{refundDamages}</if>
			<if test="refundReasons != null  and refundReasons != ''"> and ref.refund_reasons = #{refundReasons}</if>
			<if test="collectionId != null "> and ref.collection_id = #{collectionId}</if>
			<if test="isExamine != null "> and ref.is_examine = #{isExamine}</if>
			<if test="refundRemark != null "> and ref.refund_remark = #{refundRemark}</if>
			<if test="refundVoucher != null "> and ref.refund_voucher = #{refundVoucher}</if>
			<if test="payee != null "> and ref.payee = #{payee}</if>
			<if test="refunder != null "> and ref.refunder = #{refunder}</if>
			<if test="refundMethod != null "> and ref.refund_method = #{refundMethod}</if>
			<if test="refundVoucherNo != null "> and ref.refund_voucher_no = #{refundVoucherNo}</if>
			<if test="idCard != null "> and ref.id_card = #{idCard}</if>
			<if test="acceptancePerson != null "> and ref.acceptance_person = #{acceptancePerson}</if>
			
			<if test="hyOwnerRegistration != null">
            	<if test="hyOwnerRegistration.ownerName != null  and hyOwnerRegistration.ownerName != ''"> and owner.owner_name = #{hyOwnerRegistration.ownerName}</if>
            </if>
            <if test="hyHouseInf != null">
	            <if test="hyHouseInf.houseNumber != null  and hyHouseInf.houseNumber != ''"> and inf.house_number = #{hyHouseInf.houseNumber}</if>
	            <if test="hyHouseInf.houseName != null  and hyHouseInf.houseName != ''"> and inf.house_name = #{hyHouseInf.houseName}</if>
	            <if test="hyHouseInf.deliveryStatus != null  and hyHouseInf.deliveryStatus != ''"> and inf.delivery_status = #{hyHouseInf.deliveryStatus}</if>
            </if>
            and coll.is_refund="1"
		</where>
	</select>

	<select id="selectHyRefundById" parameterType="Long"
		resultMap="HyRefundResult">
		<include refid="selectHyRefundVo" />
		where ref.id = #{id}
	</select>

	<insert id="insertHyRefund" parameterType="HyRefund">
		insert into hy_refund
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="applyNumber != null">apply_number,</if>
			<if test="refundAmount != null">refund_amount,</if>
			<if test="damages != null">damages,</if>
			<if test="refundMoney != null">refund_money,</if>
			<if test="refundDamages != null">refund_damages,</if>
			<if test="refundReasons != null">refund_reasons,</if>
			<if test="collectionId != null">collection_id,</if>
			<if test="refundRemark != null">refund_remark,</if>
			<if test="refundVoucher != null">refund_voucher,</if>
			<if test="payee != null">payee,</if>
			<if test="refunder != null">refunder,</if>
			<if test="refundMethod != null">refund_method,</if>
			<if test="refundVoucherNo != null">refund_voucher_no,</if>
			<if test="idCard != null">id_card,</if>
			<if test="acceptancePerson != null">acceptance_person,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="applyNumber != null">#{applyNumber},</if>
			<if test="refundAmount != null">#{refundAmount},</if>
			<if test="damages != null">#{damages},</if>
			<if test="refundMoney != null">#{refundMoney},</if>
			<if test="refundDamages != null">#{refundDamages},</if>
			<if test="refundReasons != null">#{refundReasons},</if>
			<if test="collectionId != null">#{collectionId},</if>
			<if test="refundRemark != null">#{refundRemark},</if>
			<if test="refundVoucher != null">#{refundVoucher},</if>
			<if test="payee != null">#{payee},</if>
			<if test="refunder != null">#{refunder},</if>
			<if test="refundMethod != null">#{refundMethod},</if>
			<if test="refundVoucherNo != null">#{refundVoucherNo},</if>
			<if test="idCard != null">#{idCard},</if>
			<if test="acceptancePerson != null">#{acceptancePerson},</if>
		</trim>
	</insert>

	<update id="updateHyRefund" parameterType="HyRefund">
		update hy_refund
		<trim prefix="SET" suffixOverrides=",">
			<if test="applyNumber != null">apply_number = #{applyNumber},</if>
			<if test="refundAmount != null">refund_amount = #{refundAmount},</if>
			<if test="damages != null">damages = #{damages},</if>
			<if test="refundMoney != null">refund_money = #{refundMoney},</if>
			<if test="refundDamages != null">refund_damages = #{refundDamages},</if>
			<if test="refundReasons != null">refund_reasons = #{refundReasons},</if>
			<if test="collectionId != null">collection_id = #{collectionId},</if>
			<if test="isExamine != null ">is_examine = #{isExamine},</if>
			<if test="refundRemark != null ">refund_remark = #{refundRemark},</if>
			<if test="refundVoucher != null ">refund_voucher = #{refundVoucher},</if>
			<if test="payee != null ">payee = #{payee},</if>
			<if test="refunder != null ">refunder = #{refunder},</if>
			<if test="refundMethod != null ">refund_method = #{refundMethod},</if>
			<if test="refundVoucherNo != null ">refund_voucher_no = #{refundVoucherNo},</if>
			<if test="idCard != null ">id_card = #{idCard},</if>
			<if test="acceptancePerson != null ">acceptance_person = #{acceptancePerson},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteHyRefundById" parameterType="Long">
		delete from
		hy_refund where id = #{id}
	</delete>

	<delete id="deleteHyRefundByIds" parameterType="String">
		delete from hy_refund where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

</mapper>