<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyServiceregistrationMapper">
    
    <resultMap type="HyServiceregistration" id="HyServiceregistrationResult">
        <result property="id"    column="id"    />
        <result property="repairOrder"    column="repair_order"    />
        <result property="serviceCategory"    column="service_category"    />
        <result property="faultCategory"    column="fault_category"    />
        <result property="failureTime"    column="failure_time"    />
        <result property="faultCondition"    column="fault_condition"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="causeType"    column="cause_type"    />
        <result property="serviceUnit"    column="service_unit"    />
        <result property="reasonAnalysis"    column="reason_analysis"    />
        <result property="serviceResults"    column="service_results"    />
        <result property="serviceCosts"    column="service_costs"    />
        <result property="isAudit"    column="is_audit"    />
        <result property="receptionTime"    column="reception_time"    />
        <result property="acceptor"    column="acceptor"    />
        <result property="inspectionAcceptance"    column="inspection_acceptance"    />
        <result property="problemRectification"    column="problem_rectification"    />
        <result property="currentCycle"    column="current_cycle"    />
        <result property="currentYear"    column="current_year"    />
        <result property="adjustmentYear"    column="adjustment_year"    />
        <result property="serviceRemark"    column="service_remark"    />
        <result property="archivesId"    column="archives_id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <association property="hyEquipmentArchives" column="id"
			javaType="HyEquipmentArchives" resultMap="HyEquipmentArchivesResult" />
        <association property="hyEquipment" column="id"
			javaType="HyEquipment" resultMap="HyEquipmentResult" />
		<association property="sysUser" column="id"
			javaType="SysUser" resultMap="SysUserResult" />
		<association property="sysDept" column="id"
			javaType="SysDept" resultMap="SysDeptResult" />
    </resultMap>
	
	<resultMap type="HyEquipment" id="HyEquipmentResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="equipmentCode"    column="equipment_code"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="equipmentExplains"    column="equipment_explains"    />
        <result property="equipmentDetail"    column="equipment_detail"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>
	
	<resultMap type="HyEquipmentArchives" id="HyEquipmentArchivesResult">
        <result property="id"    column="id"    />
        <result property="archivesNumber"    column="archives_number"    />
        <result property="archivesName"    column="archives_name"    />
        <result property="archivesSort"    column="archives_sort"    />
        <result property="archivesManufacturers"    column="archives_manufacturers"    />
        <result property="archivesType"    column="archives_type"    />
        <result property="archivesSpecification"    column="archives_specification"    />
        <result property="acquisitionDate"    column="acquisition_date"    />
        <result property="releaseDate"    column="release_date"    />
        <result property="releaseNumber"    column="release_number"    />
        <result property="installationDate"    column="installation_date"    />
        <result property="installationUnit"    column="installation_unit"    />
        <result property="storeAddress"    column="store_address"    />
        <result property="useDate"    column="use_date"    />
        <result property="userYear"    column="user_year"    />
        <result property="discardTime"    column="discard_time"    />
        <result property="commencementDate"    column="commencement_date"    />
        <result property="warrantyPeriod"    column="warranty_period"    />
        <result property="endDate"    column="end_date"    />
        <result property="originalValue"    column="original_value"    />
        <result property="depreciationRate"    column="depreciation_rate"    />
        <result property="nowPrice"    column="now_price"    />
        <result property="mentionDepreciation"    column="mention_depreciation"    />
        <result property="netValue"    column="net_value"    />
        <result property="equipmentDraw"    column="equipment_draw"    />
        <result property="useRange"    column="use_range"    />
        <result property="unit"    column="unit"    />
        <result property="number"    column="number"    />
        <result property="floorSpace"    column="floor_space"    />
        <result property="propertyOwnership"    column="property_ownership"    />
        <result property="operationInstruction"    column="operation_instruction"    />
        <result property="technicalData"    column="technical_data"    />
        <result property="remark"    column="remark"    />
        <result property="useState"    column="use_state"    />
        <result property="scanCode"    column="scan_code"    />
        <result property="archivesPicture"    column="archives_picture"    />
        <result property="normalEpoch"    column="normal_epoch"    />
        <result property="operationalPeriod"    column="operational_period"    />
        <result property="testDate"    column="test_date"    />
        <result property="equipmentLevel"    column="equipment_level"    />
        <result property="handoverDate"    column="handover_date"    />
        <result property="compulsoryTest"    column="compulsory_test"    />
        <result property="inspectionPeriod"    column="inspection_period"    />
        <result property="detectionPeriod"    column="detection_period"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>
	
	<resultMap type="SysUser" id="SysUserResult">
		<id     property="userId"        column="user_id"         />
		<result property="deptId"        column="dept_id"         />
		<result property="loginName"     column="login_name"      />
		<result property="userName"      column="user_name"       />
		<result property="userType"      column="user_type"       />
		<result property="email"         column="email"           />
		<result property="phonenumber"   column="phonenumber"     />
		<result property="sex"           column="sex"             />
		<result property="avatar"        column="avatar"          />
		<result property="password"      column="password"        />
		<result property="salt"          column="salt"            />
		<result property="status"        column="status"          />
		<result property="delFlag"       column="del_flag"        />
		<result property="loginIp"       column="login_ip"        />
		<result property="loginDate"     column="login_date"      />
		<result property="pwdUpdateDate" column="pwd_update_date" />
		<result property="createBy"      column="create_by"       />
		<result property="createTime"    column="create_time"     />
		<result property="updateBy"      column="update_by"       />
		<result property="updateTime"    column="update_time"     />
		<result property="remark"        column="remark"          />
	</resultMap>
	
	<resultMap type="SysDept" id="SysDeptResult">
		<id     property="deptId"     column="dept_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="deptName"   column="dept_name"   />
		<result property="orderNum"   column="order_num"   />
		<result property="leader"     column="leader"      />
		<result property="phone"      column="phone"       />
		<result property="email"      column="email"       />
		<result property="status"     column="status"      />
		<result property="delFlag"    column="del_flag"    />
		<result property="parentName" column="parent_name" />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
    <sql id="selectHyServiceregistrationVo">
        select 
        s.id, 
        s.repair_order, 
        s.service_category, 
        s.fault_category, 
        s.failure_time, 
        s.fault_condition, 
        s.start_time, 
        s.end_time, 
        s.cause_type, 
        s.service_unit, 
        s.reason_analysis, 
        s.service_results, 
        s.service_costs, 
        s.is_audit, 
        s.reception_time, 
        s.acceptor, 
        s.inspection_acceptance, 
        s.problem_rectification, 
        s.current_cycle, 
        s.current_year, 
        s.adjustment_year, 
        s.service_remark, 
        s.archives_id, 
        s.equipment_id, 
        s.user_id,
        s.dept_id,
        a.archives_name,
        e.equipment_name,
        u.user_name,
        d.dept_name
        from 
        hy_serviceregistration s
        LEFT JOIN hy_equipment_archives a ON  s.archives_id=a.id
        LEFT JOIN hy_equipment e ON  s.equipment_id=e.id
        LEFT JOIN sys_user u ON  s.user_id=u.user_id
        LEFT JOIN sys_dept d ON  s.dept_id=d.dept_id
    </sql>

    <select id="selectHyServiceregistrationList" parameterType="HyServiceregistration" resultMap="HyServiceregistrationResult">
        <include refid="selectHyServiceregistrationVo"/>
        <where>  
            <if test="repairOrder != null  and repairOrder != ''"> and s.repair_order = #{repairOrder}</if>
            <if test="serviceCategory != null  and serviceCategory != ''"> and s.service_category = #{serviceCategory}</if>
            <if test="faultCategory != null  and faultCategory != ''"> and s.fault_category = #{faultCategory}</if>
            <if test="failureTime != null "> and s.failure_time = #{failureTime}</if>
            <if test="faultCondition != null  and faultCondition != ''"> and s.fault_condition = #{faultCondition}</if>
            <if test="startTime != null "> and s.start_time = #{startTime}</if>
            <if test="endTime != null "> and s.end_time = #{endTime}</if>
            <if test="causeType != null  and causeType != ''"> and s.cause_type = #{causeType}</if>
            <if test="serviceUnit != null  and serviceUnit != ''"> and s.service_unit = #{serviceUnit}</if>
            <if test="reasonAnalysis != null  and reasonAnalysis != ''"> and s.reason_analysis = #{reasonAnalysis}</if>
            <if test="serviceResults != null  and serviceResults != ''"> and s.service_results = #{serviceResults}</if>
            <if test="serviceCosts != null "> and s.service_costs = #{serviceCosts}</if>
            <if test="isAudit != null  and isAudit != ''"> and s.is_audit = #{isAudit}</if>
            <if test="receptionTime != null "> and s.reception_time = #{receptionTime}</if>
            <if test="acceptor != null  and acceptor != ''"> and s.acceptor = #{acceptor}</if>
            <if test="inspectionAcceptance != null  and inspectionAcceptance != ''"> and s.inspection_acceptance = #{inspectionAcceptance}</if>
            <if test="problemRectification != null  and problemRectification != ''"> and s.problem_rectification = #{problemRectification}</if>
            <if test="currentCycle != null  and currentCycle != ''"> and s.current_cycle = #{currentCycle}</if>
            <if test="currentYear != null "> and s.current_year = #{currentYear}</if>
            <if test="adjustmentYear != null  and adjustmentYear != ''"> and s.adjustment_year = #{adjustmentYear}</if>
            <if test="serviceRemark != null  and serviceRemark != ''"> and s.service_remark = #{serviceRemark}</if>
            <if test="archivesId != null "> and s.archives_id = #{archivesId}</if>
            <if test="equipmentId != null "> and s.equipment_id = #{equipmentId}</if>
            <if test="userId != null "> and s.user_id = #{userId}</if>
            <if test="deptId != null "> and s.dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectHyServiceregistrationById" parameterType="Long" resultMap="HyServiceregistrationResult">
        <include refid="selectHyServiceregistrationVo"/>
        where s.id = #{id}
    </select>
        
    <insert id="insertHyServiceregistration" parameterType="HyServiceregistration" useGeneratedKeys="true" keyProperty="id">
        insert into hy_serviceregistration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="repairOrder != null">repair_order,</if>
            <if test="serviceCategory != null">service_category,</if>
            <if test="faultCategory != null">fault_category,</if>
            <if test="failureTime != null">failure_time,</if>
            <if test="faultCondition != null">fault_condition,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="causeType != null">cause_type,</if>
            <if test="serviceUnit != null">service_unit,</if>
            <if test="reasonAnalysis != null">reason_analysis,</if>
            <if test="serviceResults != null">service_results,</if>
            <if test="serviceCosts != null">service_costs,</if>
            <if test="isAudit != null">is_audit,</if>
            <if test="receptionTime != null">reception_time,</if>
            <if test="acceptor != null">acceptor,</if>
            <if test="inspectionAcceptance != null">inspection_acceptance,</if>
            <if test="problemRectification != null">problem_rectification,</if>
            <if test="currentCycle != null">current_cycle,</if>
            <if test="currentYear != null">current_year,</if>
            <if test="adjustmentYear != null">adjustment_year,</if>
            <if test="serviceRemark != null">service_remark,</if>
            <if test="archivesId != null">archives_id,</if>
            <if test="equipmentId != null">equipment_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="repairOrder != null">#{repairOrder},</if>
            <if test="serviceCategory != null">#{serviceCategory},</if>
            <if test="faultCategory != null">#{faultCategory},</if>
            <if test="failureTime != null">#{failureTime},</if>
            <if test="faultCondition != null">#{faultCondition},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="causeType != null">#{causeType},</if>
            <if test="serviceUnit != null">#{serviceUnit},</if>
            <if test="reasonAnalysis != null">#{reasonAnalysis},</if>
            <if test="serviceResults != null">#{serviceResults},</if>
            <if test="serviceCosts != null">#{serviceCosts},</if>
            <if test="isAudit != null">#{isAudit},</if>
            <if test="receptionTime != null">#{receptionTime},</if>
            <if test="acceptor != null">#{acceptor},</if>
            <if test="inspectionAcceptance != null">#{inspectionAcceptance},</if>
            <if test="problemRectification != null">#{problemRectification},</if>
            <if test="currentCycle != null">#{currentCycle},</if>
            <if test="currentYear != null">#{currentYear},</if>
            <if test="adjustmentYear != null">#{adjustmentYear},</if>
            <if test="serviceRemark != null">#{serviceRemark},</if>
            <if test="archivesId != null">#{archivesId},</if>
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateHyServiceregistration" parameterType="HyServiceregistration">
        update hy_serviceregistration
        <trim prefix="SET" suffixOverrides=",">
            <if test="repairOrder != null">repair_order = #{repairOrder},</if>
            <if test="serviceCategory != null">service_category = #{serviceCategory},</if>
            <if test="faultCategory != null">fault_category = #{faultCategory},</if>
            <if test="failureTime != null">failure_time = #{failureTime},</if>
            <if test="faultCondition != null">fault_condition = #{faultCondition},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="causeType != null">cause_type = #{causeType},</if>
            <if test="serviceUnit != null">service_unit = #{serviceUnit},</if>
            <if test="reasonAnalysis != null">reason_analysis = #{reasonAnalysis},</if>
            <if test="serviceResults != null">service_results = #{serviceResults},</if>
            <if test="serviceCosts != null">service_costs = #{serviceCosts},</if>
            <if test="isAudit != null">is_audit = #{isAudit},</if>
            <if test="receptionTime != null">reception_time = #{receptionTime},</if>
            <if test="acceptor != null">acceptor = #{acceptor},</if>
            <if test="inspectionAcceptance != null">inspection_acceptance = #{inspectionAcceptance},</if>
            <if test="problemRectification != null">problem_rectification = #{problemRectification},</if>
            <if test="currentCycle != null">current_cycle = #{currentCycle},</if>
            <if test="currentYear != null">current_year = #{currentYear},</if>
            <if test="adjustmentYear != null">adjustment_year = #{adjustmentYear},</if>
            <if test="serviceRemark != null">service_remark = #{serviceRemark},</if>
            <if test="archivesId != null">archives_id = #{archivesId},</if>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyServiceregistrationById" parameterType="Long">
        delete from hy_serviceregistration where id = #{id}
    </delete>

    <delete id="deleteHyServiceregistrationByIds" parameterType="String">
        delete from hy_serviceregistration where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>