<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.HySelectMeterMapper">

	<resultMap type="HySelectMeter" id="HySelMeterResult">
		<id property="id" column="id" />
		<result property="buildingName" column="building_name" />
		<result property="houseNum" column="house_num" />
		<result property="meterType" column="meter_type" />
		<result property="meterSerialNum" column="meter_serial_num" />
		<result property="meterName" column="meter_name" />
		<result property="initialRead" column="initial_read" />
		<result property="meterStrNum" column="meter_str_num" />
		<result property="meterEndNum" column="meter_end_num" />
		<result property="transfRatio" column="transf_ratio" />
		<result property="strappingType" column="strapping_type" />
		<result property="meterReadDate" column="meter_read_date" />
		<result property="newMeterConsumption" column="new_meter_consumption" />
		<result property="oldMeterConsumption" column="old_meter_consumption" />
		<result property="attritionRate" column="attrition_rate" />
		<result property="unitPrice" column="unit_price" />
		<result property="amountPrice" column="amount_price" />
		<result property="customerName" column="customer_name" />
		<result property="ownerTenant" column="owner_tenant" />
		<result property="standardName" column="standard_name" />
		<association property="hyHouseInf" column="id" javaType="HyHouseInf" resultMap="HyHouseInfResult" />
		<association property="hyOwnerRegistration" column="id"
			javaType="HyOwnerRegistration" resultMap="HyOwnerRegistrationResult" />
	</resultMap>

	<resultMap type="HyHouseInf" id="HyHouseInfResult">
		<result property="id" column="id" />
		<result property="building" column="building" />
		<result property="houseNumber" column="house_number" />
		<result property="houseName" column="house_name" />
		<result property="builtUpArea" column="built_up_area" />
		<result property="groupArea" column="group_area" />
		<result property="unit" column="unit" />
		<result property="floor" column="floor" />
		<result property="sameUnitNumber" column="same_unit_number" />
		<result property="areaType" column="area_type" />
		<result property="bilingArea" column="biling_area" />
		<result property="insideArea" column="inside_area" />
		<result property="sharedArea" column="shared_area" />
		<result property="gardenArea" column="garden_area" />
		<result property="basementArea" column="basement_area" />
		<result property="sharedLobbyArea" column="shared_lobby_area" />
		<result property="sharedLayersArea" column="shared_layers_area" />
		<result property="shareRatio" column="share_ratio" />
		<result property="buildingStructure" column="building_structure" />
		<result property="parametersPer" column="parameters_per" />
		<result property="houseLayout" column="house_layout" />
		<result property="floorHeight" column="floor_height" />
		<result property="natureProperty" column="nature_property" />
		<result property="natureUse" column="nature_use" />
		<result property="usageStatus" column="usage_status" />
		<result property="occupancyStatus" column="occupancy_status" />
		<result property="deliveryStatus" column="delivery_status" />
		<result property="houseType" column="house_type" />
		<result property="salesStatus" column="sales_status" />
		<result property="purchaseContract" column="purchase_contract" />
		<result property="marketingNum" column="marketing_num" />
	</resultMap>
	
	<resultMap type="HyOwnerRegistration"
		id="HyOwnerRegistrationResult">
		<result property="id" column="id" />
		<result property="ownerName" column="owner_name" />
		<result property="houseNum" column="house_num" />
		<result property="fixedTelephone" column="fixed_telephone" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="idCardNum" column="id_card_num" />
		<result property="suplierCategory" column="suplier_category" />
		<result property="lockedNot" column="locked_not" />
		<result property="accessNum" column="access_num" />
		<result property="certificateName" column="certificate_name" />
		<result property="customerCategoy" column="customer_categoy" />
		<result property="faxPhone" column="fax_phone" />
		<result property="contactAddress" column="contact_address" />
		<result property="postalCode" column="postal_code" />
		<result property="postalPreson" column="postal_preson" />
		<result property="eMail" column="e_mail" />
		<result property="phoneAccount" column="phone_account" />
		<result property="bindingPhoneNum" column="binding_phone_num" />
		<result property="coOwner" column="co_owner" />
		<result property="ownerIdentification"
			column="owner_identification" />
		<result property="firName" column="fir_name" />
		<result property="secName" column="sec_name" />
		<result property="gender" column="gender" />
		<result property="nationality" column="nationality" />
		<result property="birthDate" column="birth_date" />
		<result property="workUnit" column="work_unit" />
		<result property="ownerJob" column="owner_job" />
		<result property="ownerHobby" column="owner_hobby" />
		<result property="ownerId" column="owner_id" />
		<result property="taxpayerNum" column="taxpayer_num" />
		<result property="ownerAddPhone" column="owner_add_phone" />
		<result property="bankAccount" column="bank_account" />
		<result property="collectionCategory"
			column="collection_category" />
		<result property="bankType" column="bank_type" />
		<result property="bankNum" column="bank_num" />
		<result property="bankAccountName" column="bank_account_name" />
	</resultMap>

	<sql id="selectHySelMeterVo">
		select m.id,
		m.building_name,
		m.house_num,
		m.meter_type,
		m.meter_serial_num,
		m.meter_name,
		m.initial_read,
		m.meter_str_num,
		m.meter_end_num,
		m.transf_ratio,
		m.strapping_type,
		m.meter_read_date,
		m.new_meter_consumption,
		m.old_meter_consumption,
		m.attrition_rate,
		m.unit_price,
		m.amount_price,
		m.customer_name,
		m.owner_tenant,
		m.standard_name,
		i.house_name,
		o.owner_name
		from hy_meter m 
		left join hy_house_inf i on m.house_num = i.house_number 
		LEFT JOIN
		hy_owner_registration o on o.house_num=m.house_num
		where 1=1
	</sql>

	<select id="selectHySelMeter" parameterType="Long" resultMap="HySelMeterResult">
		<include refid="selectHySelMeterVo"></include>
		<if test="buildingName != null  and buildingName != ''"> and m.building_name = #{buildingName}</if>
		<if test="houseNum != null  and houseNum != ''"> and m.house_num = #{houseNum}</if>
		<if test="meterType != null  and meterType != ''"> and m.meter_type = #{meterType}</if>
		<if test="meterSerialNum != null  and meterSerialNum != ''"> and m.meter_serial_num = #{meterSerialNum}</if>
		<if test="meterName != null  and meterName != ''"> and m.meter_name = #{meterName}</if>
		<if test="initialRead != null  and initialRead != ''"> and m.initial_read = #{initialRead}</if>
		<if test="meterStrNum != null  and meterStrNum != ''"> and m.meter_str_num = #{meterStrNum}</if>
		<if test="meterEndNum != null  and meterEndNum != ''"> and m.meter_end_num = #{meterEndNum}</if>
		<if test="transfRatio != null  and transfRatio != ''"> and m.transf_ratio = #{transfRatio}</if>
		<if test="strappingType != null  and strappingType != ''"> and m.strapping_type = #{strappingType}</if>
		<if test="meterReadDate != null  and meterReadDate != ''"> and m.meter_read_date = #{meterReadDate}</if>
		<if test="newMeterConsumption != null  and newMeterConsumption != ''"> and m.new_meter_consumption = #{newMeterConsumption}</if>
		<if test="oldMeterConsumption != null  and oldMeterConsumption != ''"> and m.old_meter_consumption = #{oldMeterConsumption}</if>
		<if test="attritionRate != null  and attritionRate != ''"> and m.attrition_rate = #{attritionRate}</if>
		<if test="unitPrice != null  and unitPrice != ''"> and m.unit_price = #{unitPrice}</if>
		<if test="amountPrice != null  and amountPrice != ''"> and m.amount_price = #{amountPrice}</if>
		<if test="customerName != null  and customerName != ''"> and m.customer_name = #{customerName}</if>
		<if test="ownerTenant != null  and ownerTenant != ''"> and m.owner_tenant = #{ownerTenant}</if>
	</select>

	<select id="selectHySelMeterList" parameterType="HySelectMeter" resultMap="HySelMeterResult">
		<include refid="selectHySelMeterVo"></include>
		<if test="buildingName != null  and buildingName != ''"> and m.building_name = #{buildingName}</if>
		<if test="houseNum != null  and houseNum != ''"> and m.house_num = #{houseNum}</if>
		<if test="meterType != null  and meterType != ''"> and m.meter_type = #{meterType}</if>
		<if test="meterSerialNum != null  and meterSerialNum != ''"> and m.meter_serial_num = #{meterSerialNum}</if>
		<if test="meterName != null  and meterName != ''"> and m.meter_name = #{meterName}</if>
		<if test="initialRead != null  and initialRead != ''"> and m.initial_read = #{initialRead}</if>
		<if test="meterStrNum != null  and meterStrNum != ''"> and m.meter_str_num = #{meterStrNum}</if>
		<if test="meterEndNum != null  and meterEndNum != ''"> and m.meter_end_num = #{meterEndNum}</if>
		<if test="transfRatio != null  and transfRatio != ''"> and m.transf_ratio = #{transfRatio}</if>
		<if test="strappingType != null  and strappingType != ''"> and m.strapping_type = #{strappingType}</if>
		<if test="meterReadDate != null  and meterReadDate != ''"> and m.meter_read_date like '%${meterReadDate}%' </if>
		<if test="newMeterConsumption != null  and newMeterConsumption != ''"> and m.new_meter_consumption = #{newMeterConsumption}</if>
		<if test="oldMeterConsumption != null  and oldMeterConsumption != ''"> and m.old_meter_consumption = #{oldMeterConsumption}</if>
		<if test="attritionRate != null  and attritionRate != ''"> and m.attrition_rate = #{attritionRate}</if>
		<if test="unitPrice != null  and unitPrice != ''"> and m.unit_price = #{unitPrice}</if>
		<if test="amountPrice != null  and amountPrice != ''"> and m.amount_price = #{amountPrice}</if>
		<if test="customerName != null  and customerName != ''"> and m.customer_name = #{customerName}</if>
		<if test="ownerTenant != null  and ownerTenant != ''"> and m.owner_tenant = #{ownerTenant}</if>
		<if test="standardName != null  and standardName != ''"> and m.standard_name = #{standardName}</if>
			<if test="hyHouseInf.houseName != null and hyHouseInf.houseName!=''"> and i.house_name = #{hyHouseInf.houseName}</if>
			
	</select>

	<insert id="addHySelMeter" parameterType="HySelectMeter" useGeneratedKeys="true" keyProperty="id">
		insert into hy_meter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="buildingName != null  and buildingName != ''"> building_name,</if>
			<if test="houseNum != null  and houseNum != ''"> house_num,</if>
			<if test="meterType != null  and meterType != ''"> meter_type,</if>
			<if test="meterSerialNum != null  and meterSerialNum != ''"> meter_serial_num,</if>
			<if test="meterName != null  and meterName != ''"> meter_name,</if>
			<if test="initialRead != null  and initialRead != ''"> initial_read,</if>
			<if test="meterStrNum != null  and meterStrNum != ''"> meter_str_num,</if>
			<if test="meterEndNum != null  and meterEndNum != ''"> meter_end_num,</if>
			<if test="transfRatio != null  and transfRatio != ''"> transf_ratio,</if>
			<if test="strappingType != null  and strappingType != ''"> strapping_type,</if>
			<if test="meterReadDate != null  and meterReadDate != ''"> meter_read_date,</if>
			<if test="newMeterConsumption != null  and newMeterConsumption != ''"> new_meter_consumption,</if>
			<if test="oldMeterConsumption != null  and oldMeterConsumption != ''"> old_meter_consumption,</if>
			<if test="attritionRate != null  and attritionRate != ''"> attrition_rate,</if>
			<if test="unitPrice != null  and unitPrice != ''"> unit_price,</if>
			<if test="amountPrice != null  and amountPrice != ''"> amount_price,</if>
			<if test="customerName != null  and customerName != ''"> customer_name,</if>
			<if test="ownerTenant != null  and ownerTenant != ''"> owner_tenant,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="buildingName != null  and buildingName != ''">#{buildingName},</if>
			<if test="houseNum != null  and houseNum != ''">#{houseNum},</if>
			<if test="meterType != null  and meterType != ''">#{meterType},</if>
			<if test="meterSerialNum != null  and meterSerialNum != ''">#{meterSerialNum},</if>
			<if test="meterName != null  and meterName != ''">#{meterName},</if>
			<if test="initialRead != null  and initialRead != ''">#{initialRead},</if>
			<if test="meterStrNum != null  and meterStrNum != ''">#{meterStrNum},</if>
			<if test="meterEndNum != null  and meterEndNum != ''">#{meterEndNum},</if>
			<if test="transfRatio != null  and transfRatio != ''">#{transfRatio},</if>
			<if test="strappingType != null  and strappingType != ''">#{strappingType},</if>
			<if test="meterReadDate != null  and meterReadDate != ''">#{meterReadDate},</if>
			<if test="newMeterConsumption != null  and newMeterConsumption != ''">#{newMeterConsumption},</if>
			<if test="oldMeterConsumption != null  and oldMeterConsumption != ''">#{oldMeterConsumption},</if>
			<if test="attritionRate != null  and attritionRate != ''">#{attritionRate},</if>
			<if test="unitPrice != null  and unitPrice != ''">#{unitPrice},</if>
			<if test="amountPrice != null  and amountPrice != ''">#{amountPrice},</if>
			<if test="customerName != null  and customerName != ''">#{customerName},</if>
			<if test="ownerTenant != null  and ownerTenant != ''">#{ownerTenant},</if>
		</trim>
	</insert>

	<update id="updateHyMeter" parameterType="HySelectMeter">
		update hy_meter
		<trim prefix="SET" suffixOverrides=",">
			<if test="buildingName != null  and buildingName != ''"> and m.building_name = #{buildingName}</if>
			<if test="houseNum != null  and houseNum != ''"> and m.house_num = #{houseNum}</if>
			<if test="meterType != null  and meterType != ''"> and m.meter_type = #{meterType}</if>
			<if test="meterSerialNum != null  and meterSerialNum != ''"> and m.meter_serial_num = #{meterSerialNum}</if>
			<if test="meterName != null  and meterName != ''"> and m.meter_name = #{meterName}</if>
			<if test="initialRead != null  and initialRead != ''"> and m.initial_read = #{initialRead}</if>
			<if test="meterStrNum != null  and meterStrNum != ''"> and m.meter_str_num = #{meterStrNum}</if>
			<if test="meterEndNum != null  and meterEndNum != ''"> and m.meter_end_num = #{meterEndNum}</if>
			<if test="transfRatio != null  and transfRatio != ''"> and m.transf_ratio = #{transfRatio}</if>
			<if test="strappingType != null  and strappingType != ''"> and m.strapping_type = #{strappingType}</if>
			<if test="meterReadDate != null  and meterReadDate != ''"> and m.meter_read_date = #{meterReadDate}</if>
			<if test="newMeterConsumption != null  and newMeterConsumption != ''"> and m.new_meter_consumption = #{newMeterConsumption}</if>
			<if test="oldMeterConsumption != null  and oldMeterConsumption != ''"> and m.old_meter_consumption = #{oldMeterConsumption}</if>
			<if test="attritionRate != null  and attritionRate != ''"> and m.attrition_rate = #{attritionRate}</if>
			<if test="unitPrice != null  and unitPrice != ''"> and m.unit_price = #{unitPrice}</if>
			<if test="amountPrice != null  and amountPrice != ''"> and m.amount_price = #{amountPrice}</if>
			<if test="customerName != null  and customerName != ''"> and m.customer_name = #{customerName}</if>
			<if test="ownerTenant != null  and ownerTenant != ''"> and m.owner_tenant = #{ownerTenant}</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteHyMeterById" parameterType="Long">
		delete from hy_meter where id = #{id}
	</delete>

	<delete id="deleteHyMeterByIds" parameterType="String">
		delete from hy_meter where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>