<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HySpecimenMapper">
    
    <resultMap type="HySpecimen" id="HySpecimenResult">
        <result property="id"    column="id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="deptId"    column="dept_id"    />
        <association property="hyDept" column="id"
			javaType="HyDept" resultMap="HyDeptResult" />
		<association property="hyEmployee" column="id"
			javaType="HyEmployee" resultMap="HyEmployeeResult" />
    </resultMap>
	
	<resultMap type="HyDept" id="HyDeptResult">
        <result property="id"    column="id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="leader"    column="leader"    />
        <result property="propertyId"    column="property_id"    />
    </resultMap>
	
	<resultMap type="HyEmployee" id="HyEmployeeResult">
        <result property="id"    column="id"    />
        <result property="employeeName"    column="employee_name"    />
        <result property="employeePhone"    column="employee_phone"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>
	
    <sql id="selectHySpecimenVo">
        select 
        s.id, 
        s.employee_id, 
        s.dept_id,
        d.dept_name,
        e.employee_name 
        from 
        hy_specimen s
        LEFT JOIN hy_dept d ON s.dept_id = d.id
        LEFT JOIN hy_employee e ON s.employee_id = e.id
    </sql>

    <select id="selectHySpecimenList" parameterType="HySpecimen" resultMap="HySpecimenResult">
        <include refid="selectHySpecimenVo"/>
        <where>  
            <if test="employeeId != null "> and s.employee_id = #{employeeId}</if>
            <if test="deptId != null "> and s.dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectHySpecimenById" parameterType="Long" resultMap="HySpecimenResult">
        <include refid="selectHySpecimenVo"/>
        where s.id = #{id}
    </select>
        
    <insert id="insertHySpecimen" parameterType="HySpecimen">
        insert into hy_specimen
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="employeeId != null">employee_id,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="employeeId != null">#{employeeId},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateHySpecimen" parameterType="HySpecimen">
        update hy_specimen
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHySpecimenById" parameterType="Long">
        delete from hy_specimen where id = #{id}
    </delete>

    <delete id="deleteHySpecimenByIds" parameterType="String">
        delete from hy_specimen where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>