<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HySupplierMapper">
    
    <resultMap type="HySupplier" id="HySupplierResult">
        <result property="id"    column="id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="supplierBusinessLicence"    column="supplier_business_licence"    />
        <result property="supplierCharge"    column="supplier_charge"    />
        <result property="supplierPhone"    column="supplier_phone"    />
        <result property="supplierEmail"    column="supplier_email"    />
        <result property="supplierAddress"    column="supplier_address"    />
        <result property="incorporationDate"    column="incorporation_date"    />
    </resultMap>

    <sql id="selectHySupplierVo">
        select id, supplier_name, supplier_business_licence, supplier_charge, supplier_phone, supplier_email, supplier_address, incorporation_date from hy_supplier
    </sql>

    <select id="selectHySupplierList" parameterType="HySupplier" resultMap="HySupplierResult">
        <include refid="selectHySupplierVo"/>
        <where>  
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="supplierBusinessLicence != null  and supplierBusinessLicence != ''"> and supplier_business_licence = #{supplierBusinessLicence}</if>
            <if test="supplierCharge != null  and supplierCharge != ''"> and supplier_charge = #{supplierCharge}</if>
            <if test="supplierPhone != null  and supplierPhone != ''"> and supplier_phone = #{supplierPhone}</if>
            <if test="supplierEmail != null  and supplierEmail != ''"> and supplier_email = #{supplierEmail}</if>
            <if test="supplierAddress != null  and supplierAddress != ''"> and supplier_address = #{supplierAddress}</if>
            <if test="incorporationDate != null "> and incorporation_date = #{incorporationDate}</if>
        </where>
    </select>
    
    <select id="selectHySupplierById" parameterType="Long" resultMap="HySupplierResult">
        <include refid="selectHySupplierVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHySupplier" parameterType="HySupplier" useGeneratedKeys="true" keyProperty="id">
        insert into hy_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierName != null">supplier_name,</if>
            <if test="supplierBusinessLicence != null">supplier_business_licence,</if>
            <if test="supplierCharge != null">supplier_charge,</if>
            <if test="supplierPhone != null">supplier_phone,</if>
            <if test="supplierEmail != null">supplier_email,</if>
            <if test="supplierAddress != null">supplier_address,</if>
            <if test="incorporationDate != null">incorporation_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierName != null">#{supplierName},</if>
            <if test="supplierBusinessLicence != null">#{supplierBusinessLicence},</if>
            <if test="supplierCharge != null">#{supplierCharge},</if>
            <if test="supplierPhone != null">#{supplierPhone},</if>
            <if test="supplierEmail != null">#{supplierEmail},</if>
            <if test="supplierAddress != null">#{supplierAddress},</if>
            <if test="incorporationDate != null">#{incorporationDate},</if>
         </trim>
    </insert>

    <update id="updateHySupplier" parameterType="HySupplier">
        update hy_supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="supplierBusinessLicence != null and supplierBusinessLicence != ''">supplier_business_licence = #{supplierBusinessLicence},</if>
            <if test="supplierCharge != null">supplier_charge = #{supplierCharge},</if>
            <if test="supplierPhone != null">supplier_phone = #{supplierPhone},</if>
            <if test="supplierEmail != null">supplier_email = #{supplierEmail},</if>
            <if test="supplierAddress != null">supplier_address = #{supplierAddress},</if>
            <if test="incorporationDate != null">incorporation_date = #{incorporationDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHySupplierById" parameterType="Long">
        delete from hy_supplier where id = #{id}
    </delete>

    <delete id="deleteHySupplierByIds" parameterType="String">
        delete from hy_supplier where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>