<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyThirdPaymentMapper">
    
    <resultMap type="HyThirdPayment" id="HyThirdPaymentResult">
        <result property="id"    column="id"    />
        <result property="bankChannel"    column="bank_channel"    />
        <result property="merchantNumber"    column="merchant_number"    />
        <result property="secretKey"    column="secret_key"    />
        <result property="appid"    column="appid"    />
        <result property="appsecret"    column="appsecret"    />
        <result property="applicationPrivateKey"    column="application_private_key"    />
        <result property="residentialQuartersId"    column="residential_quarters_id"    />
        <association property="hyResidentialQuarters"
			column="id" javaType="HyResidentialQuarters"
			resultMap="HyResidentialQuartersResult" />
    </resultMap>
    
    <resultMap type="HyResidentialQuarters" id="HyResidentialQuartersResult">
        <result property="id"    column="id"    />
        <result property="communityAddress"    column="community_address"    />
        <result property="communityName"    column="community_name"    />
        <result property="contacts"    column="contacts"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="contactQq"    column="Contact_QQ"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="county"    column="county"    />
        <result property="address"    column="address"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="customerLink"    column="customer_link"    />
        <result property="externalLinks"    column="external_links"    />
        <result property="propertyId"    column="property_id"    />
    </resultMap>

    <sql id="selectHyThirdPaymentVo">
        select 
        r.id, 
        r.bank_channel, 
        r.merchant_number, 
        r.secret_key, appid, 
        r.appsecret, 
        r.application_private_key, 
        r.residential_quarters_id 
        from 
        hy_third_payment r 
        LEFT JOIN hy_residential_quarters q ON r.residential_quarters_id=q.id
        where 1=1
    </sql>

    <select id="selectHyThirdPaymentList" parameterType="HyThirdPayment" resultMap="HyThirdPaymentResult">
        <include refid="selectHyThirdPaymentVo"/>
            <if test="bankChannel != null  and bankChannel != ''"> and bank_channel = #{bankChannel}</if>
            <if test="merchantNumber != null "> and merchant_number = #{merchantNumber}</if>
            <if test="secretKey != null  and secretKey != ''"> and secret_key = #{secretKey}</if>
            <if test="appid != null  and appid != ''"> and appid = #{appid}</if>
            <if test="appsecret != null  and appsecret != ''"> and appsecret = #{appsecret}</if>
            <if test="applicationPrivateKey != null  and applicationPrivateKey != ''"> and application_private_key = #{applicationPrivateKey}</if>
            <if test="residentialQuartersId != null "> and residential_quarters_id = #{residentialQuartersId}</if>
    </select>
    
    <select id="selectHyThirdPaymentById" parameterType="Long" resultMap="HyThirdPaymentResult">
        <include refid="selectHyThirdPaymentVo"/>
        and r.id = #{id}
    </select>
        
    <insert id="insertHyThirdPayment" parameterType="HyThirdPayment" useGeneratedKeys="true" keyProperty="id">
        insert into hy_third_payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bankChannel != null">bank_channel,</if>
            <if test="merchantNumber != null">merchant_number,</if>
            <if test="secretKey != null">secret_key,</if>
            <if test="appid != null">appid,</if>
            <if test="appsecret != null">appsecret,</if>
            <if test="applicationPrivateKey != null">application_private_key,</if>
            <if test="residentialQuartersId != null">residential_quarters_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bankChannel != null">#{bankChannel},</if>
            <if test="merchantNumber != null">#{merchantNumber},</if>
            <if test="secretKey != null">#{secretKey},</if>
            <if test="appid != null">#{appid},</if>
            <if test="appsecret != null">#{appsecret},</if>
            <if test="applicationPrivateKey != null">#{applicationPrivateKey},</if>
            <if test="residentialQuartersId != null">#{residentialQuartersId},</if>
         </trim>
    </insert>

    <update id="updateHyThirdPayment" parameterType="HyThirdPayment">
        update hy_third_payment
        <trim prefix="SET" suffixOverrides=",">
            <if test="bankChannel != null">bank_channel = #{bankChannel},</if>
            <if test="merchantNumber != null">merchant_number = #{merchantNumber},</if>
            <if test="secretKey != null">secret_key = #{secretKey},</if>
            <if test="appid != null">appid = #{appid},</if>
            <if test="appsecret != null">appsecret = #{appsecret},</if>
            <if test="applicationPrivateKey != null">application_private_key = #{applicationPrivateKey},</if>
            <if test="residentialQuartersId != null">residential_quarters_id = #{residentialQuartersId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyThirdPaymentById" parameterType="Long">
        delete from hy_third_payment where id = #{id}
    </delete>

    <delete id="deleteHyThirdPaymentByIds" parameterType="String">
        delete from hy_third_payment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>