<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyVatAuditMapper">
    
    <resultMap type="HyVatAudit" id="HyVatAuditResult">
        <result property="id"    column="id"    />
        <result property="areaName"    column="area_name"    />
        <result property="projectNum"    column="project_num"    />
        <result property="entryName"    column="entry_name"    />
        <result property="taxScale"    column="tax_scale"    />
        <result property="expenseAccount"    column="expense_account"    />
        <result property="taxRate"    column="tax_rate"    />
        <result property="timeStr"    column="time_str"    />
        <result property="timeEnd"    column="time_end"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="estateRecord"    column="estate_record"    />
        <result property="taxRateRecord"    column="tax_rate_record"    />
    </resultMap>

    <sql id="selectHyVatAuditVo">
        select id, area_name, project_num, entry_name, tax_scale, expense_account, tax_rate, time_str, time_end, audit_status, estate_record, tax_rate_record from hy_vat_audit
    </sql>

    <select id="selectHyVatAuditList" parameterType="HyVatAudit" resultMap="HyVatAuditResult">
        <include refid="selectHyVatAuditVo"/>
        <where>  
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="projectNum != null  and projectNum != ''"> and project_num = #{projectNum}</if>
            <if test="entryName != null  and entryName != ''"> and entry_name like concat('%', #{entryName}, '%')</if>
            <if test="taxScale != null  and taxScale != ''"> and tax_scale = #{taxScale}</if>
            <if test="expenseAccount != null  and expenseAccount != ''"> and expense_account = #{expenseAccount}</if>
            <if test="taxRate != null  and taxRate != ''"> and tax_rate = #{taxRate}</if>
            <if test="timeStr != null "> and time_str = #{timeStr}</if>
            <if test="timeEnd != null "> and time_end = #{timeEnd}</if>
            <if test="auditStatus != null "> and audit_status = #{auditStatus}</if>
            <if test="estateRecord != null "> and estate_record = #{estateRecord}</if>
            <if test="taxRateRecord != null "> and tax_rate_record = #{taxRateRecord}</if>
        </where>
    </select>
    
    <select id="selectHyVatAuditById" parameterType="Long" resultMap="HyVatAuditResult">
        <include refid="selectHyVatAuditVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHyVatAudit" parameterType="HyVatAudit">
        insert into hy_vat_audit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="areaName != null">area_name,</if>
            <if test="projectNum != null">project_num,</if>
            <if test="entryName != null">entry_name,</if>
            <if test="taxScale != null">tax_scale,</if>
            <if test="expenseAccount != null">expense_account,</if>
            <if test="taxRate != null">tax_rate,</if>
            <if test="timeStr != null">time_str,</if>
            <if test="timeEnd != null">time_end,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="estateRecord != null">estate_record,</if>
            <if test="taxRateRecord != null">tax_rate_record,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="areaName != null">#{areaName},</if>
            <if test="projectNum != null">#{projectNum},</if>
            <if test="entryName != null">#{entryName},</if>
            <if test="taxScale != null">#{taxScale},</if>
            <if test="expenseAccount != null">#{expenseAccount},</if>
            <if test="taxRate != null">#{taxRate},</if>
            <if test="timeStr != null">#{timeStr},</if>
            <if test="timeEnd != null">#{timeEnd},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="estateRecord != null">#{estateRecord},</if>
            <if test="taxRateRecord != null">#{taxRateRecord},</if>
         </trim>
    </insert>

    <update id="updateHyVatAudit" parameterType="HyVatAudit">
        update hy_vat_audit
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="projectNum != null">project_num = #{projectNum},</if>
            <if test="entryName != null">entry_name = #{entryName},</if>
            <if test="taxScale != null">tax_scale = #{taxScale},</if>
            <if test="expenseAccount != null">expense_account = #{expenseAccount},</if>
            <if test="taxRate != null">tax_rate = #{taxRate},</if>
            <if test="timeStr != null">time_str = #{timeStr},</if>
            <if test="timeEnd != null">time_end = #{timeEnd},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="estateRecord != null">estate_record = #{estateRecord},</if>
            <if test="taxRateRecord != null">tax_rate_record = #{taxRateRecord},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyVatAuditById" parameterType="Long">
        delete from hy_vat_audit where id = #{id}
    </delete>

    <delete id="deleteHyVatAuditByIds" parameterType="String">
        delete from hy_vat_audit where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>