<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HyWechatPaymentMapper">
    
    <resultMap type="HyWechatPayment" id="HyWechatPaymentResult">
        <result property="id"    column="id"    />
        <result property="officialAccount"    column="official_account"    />
        <result property="wechatPaymentMerchantNumber"    column="wechat_payment_merchant_number"    />
        <result property="wechatPaymentKey"    column="wechat_payment_key"    />
        <result property="residentialQuartersId"    column="residential_quarters_id"    />
                <association property="hyResidentialQuarters"
			column="id" javaType="HyResidentialQuarters"
			resultMap="HyResidentialQuartersResult" />
    </resultMap>
    
         <resultMap type="HyResidentialQuarters" id="HyResidentialQuartersResult">
        <result property="id"    column="id"    />
        <result property="communityAddress"    column="community_address"    />
        <result property="communityName"    column="community_name"    />
        <result property="contacts"    column="contacts"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="contactQq"    column="Contact_QQ"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="county"    column="county"    />
        <result property="address"    column="address"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="customerLink"    column="customer_link"    />
        <result property="externalLinks"    column="external_links"    />
        <result property="propertyId"    column="property_id"    />
     
    </resultMap>

    <sql id="selectHyWechatPaymentVo">
        select 
        p.id, 
        p.official_account, 
        p.wechat_payment_merchant_number, 
        p.wechat_payment_key, 
        p.residential_quarters_id 
        from 
        hy_wechat_payment p
        LEFT JOIN hy_residential_quarters r ON p.residential_quarters_id=r.id
        where 1=1
    </sql>

    <select id="selectHyWechatPaymentList" parameterType="HyWechatPayment" resultMap="HyWechatPaymentResult">
        <include refid="selectHyWechatPaymentVo"/>
            <if test="officialAccount != null  and officialAccount != ''"> and official_account = #{officialAccount}</if>
            <if test="wechatPaymentMerchantNumber != null  and wechatPaymentMerchantNumber != ''"> and wechat_payment_merchant_number = #{wechatPaymentMerchantNumber}</if>
            <if test="wechatPaymentKey != null  and wechatPaymentKey != ''"> and wechat_payment_key = #{wechatPaymentKey}</if>
            <if test="residentialQuartersId != null "> and residential_quarters_id = #{residentialQuartersId}</if>
    </select>
    
    <select id="selectHyWechatPaymentById" parameterType="Long" resultMap="HyWechatPaymentResult">
        <include refid="selectHyWechatPaymentVo"/>
        and p.id = #{id}
    </select>
        
    <insert id="insertHyWechatPayment" parameterType="HyWechatPayment" useGeneratedKeys="true" keyProperty="id">
        insert into hy_wechat_payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="officialAccount != null">official_account,</if>
            <if test="wechatPaymentMerchantNumber != null">wechat_payment_merchant_number,</if>
            <if test="wechatPaymentKey != null">wechat_payment_key,</if>
            <if test="residentialQuartersId != null">residential_quarters_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="officialAccount != null">#{officialAccount},</if>
            <if test="wechatPaymentMerchantNumber != null">#{wechatPaymentMerchantNumber},</if>
            <if test="wechatPaymentKey != null">#{wechatPaymentKey},</if>
            <if test="residentialQuartersId != null">#{residentialQuartersId},</if>
         </trim>
    </insert>

    <update id="updateHyWechatPayment" parameterType="HyWechatPayment">
        update hy_wechat_payment
        <trim prefix="SET" suffixOverrides=",">
            <if test="officialAccount != null">official_account = #{officialAccount},</if>
            <if test="wechatPaymentMerchantNumber != null">wechat_payment_merchant_number = #{wechatPaymentMerchantNumber},</if>
            <if test="wechatPaymentKey != null">wechat_payment_key = #{wechatPaymentKey},</if>
            <if test="residentialQuartersId != null">residential_quarters_id = #{residentialQuartersId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHyWechatPaymentById" parameterType="Long">
        delete from hy_wechat_payment where id = #{id}
    </delete>

    <delete id="deleteHyWechatPaymentByIds" parameterType="String">
        delete from hy_wechat_payment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>