<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OrderAndProductMapper">
    
    <resultMap type="OrderAndProduct" id="OrderAndProductResult">
        <result property="orderId"    column="order_id"    />
        <result property="productId"    column="product_id"    />
        <result property="number"    column="number"    />
    </resultMap>

    <sql id="selectOrderAndProductVo">
        select order_id, product_id, number from order_and_product
    </sql>

    <select id="selectOrderAndProductList" parameterType="OrderAndProduct" resultMap="OrderAndProductResult">
        <include refid="selectOrderAndProductVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="number != null "> and number = #{number}</if>
        </where>
    </select>
    
    <select id="selectOrderAndProductById" parameterType="Long" resultMap="OrderAndProductResult">
        <include refid="selectOrderAndProductVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertOrderAndProduct" parameterType="OrderAndProduct">
        insert into order_and_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="number != null">number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="number != null">#{number},</if>
         </trim>
    </insert>

    <update id="updateOrderAndProduct" parameterType="OrderAndProduct">
        update order_and_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productId != null">product_id = #{productId},</if>
            <if test="number != null">number = #{number},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrderAndProductById" parameterType="Long">
        delete from order_and_product where order_id = #{orderId}
    </delete>

    <delete id="deleteOrderAndProductByIds" parameterType="String">
        delete from order_and_product where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

</mapper>