<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TaskAndNodeMapper">
    
    <resultMap type="TaskAndNode" id="TaskAndNodeResult">
        <result property="taskId"    column="task_id"    />
        <result property="nodeId"    column="node_id"    />
        <result property="isInspection"    column="is_inspection"    />
    </resultMap>

    <sql id="selectTaskAndNodeVo">
        select task_id, node_id, is_inspection from task_and_node
    </sql>

    <select id="selectTaskAndNodeList" parameterType="TaskAndNode" resultMap="TaskAndNodeResult">
        <include refid="selectTaskAndNodeVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="nodeId != null "> and node_id = #{nodeId}</if>
            <if test="isInspection != null  and isInspection != ''"> and is_inspection = #{isInspection}</if>
        </where>
    </select>
    
    <select id="selectTaskAndNodeById" parameterType="Long" resultMap="TaskAndNodeResult">
        <include refid="selectTaskAndNodeVo"/>
        where task_id = #{taskId}
    </select>
        
    <insert id="insertTaskAndNode" parameterType="TaskAndNode">
        insert into task_and_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="nodeId != null">node_id,</if>
            <if test="isInspection != null">is_inspection,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="nodeId != null">#{nodeId},</if>
            <if test="isInspection != null">#{isInspection},</if>
         </trim>
    </insert>

    <update id="updateTaskAndNode" parameterType="TaskAndNode">
        update task_and_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeId != null">node_id = #{nodeId},</if>
            <if test="isInspection != null">is_inspection = #{isInspection},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteTaskAndNodeById" parameterType="Long">
        delete from task_and_node where node_id = #{nodeId}
    </delete>
    
    <delete id="deleteTaskAndNodeByNodeIdAndTaskId" parameterType="Long">
        delete from task_and_node where node_id = #{nodeId} and task_id = #{taskId}
    </delete>

    <delete id="deleteTaskAndNodeByIds" parameterType="String">
        delete from task_and_node where node_id in 
        <foreach item="nodeId" collection="array" open="(" separator="," close=")">
            #{nodeId}
        </foreach>
    </delete>

</mapper>