<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('抄设置列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
				
							<li>
								<label>表计类型：</label> 
								<select name="meterType"
								class="form-control "
								th:with="type=${@dict.getType('hy_meter_type')}">
									<option value="">请选择</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>
								<label>表计序号：</label> 
								<input type="text" name="meterSerialNum" />
							</li>
							<li>
								<label>表计名称：</label> 
								<input type="text" name="meterName" />
							</li>
	
							<li>
								<label>计量表类型：</label> 
								  <select name="strappingType" class="form-control " th:with="type=${@dict.getType('hy_metering_type')}">
                                <option value="">请选择</option>
                               
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
							</li>
							<li>
								<label>抄表日期：</label> 
								<input type="text" class="time-input" placeholder="请选择抄表日期" name="meterReadDate"/>
							</li>
							<li>
								<label>现用量：</label> 
								<input type="text" id="newMeterConsumption" name="newMeterConsumption" />
							</li>
							<li>
								<label>旧表用量：</label> 
								<input type="text" id="oldMeterConsumption" name="oldMeterConsumption" />
							</li>
							<li>
								<label>损耗：</label> 
								<input type="text" name="attritionRate" />
							</li>
							<li>
								<label>单价：</label> 
								<input type="text" name="unitPrice" />
							</li>
							<li>
								<label>金额：</label> 
								<input type="text" name="amountPrice" />
							</li>
							<li>
					
							<li>
								<label>房屋名称：</label> 
								<input type="text"name="hyHouseInf.houseName" />
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
	
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:meter:export"> 
					<i class="fa fa-download"></i> 导出
				</a>
				
				<a class="btn btn-danger" shiro:hasPermission="system:meter:print" onclick="printPage()">
	                <i class="fa fa-print"></i> 打印
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:meter:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:meter:remove')}]];
        var prefix = ctx + "system/publicDistrictMeter";
        
        function meterCase(){
        	$("#formId").attr("action","/system/case");
        	$("#formId").submit();
        	
        }
        

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "抄设置",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                }, 
                {
                    field: 'hyMeterCase.meterCasePosition',
                    title: '安装位置'
                },
           
                {
                    field: 'meterSerialNum',
                    title: '表计编号'
                },
   
                {
                    field: 'meterName',
                    title: '表计名称'
                },
                {
                    field: 'meterType',
                    title: '表计类型',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case "0" : value =  "水";break;
	                    	case "1" : value =  "电";break;
	                    	case "2" : value =  "气";break;
	                    	case "3" : value =  "暖气";break;
	                	}
		            	return value;
		            }
                },
                
             
               
                {
                    field: 'unitPrice',
                    title: '单价'
                },
      
                {
                    field: 'standardName',
                    title: '标准名称'
                },
      
             
               
            
                
         /*        {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                } */
                ]
            };
            $.table.init(options);
        });
        
        function printPage() {
            window.print();
        }
    </script>
</body>
</html>