<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('表单向导')" />
<th:block th:include="include :: jquery-smartwizard-css" />
<style type="text/css">
/* 如果要让工具栏固定在页面底部,使用下面的样式,不需要的可以注释 */
.sw>.toolbar-bottom {
	z-index: 100;
	bottom: 0px;
	left: 0;
	width: 100%;
	position: fixed;
	text-align: right;
	background: #fff;
	box-shadow: 0 -2px 6px 1px hsla(223, 8%, 83%, .5);
	border-top: 1px solid #e3e4e8;
}
/* 如果设置了是否自动调节高度为false,需要加滚动条 */
.sw>.tab-content {
	overflow-x: hidden;
	overflow-y: auto;
}
</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight" style="height: 100%;">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-title">
						<h5>
							退款申请 <small>(需审核)</small>
						</h5>
					</div>
					<div class="ibox-content">
						<div class="row select-list" style="padding-left: 15px; margin-bottom: 10px;">
							<ul>
								<li>选择样式： 
									<select id="theme-selector">
										<option value="default">Default</option>
										<option value="arrows" selected>Arrows</option>
										<option value="dots">Dots</option>
										<option value="progress">Progress</option>
									</select>
								</li>
								<!-- 快速操作栏按钮 -->
								<li>
									<div class="btn-group-sm" role="group">
										<a class="btn btn-info" id="prev-btn"> 上一步 </a> 
										<a class="btn btn-success" id="next-btn"> 下一步 </a> 
										<a class="btn btn-danger" id="reset-btn"> 重置 </a>
									</div>
								</li>
							</ul>
						</div>
						<div id="smartwizard">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="#step-1"> 第一步:退款申请 </a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#step-2"> 第二步:退款办理</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#step-3"> 第三步:退款确认 </a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="step-1" class="tab-pane" style="height: 800px;" role="tabpanel" aria-labelledby="step-1">
									<div>
										<div class="container-div">
											<div class="row">
												<div class="col-sm-12 search-collapse">
													<form id="formId1">
														<div class="select-list">
															<ul>
																<li>
																	<label>房屋编号：</label> 
																	<input type="text" id="step1houseNumber" name="hyHouseInf.houseNumber" />
																</li>
																<li>
																	<label>房屋名称：</label> 
																	<input type="text" id="step1houseName" name="hyHouseInf.houseName" />
																</li>
																<li>
																<label>交房状态：</label> 
																	<select id="step1deliveryStatus" name="hyHouseInf.deliveryStatus" class="form-control m-b" th:with="type=${@dict.getType('hy_delivery_status')}">
																		<option value="">请选择</option>
																		<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
																	</select>
																</li>
																<li>
																	<a class="btn btn-primary btn-rounded btn-sm" onclick="searchData()">
																		<i class="fa fa-search"></i>&nbsp;搜索
																	</a>
																	<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()">
																		<i class="fa fa-refresh"></i>&nbsp;重置
																	</a>
																</li>
															</ul>
														</div>
													</form>
												</div>

												<div class="btn-group-sm" id="toolbar" role="group">
													<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:inf:add"> 
														<i class="fa fa-plus"></i> 添加
													</a> 
													<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:inf:export"> 
														<i class="fa fa-download"></i> 导出
													</a>
												</div>
												<div class="col-sm-12 select-table table-striped">
													<table id="table1"></table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
									<div class="wrapper wrapper-content animated fadeInRight ibox-content">
										<form class="form-horizontal m" id="formId2">
											<div style="width: 49%;float: left;">
												<div class="form-group">
													<label class="col-sm-3 control-label">客户名称：</label>
													<div class="col-sm-8">
														<input id="step2ownerName" name="hyOwnerRegistration.ownerName" class="form-control" type="text">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">房屋编号：</label>
													<div class="col-sm-8">
														<input id="step2houseNumber" name="hyHouseInf.houseNumber" class="form-control" type="text">
													</div>
												</div>
											</div>

											<div style="width: 49%; float: right;">
												<div class="form-group">
													<label class="col-sm-3 control-label">房屋名称：</label>
													<div class="col-sm-8">
														<input id="step2houseName" name="hyHouseInf.houseName" class="form-control" type="text">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">当前欠费：</label>
													<div class="col-sm-8">
														<input id="step2amountArrears" name="cost.amountArrears" class="form-control" type="text" style="border: none;">
													</div>
												</div>
											</div>
											
											<div style="width: 100%; margin-left: 40%; clear: both;">
												<button type="button" class="btn btn-w-m btn-success" onclick="searchRefund()">查询</button>
												<button type="button" class="btn btn-w-m btn-success" onclick="resetForm2()">清空</button>
											</div>
											
											<div class="col-sm-12 select-table table-striped">
												<div>
													<span style="font-size: 17px; font-family: sans-serif; margin-left: 45%;">已审核实收/冲抵费用</span>
												</div>
												<table id="table2"></table>
											</div>
											<div class="col-sm-12 select-table table-striped">
												<div>
													<span style="font-size: 17px; font-family: sans-serif; margin-left: 45%;">已审核预存/预收费用</span>
												</div>
												<table id="table3"></table>
											</div>
										</form>
									</div>
								</div>
								<div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
									<div class="wrapper wrapper-content animated fadeInRight ibox-content">
										<form class="form-horizontal m" id="formId3">
											<div style="width: 49%;float: left;">
												<div class="form-group">
													<label class="col-sm-3 control-label">退款金额：</label>
													<div class="col-sm-8">
														<input id="step3refundAmount" name="refundAmount" class="form-control" type="text">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">退款凭据类别：</label>
													<div class="col-sm-8">
														<select id="step3refundVoucher" name="refundVoucher" class="form-control">
															<option value="1">测试退款类别</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">领款人：</label>
													<div class="col-sm-8">
														<input id="step3payee" name="payee" class="form-control" type="text">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">退款人：</label>
													<div class="col-sm-8">
														<input id="step3refunder" name="refunder" class="form-control" type="text">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">备注：</label>
													<div class="col-sm-8">
														<input id="step3refundRemark" name="refundRemark" class="form-control" type="text">
													</div>
												</div>
											</div>

											<div style="width: 49%; float: right;">
												<div class="form-group">
													<label class="col-sm-3 control-label">退款方式：</label>
													<div class="col-sm-8">
														<select id="step3refundMethod" name="refundMethod" class="form-control">
															<option value="0">现金</option>
															<option value="1">通联支付</option>
															<option value="2">POS刷卡</option>
															<option value="3">银行代扣</option>
															<option value="4">银行托收</option>
															<option value="5">微信支付</option>
															<option value="6">汇款</option>
															<option value="7">支付宝支付</option>
															<option value="8">扫码支付</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">退款凭据票号：</label>
													<div class="col-sm-8">
														<input id="step3refundVoucherNo" name="refundVoucherNo" class="form-control" type="text">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">身份证号：</label>
													<div class="col-sm-8">
														<input id="step3idCard" name="idCard" class="form-control" type="text">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">验收人：</label>
													<div class="col-sm-8">
														<input id="step3acceptancePerson" name="acceptancePerson" class="form-control" type="text">
													</div>
												</div>
												<input type="hidden" id="step3id" name="id"/>
											</div>
											<div style="width: 100%; margin-left: 50%; clear: both;">
												<button type="button" class="btn btn-w-m btn-success" onclick="editRefund()">退款确认</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: jquery-smartwizard-js" />

	<script th:inline="javascript">

    var editFlag = [[${@permission.hasPermi('system:inf:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:inf:remove')}]];
    var prefix = ctx + "system/refund";

    var options1 = {
       	tableId : "table1",
           url: prefix + "/list",
           createUrl: prefix + "/add",
           updateUrl: prefix + "/edit/{id}",
           removeUrl: prefix + "/remove",
           exportUrl: prefix + "/export",
           importUrl: prefix + "/importData",
           importTemplateUrl: prefix + "/importTemplate",
           modalName: "退款申请",
           columns: [{
               checkbox: true
           },
           {
               field: 'id',
               title: 'id',
               visible: false
           },
           {
               field: 'applyNumber',
               title: '申请编号'
           },
           {
               field: 'hyOwnerRegistration.ownerName',
               title: '客户名称'
           },
           {
               field: 'hyHouseInf.houseNumber',
               title: '房屋编号'
           },
           {
               field: 'refundAmount',
               title: '退款总金额'
           },
           {
               field: 'refundReasons',
               title: '退款原因'
           },
           {
               title: '操作',
               align: 'center',
               formatter: function(value, row, index) {
                   var actions = [];
                   actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                   return actions.join('');
               }
           }]
       };
       
    var options2 = {
       	tableId : "table2",
           columns: [{
               checkbox: true
           },
           {
               field: 'id',
               title: 'id',
               visible: false
           },
           {
               field: 'hyHouseInf.houseNumber',
               title: '房屋编号'
           },
           {
               field: 'hyHouseInf.houseName',
               title: '房屋名称'
           },
           {
               field: 'hyCollection.collectionTime',
               title: '收款/冲抵时间'
           },
           {
               field: 'hyCollection.receiptNumber',
               title: '收据号码'
           },
           {
               field: 'hyCost.feeDate',
               title: '费用日期'
           },
           {
               field: 'hyCost.dueDate',
               title: '应收日期'
           },
           {
               field: 'hyCost.bilingStartDate',
               title: '开始日期'
           },
           {
               field: 'hyCost.bilingEndDate',
               title: '结束日期'
           },
           {
               field: 'hyCost.costItems',
               title: '费用名称'
           },
           {
               field: 'refundMoney',
               title: '审核金额'
           },
           {
               field: 'refundRemark',
               title: '备注'
           }]
       };
       
    var options3 = {
       	tableId : "table3",
           columns: [{
               checkbox: true
           },
           {
               field: 'id',
               title: 'id',
               visible: false
           },
           {
               field: 'hyHouseInf.houseNumber',
               title: '房屋编号'
           },
           {
               field: 'hyHouseInf.houseName',
               title: '房屋名称'
           },
           {
               field: 'hyCollection.collectionTime',
               title: '收款/冲抵时间'
           },
           {
               field: 'hyCollection.receiptNumber',
               title: '收据号码'
           },
           {
               field: 'hyCost.feeDate',
               title: '费用日期'
           },
           {
               field: 'hyCost.dueDate',
               title: '应收日期'
           },
           {
               field: 'hyCost.bilingStartDate',
               title: '开始日期'
           },
           {
               field: 'hyCost.bilingEndDate',
               title: '结束日期'
           },
           {
               field: 'hyCost.costItems',
               title: '费用名称'
           },
           {
               field: 'refundMoney',
               title: '审核金额'
           },
           {
               field: 'refundRemark',
               title: '备注'
           }]
       };
       
       $(function() {
    	   $.table.initOtherTable(options1);
    	   $.table.initNoRightTable(options2);
    	   $.table.initNoRightTable(options3);
       });
       
    $(document).ready(function() {
        // 初始化表单向导组件
        $('#smartwizard').smartWizard({
            theme: 'arrows', // default, arrows, dots, progress
            autoAdjustHeight : false, // 自动调整高度, 默认true
            enableURLhash:false, //开启URL hash,开启后点击浏览器前进后退按钮会执行下一步和上一步操作
            transition: {
                animation: 'slide-horizontal', // Effect on navigation, none/fade/slide-horizontal/slide-vertical/slide-swing
            },
            toolbarSettings: {
            	showNextButton: false,// 因为上面自定义了下一步按钮, 所以隐藏掉插件自带的按钮, 如果不使用自定义按钮, 需要改为true或者去掉该属性
				showPreviousButton: false// 因为上面自定义了上一步按钮, 所以隐藏掉插件自带的按钮, 如果不使用自定义按钮, 需要改为true或者去掉该属性
            }
        });
	});
	
	function submit(){
		var data = {};
		$('.form').each(function (index, form){
			// 这里可以使用$.common.formToJSON(formId);  需要在form上加id
            $.each($(form).serializeArray(), function(i, field) {
             	 if(data[field.name]) {
             		data[field.name] += ("," + field.value);
				 } else {
					data[field.name] = field.value;
                 }
            });
		});
		alert(JSON.stringify(data))
	}
	// 显示步骤时将触发事件
    $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
    	// 下面按钮是快速操作栏的
    	$("#prev-btn").removeClass('disabled');
        $("#next-btn").removeClass('disabled');
    	// 下面按钮是工具栏的
    	$("#btn-prev").removeClass('disabled');
        $("#btn-next").removeClass('disabled');
        $("#btn-finish").removeClass('disabled');
        if(stepPosition === 'first') {
        	$("#prev-btn").addClass('disabled');// 快速操作栏（演示用）
        	$("#btn-prev").addClass('disabled');
			$("#btn-finish").addClass('disabled');
        } else if(stepPosition === 'last') {
        	$("#next-btn").addClass('disabled');// 快速操作栏（演示用）
            $("#btn-next").addClass('disabled');
        } else {
        	$("#prev-btn").removeClass('disabled');// 快速操作栏（演示用）
            $("#next-btn").removeClass('disabled');// 快速操作栏（演示用）
            $("#btn-prev").removeClass('disabled');
            $("#btn-next").removeClass('disabled');
            $("#btn-finish").addClass('disabled');
        }
    });
	
	// 该事件在离开某个步骤之前触发
	$("#smartwizard").on("leaveStep", function(e, anchorObject, currentStepNumber, nextStepNumber, stepDirection) {
		if(nextStepNumber == 2){
			var rows=$("#table2").bootstrapTable('getSelections');
			if(rows.length == 0){
				$.modal.alertWarning("至少选择一条数据！！！");
				return false;
			}
			$("#step3refundAmount").val(rows[0].refundAmount);
			$("#step3id").val(rows[0].id);
		}
		if(stepDirection == 'forward'){
			var form = $("#step-" + (currentStepNumber + 1)).find('.form');
			if(form.length > 0){
				return form.validate().form();
			}
			return true;
		}
		return true;
	});
	
	$("#theme-selector").on("change", function() {
		// Change theme
		var options = {
			theme : $(this).val()
		};
		$('#smartwizard').smartWizard("setOptions", options);
		return true;
	});

	$("#reset-btn").on("click", function() {
        // Reset wizard
        $('#smartwizard').smartWizard("reset");
        return true;
    });

    $("#prev-btn").on("click", function() {
        // Navigate previous
        $('#smartwizard').smartWizard("prev");
        return true;
    });

    $("#next-btn").on("click", function() {
        // Navigate next
        $('#smartwizard').smartWizard("next");
        return true;
    });
    
 	 // 搜索-默认第一个form
     function searchData() {
    	$.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: '/system/refund/list',
            type: 'POST',
            data: $('#formId1').serialize(),
            success: function (result) {
           	  	$("#table1").bootstrapTable('destroy');
           		var options1 = {
               		tableId : "table1",
                   	createUrl: prefix + "/add",
                   	updateUrl: prefix + "/edit/{id}",
                   	removeUrl: prefix + "/remove",
                   	exportUrl: prefix + "/export",
                   	importUrl: prefix + "/importData",
                   	importTemplateUrl: prefix + "/importTemplate",
                   	data : result.rows,
                   	modalName: "客户标准单项设置",
                   	columns: [{
                       checkbox: true
                   	},
                   	{
                       field: 'id',
                       title: 'id',
                       visible: false
                   	},
                   	{
                       field: 'applyNumber',
                       title: '申请编号'
                   	},
                   	{
                       field: 'hyOwnerRegistration.ownerName',
                       title: '客户名称'
                   	},
                   	{
                       field: 'hyHouseInf.houseNumber',
                       title: '房屋编号'
                   	},
                   	{
                       field: 'refundAmount',
                       title: '退款总金额'
                   	},
                   	{
                       field: 'refundReasons',
                       title: '退款原因'
                   	},
                   	{
                       title: '操作',
                       align: 'center',
                       formatter: function(value, row, index) {
                           var actions = [];
                           actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.costItems + '\')"><i class="fa fa-remove"></i>删除</a>');
                           return actions.join('');
                       }
                   }]
               	};
           	  	$.table.initOtherTable(options1);
            },
        });
    } 
 	 
     function searchRefund(){
    	 $.ajax({
             //几个参数需要注意一下
             type: "POST",//方法类型
             dataType: "json",//预期服务器返回的数据类型
             url: "/system/refund/listByIsExamine",
             type: 'POST',
             data: $('#formId2').serialize(),
             success: function (result) {
            	$("#table2").bootstrapTable('destroy');
            	var data = result.rows;
            	if(data.length != 0){
            		$("#step2amountArrears").val(result.rows[0].hyCost.amountArrears);
            	}
            	var options2 = {
               	tableId : "table2",
               	data : result.rows,
                columns: [{
                	checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'hyCollection.collectionTime',
                    title: '收款/冲抵时间'
                },
                {
                    field: 'hyCollection.receiptNumber',
                    title: '收据号码'
                },
                {
                    field: 'hyCost.feeDate',
                    title: '费用日期'
                },
                {
                    field: 'hyCost.dueDate',
                    title: '应收日期'
                },
                {
                    field: 'hyCost.bilingStartDate',
                    title: '开始日期'
                },
                {
                    field: 'hyCost.bilingEndDate',
                    title: '结束日期'
                },
                {
                    field: 'hyCost.costItems',
                    title: '费用名称'
                },
                {
                    field: 'refundMoney',
                    title: '审核金额'
                },
                {
                    field: 'refundRemark',
                    title: '备注'
                }]
                };
               $.table.initNoRightTable(options2);
             },
         });
     }
     
     function editRefund(){
    	 $.ajax({
             //几个参数需要注意一下
             type: "POST",//方法类型
             dataType: "json",//预期服务器返回的数据类型
             url: "/system/refund/edit",
             type: 'POST',
             data: $('#formId3').serialize(),
             success: function (result) {
            	 $.modal.alertSuccess("退款成功！！");
            	 $('#formId1')[0].reset();
            	 $('#formId2')[0].reset();
            	 $('#formId3')[0].reset();
            	 window.location.reload();
             },
         });
     }
     
     function resetForm2(){
     	$('#formId2')[0].reset();
     	$("#table2").bootstrapTable('destroy');
     	$.table.initNoRightTable(options2);
     }
    </script>
</body>
</html>
