<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改设备维修保养备忘录')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-memo-edit" th:object="${hyMemo}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-2 control-label">备忘录号：</label>
                <div class="col-sm-4">
                    <input name="memoNo" th:field="*{memoNo}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">设备名称：</label>
                <div class="col-sm-4">
                    <select id="archivesId" name="archivesId" th:field="*{archivesId}" class="form-control" th:with="type=${@archives.getArchives()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.archivesName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">日期：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="memoDate" th:value="${#dates.format(hyMemo.memoDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <label class="col-sm-2 control-label">职员：</label>
                <div class="col-sm-4">
                	<select class="form-control m-b" name="userId" th:field="*{userId}" data-first-title="选择员工" th:with="type=${@employee.getEmployee()}">
	                  <option value="">请选择</option>
	                  <option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userId}"></option>
	                </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">设备类别：</label>
                <div class="col-sm-4">
                    <select id="equipmentId" name="equipmentId" th:field="*{equipmentId}" class="form-control" th:with="type=${@equipment.getEquipment()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.equipmentName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
                <label class="col-sm-2 control-label">所属组织机构：</label>
                <div class="col-sm-4">
                    <select class="form-control m-b" name="deptId" th:field="*{deptId}" data-first-title="选择部门" th:with="type=${@dept.getDepts()}">
                  		<option value="">请选择</option>
                  		<option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}"></option>
                	</select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">内容：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" th:field="*{memoContent}">
                    <div class="summernote" id="memoContent"></div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/memo";
        $("#form-memo-edit").validate({
           	rules : {
           		memoNo : {
   					required : true,
   					maxlength:255,
   				},
   				archivesId : {
   					required : true,
   					maxlength:11,
   				},
   				memoDate : {
   					required : true,
   				},
   				userId : {
   					required : true,
   					maxlength:11,
   				},
   				equipmentId : {
   					required : true,
   					maxlength:11,
   				},
   				deptId : {
   					required : true,
   					maxlength:11,
   				},
   				memoContent : {
   					required : true,
   					maxlength:255,
   				},
   			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-memo-edit').serialize());
            }
        }

        $("input[name='memoDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function() {
            $('.summernote').each(function(i) {
                $('#' + this.id).summernote({
                    lang: 'zh-CN',
                    callbacks: {
                        onChange: function(contents, $edittable) {
                            $("input[name='" + this.id + "']").val(contents);
                        },
                        onImageUpload: function(files) {
                            var obj = this;
                            var data = new FormData();
                            data.append("file", files[0]);
                            $.ajax({
                                type: "post",
                                url: ctx + "common/upload",
                                data: data,
                                cache: false,
                                contentType: false,
                                processData: false,
                                dataType: 'json',
                                success: function(result) {
                                    if (result.code == web_status.SUCCESS) {
                                        $('#' + obj.id).summernote('insertImage', result.url);
                                    } else {
                                        $.modal.alertError(result.msg);
                                    }
                                },
                                error: function(error) {
                                    $.modal.alertWarning("图片上传失败。");
                                }
                            });
                        }
                    }
                });
                var content = $("input[name='" + this.id + "']").val();
                $('#' + this.id).summernote('code', content);
            })
        });
    </script>
</body>
</html>