<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('新增费用减免')" />
<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-remission-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">房屋名称：</label>
				<div class="col-sm-8">
					<select class="form-control m-b" name="houseId" th:with="type=${@houseInf.getHouseInf()}">
	                  		<option value="">请选择</option>
	                  		<option th:each="dict : ${type}" th:text="${dict.houseName}" th:value="${dict.id}"></option>
	                </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">减免业务类型：</label>
				<div class="col-sm-8">
					<select id="businessExemptedType" name="businessExemptedType" class="form-control " >
                      <option value="">请选择</option>
                      <option value=1>政策性减免</option>
                      <option value=2>非政策性减免</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">费用名称：</label>
				<div class="col-sm-8">
					<select name="feeName" class="form-control"
						th:with="type=${@dict.getType('hy_fee_name')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">减免类型：</label>
				<div class="col-sm-8">
					<input name="reliefTypes" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">减免总金额：</label>
				<div class="col-sm-8">
					<input name="totalAmountDeduction" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">已减免金额：</label>
				<div class="col-sm-8">
					<input name="reducedAmount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">取消减免金额：</label>
				<div class="col-sm-8">
					<input name="cancellationCreditAmount" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">每月减免金额：</label>
				<div class="col-sm-8">
					<input name="monthlyDeductionAmount" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">减免比例：</label>
				<div class="col-sm-8">
					<input name="reductionRatio" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">均摊减免总金额：</label>
				<div class="col-sm-8">
					<input name="sharingTotalDeduction" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">开始时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="timeStr" class="form-control"
							placeholder="yyyy-MM-dd" type="text"> <span
							class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">结束时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="timeEnd" class="form-control"
							placeholder="yyyy-MM-dd" type="text"> <span
							class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">减免原因：</label>
				<div class="col-sm-8">
					<input name="exemptionReason" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input name="remarks" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否冲抵修改记录：</label>
				<div class="col-sm-8">
					<select name="offsetModificationRecord" class="form-control"
						th:with="type=${@dict.getType('sys_yes_no')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">审核状态：</label>
				<div class="col-sm-8">
					<div class="col-sm-8">
						<label class="check-box"> <input type="radio" value="0"
							name="auditStatus" id="auditStatus">已审核
						</label> <label class="check-box"> <input type="radio" value="1"
							name="auditStatus" id="auditStatus" checked="checked">未审核
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">税率：</label>
				<div class="col-sm-8">
					<input name="taxRate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">费用日期：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="feeDate" class="form-control"
							placeholder="yyyy-MM-dd" type="text"> <span
							class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">应收日期：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="dueDate" class="form-control"
							placeholder="yyyy-MM-dd" type="text"> <span
							class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">减免年份：</label>
				<div class="col-sm-8">
					<input name="remissionYear" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">减免月份：</label>
				<div class="col-sm-8">
					<input name="remissionMonth" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">减免登记人：</label>
				<div class="col-sm-8">
					<input name="exemptionRegistrant" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">登记时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="registrationTime" class="form-control"
							placeholder="yyyy-MM-dd" type="text"> <span
							class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否减免：</label>
				<div class="col-sm-8">
					<select name="reduceNot" class="form-control"
						th:with="type=${@dict.getType('sys_yes_no')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">未减免金额：</label>
				<div class="col-sm-8">
					<input name="amountNotRemitted" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">含税金额：</label>
				<div class="col-sm-8">
					<input name="amountTaxInc" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">税费：</label>
				<div class="col-sm-8">
					<input name="taxation" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">不含税金额：</label>
				<div class="col-sm-8">
					<input name="amountExcludingTax" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">冲抵时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="offsetTime" class="form-control"
							placeholder="yyyy-MM-dd" type="text"> <span
							class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">撤销时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="cancellationTime" class="form-control"
							placeholder="yyyy-MM-dd" type="text"> <span
							class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">撤销人：</label>
				<div class="col-sm-8">
					<input name="revocation" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否冲销：</label>
				<div class="col-sm-8">
					<select name="writeoffOnt" class="form-control"
						th:with="type=${@dict.getType('sys_yes_no')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">冲销时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="writeoffTime" class="form-control"
							placeholder="yyyy-MM-dd" type="text"> <span
							class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">    
                <label class="col-sm-3 control-label">减免登记标识：</label>
                <div class="col-sm-8">
                    <input name="registrationMark" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减免方式：</label>
                <div class="col-sm-8">
                    <select id="reductionExemption" name="reductionExemption" class="form-control " >
                      <option value="">请选择</option>
                      <option value=1>按每月减免</option>
                      <option value=2>按总额减免</option>
                      <option value=3>按比例减免</option>
                      <option value=4>按均摊减免</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减免基数：</label>
                <div class="col-sm-8">
                    <input name="deductionBase" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计算截至日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="closingDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">减免登记时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="exemptionRegistration" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<script th:inline="javascript">
		var prefix = ctx + "system/remission"
		$("#form-remission-add").validate({
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/add", $('#form-remission-add')
						.serialize());
			}
		}

		$("input[name='timeStr']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='timeEnd']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='feeDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='dueDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='registrationTime']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='offsetTime']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='cancellationTime']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='writeoffTime']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
	</script>
</body>
</html>