<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改提料人')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-lifting-edit" th:object="${hyLifting}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料名称：</label>
                <div class="col-sm-8">
                    <input name="hyMaterial.materialName" th:field="*{hyMaterial.materialName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料类型：</label>
                <div class="col-sm-8">
                    <input name="hyMaterial.materialType" th:field="*{hyMaterial.materialType}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">需求数量：</label>
                <div class="col-sm-8">
                    <input name="materialNumber" th:field="*{materialNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料用途：</label>
                <div class="col-sm-8">
                    <input name="materialUse" th:field="*{materialUse}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否归还：</label>
                <div class="col-sm-8">
                    <input name="isreturn" th:field="*{isreturn}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请部门：</label>
                <div class="col-sm-8">
                    <input name="depts" th:field="*{depts}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请人：</label>
                <div class="col-sm-8">
                    <input name="proposer" th:field="*{proposer}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审核单位：</label>
                <div class="col-sm-8">
                    <input name="hyMaterial.specimendept" th:field="*{hyMaterial.specimendept}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审核人：</label>
                <div class="col-sm-8">
                    <input name="hyMaterial.specimen" th:field="*{hyMaterial.specimen}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">盘点员：</label>
                <div class="col-sm-8">
                    <input name="hyMaterial.checkmen" th:field="*{hyMaterial.checkmen}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请时间：</label>
                <div class="col-sm-8">
                    <input name="createTime" th:field="*{createTime}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/lifting";
        $("#form-lifting-edit").validate({
        	rules : {
        		materialId : {
					required : true,
					maxlength:11,
				},
				materialNumber : {
					required : true,
					maxlength:20,
				},
				materialUse : {
					required : true,
					maxlength:20,
				},
				isreturn : {
					required : true,
					maxlength:2,
				},
				depts : {
					required : true,
					maxlength:20,
				},
				proposer : {
					required : true,
					maxlength:20,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-lifting-edit').serialize());
            }
        }
    </script>
</body>
</html>