<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增房屋登记')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-inf-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼宇：</label>
                <div class="col-sm-8">
                    <input name="building" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋编号：</label>
                <div class="col-sm-8">
                    <input name="houseNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋名称：</label>
                <div class="col-sm-8">
                    <input name="houseName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">建筑面积：</label>
                <div class="col-sm-8">
                    <input name="builtUpArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">组团区域：</label>
                <div class="col-sm-8">
                    <input name="groupArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单元：</label>
                <div class="col-sm-8">
                    <input name="unit" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼层：</label>
                <div class="col-sm-8">
                    <input name="floor" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">同单元同楼层流水号：</label>
                <div class="col-sm-8">
                    <input name="sameUnitNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">面积类型：</label>
                <div class="col-sm-8">
                    <select name="areaType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计费面积：</label>
                <div class="col-sm-8">
                    <input name="bilingArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">套内面积：</label>
                <div class="col-sm-8">
                    <input name="insideArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公摊面积：</label>
                <div class="col-sm-8">
                    <input name="sharedArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">花园面积：</label>
                <div class="col-sm-8">
                    <input name="gardenArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">地下室面积：</label>
                <div class="col-sm-8">
                    <input name="basementArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">大堂分摊面积：</label>
                <div class="col-sm-8">
                    <input name="sharedLobbyArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">层间分摊面积：</label>
                <div class="col-sm-8">
                    <input name="sharedLayersArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公摊比例：</label>
                <div class="col-sm-8">
                    <input name="shareRatio" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">建筑结构：</label>
                <div class="col-sm-8">
                    <input name="buildingStructure" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单位面积承重参数：</label>
                <div class="col-sm-8">	
                    <input name="parametersPer" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋户型：</label>
                <div class="col-sm-8">
                    <input name="houseLayout" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">层高：</label>
                <div class="col-sm-8">
                    <input name="floorHeight" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产权性质：</label>
                <div class="col-sm-8">
                    <input name="natureProperty" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用性质：</label>
                <div class="col-sm-8">
                    <input name="natureUse" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用状态：</label>
                <div class="col-sm-8">
                   <select name="dictLabel" class="form-control m-b" th:with="type=${@dict.getType('hy_use_state')}">
		               <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
		           </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">入住状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="occupancyStatus" value="">
                        <label th:for="occupancyStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">交房状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="deliveryStatus" value="">
                        <label th:for="deliveryStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋类型：</label>
                <div class="col-sm-8">
                    <select name="houseType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销售状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="salesStatus" value="">
                        <label th:for="salesStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">购房合同号：</label>
                <div class="col-sm-8">
                    <input name="purchaseContract" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">营销编号：</label>
                <div class="col-sm-8">
                    <input name="marketingNum" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/inf"

        $("#form-inf-add").validate({
			onkeyup : false,
			rules : {
				building : {
					maxlength : 50,
					required : true,
				},
				houseNumber : {
					maxlength : 50,
					required : true,
				},
				houseName : {
					maxlength : 50,
					required : true,
				},
				builtUpArea : {
					maxlength : 50,
				},
				groupArea : {
					maxlength : 50,
				},
				unit : {
					maxlength : 50,
					required : true,
				},
				floor : {
					maxlength : 5,
					required : true,
				},
				sameUnitNumber : {
					maxlength : 20,
					number : true,
				},
				areaType : {
					maxlength : 2,
					number : true,
				},
				bilingArea : {
					maxlength : 50,
				},
				insideArea : {
					maxlength : 50,
				},
				sharedArea : {
					maxlength : 50,
				},
				gardenArea : {
					maxlength : 50,
				},
				basementArea : {
					maxlength : 50,
				},
				sharedLobbyArea : {
					maxlength : 50,
				},
				sharedLayersArea : {
					maxlength : 50,
				},
				shareRatio : {
					maxlength : 50,
				},
				buildingStructure : {
					maxlength : 50,
				},
				parametersPer : {
					maxlength : 50,
				},
				houseLayout : {
					maxlength : 50,
				},
				floorHeight : {
					maxlength : 50,
				},
				natureProperty : {
					maxlength : 50,
				},
				natureUse : {
					maxlength : 50,
				},
				usageStatus : {
					maxlength : 50,
				},
				occupancyStatus : {
					maxlength : 50,
				},
				deliveryStatus : {
					maxlength : 50,
				},
				houseType : {
					maxlength : 50,
				},
				salesStatus : {
					maxlength : 50,
				},
				purchaseContract : {
					maxlength : 50,
				},
				marketingNum : {
					maxlength : 50,
				},
			},
			messages : {
				"building" : {
					remote : "楼宇长度为50个字符"
				},
				"houseNumber" : {
					remote : "房屋编号长度为50个字符"
				},
				"houseName" : {
					remote : "房屋名称长度为50个字符"
				},
				"builtUpArea" : {
					remote : "建筑面积长度为50个字符"
				},
				"groupArea" : {
					remote : "组团区域长度为50个字符"
				},
				"unit" : {
					remote : "单元长度为50个字符"
				},
				"floor" : {
					remote : "楼层长度为5个字符"
				},
				"sameUnitNumber" : {
					remote : "同单元同楼层流水号长度为20个字符"
				},
				"areaType" : {
					remote : "面积类型长度为2个字符"
				},
				"bilingArea" : {
					remote : "计费面积长度为50个字符"
				},
				"insideArea" : {
					remote : "套内面积长度为50个字符"
				},
				"sharedArea" : {
					remote : "公摊面积长度为50个字符"
				},
				"gardenArea" : {
					remote : "花园面积长度为50个字符"
				},
				"basementArea" : {
					remote : "地下室面积长度为50个字符"
				},
				"sharedLobbyArea" : {
					remote : "大堂分摊面积长度为50个字符"
				},
				"sharedLayersArea" : {
					remote : "层间分摊面积长度为50个字符"
				},
				"shareRatio" : {
					remote : "公摊比例长度为50个字符"
				},
				"buildingStructure" : {
					remote : "建筑结构长度为50个字符"
				},
				"parametersPer" : {
					remote : "单位面积承重参数长度为50个字符"
				},
				"houseLayout" : {
					remote : "房屋户型长度为50个字符"
				},
				"floorHeight" : {
					remote : "层高长度为50个字符"
				},
				"natureProperty" : {
					remote : "产权性质长度为50个字符"
				},
				"natureUse" : {
					remote : "使用性质长度为50个字符"
				},
				"usageStatus" : {
					remote : "使用状态长度为50个字符"
				},
				"occupancyStatus" : {
					remote : "入住状态长度为50个字符"
				},
				"deliveryStatus" : {
					remote : "交房状态长度为50个字符"
				},
				"houseType" : {
					remote : "房屋类型长度为50个字符"
				},
				"salesStatus" : {
					remote : "销售状态长度为50个字符"
				},
				"purchaseContract" : {
					remote : "购房合同号长度为50个字符"
				},
				"marketingNum" : {
					remote : "营销编号长度为50个字符"
				},
			},
			focusCleanup : true
		});
        
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-inf-add').serialize());
            }
        }
    </script>
</body>
</html>