<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('房屋登记列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>房屋编号：</label>
                                <input type="text" name="houseNumber"/>
                            </li>
                            <li>
                                <label>房屋名称：</label>
                                <input type="text" name="houseName"/>
                            </li>
                            <li>
                                <label>建筑面积：</label>
                                <input type="text" name="builtUpArea"/>
                            </li>
                            <li>
                                <label>组团区域：</label>
                                <input type="text" name="groupArea"/>
                            </li>
                            <li>
                                <label>单元：</label>
                                <input type="text" name="unit"/>
                            </li>
                            <li>
                                <label>楼层：</label>
                                <input type="text" name="floor"/>
                            </li>
                            <li>
                                <label>同单元同楼层流水号：</label>
                                <input type="text" name="sameUnitNumber" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
                            </li>
                            <li>
                                <label>面积类型：</label>
                                <select name="areaType" class="form-control m-b" th:with="type=${@dict.getType('hy_area_type')}">
                                    <option value="">请选择</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>计费面积：</label>
                                <select name="bilingArea" class="form-control m-b" th:with="type=${@dict.getType('hy_subject_type')}">
                                    <option value="">请选择</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>套内面积：</label>
                                <input type="text" name="insideArea"/>
                            </li>
                            <li>
                                <label>公摊面积：</label>
                                <input type="text" name="sharedArea"/>
                            </li>
                            <li>
                                <label>花园面积：</label>
                                <input type="text" name="gardenArea"/>
                            </li>
                            <li>
                                <label>地下室面积：</label>
                                <input type="text" name="basementArea"/>
                            </li>
                            <li>
                                <label>大堂分摊面积：</label>
                                <input type="text" name="sharedLobbyArea"/>
                            </li>
                            <li>
                                <label>层间分摊面积：</label>
                                <input type="text" name="sharedLayersArea"/>
                            </li>
                            <li>
                                <label>公摊比例：</label>
                                <input type="text" name="shareRatio"/>
                            </li>
                            <li>
                                <label>建筑结构：</label>
                                <input type="text" name="buildingStructure"/>
                            </li>
                            <li>
                                <label>单位面积承重参数：</label>
                                <input type="text" name="parametersPer"/>
                            </li>
                            <li>
                                <label>房屋户型：</label>
                                <input type="text" name="houseLayout"/>
                            </li>
                            <li>
                                <label>层高：</label>
                                <input type="text" name="floorHeight"/>
                            </li>
                            <li>
                                <label>产权性质：</label>
                                <select name="natureProperty" class="form-control m-b" th:with="type=${@dict.getType('hy_property_nature')}">
                                	<option value="">请选择</option>
					                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					            </select>
                            </li>
                            <li>
                                <label>使用性质：</label>
                                <input type="text" name="natureUse"/>
                            </li>
                            <li>
                                <label>使用状态：</label>
                                <select name="dictLabel" class="form-control m-b" th:with="type=${@dict.getType('hy_use_state')}">
                                	<option value="">请选择</option>
					                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					            </select>
                            </li>
                            <li>
                                <label>入住状态：</label>
                                <select name="occupancyStatus" class="form-control m-b" th:with="type=${@dict.getType('hy_check_in')}">
                                	<option value="">请选择</option>
					                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					            </select>
                            </li>
                            <li>
                                <label>交房状态：</label>
                                <select name="deliveryStatus" class="form-control m-b" th:with="type=${@dict.getType('hy_delivery_status')}">
                                    <option value="">请选择</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>房屋类型：</label>
                                <select name="houseType" class="form-control m-b" th:with="type=${@dict.getType('hy_house_type')}">
                                    <option value="">请选择</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>销售状态：</label>
                                <input type="text" name="salesStatus"/>
                            </li>
                            <li>
                                <label>购房合同号：</label>
                                <input type="text" name="purchaseContract"/>
                            </li>
                            <li>
                                <label>营销编号：</label>
                                <input type="text" name="marketingNum"/>
                            </li>
                            <li>
                                <label>所属业主：</label>
                                <select name="ownerId" class="form-control m-b" th:with="type=${@ownerRegistration.getOwnerRegistration()}">
                                    <option value="">请选择</option>
                                    <option th:each="dict : ${type}" th:text="${dict.ownerName}" th:value="${dict.id}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:inf:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:inf:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:inf:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                 <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="system:user:import">
			            <i class="fa fa-upload"></i> 导入
			        </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:inf:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:inf:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:inf:remove')}]];
        var prefix = ctx + "system/inf";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                importTemplateUrl: prefix + "/importTemplate",
                modalName: "房屋登记",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'hyBuilding.buildingName',
                    title: '楼宇名称'
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '业主名称'
                },
                {
                    field: 'houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'houseName',
                    title: '房屋名称'
                },
                {
                    field: 'builtUpArea',
                    title: '建筑面积'
                },
                {
                    field: 'groupArea',
                    title: '组团区域'
                },
                {
                    field: 'unit',
                    title: '单元'
                },
                {
                    field: 'floor',
                    title: '楼层'
                },
                {
                    field: 'sameUnitNumber',
                    title: '同单元同楼层流水号'
                },
                {
                    field: 'areaType',
                    title: '面积类型',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case 0 : value =  "建筑面积";break;
	                    	case 1 : value =  "计费面积";break;
	                    	case 2 : value =  "套内面积";break;
	                    	case 3 : value =  "公摊面积";break;
	                    	case 4 : value =  "花园面积";break;
	                    	case 5 : value =  "地下室面积";break;
	                    	case 6 : value =  "大堂分摊面积";break;
	                    	case 7 : value =  "层间分摊面积";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'bilingArea',
                    title: '计费面积'
                },
                {
                    field: 'insideArea',
                    title: '套内面积'
                },
                {
                    field: 'sharedArea',
                    title: '公摊面积'
                },
                {
                    field: 'gardenArea',
                    title: '花园面积'
                },
                {
                    field: 'basementArea',
                    title: '地下室面积'
                },
                {
                    field: 'sharedLobbyArea',
                    title: '大堂分摊面积'
                },
                {
                    field: 'sharedLayersArea',
                    title: '层间分摊面积'
                },
                {
                    field: 'shareRatio',
                    title: '公摊比例'
                },
                {
                    field: 'buildingStructure',
                    title: '建筑结构'
                },
                {
                    field: 'parametersPer',
                    title: '单位面积承重参数'
                },
                {
                    field: 'houseLayout',
                    title: '房屋户型'
                },
                {
                    field: 'floorHeight',
                    title: '层高'
                },
                {
                    field: 'natureProperty',
                    title: '产权性质',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '0' : value =  "自主产权";break;
	                    	case '1' : value =  "业主产权";break;
	                    	case '2' : value =  "共有产权";break;
	                    	case '3' : value =  "产权不明";break;
	                    	case '4' : value =  "其他产权";break;
	                    	case '5' : value =  "人防产权";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'natureUse',
                    title: '使用性质'
                },
                {
                    field: 'usageStatus',
                    title: '使用状态',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '0' : value =  "已使用";break;
	                    	case '1' : value =  "未使用";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'occupancyStatus',
                    title: '入住状态',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '0' : value =  "常住";break;
	                    	case '1' : value =  "未入住";break;
	                    	case '2' : value =  "非常住";break;
	                    	case '3' : value =  "一般常住";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'deliveryStatus',
                    title: '交房状态',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '0' : value =  "已售未接房";break;
	                    	case '1' : value =  "未售";break;
	                    	case '2' : value =  "已接房";break;
	                    	case '3' : value =  "装修";break;
	                    	case '4' : value =  "入住";break;
	                    	case '5' : value =  "已售空置";break;
	                    	case '6' : value =  "未售空置";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'houseType',
                    title: '房屋类型',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '0' : value =  "销售房屋";break;
	                    	case '1' : value =  "自持房屋";break;
	                    	case '2' : value =  "物业用房";break;
	                    	case '3' : value =  "公共区域";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'salesStatus',
                    title: '销售状态'
                },
                {
                    field: 'purchaseContract',
                    title: '购房合同号'
                },
                {
                    field: 'marketingNum',
                    title: '营销编号'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function submitHandler() {
        	var houseNumber = $.table.selectColumns('houseNumber');
        	var houseName = $.table.selectColumns('houseName');
        	var id = $.table.selectColumns('id');
        	if(houseNumber == ''){
        		$.modal.alertWarning("请至少选择一条记录");
        	}else{
        		$("#houseNumber",window.parent.document).val(houseNumber);
        		$("#houseName",window.parent.document).val(houseName);
        		$("#id",window.parent.document).val(id);
        	}
        	$.modal.close();
        }
    </script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			<input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
			 &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</script>
</html>