<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增设备保养登记')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-maintenanceregistration-add">
            <div class="form-group">    
                <label class="col-sm-2 control-label">保养类别：</label>
                <div class="col-sm-2">
                     <select name="categories" class="form-control m-b">
                        <option value=''>请选择</option>
                        <option value='1'>自维</option>
                        <option value='0'>外维</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">保养计划号：</label>
                <div class="col-sm-2">
                    <input name="planNumber" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">专业部门：</label>
                <div class="col-sm-2">
                    <input name="specializedDepartment" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">  
            	<label class="col-sm-2 control-label">选择执行计划：</label>
                <div class="col-sm-2">
                    <select class="form-control m-b" name="userId" data-first-title="选择员工" th:with="type=${@employee.getEmployee()}">
	                  <option value="">请选择</option>
	                  <option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userId}"></option>
	                </select>
                </div>
                <label class="col-sm-2 control-label">设备类别：</label>
                <div class="col-sm-2">
                    <select class="form-control m-b" name="equipmentId" data-first-title="选择员工" th:with="type=${@equipment.getEquipment()}">
	                  <option value="">请选择</option>
	                  <option th:each="dict : ${type}" th:text="${dict.equipmentName}" th:value="${dict.id}"></option>
	                </select>
                </div>  
                <label class="col-sm-2 control-label">保养开始日期：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <input name="startDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">保养内容：</label>
                <div class="col-sm-4">
                    <input type="hidden" class="form-control" name="maintenanceContent">
                    <div class="summernote" id="maintenanceContent"></div>
                </div>
                <label class="col-sm-2 control-label">当前保养内容：</label>
                <div class="col-sm-4">
                    <input type="hidden" class="form-control" name="currentContent">
                    <div class="summernote" id="currentContent"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">保养结束日期：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <input name="endDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <label class="col-sm-2 control-label">工时：</label>
                <div class="col-sm-2">
                    <input name="manHour" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">负责人：</label>
                <div class="col-sm-2">
                    <input name="principal" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">保养费用：</label>
                <div class="col-sm-2">
                    <input name="upkeepCost" class="form-control" type="text">
                </div>
                 <label class="col-sm-2 control-label">保养单位：</label>
                <div class="col-sm-2">
                    <input name="upkeepUnit" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-2">
                    <input name="registrationRemark" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">保养完成情况：</label>
                <div class="col-sm-2">
                    <input name="maintenanceCompletion" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">是否有异常：</label>
                <div class="col-sm-1">
                  <input name="isUnusual" value='1' type="radio">是
               </div>
               <div class="col-sm-1">
                   <input name="isUnusual" value='0' type="radio" checked="checked">否
               </div>
                <label class="col-sm-2 control-label">验收时间：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <input name="receptionTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">验收人：</label>
                <div class="col-sm-2">
                    <input name="acceptor" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">检查验收情况：</label>
                <div class="col-sm-2">
                    <input name="inspectionAcceptance" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">问题整改情况：</label>
                <div class="col-sm-2">
                    <input name="problemRectification" class="form-control" type="text">
                </div>
            </div>
        </form>
                <div class="col-sm-12">
			<div class="tabs-container">
				<ul class="nav nav-tabs">
					<li id="tab1li" class="active">
						<a data-toggle="tab" href="#tab-1" aria-expanded="true" onclick="tab(1)">设备保养人员</a>
					</li>
					
					<li id="tab2li" class="">
						<a data-toggle="tab" href="#tab-2" aria-expanded="false" onclick="tab(2)">设备保养物料</a>
					</li>
					
					<li id="tab3li" class="">
						<a data-toggle="tab" href="#tab-3" aria-expanded="false" onclick="tab(3)">保养设备</a>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="tab-content ">
			<div id="tab-1" class="tab-pane active">
				<div class="row">
					<div class="col-sm-12 select-table table-striped">
						<table id="table1"></table>
					</div>
				</div>
			</div>
		
			<div id="tab-2" class="tab-pane ">
				<div class="row">
					<div class="col-sm-12 select-table table-striped">
						<table id="table2"></table>
					</div>
				</div>
			</div>

			<div id="tab-3" class="tab-pane ">
				<div class="row">
					<div class="col-sm-12 select-table table-striped">
						<table id="table3"></table>
					</div>
				</div>
			</div>
		</div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/maintenanceregistration"
        $("#form-maintenanceregistration-add").validate({
        	rules : {
        		categories : {
					maxlength:20,
				},
				planNumber : {
					required : true,
					maxlength:255,
				},
				specializedDepartment : {
					maxlength:255,
				},
				maintenanceContent : {
					maxlength:255,
				},
				currentContent : {
					maxlength:255,
				},
				manHour : {
					maxlength:10,
				},
				principal : {
					maxlength:20,
				},
				upkeepCost : {
					maxlength:10,
				},
				upkeepUnit : {
					maxlength:20,
				},
				registrationRemark : {
					maxlength:255,
				},
				maintenanceCompletion : {
					maxlength:255,
				},
				isUnusual : {
					maxlength:1,
				},
				receptionTime : {
					required : true,
				},
				acceptor : {
					maxlength:20,
				},
				inspectionAcceptance : {
					maxlength:255,
				},
				problemRectification : {
					maxlength:255,
				},
				userId : {
					required : true,
					maxlength:11,
				},
				equipmentId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-maintenanceregistration-add').serialize());
            }
        }

        $("input[name='startTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='endTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='startDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='endDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='receptionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function() {
            $('.summernote').summernote({
                lang: 'zh-CN',
                callbacks: {
                    onChange: function(contents, $edittable) {
                        $("input[name='" + this.id + "']").val(contents);
                    },
                    onImageUpload: function(files) {
                        var obj = this;
                    	var data = new FormData();
                    	data.append("file", files[0]);
                    	$.ajax({
                            type: "post",
                            url: ctx + "common/upload",
                    		data: data,
                    		cache: false,
                    		contentType: false,
                    		processData: false,
                    		dataType: 'json',
                    		success: function(result) {
                    		    if (result.code == web_status.SUCCESS) {
                    		        $('#' + obj.id).summernote('insertImage', result.url);
                    		    } else {
                    		        $.modal.alertError(result.msg);
                    		    }
                    		},
                    		error: function(error) {
                    		    $.modal.alertWarning("图片上传失败。");
                    		}
                    	});
                    }
                }
            });
        });
        var prefix2 = ctx + "system/maintenanceplan";
        $(function() {
            var options = {
            		tableId : "table1",
            		showSearch: false,
    		        showRefresh: false,
    		        showToggle: false,
    		        showColumns: false,
                url: prefix2 + "/list",
                createUrl: prefix2 + "/add",
                updateUrl: prefix2 + "/edit/{id}",
                removeUrl: prefix2 + "/remove",
                exportUrl: prefix2 + "/export",
                modalName: "设备保养人员",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '设备保养计划id',
                    visible: false
                },
                {
                    field: 'sysUser.userName',
                    title: '职员'
                },
                {
                    field: 'planRemark',
                    title: '备注'
                }]
            };
            $.table.initOtherTable(options);
        });
        
        function tab(value){
    		console.log(value);
    		if(value == 1){
    	        $.ajax({
                    url: prefix2 + "/list",
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            var options = {
                            		tableId : "table1",
                            		showSearch: false,
                    		        showRefresh: false,
                    		        showToggle: false,
                    		        showColumns: false,
                                url: prefix2 + "/list",
                                createUrl: prefix2 + "/add",
                                updateUrl: prefix2 + "/edit/{id}",
                                removeUrl: prefix2 + "/remove",
                                exportUrl: prefix2 + "/export",
                                modalName: "设备保养人员",
                                columns: [{
                                    checkbox: true
                                },
                                {
                                    field: 'id',
                                    title: '设备保养计划id',
                                    visible: false
                                },
                                {
                                    field: 'sysUser.userName',
                                    title: '职员'
                                },
                                {
                                    field: 'planRemark',
                                    title: '备注'
                                }]
                            };
                	            $.table.initOtherTable(options);
                        }  else {
                            $.modal.enable();
                            $.modal.alertError(result.msg);
                        }
                    }
                });
    	        
    			
    		} else if(value == 2) {
    			var prefix3 = ctx + "system/maintenancesupplies";

    	        $.ajax({
                    url: prefix3 + "/list",
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            var options = {
                            		tableId : "table2",
                            		showSearch: false,
                    		        showRefresh: false,
                    		        showToggle: false,
                    		        showColumns: false,
                                    url: prefix3 + "/list",
                                    createUrl: prefix + "/add",
                                    updateUrl: prefix + "/edit/{id}",
                                    removeUrl: prefix + "/remove",
                                    exportUrl: prefix + "/export",
                                    modalName: "设备保养物料",
                                    columns: [{
                                        checkbox: true
                                    },
                                    {
                                        field: 'id',
                                        title: '设备保养物料id',
                                        visible: false
                                    },
                                    {
                                        field: 'hyMaintenanceplan.planCode',
                                        title: '保养计划编号'
                                    },
                                    {
                                        field: 'hyMaintenanceplan.planName',
                                        title: '保养计划名称'
                                    },
                                    {
                                        field: 'suppliesName',
                                        title: '物料名称'
                                    },
                                    {
                                        field: 'suppliesSpecification',
                                        title: '物料规格'
                                    },
                                    {
                                        field: 'suppliesBrand',
                                        title: '物料品牌'
                                    },
                                    {
                                        field: 'suppliesCount',
                                        title: '物料数量'
                                    },
                                    {
                                        field: 'suppliesPrice',
                                        title: '物料单价'
                                    },
                                    {
                                        field: 'suppliesMeasurement',
                                        title: '计量单位'
                                    },
                                    {
                                        field: 'money',
                                        title: '金额'
                                    },
                                    {
                                        field: 'suppliesUse',
                                        title: '物料用途'
                                    },
                                    {
                                        field: 'hyEquipmentArchives.archivesName',
                                        title: '设备档案'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.principal',
                                        title: '责任人'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.startDate',
                                        title: '保养开始日期'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.endDate',
                                        title: '保养结束日期'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.upkeepUnit',
                                        title: '保养单位'
                                    },
                                    {
                                        field: 'hyEquipment.equipmentName',
                                        title: '设备类别'
                                    }]
                                };
                	            $.table.initOtherTable(options);
                        }  else {
                            $.modal.enable();
                            $.modal.alertError(result.msg);
                        }
                    }
                });
    		}else if(value == 3){
    			console.log('进入到第三个');
    			var editFlag = [[${@permission.hasPermi('system:set:edit')}]];
    	        var removeFlag = [[${@permission.hasPermi('system:set:remove')}]];
    	        var prefix4 = ctx + "system/maintenanceequipment";
    	        
    	        $.ajax({
                    url: prefix4 + "/list",
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            var options = {
                            		tableId : "table3",
                            		showSearch: false,
                    		        showRefresh: false,
                    		        showToggle: false,
                    		        showColumns: false,
                                    url: prefix4 + "/list",
                                    createUrl: prefix + "/add",
                                    updateUrl: prefix + "/edit/{id}",
                                    removeUrl: prefix + "/remove",
                                    exportUrl: prefix + "/export",
                                    modalName: "保养设备",
                                    columns: [{
                                        checkbox: true
                                    },
                                    {
                                        field: 'id',
                                        title: '保养设备id',
                                        visible: false
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.recordNumber',
                                        title: '保养记录号'
                                    },
                                    {
                                        field: 'hyMaintenanceplan.planCode',
                                        title: '保养计划编号'
                                    },
                                    {
                                        field: 'hyMaintenanceplan.planName',
                                        title: '保养计划名称'
                                    },
                                    {
                                        field: 'hyEquipmentArchives.archivesName',
                                        title: '设备档案名称'
                                    },
                                    {
                                        field: 'hyEquipment.equipmentName',
                                        title: '设备类别'
                                    },
                                    {
                                        field: 'hyMaintenanceplan.maintainType',
                                        title: '设备保养类别'
                                    },
                                    {
                                        field: 'hyMaintenanceplan.maintainPeriod',
                                        title: '设备保养周期'
                                    },
                                    {
                                        field: 'hyMaintenanceplan.maintainLevel',
                                        title: '设备保养等级'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.startDate',
                                        title: '开始日期'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.endDate',
                                        title: '结束日期'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.specializedDepartment',
                                        title: '专业部门'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.upkeepUnit',
                                        title: '保养单位'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.principal',
                                        title: '负责人'
                                    },
                                    {
                                        field: 'hyMaintenanceregistration.currentContent',
                                        title: '当前保养内容'
                                    }]
                                };
                                $.table.initOtherTable(options);
                        }  else {
                            $.modal.enable();
                            $.modal.alertError(result.msg);
                        }
                    }
                });
                
    		}
    	} 
    </script>
    
</body>
</html>