<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改设备保养登记')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-maintenanceregistration-edit" th:object="${hyMaintenanceregistration}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
            	<label class="col-sm-2 control-label">保养记录号：</label>
                <div class="col-sm-2">
                    <input name="recordNumber" th:field="*{recordNumber}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">保养类别：</label>
                <div class="col-sm-2">
                     <select name="categories" th:field="*{categories}" class="form-control m-b">
                        <option value=''>请选择</option>
                        <option value='1'>自维</option>
                        <option value='0'>外维</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">保养计划号：</label>
                <div class="col-sm-2">
                    <input name="planNumber" th:field="*{planNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
            	<label class="col-sm-2 control-label">专业部门：</label>
                <div class="col-sm-2">
                    <input name="specializedDepartment" th:field="*{specializedDepartment}" class="form-control" type="text">
                </div>  
            	<label class="col-sm-2 control-label">选择执行计划：</label>
                <div class="col-sm-2">
                    <select class="form-control m-b" name="userId" th:field="*{userId}" data-first-title="选择员工" th:with="type=${@employee.getEmployee()}">
	                  <option value="">请选择</option>
	                  <option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userId}"></option>
	                </select>
                </div>
                <label class="col-sm-2 control-label">设备类别：</label>
                <div class="col-sm-2">
                    <select class="form-control m-b" name="equipmentId" th:field="*{equipmentId}" data-first-title="选择员工" th:with="type=${@equipment.getEquipment()}">
	                  <option value="">请选择</option>
	                  <option th:each="dict : ${type}" th:text="${dict.equipmentName}" th:value="${dict.id}"></option>
	                </select>
                </div>  
            </div>
            <div class="form-group">
            	<label class="col-sm-2 control-label">计划开始时间：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <input name="startTime" th:value="${#dates.format(hyMaintenanceregistration.startTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            	<label class="col-sm-2 control-label">计划结束时间：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <input name="endTime" th:value="${#dates.format(hyMaintenanceregistration.endTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            	<label class="col-sm-2 control-label">保养开始日期：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <input name="startDate" th:value="${#dates.format(hyMaintenanceregistration.startDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">保养内容：</label>
                <div class="col-sm-4">
                    <input type="hidden" class="form-control" th:field="*{maintenanceContent}">
                    <div class="summernote" id="maintenanceContent"></div>
                </div>
                <label class="col-sm-2 control-label">当前保养内容：</label>
                <div class="col-sm-4">
                    <input type="hidden" class="form-control" th:field="*{currentContent}">
                    <div class="summernote" id="currentContent"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">保养结束日期：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <input name="endDate" th:value="${#dates.format(hyMaintenanceregistration.endDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <label class="col-sm-2 control-label">工时：</label>
                <div class="col-sm-2">
                    <input name="manHour" th:field="*{manHour}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">负责人：</label>
                <div class="col-sm-2">
                    <input name="principal" th:field="*{principal}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">保养费用：</label>
                <div class="col-sm-2">
                    <input name="upkeepCost" th:field="*{upkeepCost}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">保养单位：</label>
                <div class="col-sm-2">
                    <input name="upkeepUnit" th:field="*{upkeepUnit}" class="form-control" type="text">
                </div>
                 <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-2">
                    <input name="registrationRemark" th:field="*{registrationRemark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">保养完成情况：</label>
                <div class="col-sm-2">
                    <input name="maintenanceCompletion" th:field="*{maintenanceCompletion}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">是否有异常：</label>
               <div class="col-sm-1">
                  <input name="isUnusual" th:field="*{isUnusual}" value='1' type="radio" checked="checked">是
               </div>
               <div class="col-sm-1">
                   <input name="isUnusual" th:field="*{isUnusual}" value='0' type="radio">否
               </div>
                <label class="col-sm-2 control-label">验收时间：</label>
                <div class="col-sm-2">
                    <div class="input-group date">
                        <input name="receptionTime" th:value="${#dates.format(hyMaintenanceregistration.receptionTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">验收人：</label>
                <div class="col-sm-2">
                    <input name="acceptor" th:field="*{acceptor}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">检查验收情况：</label>
                <div class="col-sm-2">
                    <input name="inspectionAcceptance" th:field="*{inspectionAcceptance}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">问题整改情况：</label>
                <div class="col-sm-2">
                    <input name="problemRectification" th:field="*{problemRectification}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/maintenanceregistration";
        $("#form-maintenanceregistration-edit").validate({
        	rules : {
        		categories : {
					maxlength:20,
				},
				planNumber : {
					required : true,
					maxlength:255,
				},
				specializedDepartment : {
					maxlength:255,
				},
				maintenanceContent : {
					maxlength:255,
				},
				currentContent : {
					maxlength:255,
				},
				manHour : {
					maxlength:10,
				},
				principal : {
					maxlength:20,
				},
				upkeepCost : {
					maxlength:10,
				},
				upkeepUnit : {
					maxlength:20,
				},
				registrationRemark : {
					maxlength:255,
				},
				maintenanceCompletion : {
					maxlength:255,
				},
				isUnusual : {
					maxlength:1,
				},
				receptionTime : {
				},
				acceptor : {
					maxlength:20,
				},
				inspectionAcceptance : {
					maxlength:255,
				},
				problemRectification : {
					maxlength:255,
				},
				userId : {
					required : true,
					maxlength:11,
				},
				equipmentId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-maintenanceregistration-edit').serialize());
            }
        }

        $("input[name='startTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='endTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='startDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='endDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='receptionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function() {
            $('.summernote').each(function(i) {
                $('#' + this.id).summernote({
                    lang: 'zh-CN',
                    callbacks: {
                        onChange: function(contents, $edittable) {
                            $("input[name='" + this.id + "']").val(contents);
                        },
                        onImageUpload: function(files) {
                            var obj = this;
                            var data = new FormData();
                            data.append("file", files[0]);
                            $.ajax({
                                type: "post",
                                url: ctx + "common/upload",
                                data: data,
                                cache: false,
                                contentType: false,
                                processData: false,
                                dataType: 'json',
                                success: function(result) {
                                    if (result.code == web_status.SUCCESS) {
                                        $('#' + obj.id).summernote('insertImage', result.url);
                                    } else {
                                        $.modal.alertError(result.msg);
                                    }
                                },
                                error: function(error) {
                                    $.modal.alertWarning("图片上传失败。");
                                }
                            });
                        }
                    }
                });
                var content = $("input[name='" + this.id + "']").val();
                $('#' + this.id).summernote('code', content);
            })
        });
    </script>
</body>
</html>