<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('筛选欠费通知')" />
    <th:block th:include="include :: bootstrap-duallistbox-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-arrearage-add">
        	<div class="form-group">    
                <label class="col-sm-3 control-label">温馨提示：</label>
                <div class="col-sm-8">
                    <input name="warm" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-duallistbox-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/arrearage"

        $("#form-arrearage-add").validate({
			focusCleanup : true
		});
        
        function submitHandler() {
            if ($.validate.form()) {
            	var data = $('#form-arrearage-add').serialize();
              	$.modal.confirm("确定生成欠费通知单吗？", function() {
              		var config = {
                	        url: prefix + "/exportPDF",
                	        type: "post",
                	        dataType: "json",
                	        data: data,
                	        beforeSend: function () {
                	            $.modal.loading("正在处理中，请稍后...");
                	            $.modal.disable();
                	        },
                	        success: function(result) {
                	            if (typeof callback == "function") {
                	                callback(result);
                	            }
                	            $.operate.successCallback(result);
                	        }
                	    };
                	    $.ajax(config)
              	});
            }
        }
        
    </script>
</body>
</html>