<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('费用项目列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/cost";

        $(function() {
            var options = {
            		showSearch: false,
    		        showRefresh: false,
    		        showToggle: false,
    		        showColumns: false,
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "费用项目",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'costItems',
                    title: '费用项目'
                },
                {
                    field: 'expenseType',
                    title: '费用类型'
                }]
            };
            $.table.init(options);
        });
        function submitHandler() {
        	var costItems = $.table.selectColumns('costItems');
        	if(costItems == ''){
        		$.modal.alertWarning("请至少选择一条记录");
        	}else{
        		$("#feeName",window.parent.document).val(costItems);
        		$("#standardName",window.parent.document).val(costItems);
        	}
        	$.modal.close();
        }
    </script>
</body>
</html>