<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增调拨设备')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-allotequipment-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">调拨型号：</label>
                <div class="col-sm-8">
                	<input type="text" name="allotType" class="form-control m-b"/>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产编号：</label>
                <div class="col-sm-8">
                    <input id="assetNumber" name="assetNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生产厂家：</label>
                <div class="col-sm-8">
                    <input name="manufactureFactory" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-8">
                    <input name="allotCount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">启用日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input id="commissioningDate" name="commissioningDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产原值：</label>
                <div class="col-sm-8">
                    <input id="assetValue" name="assetValue" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产净值：</label>
                <div class="col-sm-8">
                    <input id="netValue" name="netValue" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="allotRemark" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备档案：</label>
                <div class="col-sm-8">
                    <select id="archivesId" name="archivesId" class="form-control" th:with="type=${@archives.getArchives()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.archivesName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">组织机构：</label>
                <div class="col-sm-8">
                    <select class="form-control m-b" name="deptId" data-first-title="选择部门" th:with="type=${@dept.getDepts()}">
	                  		<option value="">请选择</option>
	                  		<option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}"></option>
	                </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/allotequipment"
        $("#form-allotequipment-add").validate({
        	rules : {
        		allotType : {
					required : true,
					maxlength:20,
				},
				assetNumber : {
					required : true,
					maxlength:255,
				},
				manufactureFactory : {
					required : true,
					maxlength:20,
				},
				allotCount : {
					required : true,
					maxlength:20,
				},
				commissioningDate : {
					required : true,
				},
				assetValue : {
					required : true,
					maxlength:10,
				},
				netValue : {
					required : true,
					maxlength:10,
				},
				allotRemark : {
					required : true,
					maxlength:255,
				},
				archivesId : {
					required : true,
					maxlength:11,
				},
				deptId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-allotequipment-add').serialize());
            }
        }

        $("input[name='commissioningDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        
        $(function() {
        	var date = new Date();
        	var time = date.getTime();
        	var year = date.getFullYear();
        	var Month = "0"+(date.getMonth()+1);
        	var da = date.getDate();
        	var dateStr = year+"-"+Month+"-"+da;
        	$("#commissioningDate").val(dateStr);
        	$("#assetNumber").val(time);
        	$("#assetValue").val(0.00);
        	$("#netValue").val(0.00);
        });
    </script>
</body>
</html>