<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增收款管理 Collection management')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-collection-add">
        	<div class="form-group">    
                <label class="col-sm-3 control-label">费用项目：</label>
                <div class="col-sm-8">
                     <select id="costId" name="costId" class="form-control" th:with="type=${@cost.getCost()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.costItems}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋名称：</label>
                <div class="col-sm-8">
                    <select class="form-control m-b" name="houseId" th:with="type=${@houseInf.getHouseInf()}">
	                  		<option value="">请选择</option>
	                  		<option th:each="dict : ${type}" th:text="${dict.houseName}" th:value="${dict.id}"></option>
	                </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业主名称：</label>
                <div class="col-sm-8">
                    <select name="ownerId" class="form-control" th:with="type=${@ownerRegistration.getOwnerRegistration()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.ownerName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总金额：</label>
                <div class="col-sm-8">
                    <input name="amount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input id="applyTime" name="applyTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收款人：</label>
                <div class="col-sm-8">
                    <input name="payee" class="form-control" type="text">
                </div>
            </div>
            
            
            <div class="form-group">    
                <label class="col-sm-3 control-label">收款时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input id="collectionTime" name="collectionTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否收款：</label>
                <div class="col-sm-8">
                    <select id="isCollection" name="isCollection" class="form-control" th:with="type=${@dict.getType('sys_yes_no')}">
							<option value="">请选择</option>
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
                </div>
            </div>
                	<input id="isBook" name="isBook" class="form-control" type="hidden">
                	<input id="paymentStatue" name="paymentStatue" class="form-control" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="collectionRemark" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/collection"
        $("#form-collection-add").validate({
            focusCleanup: true
        });
        
        $(function() {
        	var date = new Date();
        	var year = date.getFullYear();
        	var Month = "0"+(date.getMonth()+1);
        	var da = date.getDate();
        	var dateStr = year+"-"+Month+"-"+da;
        	$("#applyTime").val(dateStr);
        	$("#collectionTime").val(dateStr);
        	$("#isCollection").val(1);
        	$("#isBook").val(1);
        	$("#paymentStatue").val(1);
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-collection-add').serialize());
            }
        }

        $("input[name='applyTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='startTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='endTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='collectionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='bookTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>