<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('收款管理 Collection management列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>收款开始时间：</label>
                                <input type="text" class="time-input" placeholder="请选择开始时间" name="startTime"/>
                            </li>
                            <li>
                                <label>收款结束时间：</label>
                                <input type="text" class="time-input" placeholder="请选择结束时间" name="endTime"/>
                            </li>
                            <li>
                                <label>总金额：</label>
                                <input type="text" name="amount"/>
                            </li>
                            <li>
                                <label>收款人：</label>
                                <input type="text" name="payee"/>
                            </li>
                            <li>
                                <label>支付状态：</label>
								<select name="isCollection" class="form-control"> 
									<option value="">请选择</option>
									<option value="0">已支付</option>
									<option value="1">未支付</option>
									<option value="2">部分支付</option>
								</select> 
                            </li>
                            <li>
                                <label>备注：</label>
                                <input type="text" name="collectionRemark"/>
                            </li>
                            <!-- <li>
                                <label>费用项目id：</label>
                                <input type="text" name="costId"/>
                            </li>
                            <li>
                                <label>房屋id：</label>
                                <input type="text" name="houseId"/>
                            </li>
                            <li>
                                <label>业主id：</label>
                                <input type="text" name="ownerId"/>
                            </li> -->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:collection:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <!-- <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:collection:edit">
                    <i class="fa fa-edit"></i> 修改
                </a> -->
                <!-- <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:collection:remove">
                    <i class="fa fa-remove"></i> 删除
                </a> -->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:collection:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:collection:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:collection:remove')}]];
        var prefix = ctx + "system/collection";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "收款管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '收款审核ID',
                    visible: false
                },
                {
                    field: 'hyCost.costItems',
                    title: '费用项目'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '业主名称'
                },
                {
                    field: 'applyTime',
                    title: '申请时间'
                },
                {
                    field: 'receiptNumber',
                    title: '票据号码'
                },
                {
                    field: 'amount',
                    title: '总金额'
                },
                {
                    field: 'payee',
                    title: '收款人'
                },
                {
                    field: 'collectionType',
                    title: '收款方式',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '1' : value =  "现金";break;
                        	case '2' : value =  "通联支付";break;
                        	case '3' : value =  "POS刷卡";break;
                        	case '4' : value =  "银行代扣";break;
                        	case '5' : value =  "银行托收";break;
                        	case '6' : value =  "微信支付";break;
                        	case '7' : value =  "收取开发商费用";break;
                        	case '8' : value =  "兴业银行线上支付";break;
                        	case '9' : value =  "汇款";break;
                        	case '10' : value =  "支付宝支付";break;
                        	case '11' : value =  "扫码支付";break;
                        	case '12' : value =  "押金转预存";break;
                        	case '13' : value =  "通联_通知单扫码（微信）";break;
                        	case '14' : value =  "银行转账";break;
                        	case '15' : value =  "其他";break;
                        	case '16' : value =  "通联_员工APP（微信）";break;
                        	case '17' : value =  "通联POS";break;
                        	case '18' : value =  "通联_员工APP（支付宝）";break;
                        	case '19' : value =  "微信公众号支付";break;
                    	}
    	            	return value;
    	            }
                },
                {
                    field: 'collectionTime',
                    title: '收款时间'
                },
                {
                    field: 'isCollection',
                    title: '支付状态',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '0' : value =  "已支付";break;
                        	case '1' : value =  "未支付";break;
                        	case '2' : value =  "部分支付";break;
                    	}
    	            	return value;
    	            }
                },
                {
                    field: 'bookPerson',
                    title: '记账人'
                },
                {
                    field: 'bookTime',
                    title: '记账时间'
                },
                {
                    field: 'isBook',
                    title: '是否记账',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '0' : value =  "是";break;
                        	case '1' : value =  "否";break;
                    	}
    	            	return value;
    	            }
                },
                {
                    field: 'paymentPerson',
                    title: '交款人'
                },
                {
                    field: 'payment',
                    title: '交款方式'
                },
                {
                    field: 'paymentTime',
                    title: '交款时间'
                },
                {
                    field: 'paymentStatue',
                    title: '是否交款',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '0' : value =  "是";break;
                        	case '1' : value =  "否";break;
                    	}
    	            	return value;
    	            }
                },
                {
                    field: 'deferredPerson',
                    title: '延期人'
                },
                {
                    field: 'deferredCause',
                    title: '延期原因'
                },
                {
                    field: 'deferredTime',
                    title: '延期时间'
                },
                {
                    field: 'isDeferred',
                    title: '是否延期',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '0' : value =  "是";break;
                        	case '1' : value =  "否";break;
                    	}
    	            	return value;
    	            }
                },
                {
                    field: 'refundPerson',
                    title: '退款人'
                },
                {
                    field: 'refundTime',
                    title: '退款时间'
                },
                {
                    field: 'isRefund',
                    title: '是否退款',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '0' : value =  "是";break;
                        	case '1' : value =  "否";break;
                    	}
    	            	return value;
    	            }
                },
                {
                    field: 'collectionRemark',
                    title: '备注'
                }/* ,
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                } */]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>