<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增设备检测物料')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-detectionmaterial-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料名称：</label>
                <div class="col-sm-8">
                    <input name="materialName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料数量：</label>
                <div class="col-sm-8">
                    <input name="materialCount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料价格：</label>
                <div class="col-sm-8">
                    <input name="materialPrice" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料金额：</label>
                <div class="col-sm-8">
                    <input name="materialMoney" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料品牌：</label>
                <div class="col-sm-8">
                    <input name="materialBrand" class="form-control" type="text">
                </div>
            </div>
            
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料型号：</label>
                <div class="col-sm-8">
                	<input name="materialType" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物料用途：</label>
                <div class="col-sm-8">
                    <input name="materialUse" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备类别：</label>
                <div class="col-sm-8">
                    <select id="equipmentId" name="equipmentId" class="form-control" th:with="type=${@equipment.getEquipment()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.equipmentName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">检测登记：</label>
                <div class="col-sm-8">
                    <select id="registerId" name="registerId" class="form-control" th:with="type=${@detectionregister.getDetectionregister()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.documentNumber}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/detectionmaterial"
        $("#form-detectionmaterial-add").validate({
        	rules : {
        		materialName : {
   					required : true,
   					maxlength:20,
   				},
   				materialCount : {
   					required : true,
   					maxlength:20,
   				},
   				materialPrice : {
   					required : true,
   					maxlength:10,
   				},
   				materialMoney : {
   					required : true,
   					maxlength:20,
   				},
   				materialBrand : {
   					required : true,
   					maxlength:20,
   				},
   				materialType : {
   					required : true,
   					maxlength:20,
   				},
   				materialUse : {
   					required : true,
   					maxlength:255,
   				},
   				equipmentId : {
   					required : true,
   					maxlength:11,
   				},
   				registerId : {
   					required : true,
   					maxlength:11,
   				},
        	},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-detectionmaterial-add').serialize());
            }
        }
    </script>
</body>
</html>