<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('费用项目列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li><label>操作日期：</label> <input type="text"
								class="time-input" placeholder="请选择操作时间" name="operationDate" />
							</li>
							<li><label>操作人：</label> <input type="text"
								name="operationUser" /></li>
							<li><label>客户名称：</label> <input type="text" name="ownerName" />
							</li>
							<li><label>房屋编号：</label> <input type="text" name="houseNum" />
							</li>

							<li><label>房屋名称：</label> <input type="text" name="houseName" />
							</li>
							<li><label>费用项目：</label> <select name="costItems" th:with="type=${@dict.getType('hy_fee_name')}">
											<option value="">请选择</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
									</select>
							</li>
							<li><label>房屋面积：</label> <input type="text"
								name="builtUpArea" /></li>

							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()"
					shiro:hasPermission="system:cost:export"> <i
					class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/revokeReceivable";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "费用项目",
                columns: [{
                    checkbox: true
                },
                 {
                field: 'id',
                title: '主键',
                visible: false
            },
            {
                field: 'hyOwnerRegistration.ownerName',
                title: '客户名称'
            },
            {
                field: 'hyOwnerRegistration.houseNum',
                title: '房屋编号'
            },
            {
                field: 'hyHouseInf.houseName',
                title: '房屋名称'
            },

            {
                field: 'costItems',
                title: '费用项目',
                formatter: function(value, item, index) {
                	switch(value){
                    	case "0" : value =  "高层物业服务费";break;
                    	case "1" : value =  "商铺物业服务费";break;
                    	case "2" : value =  "车位物业管理服务费";break;
                    	case "3" : value =  "公寓物业服务费";break;
                    	case "4" : value =  "居民用电";break;
                    	case "5" : value =  "现场类资源";break;
                    	case "6" : value =  "居民用水";break;
                    	case "7" : value =  "代办类";break;
                    	case "8" : value =  "建渣清运费";break;
                    	case "9" : value =  "有偿服务费";break;
                    	case "10" : value =  "门禁卡";break;
                    	case "11" : value =  "其他卡证工本费";break;
                    	case "12" : value =  "其他";break;
                    	case "13" : value =  "其他保证金及押金";break;
                    	case "14" : value =  "车位取暖费";break;
                    	case "15" : value =  "居民用电";break;
                    	case "16" : value =  "代办";break;
                    	case "17" : value =  "到家服务";break;
                    	case "18" : value =  "广告类资源";break;
                	}
	            	return value;
	            }
            },
            {
                field: 'operationDate',
                title: '操作日期'
            },
            {
                field: 'operationUser',
                title: '操作人'
            },
            {
                field: 'operationType',
                title: '操作类别'
            },

            {
                field: 'feeDate',
                title: '费用日期'
            },

            {
                field: 'dueDate',
                title: '应收日期'
            },
            {
                field: 'bilingStartDate',
                title: '开始时间'
            },
            {
                field: 'bilingEndDate',
                title: '结束时间'
            },
            {
                field: 'amountReceivable',
                title: '应收金额'
            },
            {
                field: 'deleteReason',
                title: '删除原因'
            } ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>