<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增装修管理')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-manage-add">
        	<div class="form-group">    
                <label class="col-sm-3 control-label">选择小区：</label>
                <div class="col-sm-8">
                    <select id="quartersId" name="quartersId" class="form-control" th:with="type=${@quarters.getQuarters()}" onchange="changeBuilding()">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.communityName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">选择楼宇：</label>
                <div class="col-sm-8">
			 	    <select class="form-control" name="buildingId" id="buildingId" disabled="disabled" onchange="changeUnit()">
	                 	 <option value="">请选择</option>
	                </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">选择单元：</label>
                <div class="col-sm-8">
			 	    <select class="form-control" name="unit" id="unit" disabled="disabled" onchange="changeHouse()">
	                 	 <option value="">请选择</option>
	                </select>
                </div>
            </div>
        	 <div class="form-group">    
                <label class="col-sm-3 control-label">选择房屋：</label>
                <div class="col-sm-8">
                    <select id="houseId" name="houseId" class="form-control m-b" disabled="disabled" onchange="changeOwner()">
                          <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业主名称：</label>
                <div class="col-sm-8">
                    <select id="ownerRegistrationId" name="ownerRegistrationId" class="form-control" disabled="disabled">
						<option value="">请选择</option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">装修状态：</label>
                <div class="col-sm-8">
                    <select name="fitmentManageState" class="form-control " >
                      <option value="">请选择</option>
                      <option value="1">未装修</option>
                      <option value="2">正在装修</option>
                      <option value="3">已装修</option>
                     </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">装修描述：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" name="fitmentManageContent">
                    <div class="summernote" id="fitmentManageContent"></div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预期工期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="fitmentManageExpect" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">装修开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="fitmentStartTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">装修结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="fitmentEndTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">图片：</label>
                <div class="col-sm-8">
                    <input name="processImg" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">装修发起人：</label>
                <div class="col-sm-8">
                    <input name="fitmentUsername" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发起人部门：</label>
                <div class="col-sm-8">
                    <input name="fitmentDept" class="form-control" type="text">
                </div>
            </div>
            <input name="suggestStatus" value="1" class="form-control" type="hidden">
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/manage"
        $("#form-manage-add").validate({
        	rules : {
        		fitmentManageState : {
					required : true,
					maxlength:20,
				},
				fitmentManageContent : {
					required : true,
					maxlength:255,
				},
				ownerRegistrationId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-manage-add').serialize());
            }
        }

        $("input[name='fitmentManageExpect']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        
        $("input[name='fitmentStartTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        
        $("input[name='fitmentEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function() {
            $('.summernote').summernote({
                lang: 'zh-CN',
                callbacks: {
                    onChange: function(contents, $edittable) {
                        $("input[name='" + this.id + "']").val(contents);
                    },
                    onImageUpload: function(files) {
                        var obj = this;
                    	var data = new FormData();
                    	data.append("file", files[0]);
                    	$.ajax({
                            type: "post",
                            url: ctx + "common/upload",
                    		data: data,
                    		cache: false,
                    		contentType: false,
                    		processData: false,
                    		dataType: 'json',
                    		success: function(result) {
                    		    if (result.code == web_status.SUCCESS) {
                    		        $('#' + obj.id).summernote('insertImage', result.url);
                    		    } else {
                    		        $.modal.alertError(result.msg);
                    		    }
                    		},
                    		error: function(error) {
                    		    $.modal.alertWarning("图片上传失败。");
                    		}
                    	});
                    }
                }
            });
        });
        
        var prefix1 = ctx + "system/inf"
      	//根据楼栋和单元搜房屋
        function changeHouse(){
   			$("#houseId").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/lists",
                data: {buildingId : $("#buildingId").val(),unit : $("#unit").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#houseId").empty();
					$("#houseId").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#houseId").append("<option value=" + result[i].ownerId + ">" + result[i].houseNumber + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#houseId").selectpicker('refresh');
                    $("#houseId").selectpicker('render');

					console.log(result);
                }
            });
   		};
        //根据楼栋搜单元
        function changeUnit(){
   			$("#unit").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/getUnit",
                data: {buildingId : $("#buildingId").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#unit").empty();
					$("#unit").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#unit").append("<option value=" + result[i].unit + ">" + result[i].unit + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#unit").selectpicker('refresh');
                    $("#unit").selectpicker('render');

					console.log(result);
                }
            });
   		};
        var prefix2 = ctx + "system/building"
        //根据小区搜楼栋
        function changeBuilding(){
   			$("#buildingId").removeAttr("disabled");
   			$.ajax({
                url: prefix2 + "/lists",
                data: {quartersId : $("#quartersId").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#buildingId").empty();
					$("#buildingId").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#buildingId").append("<option value=" + result[i].id + ">" + result[i].buildingNumber + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#buildingId").selectpicker('refresh');
                    $("#buildingId").selectpicker('render');

					console.log(result);
                }
            });
   		};
        var prefix3 = ctx + "system/registration"
        //根据房屋搜业主
        function changeOwner(){
        	$("#ownerRegistrationId").removeAttr("disabled");
   			$.ajax({
                url: prefix3 + "/lists",
                data: {id : $("#houseId").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#ownerRegistrationId").empty();
					$("#ownerRegistrationId").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#ownerRegistrationId").append("<option value=" + result[i].id + ">" + result[i].ownerName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#ownerRegistrationId").selectpicker('refresh');
                    $("#ownerRegistrationId").selectpicker('render');

					console.log(result);
                }
            });
   		};
   		
    </script>
</body>
</html>