<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增租户资料登记')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tenant-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">租户名称：</label>
                <div class="col-sm-8">
                    <input id="tenantName" name="tenantName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">固定电话：</label>
                <div class="col-sm-8">
                    <input id="tenantTelephone" name="tenantTelephone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">移动电话：</label>
                <div class="col-sm-8">
                    <input id="tenantPhone" name="tenantPhone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">证件号码：</label>
                <div class="col-sm-8">
                    <input id="idCardNum" name="idCardNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系地址：</label>
                <div class="col-sm-8">
                    <input id="tenantAddress" name="tenantAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <select id="tenantSex" name="tenantSex" class="form-control "
						th:with="type=${@dict.getType('sys_user_sex')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
							th:value="${dict.dictValue}"></option>
					</select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/tenant"
        $("#form-tenant-add").validate({
            focusCleanup: true
        });
	
        function submitHandler() {
        	var tenantName = $("#tenantName").val();
        	var tenantTelephone = $("#tenantTelephone").val();
        	var tenantPhone = $("#tenantPhone").val();
        	var idCardNum = $("#idCardNum").val();
        	var tenantAddress = $("#tenantAddress").val();
        	var tenantSex = $("#tenantSex").val();
        	$.ajax({
    	        url: prefix + "/add",
    	        type: "post",
    	        dataType: "json",
    	        data: {"tenantName": tenantName,"tenantTelephone":tenantTelephone,"tenantPhone":tenantPhone,
    	        	"idCardNum":idCardNum,"tenantAddress":tenantAddress,"tenantSex":tenantSex},
    	        beforeSend: function () {
    	            $.modal.loading("正在处理中，请稍后...");
    	            $.modal.disable();
    	        },
    	        success: function(result) {
    	        	$.modal.closeLoading();
    	        	$.modal.open("修改" + table.options.modalName, prefix + "/ad");
    	        }
            });
        }
    </script>
</body>
</html>