<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('票据发放列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li><label>票据种类：</label> <select name="billType">
									<option value="">请选择</option>
									<option value="0">收据</option>
									<option value="1">发票</option>
									<option value="2">凭据</option>
							</select></li>
							<li><label>起号：</label> <input type="text" name="billNumStr" />
							</li>
							<li><label>止号：</label> <input type="text" name="billNumEnd" />
							</li>
							<li><label>份数：</label> <input type="text" name="copies" /></li>
							<li><label>起号样票：</label> <input type="text"
								name="ticketSampleStr" /></li>
							<li><label>止号样票：</label> <input type="text"
								name="ticketSampleEnd" /></li>
							<li><label>使用小区：</label> <input type="text" name="community" />
							</li>
							<li><label>领用人：</label> <input type="text" name="receiver" />
							</li>
							<li><label>使用人：</label> <input type="text" name="user" /></li>
							<li><label>发放时间：</label> <input type="text"
								class="time-input" placeholder="请选择发放时间" name="releaseTime" /></li>
							<li><label>使用范围：</label> <input type="text"
								name="applicationScope" /></li>
							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()"
					shiro:hasPermission="system:issuance:add"> <i
					class="fa fa-plus"></i> 使用登记
				</a>  <a class="btn btn-danger multiple disabled"
					onclick="$.operate.removeAll()"
					shiro:hasPermission="system:issuance:remove"> <i
					class="fa fa-remove"></i> 批量作废
				</a> 
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:issuance:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:issuance:remove')}]];
        var prefix = ctx + "system/changeTickets";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                /* updateUrl: prefix + "/edit/{id}", */
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "票据发放",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'billType',
                    title: '票据种类'
                },
                {
                    field: 'releaseTime',
                    title: '领用时间'
                },
                {
                    field: 'billNumStr',
                    title: '起号'
                },
                {
                    field: 'billNumEnd',
                    title: '止号'
                },
                {
                    field: 'ticketSampleStr',
                    title: '起号样票'
                },
                {
                    field: 'ticketSampleEnd',
                    title: '止号样票'
                },
                {
                    field: 'receiver',
                    title: '领用人'
                },
                {
                    field: 'user',
                    title: '使用人'
                },
                {
                    field: 'copies',
                    title: '份数'
                },
             
                {
                    field: 'amountMoney',
                    title: '金额'
                },
             
         
                {
                    field: 'amountUsed',
                    title: '已用数'
                },
                {
                    field: 'unusedNum',
                    title: '未用数'
                },
                {
                    title: '票据明细',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>明细</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>