<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('撤销收款/恢复票号')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>

							<li><label>客户名称：</label> <input type="text" name="ownerName" /></li>
							<li><label>房屋编号：</label> <input type="text" name="houseNum" /></li>
							<li><label>收据号码：</label> <input type="text"
								name="billNumber" /></li>
							<li><label>收款类型：</label> <input type="text"
								name="billNumber" /></li>
							<li><label>收款方式：</label> <input type="text"
								name="billNumber" /></li>
							<li><label>收款日期：</label> <input type="text"
								name="billNumber" /></li>
						<br />
							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;筛选</a>
							</li>
							<li><a class="btn btn-warning btn-rounded btn-sm"
								onclick="reset()"><i class="fa fa-refresh"></i>&nbsp;放弃选择</a></li>
							<li><a class="btn btn-warning btn-rounded btn-sm"
								onclick="reset()"><i class="fa fa-refresh"></i>&nbsp;全选</a></li>
							<li><a class="btn btn-warning btn-rounded btn-sm"
								onclick="reset()"><i class="fa fa-refresh"></i>&nbsp;单选</a></li>
						</ul>
					</div>
				</form>
			</div>


			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:set:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:set:remove')}]];
        var prefix = ctx + "system/changeTickets";

        $(function() {
            var options = {
            		showSearch: false,
    		        showRefresh: false,
    		        showToggle: false,
    		        showColumns: false,
                url: prefix + "/list",
               
                modalName: "票据设置",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
       
                {
                    field: 'billNumber',
                    title: '收据号码'
                },
                {
                    field: 'paymentAmount',
                    title: '收款金额'
                },
                {
                    field: 'paymentDate',
                    title: '收款日期'
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '客户名称'
                },
                {
                    field: 'houseNum',
                    title: '房屋编号'
                },
                {
                    field: 'paymentMethod',
                    title: '收款方式'
                },
                {
                    field: 'paymentPerson',
                    title: '收款人'
                }

              ]
            };
            $.table.init(options);
        });
        function reset(){
        	window.location.href="/system/changeTickets/add"
        }
    </script>
</body>
</html>