<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('抄设置列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<label>房屋编号：</label> 
								<input type="text" name="hyHouseInf.houseNumber" />
							</li>
							<li>
								<label>房屋名称：</label> 
								<input type="text" name="hyHouseInf.houseName" />
							</li>
							<li>
								<label>表计序号：</label> 
								<input type="text" name="meterSerialNum" onkeyup="this.value=this.value.replace(/\D/g,'')" />
							</li>
							<li>
								<label>表计名称：</label> 
								<input type="text" name="meterName" />
							</li>
							
							<li>
								<label>表计类型：</label>
								<select id="meterType" name="meterType" class="form-control" th:with="type=${@dict.getType('hy_meter_type')}" > 
									<option value="">请选择</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select> 
							</li>
							
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
	 <a class="btn btn-warning" onclick="$.table.exportExcel()"
					shiro:hasPermission="system:meter:export"> <i
					class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:meter:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:meter:remove')}]];
        var prefix = ctx + "system/noSetMeter";
        
        function meterCase(){
        	$("#formId").attr("action","/system/case");
        	$("#formId").submit();
        	
        }
        

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "抄设置",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                }, 
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'meterSerialNum',
                    title: '表计序号'
                },
                {
                    field: 'meterName',
                    title: '表计名称'
                },
               
                {
                    field: 'meterType',
                    title: '表计类型',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case 0 : value =  "水";break;
	                    	case 1 : value =  "电";break;
	                    	case 2 : value =  "气";break;
	                    	case 3 : value =  "暖气";break;
	                	}
		            	return value;
		            }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>