<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bootstrap Template</title>
<style type="text/css">
	#i1{
		width: 100%;
		height: 100px;
		margin-bottom: 10px;
	}
	#d2{
		margin-bottom: 0px;
		margin-top: 10px
	}
	#d3{
		width: 100%;
		height: 50px;
		border: 1px solid black;
	}
</style>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="../bootstrap3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
</head>
<body>
<div class="well">标签管理</div>

<input id="i1" type="text">


  <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="请输入标签">
      <span class="input-group-btn">
        <button id="my" class="btn btn-default" type="button" onclick="fu()">添加标签</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div id="d2" class="well">标签</div>
<div id="d3"></div>
<script type="text/javascript">
	function fu(){
		document.getElementById("my").add("d3");
	}
</script>
</body>
<script type="text/javascript" src="../bootstrap3/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="../bootstrap3/js/holder.js"></script>
<script type="text/javascript" src="../bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript" src="../bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="../bootstrap3/js/respond.min.js"></script>
</html>