<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('字典数据列表')" />
<meta charset="UTF-8">
<title>商城首页</title>
<style type="text/css">
h1 {
	font-size: 50px;
}

#d1 {
	width: 1030px;
	height: 100%;
	background-color: #e8e8e8;
	overflow: hidden;
}

#s1 {
	font-size: 25px;
	color: cadetblue;
	font-family: fantasy;
	margin-right: 770px;
	font-weight: bold;
}

img {
	width: 1000px;
}

a {
	font-size: 20px;
}

select {
	font-size: 25px;
	float: right;
}

#b1 {
	font-size: 30px;
	margin-right: 800px;
	color: red;
}

s {
	font-size: 15px;
}

#d1>div {
	margin-top: 40px;
	background-color: white;
	width: 1000px;
}
</style>
<!-- <meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css"
	href="../bootstrap3/css/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="../bootstrap3/font-awesome-4.7.0/css/font-awesome.css" /> -->
</head>
<body>
	<form class="form-horizontalm" id="form-dict-edit">

		<center>
			<div id="d1">
				<div th:each="p:${list}">
					<!-- <div th:each="h:${relist}">
						<div th:each="o:${reList}"> -->
							<div>
								<h1>商城首页</h1>
								<span id="s1">千千惠生活</span>
								<select id="subselectid">
								    <option>选择城市</option>
								</select>
								<select id="selectid" onchange="selectCity()">
								    <option>选择省市</option>
								    <option>北京</option>
								    <option>南京</option>
								    <option>淮北</option>
								    <option>合肥</option>
								</select>



<div>
									<a th:href="'/system/productDetailsCM/list?id='+${p.id}"><img
										width="1000px" height="400px"
										th:src="'/img/'+${p.hyPicture.pcitureAddress}"></a><br> <a
										th:text="${p.briefIntroduction}"></a><br> ¥<span id="b1"
										th:text="${p.hySetMeal.retailPrice}"></span><br>
									<hr>
									门市价:<s style="margin-right: 750px;" th:text=${p.hySetMeal.marketPrice}></s>
									销售量:<b th:text="${p.soldNumber}"></b>

								</div>
								<hr>
								<div style="height: 15px; background-color: #e8e8e8;"></div>
							</div>
						</div>
					<!-- </div>
				</div> -->
			</div>
		</center>
	</form>
	 <script type="text/javascript">
		function foo() {
			var frm = window.event.srcElement;
			frm.hid.value = $(frm.hid).attr("index");
			return true;
		}
	</script> 
	
	<th:block th:include="include :: footer" />
	
</body>
<script type="text/javascript">
        function selectCity() {
      		//二维数组
            var cities = [
            			  ['选择城市'],
                          ['海淀区','朝阳区','东城区','西城区'],
                          ['鼓楼区','栖霞区','玄武区','秦淮区'],
                          ['杜集区','烈山区','相山区','濉溪县'],
                          ['瑶海区','蜀山区','庐阳区','包河区']
            	];
            //获取两个下拉菜单对象
            var selectNode = document.getElementById("selectid");
            var subSelectNode = document.getElementById("subselectid");
            //获取选择的省的角标
            var index = selectNode.selectedIndex;
            //通过角标到容器中去获取对应的城市数组
            var arrCities = cities[index];

            //将子菜单中的内容清空
            for(var i=0;i<subSelectNode.options.length;i++){
                //通过父节点删除子节点
                subSelectNode.removeChild(subSelectNode.options[i]);
                i--;
            }

            //遍历城市数组，并将这个数组的元素对象封装成option对象，添加到子菜单中
            for(var i=0;i<arrCities.length;i++){
                var optionNode = document.createElement("option");
                optionNode.innerHTML=arrCities[i];
                subSelectNode.appendChild(optionNode);
            }
        }
    </script>
<!-- <script type="text/javascript" src="../bootstrap3/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="../bootstrap3/js/holder.js"></script>
<script type="text/javascript" src="../bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript"
	src="../bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="../bootstrap3/js/respond.min.js"></script> -->
</html>