<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('社区建议列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>建议类别：</label>
                                <select name="suggestType">
			                    	<option value="">请选择</option>
			                        <option value="物业">物业</option>
			                        <option value="环境">环境</option>
			                        <option value="卫生">卫生</option>
			                        <option value="文化">文化</option>
			                        <option value="治安">治安</option>
			                        <option value="社区">社区</option>
			                        <option value="其他">其他</option>
			                    </select>
                            </li>
                            <li>
                                <label>建议人姓名：</label>
                                <input type="text" name="suggestName"/>
                            </li>
                            <li>
                                <label>建议日期：</label>
                                <input type="text" class="time-input" placeholder="请选择建议日期" name="suggestDate"/>
                            </li>
                            <li>
                                <label>联系方式：</label>
                                <input type="text" name="contactInformation"/>
                            </li>
                            <li>
                			<label>所属社区：</label>
			                   	<select name="communityId" class="form-control" th:with="type=${@community.getCommunity()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.communityName}" th:value="${data.id}"></option>
						 	    </select>
                			</li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:suggest:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:suggest:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:suggest:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:suggest:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:suggest:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:suggest:remove')}]];
        var prefix = ctx + "system/suggest";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                updateUrlThrough: prefix + "/editThrough/{id}",
                updateUrlRefusal: prefix + "/editRefusal/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "社区建议",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '社区建议id',
                    visible: false
                },
                {
                    field: 'suggestType',
                    title: '建议类别'
                },
                {
                    field: 'informationContent',
                    title: '建议内容'
                },
                {
                    field: 'suggestName',
                    title: '建议人姓名'
                },
                {
                    field: 'suggestDate',
                    title: '建议日期'
                },
                {
                    field: 'contactInformation',
                    title: '联系方式'
                },
                {
                    field: 'hyCommunity.communityName',
                    title: '所属社区'
                },
                {
                    field: 'refusalReason',
                    title: '拒绝原因'
                },
                {
                    field: 'throughReason',
                    title: '通过原因'
                },
                {
                    field: 'suggestStatus',
                    title: '审核状态',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '1' : value =  "待审核";break;
	                    	case '2' : value =  "已通过";break;
	                    	case '3' : value =  "已拒绝";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'suggestAuditor',
                    title: '审核人'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.suggestStatus == '1'){
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editThrough(\'' + row.id + '\')"><i class="fa fa-spin fa-calendar-check-o"></i>通过</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editRefusal(\'' + row.id + '\')"><i class="fa fa-spin fa-calendar-times-o"></i>拒绝</a> ');
                        }
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function editThrough(id){
        $.modal.confirm("确定要通过该条数据吗？", function() {
        $.modal.open("同意审核", $.operate.editUrlThrough(id));
   		 /* $.ajax({
             url: prefix + "/edit",
             data: {'id' : id,'suggestStatus' : "2"},
             type: 'POST',
             dataType : "json",
         	beforeSend: function () {
   	            $.modal.loading("正在处理中，请稍后...");
   	            $.modal.disable();
   	        },
             success: function (result) {
            	 $.modal.alertSuccess(result.msg);
            	 $.modal.closeLoading();
               	 $.modal.enable();
            	 $.table.refresh();
             }
         }); */
        });
        };
        function editRefusal(id){
        $.modal.confirm("确定要拒绝该条数据吗？", function() {
        	$.modal.open("拒绝审核", $.operate.editUrlRefusal(id));
        	/* $.ajax({
                url: prefix + "/edit",
                data: {'id' : id,'suggestStatus' : "3"},
                type: 'POST',
                dataType : "json",
               	beforeSend: function () {
       	            $.modal.loading("正在处理中，请稍后...");
       	            $.modal.disable();
       	        },
                success: function (result) {
               	 $.modal.alertSuccess(result.msg);
               	 $.modal.closeLoading();
               	 $.modal.enable();
               	 $.table.refresh();
                }
            }); */
        });
        };
    </script>
</body>
</html>