<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改服务商商户号')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-number-edit" th:object="${hyServiceProviderAccountNumber}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">服务商商户号：</label>
                <div class="col-sm-8">
                    <input name="serviceProviderAccounNumber" th:field="*{serviceProviderAccounNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商户支付密钥：</label>
                <div class="col-sm-8">
                    <input name="merchantPaymentKey" th:field="*{merchantPaymentKey}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公众号appid：</label>
                <div class="col-sm-8">
                    <input name="appid" th:field="*{appid}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公众号appsecret：</label>
                <div class="col-sm-8">
                    <input name="appsecret" th:field="*{appsecret}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">子商户号：</label>
                <div class="col-sm-8">
                    <input name="subMerchantNumber" th:field="*{subMerchantNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">小区id：</label>
                <div class="col-sm-8">
                    <input name="residentialQuartersId" th:field="*{residentialQuartersId}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/number";
        $("#form-number-edit").validate({
        	
        	rules : {
				serviceProviderAccounNumber:{
					required : true,
					maxlength : 50,
				},
				merchantPaymentKey:{
					required : true,
					maxlength : 30,
				},
				appid:{
					required : true,
					maxlength : 50,
					number:true,
				},
				appsecret:{
					required : true,
					maxlength : 50,
				},
				subMerchantNumber:{
					required : true,
					maxlength : 50,
				}
			},
        	
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-number-edit').serialize());
            }
        }
    </script>
</body>
</html>