<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('出租转让列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>租户名称：</label>
                                <input type="text" name="tenantName"/>
                            </li>
                            <li>
                                <label>固定电话：</label>
                                <input type="text" name="tenantTelephone"/>
                            </li>
                            <li>
                                <label>移动电话：</label>
                                <input type="text" name="tenantPhone"/>
                            </li>
                            <li>
                                <label>证件号码：</label>
                                <input type="text" name="idCardNum"/>
                            </li>
                            <li>
                                <label>联系地址：</label>
                                <input type="text" name="tenantAddress"/>
                            </li>
                            <li>
                                <label>性别：</label>
                                <select name="tenantSex" class="form-control "
									th:with="type=${@dict.getType('sys_user_sex')}">
									<option value="">请选择</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
										th:value="${dict.dictValue}"></option>
								</select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:tenant:edit">
                    <i class="fa fa-edit"></i> 出租转让
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:tenant:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:tenant:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:tenant:remove')}]];
        var prefix = ctx + "system/transfertenant";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "出租转让",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '租户id',
                    visible: false
                },
                {
                    field: 'tenantName',
                    title: '租户名称'
                },
                {
                    field: 'tenantTelephone',
                    title: '固定电话'
                },
                {
                    field: 'tenantPhone',
                    title: '移动电话'
                },
                {
                    field: 'idCardNum',
                    title: '证件号码'
                },
                {
                    field: 'tenantAddress',
                    title: '联系地址'
                },
                {
                    field: 'tenantSex',
                    title: '性别',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case 0 : value =  "男";break;
	                    	case 1 : value =  "女";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '租房名称'
                },
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '租房编号'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>