<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('费用项目列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>客户名称：</label>
                                <input type="text" name="hyOwnerRegistration.ownerName"/>
                            </li>
                            <li>
                                <label>房屋编号：</label>
                                <input type="text" name="hyHouseInf.houseNumber"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="search1()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
			<div class="col-sm-12 select-table">
                <a href="/system/registration" style="color: blue;margin-right: 10%">
                    <i class="fa fa-user"></i> 客户资料
                </a>
                <a href="/system/parking" style="color: blue;margin-right: 10%">
                    <i class="fa fa-truck"></i> 车位办理
                </a>
                <a href="/system/meter" style="color: blue;margin-right: 10%">
			        <i class="fa fa-list-alt"></i> 单户抄表
			    </a>
                <a href="/system/customerStandardSetting" style="color: blue;margin-right: 10%">
			        <i class="fa fa-plus-square"></i> 单户入账
			    </a>
                <a href="/system/receivableInput" style="color: blue;margin-right: 10%">
			        <i class="fa fa-pencil"></i> 应收输入
			    </a>
			    <a href="" style="color: blue;margin-right: 10%">
			        <i class="fa fa-list-alt"></i> 预收存款
			    </a>
                <a href="/system/chargehistory" style="color: blue;margin-right: 10%">
			        <i class="fa fa-list-alt"></i> 收费历史
			    </a>
            </div>
            <div class="col-sm-12 select-table">
            <a>房屋状态		入住（100.00%）</a><br>
            <a>缴费信息		高层物业服务费：2020-08-31；预交余额：0.00（预存：0.00）</a><br>
            <a>开票信息		点击编辑</a><br>
            <a>备注信息		点击编辑</a>
            </div>
            <div class="col-sm-12 select-table">
            	<a>显示应收数量：</a>
            	<select>
	          		<option value="">150</option>
	        	</select>
            	<a>月份筛选：</a>
            	<select >
	          		<option value="">全部</option>
	        	</select>
	        	<a>至：</a>
	        	<select>
	          		<option value="">全部</option>
	        	</select>
	        	<a>费用筛选：</a>
	        	<select>
	          		<option value="">全部</option>
	        	</select>
	        	<input type="checkbox" checked="checked">
	        	<a>合并显示</a>
	        	<input type="checkbox">
	        	<a>按客户汇总收费</a>
            </div>
            <div class="col-sm-12 select-table">
                <table id="bootstrap-table"></table>
            </div>
            <div class="col-sm-12 select-table">
            	<div class="col-sm-2">
            		<br>
            		<br>
            		<a>合计：</a><input id="total">
            		<br>
            		<a>实付：</a><input id="paid">
            		<br>
            		<a>找零：</a><input id="change">
            	</div>
            	<div class="col-sm-10">
            		<a>应收总计</a><input style="margin-right: 8%" id="amountReceivable">
            		<a>实收预收</a><input style="margin-right: 8%" id="amountActually">
            		<a>本次违约金</a><input style="margin-right: 8%" id="damags">
            		<a>本次预存</a><input style="margin-right: 8%" value=0>
            		<br>
            		<a>预存冲抵</a><input style="margin-right: 8%" value=0>
            		<a>领头结转</a><input style="margin-right: 9%" value=0>
            		<a>结转余额</a><input style="margin-right: 8%" value=0>
            		<a>本次合计</a><input style="margin-right: 8%" id="sum">
            		<br>
            		<a>费项笔数</a><input style="width: 5%" value=4><a>笔</a><input style="width: 5%" value=1><a style="margin-right: 8%">行</a>
            		<a>收款方式</a>
            		<select style="margin-right: 9%;width: 12%">
	          			<option value="">现金</option>
	        		</select>
            		<a>多种方式</a><input style="margin-right: 9%">
            		<a>实付金额</a><input style="margin-right: 8%" id="actually">
            		<br>
            		<a>收据样式</a>
            		<select style="margin-right: 8%;width: 12%">
	          			<option value="">航宇收款收据</option>
	        		</select>
            		<a>收据类别</a>
            		<select style="margin-right: 10%;width: 12%">
	          			<option value="">测试收据</option>
	        		</select>
            		<a>收据号</a><input style="margin-right: 9%">
            		<a>开据发票</a><input type="checkbox"><a>是</a>
            		<br>
            		<a>入账银行</a>
            		<input style="margin-right: 7%;">
            		<a>入账账号</a>
            		<input style="margin-right: 11%;">
            		<a>备注</a><input style="margin-right: 10%;border: none;" placeholder="请输入备注内容">
            		<a>付款码</a><input disabled="disabled">
            	</div>
            
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/cost";

        $(function() {
            var options = {
            		showSearch: false,
    		        showRefresh: false,
    		        showToggle: false,
    		        showColumns: false,
    		        showFooter: true,
    		        footerStyle: footerStyle,
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "费用项目",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号',
                    footerFormatter:function (value) {
				        return "合计";
				    }
                },
                {
                    field: 'hyParkingInf.parkingNumber',
                    title: '车位编号'
                },
                {
                    field: 'costItems',
                    title: '费用名称'
                },
                {
                    field: 'feeDate',
                    title: '费用日期'
                },
                {
                    field: 'dueDate',
                    title: '应收日期'
                },
                {
                    field: 'amountReceivable',
                    title: '应收金额',
                    footerFormatter:function (value) {
				    	var sum1 = 0;
				        for (var i in value) {
				        	sum1 += parseFloat(value[i].amountReceivable);
				        }
				        return sum1;
				    }
                },
                {
                    field: 'amountActually',
                    title: '实收金额'
                },
                {
                    field: 'advancePaymentOffset',
                    title: '预交冲抵',
                    footerFormatter:function (value) {
				    	var sum2 = 0;
				        for (var i in value) {
				        	sum2 += parseFloat(value[i].advancePaymentOffset);
				        }
				        return sum2;
				    }
                },
                {
                    field: 'writeOff',
                    title: '减免冲销',
                    footerFormatter:function (value) {
				    	var sum3 = 0;
				        for (var i in value) {
				        	sum3 += parseFloat(value[i].writeOff);
				        }
				        return sum3;
				    }
                },
                {
                    field: 'amountArrears',
                    title: '欠收金额'
                },
                {
                    field: 'proportionDamags',
                    title: '违约金比例',
                    visible: false
                },
                {
                    field: 'remarks',
                    title: '备注'
                }],
                responseHandler: function (res) {
                    var sum = 0.0;
                    var amountReceivable = 0.0;
                    var advancePaymentOffset = 0.0;
                    var writeOff = 0.0;
                    var damags = 0.0;
                    var proportionDamags = 0.0;
                    var amountArrears = 0.0;
                    var change = 0.0;
                    for(var i = 0 ; i < res.rows.length ; i++){
                    	amountReceivable += res.rows[i].amountReceivable;
                    	advancePaymentOffset += res.rows[i].advancePaymentOffset;
                    	writeOff += res.rows[i].writeOff;
                    	proportionDamags += res.rows[i].proportionDamags;
                    	amountArrears += res.rows[i].amountArrears;
                    }
                    sum = amountReceivable-(advancePaymentOffset+writeOff);
                    $("#amountReceivable").val(sum);
                    $("#amountActually").val(sum);
                    $("#sum").val(sum);
                    $("#actually").val(sum);
                    damags = proportionDamags * amountArrears;
                    $("#damags").val(damags);
                    $("#sum").val(sum);
                    $("#actually").val(sum);
                    change = sum-sum;
                    $("#change").val(change);
                    $("#total").val(sum);
                    $("#paid").val(sum);
                       return res.messages 
                   }
            };
            $.table.init(options);
        });
        function footerStyle(column) {
        	return {
        		"hyHouseInf.houseNumber": {
        	        css: { color: 'red', 'font-weight': 'normal' }
        	    },
        		"amountReceivable": {
        	        css: { color: 'red', 'font-weight': 'normal' }
        	    },
        	    "advancePaymentOffset": {
        	        css: { color: 'red', 'font-weight': 'normal' }
        	    },
        	    "writeOff": {
        	        css: { color: 'red', 'font-weight': 'normal' }
        	    }
        	}[column.field]
        };
     // 搜索-默认第一个form
        function search1() {
        	var params = $("#bootstrap-table").bootstrapTable('getOptions');
            $("#bootstrap-table").bootstrapTable('refresh', params);
            var startTime = $("#startTime").val();
            $("#start").val(startTime);
            var endTime = $("#endTime").val();
            $("#end").val(endTime);
            var date = new Date();
        	var time = date.getTime();
        	var year = date.getFullYear();
        	var Month = "0"+(date.getMonth()+1);
        	var da = date.getDate();
        	var dateStr = year+"-"+Month+"-"+da;
            $("#applyTime").val(dateStr);
        };
    </script>
</body>
</html>