<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('分销规则列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:rule:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
              <!--   <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:rule:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:rule:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:rule:export">
                    <i class="fa fa-download"></i> 导出
                </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:rule:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:rule:remove')}]];
        var prefix = ctx + "system/rule";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "分销规则",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '分销规则id',
                    visible: false
                },
                {
                    field: 'commissionFromSuperior',
                    title: '一级固定金额'
                },
                {
                    field: 'topCommission',
                    title: '二级固定金额'
                },
             
                {
                    field: 'threeLevelDistribution',
                    title: '三级固定金额'
                },
                {
                    field: 'startDistribution',
                    title: '是否开启分销',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case 0 : value =  "是";break;
	                    	case 1 : value =  "否";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'distributionType',
                    title: '分销类型',
                    
                }
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>