<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('入账处理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>入账类别：</label>
                            
                                <select id="entryType" name="entryType" >
											<option value="">请选择</option>
											<option value="0">已入账</option>
											<option value="1">未入账</option>
									</select>
                            </li>
                            <li>
                                <label>入账时间：</label>
                                <input type="text" class="time-input" placeholder="请选择入账时间" name="entryDate"/>
                            </li>
                            <li>
                                <label>入账人：</label>
                                <input type="text" name="entryPerson"/>
                            </li>
                            <li>
                                <label>入账范围：</label>
                                <input type="text" name="entryRange"/>
                            </li>
                            <li>
                                <label>入账开始年月：</label>
                                <input type="text" class="time-input" placeholder="请选择入账开始年月" name="entryDateStr"/>
                            </li>
                            <li>
                                <label>入账结束年月：</label>
                                <input type="text" class="time-input" placeholder="请选择入账结束年月" name="entryDateEnd"/>
                            </li>
                            <li>
                                <label>入账总金额：</label>
                                <input type="text" name="entryAmount"/>
                            </li>
                            <li>
                                <label>房屋编号：</label>
                                <input type="text" name="houseNum"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
             
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:entry:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-danger" shiro:hasPermission="system:meter:print" onclick="printPage()">
	                <i class="fa fa-print"></i> 打印
				</a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:entry:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:entry:remove')}]];
        var prefix = ctx + "system/entry";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "入账处理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'entryType',
                    title: '入账类别'
                },
                {
                    field: 'entryDate',
                    title: '入账时间'
                },
                {
                    field: 'entryPerson',
                    title: '入账人'
                },
                {
                    field: 'entryRange',
                    title: '入账范围'
                },
                {
                    field: 'entryDateStr',
                    title: '入账开始年月'
                },
                {
                    field: 'entryDateEnd',
                    title: '入账结束年月'
                },
                {
                    field: 'entryAmount',
                    title: '入账总金额'
                },
               
                {
                    field: 'hyCost.amountReceivable',
                    title: '应收总金额'
                },
                {
                    field: 'hyCost.costItems',
                    title: '费用项目'
                },
                {
                    field: 'hyAuditManagement.auditProcess',
                    title: '审核流程'
                },
                {
                    field: 'hyAuditManagement.auditStatus',
                    title: '审核状态',
                    	 formatter: function(value, item, index) {
                         	switch(value){
     	                    	case 0 : value =  "未审核";break;
     	                    	case 1 : value =  "已审核";break;
     	                
     	                	}
     		            	return value;
     		            }
                }]
            };
            $.table.init(options);
        });
        function printPage() {
            window.print();
        }
    </script>
</body>
</html>