<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改管控模型设置')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-control-edit"
			th:object="${hyControlSet}">
			<input name="id" th:field="*{id}" type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">收费科目是否需要审核：</label>
				<div class="col-sm-8">
					<select name="chargeSubjectApproved"
						th:field="*{chargeSubjectApproved}" class="form-control"
						>
						<option value="1">否</option>
						<option value="0">是</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">交房状态修改生效时间：</label>
				<div class="col-sm-8">
					<select name="deliveryEffectiveTime"
						th:field="*{deliveryEffectiveTime}" class="form-control"
						>
						<option value="3">次月</option>
						<option value="2">当月</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">有欠费时是否允许预存：</label>
				<div class="col-sm-8">
					<select name="depositArrearsAllowed"
						th:field="*{depositArrearsAllowed}" class="form-control"
						>
						<option value="0">是</option>
						<option value="1">否</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">预存是否允许部分冲抵：</label>
				<div class="col-sm-8">
					<select name="partialOffsetAllowed"
						th:field="*{partialOffsetAllowed}" class="form-control"
						>
						<option value="0">是</option>
						<option value="1">否</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">票号是否使用系统票号：</label>
				<div class="col-sm-8">
					<select name="systemTicketnumNot" th:field="*{systemTicketnumNot}"
						class="form-control"
						>
						<option value="1">否</option>
						<option value="0">是</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">零头结转取整位数：</label>
				<div class="col-sm-8">
					<select name="oddCarryForward" th:field="*{oddCarryForward}"
						class="form-control"
						>
						<option value="6">分</option>
						<option value="4">整</option>
						<option value="5">角</option>
					</select>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var prefix = ctx + "system/control";
		$("#form-control-edit").validate({
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $('#form-control-edit')
						.serialize());
			}
		}
	</script>
</body>
</html>