<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('收银台列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>选择小区：</label>
                                <select id="communityName" name="hyResidentialQuarters.communityName" class="form-control" th:with="type=${@quarters.getQuarters()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.communityName}" th:value="${data.communityName}"></option>
						 	    </select>
                            </li>
                            <li>
                                <label>选择楼宇：</label>
						 	    <select name="hyBuilding.buildingName" class="form-control m-b" th:with="type=${@building.getBuilding()}">
		                        <option value="">请选择</option>
		                        <option th:each="dict : ${type}" th:text="${dict.buildingName}" th:value="${dict.buildingName}"></option>
		                    </select>
                            </li>
                            <li>
                                <label>选择单元：</label>
                                <select name="hyHouseInf.unit" class="form-control" th:with="type=${@houseInf.getHouseInf()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.unit}" th:value="${data.unit}"></option>
						 	    </select>
                            </li>
                            <li>
                                <label>费用项目：</label>
                                <select id="costItems" name="costItems" class="form-control" th:with="type=${@cost.getCost()}"> 
									<option value="">请选择</option>
									<option th:if="data != null" th:each="data : ${type}" th:text="${data.costItems}" th:value="${data.costItems}"></option>
								</select> 
                            </li>
                            <li>
                                <label>缴费状态：</label>
                                <select name="" class="form-control"> 
									<option value="">请选择</option>
									<option value="0">欠费</option>
									<option value="1">已缴</option>
								</select> 
                            </li>
                            <li>
                                <label>费用开始时间：</label>
                                <input type="text" class="time-input" placeholder="请选择开始时间" name="bilingStartDate"/>
                            </li>
                            <li>
                                <label>费用结束时间：</label>
                                <input type="text" class="time-input" placeholder="请选择结束时间" name="bilingEndDate"/>
                            </li>
                            <li>
                                <label>业主姓名：</label>
                                <input type="text" class="form-control" name="hyOwnerRegistration.ownerName"/>
                            </li>
                            <li>
                                <label>业主手机号：</label>
                                <input type="text" class="form-control" name="hyOwnerRegistration.mobilePhone"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
			<div class="col-sm-12 select-table">
                <a style="color: red;cursor: auto;">应收</a><input id="receivable" style="border: none;">
                <a style="color: red;cursor: auto;">未收</a><input id="uncollected" style="border: none;">
                <a style="color: red;cursor: auto;">已收</a><input id="received" style="border: none;">
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary multiple disabled" onclick="merger()">
                    <i class="fa fa-edit"></i> 合并收款
                </a>
                <a class="btn btn-primary multiple disabled" onclick="">
                    <i class="fa fa-edit"></i> 综合收款
                </a>
                <a class="btn btn-warning" onclick="printReceipt()">
                    <i class="fa fa-download"></i> 打印收据
                </a>
                <a class="btn btn-warning" onclick="printCollection()">
                    <i class="fa fa-download"></i> 打印催收单
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
             <a style="float: right" class="btn btn-primary multiple disabled" onclick="">
               <i class="fa fa-rmb"></i> 一键催缴
             </a>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cashierDesk:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cashierDesk:remove')}]];
        var prefix = ctx + "system/cashierDesk";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                modalName: "收银台",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '编号'
                },
                {
                    field: 'costItems',
                    title: '费用项目'
                },
                {
                    field: 'hyResidentialQuarters.communityName',
                    title: '所在小区'
                },
                {
                    field: 'hyBuilding.buildingName',
                    title: '楼栋名称'
                },
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '业主名称'
                },
                {
                    field: 'feeDate',
                    title: '费用日期'
                },
                {
                    field: 'hyCollection.isCollection',
                    title: '支付状态',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '0' : value =  "已支付";break;
                        	default : value =  "未支付";break;
                    	}
    	            	return value;
    	            }
                },
                {
                    field: 'amountReceivable',
                    title: '应收费用'
                },
                {
                    field: 'hyCollection.amount',
                    title: '已收费用'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit4(\'' + row.id + '\')"><i class="fa fa-edit"></i>单笔收款</a> ');
                        return actions.join('');
                    }
                }],
                responseHandler: function (res) {
                    var receivable = 0.0;
                    var received = 0.0;
                    var uncollected = 0.0;
                    for(var i = 0 ; i < res.rows.length ; i++){
                    	receivable += res.rows[i].amountReceivable;
                    	received += res.rows[i].hyCollection.amount;
                    }
                    uncollected = receivable - received;
                    $("#receivable").val(receivable);
                    $("#received").val(received);
                    $("#uncollected").val(uncollected);
                       return res.messages 
                   }
            };
            $.table.init(options);
        });
        function merger(){
        	var rows=$("#bootstrap-table").bootstrapTable('getSelections');
        	if(rows.length == 0){
				$.modal.alertWarning("至少选择一条数据！！！");
				return false;
			}
        	
        	console.log(rows);
        	
        	var map = new Map();
        	
        	var list = new Array();
        	for(var i=0;i<rows.length;i++){
        		if(Object.getOwnPropertyNames(map).length != 0){
        			if(!map.hasOwnProperty(rows[i].hyOwnerRegistration.ownerName)){
            			$.modal.alertWarning("所选数据不是一个人的");
            			return false;
            		}
        		}
        		map[rows[i].hyOwnerRegistration.ownerName] = rows[i];
        		//map.set("rows[i].hyOwnerRegistration.ownerName",rows[i]);
        		var id = rows[i].id;
        		var costItems = rows[i].costItems;
        		var communityName = rows[i].hyResidentialQuarters.communityName;
        		var buildingName = rows[i].hyBuilding.buildingName;
        		var houseNumber = rows[i].hyHouseInf.houseNumber;
        		var ownerName = rows[i].hyOwnerRegistration.ownerName;
        		var feeDate = rows[i].feeDate;
        		var isCollection = rows[i].hyCollection.isCollection;
        		var amountReceivable = rows[i].amountReceivable;
        		var amount = rows[i].hyCollection.amount;
        		if(isCollection=="0"){
        			$.modal.alertWarning("选择的数据中又已支付的数据，请重新选择！");
    				return false;
        		}
                list[i] = {
	               	'id' : id,
	           		'costItems' : costItems,
	           		'communityName' : communityName,
	           		'buildingName' : buildingName,
	           		'houseNumber' : houseNumber,
	           		'ownerName' : ownerName,
	           		'feeDate' : feeDate,
	           		'isCollection' : isCollection,
	           		'amountReceivable' : amountReceivable,
	           		'amount' : amount
                };
        	}
        	
            $.ajax({
                url: prefix + "/edits",
                data: {
                	'datas' : JSON.stringify(list)
                },
                type: 'POST',
                dataType : "json",
                success: function (result) {
                	$.operate.successCallback(result);
                }
            });
        }
        function printReceipt(){
    		$.ajax({
                type: "post",
                datatype: "json",
                url:  prefix + "/printReceipt",
               	beforeSend: function () {
       	            $.modal.loading("正在处理中，请稍后...");
       	            $.modal.disable();
       	        },
               	success: function(result) {
               		$.modal.closeLoading();
               		$.operate.successCallback(result);
    	        }
            }); 
        }
        function printCollection(){
    		$.ajax({
                type: "post",
                datatype: "json",
                url:  prefix + "/printCollection",
               	beforeSend: function () {
       	            $.modal.loading("正在处理中，请稍后...");
       	            $.modal.disable();
       	        },
               	success: function(result) {
               		$.modal.closeLoading();
               		$.operate.successCallback(result);
    	        }
            }); 
        }
    </script>
</body>
</html>