<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('收银台列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>选择小区：</label>
                                <select id="communityName" name="hyResidentialQuarters.communityName" class="form-control" th:with="type=${@quarters.getQuarters()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.communityName}" th:value="${data.communityName}"></option>
						 	    </select>
                            </li>
                            <li>
                                <label>选择楼栋号：</label>
						 	    <select name="hyBuilding.buildingNumber" class="form-control m-b" th:with="type=${@building.getBuilding()}">
		                        <option value="">请选择</option>
		                        <option th:each="dict : ${type}" th:text="${dict.buildingNumber}" th:value="${dict.buildingNumber}"></option>
		                    </select>
                            </li>
                            <li>
                                <label>选择房屋编号：</label>
                                <select name="hyHouseInf.houseNumber" class="form-control" th:with="type=${@houseInf.getHouseNumber()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.houseNumber}" th:value="${data.houseNumber}"></option>
						 	    </select>
                            </li>
                            <li>
                                <label>选择单元：</label>
                                <select name="hyHouseInf.unit" class="form-control" th:with="type=${@houseInf.getUnit()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.unit}" th:value="${data.unit}"></option>
						 	    </select>
                            </li>
                            <li>
                                <label>费用项目：</label>
                                <select id="costItems" name="costItems" class="form-control" th:with="type=${@cost.getCost()}"> 
									<option value="">请选择</option>
									<option th:if="data != null" th:each="data : ${type}" th:text="${data.costItems}" th:value="${data.costItems}"></option>
								</select> 
                            </li>
                            <li>
                                <label>缴费状态：</label>
                                <select name="hyCollection.isCollection" class="form-control"> 
									<option value="">请选择</option>
									<option value="0">已支付</option>
									<option value="1">未支付</option>
								</select> 
                            </li>
                            <li>
                                <label>费用开始时间：</label>
                                <input type="text" class="time-input" placeholder="请选择开始时间" name="bilingStartDate"/>
                            </li>
                            <li>
                                <label>费用结束时间：</label>
                                <input type="text" class="time-input" placeholder="请选择结束时间" name="bilingEndDate"/>
                            </li>
                            <li>
                                <label>业主姓名：</label>
                                <input type="text" class="form-control" name="hyOwnerRegistration.ownerName"/>
                            </li>
                            <li>
                                <label>业主手机号：</label>
                                <input type="text" class="form-control" name="hyOwnerRegistration.mobilePhone"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
			<div class="col-sm-12 select-table">
                <a style="color: red;cursor: auto;">应收</a><input id="receivable" style="border: none;" disabled="disabled">
                <a style="color: red;cursor: auto;">未收</a><input id="uncollected" style="border: none;" disabled="disabled">
                <a style="color: red;cursor: auto;">已收</a><input id="received" style="border: none;" disabled="disabled">
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary multiple disabled" onclick="merger()">
                    <i class="fa fa-edit"></i> 合并收款
                </a>
                <a class="btn btn-warning" onclick="printReceipt()">
                    <i class="fa fa-download"></i> 打印收据
                </a>
                <a class="btn btn-warning" onclick="printCollection()">
                    <i class="fa fa-download"></i> 打印催收单
                </a>
                <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="system:cashierDesk:import">
			            <i class="fa fa-upload"></i> 导入
			    </a>
			    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:cashierDesk:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
             <a style="float: right" class="btn btn-primary" onclick="askPayment()">
               <i class="fa fa-rmb"></i> 一键催缴
             </a>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cashierDesk:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cashierDesk:remove')}]];
        var prefix = ctx + "system/cashierDesk";

        $(function() {
        	
            $.ajax({
                url: prefix + "/jisuan",
                type: 'POST',
                success: function (result) {
                	$("#receivable").val(result.amountReceivable.toFixed(2));
                	$("#received").val(result.received.toFixed(2));
                	$("#uncollected").val(result.uncollected.toFixed(2));
                    console.log(result);
                }
            });
            
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                modalName: "收银台",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '编号'
                },
                {
                    field: 'costItems',
                    title: '费用项目'
                },
                {
                    field: 'hyResidentialQuarters.communityName',
                    title: '所在小区'
                },
                {
                    field: 'hyBuilding.buildingNumber',
                    title: '栋号'
                },
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'hyHouseInf.unit',
                    title: '单元'
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '业主名称'
                },
                {
                    field: 'feeDate',
                    title: '费用日期'
                },
                {
                    field: 'hyCollection.isCollection',
                    title: '支付状态',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '0' : value =  "已支付";break;
                        	default : value =  "未支付";break;
                    	}
    	            	return value;
    	            }
                },
                {
                    field: 'amountReceivable',
                    title: '应收费用'
                },
                {
                    field: 'hyCollection.amount',
                    title: '已收费用'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit4(\'' + row.id + '\')"><i class="fa fa-edit"></i>单笔收款</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="comprehensive(\'' + row.hyCollection.isCollection + '\',\'' + row.hyOwnerRegistration.ownerName + '\')"><i class="fa fa-edit"></i>综合收款</a> ');
                        if(row.hyCollection.isCollection == '0'){
                        	actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="printReceiptOne(\'' + row.id + '\',\'' + row.costItems + '\',\'' + row.hyResidentialQuarters.communityName + '\',\'' + row.hyBuilding.buildingName + '\',\'' + row.hyHouseInf.houseNumber + '\',\'' + row.hyOwnerRegistration.ownerName + '\',\'' + row.feeDate + '\',\'' + row.hyCollection.isCollection + '\',\'' + row.amountReceivable + '\',\'' + row.hyCollection.amount + '\')"><i class="fa fa-download"></i>打印收据</a> ');
                        }else{
                        	actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="printCollectionOne(\'' + row.id + '\',\'' + row.costItems + '\',\'' + row.hyResidentialQuarters.communityName + '\',\'' + row.hyBuilding.buildingName + '\',\'' + row.hyHouseInf.houseNumber + '\',\'' + row.hyOwnerRegistration.ownerName + '\',\'' + row.feeDate + '\',\'' + row.hyCollection.isCollection + '\',\'' + row.amountReceivable + '\',\'' + row.hyCollection.amount + '\')"><i class="fa fa-download"></i>打印催收单</a> ');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function merger(){
        	$.modal.confirm("确定要对所选的数据进行催收吗？", function() {
        	var rows=$("#bootstrap-table").bootstrapTable('getSelections');
        	if(rows.length == 0){
				$.modal.alertWarning("至少选择一条数据！！！");
				return false;
			}
        	
        	console.log(rows);
        	
        	var map = new Map();
        	
        	var list = new Array();
        	for(var i=0;i<rows.length;i++){
        		if(Object.getOwnPropertyNames(map).length != 0){
        			if(!map.hasOwnProperty(rows[i].hyOwnerRegistration.ownerName)){
            			$.modal.alertWarning("所选数据不是一个人的");
            			return false;
            		}
        		}
        		map[rows[i].hyOwnerRegistration.ownerName] = rows[i];
        		//map.set("rows[i].hyOwnerRegistration.ownerName",rows[i]);
        		var id = rows[i].id;
        		var costItems = rows[i].costItems;
        		var communityName = rows[i].hyResidentialQuarters.communityName;
        		var buildingName = rows[i].hyBuilding.buildingName;
        		var houseNumber = rows[i].hyHouseInf.houseNumber;
        		var ownerName = rows[i].hyOwnerRegistration.ownerName;
        		var feeDate = rows[i].feeDate;
        		var isCollection = rows[i].hyCollection.isCollection;
        		var amountReceivable = rows[i].amountReceivable;
        		var amount = rows[i].hyCollection.amount;
        		if(isCollection=="0"){
        			$.modal.alertWarning("选择的数据中又已支付的数据，请重新选择！");
    				return false;
        		}
                list[i] = {
	               	'id' : id,
	           		'costItems' : costItems,
	           		'communityName' : communityName,
	           		'buildingName' : buildingName,
	           		'houseNumber' : houseNumber,
	           		'ownerName' : ownerName,
	           		'feeDate' : feeDate,
	           		'isCollection' : isCollection,
	           		'amountReceivable' : amountReceivable,
	           		'amount' : amount
                };
        	}
        	
            $.ajax({
                url: prefix + "/edits",
                data: {
                	'datas' : JSON.stringify(list)
                },
                type: 'POST',
                dataType : "json",
                success: function (result) {
                	$.operate.successCallback(result);
                }
            });
        	});
        }
        function comprehensive(isCollection,ownerName){
        	$.modal.confirm("确定要对该条数据的业主所有的费用进行催收吗？", function() {
        	/* var rows=$("#bootstrap-table").bootstrapTable('getSelections');
        	if(rows.length == 0){
				$.modal.alertWarning("至少选择一条数据！！！");
				return false;
			}
        	console.log(rows); */
        	var map = new Map();
        	var list = new Array();
/*         	for(var i=0;i<rows.length;i++){
        		if(Object.getOwnPropertyNames(map).length != 0){
        			if(!map.hasOwnProperty(rows[i].hyOwnerRegistration.ownerName)){
            			$.modal.alertWarning("所选数据不是一个人的");
            			return false;
            		}
        		}
        		var isCollection = rows[i].hyCollection.isCollection;
        		if(isCollection=="0"){
	    			$.modal.alertWarning("选择的数据中有已支付的数据，请重新选择！");
					return false;
    			}
        		map[rows[i].hyOwnerRegistration.ownerName] = rows[i];
        	} */
        	if(isCollection=="0"){
    			$.modal.alertWarning("该条数据已支付，请重新选择！");
				return false;
			}
        		 $.ajax({
                     url: prefix + "/lists",
                     data: {'hyOwnerRegistration.ownerName' : ownerName},
                     type: 'POST',
                     dataType : "json",
                     success: function (result) {
                     	console.log(result);
                     	for(var i=0;i<result.length;i++){
                     		var id = result[i].id;
                    		var costItems = result[i].costItems;
                    		var communityName = result[i].hyResidentialQuarters.communityName;
                    		var buildingName = result[i].hyBuilding.buildingName;
                    		var houseNumber = result[i].hyHouseInf.houseNumber;
                    		var ownerName = result[i].hyOwnerRegistration.ownerName;
                    		var feeDate = result[i].feeDate;
                    		var isCollection = result[i].hyCollection.isCollection;
                    		var amountReceivable = result[i].amountReceivable;
                    		var amount = result[i].hyCollection.amount;
                     		list[i] = {
                	               	'id' : id,
                	           		'costItems' : costItems,
                	           		'communityName' : communityName,
                	           		'buildingName' : buildingName,
                	           		'houseNumber' : houseNumber,
                	           		'ownerName' : ownerName,
                	           		'feeDate' : feeDate,
                	           		'isCollection' : isCollection,
                	           		'amountReceivable' : amountReceivable,
                	           		'amount' : amount
                                };
                     	}
                     	console.log(list);
               		 $.ajax({
                         url: prefix + "/edits",
                         data: {
                         	'datas' : JSON.stringify(list)
                         },
                         type: 'POST',
                         dataType : "json",
                         success: function (result) {
                         	$.operate.successCallback(result);
                         }
                     });
                     }
                 });
        	});
        }
        function askPayment(){
        	$.modal.confirm("确定要对所有未支付的数据进行催收吗？", function() {
        	var map = new Map();
        	var list = new Array();
        		 $.ajax({
                     url: prefix + "/listss",
                     data: {'hyCollection.isCollection' : "1"},
                     type: 'POST',
                     dataType : "json",
                     success: function (result) {
                     	console.log(result);
                     	for(var i=0;i<result.length;i++){
                     		var id = result[i].id;
                    		var costItems = result[i].costItems;
                    		var communityName = result[i].hyResidentialQuarters.communityName;
                    		var buildingName = result[i].hyBuilding.buildingName;
                    		var houseNumber = result[i].hyHouseInf.houseNumber;
                    		var ownerName = result[i].hyOwnerRegistration.ownerName;
                    		var feeDate = result[i].feeDate;
                    		var isCollection = result[i].hyCollection.isCollection;
                    		var amountReceivable = result[i].amountReceivable;
                    		var amount = result[i].hyCollection.amount;
                     		list[i] = {
                	               	'id' : id,
                	           		'costItems' : costItems,
                	           		'communityName' : communityName,
                	           		'buildingName' : buildingName,
                	           		'houseNumber' : houseNumber,
                	           		'ownerName' : ownerName,
                	           		'feeDate' : feeDate,
                	           		'isCollection' : isCollection,
                	           		'amountReceivable' : amountReceivable,
                	           		'amount' : amount
                                };
                     	}
                     	console.log(list);
               		 $.ajax({
                         url: prefix + "/edits",
                         data: {
                         	'datas' : JSON.stringify(list)
                         },
                         type: 'POST',
                         dataType : "json",
                         success: function (result) {
                         	$.operate.successCallback(result);
                         }
                     });
                     }
                 });
        	});
        }
        function printReceipt(){
        	$.modal.confirm("确定要打印所有已支付的数据吗？", function() {
    		$.ajax({
                type: "post",
                datatype: "json",
                url:  prefix + "/printReceipt",
               	beforeSend: function () {
       	            $.modal.loading("正在处理中，请稍后...");
       	            $.modal.disable();
       	        },
               	success: function(result) {
               		$.modal.closeLoading();
               		$.operate.successCallback(result);
    	        }
            }); 
        	});
        }
        function printCollection(){
        	$.modal.confirm("确定要打印所有未支付的数据吗？", function() {
    		$.ajax({
                type: "post",
                datatype: "json",
                url:  prefix + "/printCollection",
               	beforeSend: function () {
       	            $.modal.loading("正在处理中，请稍后...");
       	            $.modal.disable();
       	        },
               	success: function(result) {
               		$.modal.closeLoading();
               		$.operate.successCallback(result);
    	        }
            }); 
        	});
        }
        function printReceiptOne(id,costItems,communityName,buildingName,houseNumber,ownerName,feeDate,isCollection,amountReceivable,amount){
        	$.modal.confirm("确定要对该条数据打印收据吗？", function() {
        	if(isCollection=="0"){
    		$.ajax({
                type: "post",
                datatype: "json",
                data:{"id":id,"costItems":costItems,"hyResidentialQuarters.communityName":communityName,"hyBuilding.buildingName":buildingName,
                	"hyHouseInf.houseNumber":houseNumber,"hyOwnerRegistration.ownerName":ownerName,"feeDate":feeDate,
                	"hyCollection.isCollection":isCollection,"amountReceivable":amountReceivable,"hyCollection.amount":amount},
                url:  prefix + "/printReceiptOne",
               	beforeSend: function () {
       	            $.modal.loading("正在处理中，请稍后...");
       	            $.modal.disable();
       	        },
               	success: function(result) {
               		$.modal.closeLoading();
               		$.operate.successCallback(result);
    	        }
            }); 
        	}else{
        		$.modal.alertWarning("该条数据未支付，请选择已支付数据或者打印催收单！");
        	}
        	});
        }
        function printCollectionOne(id,costItems,communityName,buildingName,houseNumber,ownerName,feeDate,isCollection,amountReceivable,amount){
        	$.modal.confirm("确定要对该条数据打印催收单吗？", function() {
        	if(isCollection=="0"){
        		$.modal.alertWarning("该条数据已支付，请选择未支付数据或者打印收据！");
        		return false;
        	}
    		$.ajax({
                type: "post",
                datatype: "json",
                data:{"id":id,"costItems":costItems,"hyResidentialQuarters.communityName":communityName,"hyBuilding.buildingName":buildingName,
                	"hyHouseInf.houseNumber":houseNumber,"hyOwnerRegistration.ownerName":ownerName,"feeDate":feeDate,
                	"hyCollection.isCollection":isCollection,"amountReceivable":amountReceivable,"hyCollection.amount":amount},
                url:  prefix + "/printCollectionOne",
               	beforeSend: function () {
       	            $.modal.loading("正在处理中，请稍后...");
       	            $.modal.disable();
       	        },
               	success: function(result) {
               		$.modal.closeLoading();
               		$.operate.successCallback(result);
    	        }
            }); 
        	});
        }
    </script>
    <!-- 导入区域 -->
<script id="importTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			<input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
			 &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-

o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</script>
</body>
</html>