<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增产品')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: summernote-css" />
    	<th:block th:include="include :: bootstrap-fileinput-css" />
    
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
       <form class="form-horizontal m" id="form-order-detail" th:object="${hyOrder}">
           <input name="id" id="id" th:field="*{id}" type="hidden">
           <h1>订单信息</h1>
           
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单编号：</label>
                <div class="col-sm-8">
                    <input name="orderNumber" th:field="*{orderNumber}" class="form-control" type="text" disabled="disabled">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单状态：</label>
                <div class="col-sm-8">
                	<select name="orderState" th:field="*{orderState}" class="form-control " disabled="disabled">
                      <option value="">请选择</option>
                      <option value="1">待付款</option>
                      <option value="2">待发货</option>
                      <option value="3">待收货</option>
                      <option value="4">已完成</option>
                      <option value="5">已退款</option>
			        </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款原因：</label>
                <div class="col-sm-8">
                    <input name="refundReason" th:field="*{refundReason}" class="form-control" type="text" disabled="disabled">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款说明：</label>
                <div class="col-sm-8">
                    <input name="refundInstructions" th:field="*{refundInstructions}" class="form-control" type="text" disabled="disabled">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款金额：</label>
                <div class="col-sm-8">
                    <input name="refundAmount" th:field="*{refundAmount}" class="form-control" type="text" disabled="disabled">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">下单人名称：</label>
                <div class="col-sm-8">
                    <select name="ownerId" class="form-control" th:field="*{ownerId}" th:with="type=${@ownerRegistration.getOwnerRegistration()}" disabled="disabled">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.ownerName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: summernote-js" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
   <script th:inline="javascript">
	   var prefix = ctx + "system/order";
	   $("#form-order-edit").validate({
	       focusCleanup: true
	   });
	
	   function submitHandler() {
	       if ($.validate.form()) {
	           $.operate.save(prefix + "/edit", $('#form-order-edit').serialize());
	       }
	   }
    </script>
</body>
</html>