<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                        
                            <li>
                                <label>客户名称：</label>
                                <input type="text" name="hyUser.name"/>
                            </li>
                            <li>
                                <label>订单编号：</label>
                                <input type="text" name="orderNumber"/>
                            </li>
                            <li>
                                <label>商品名：</label>
                                <input type="text" name="tradeName"/>
                            </li>
                            <li>
                                <label>商家名：</label>
                                <input type="text" name="businessName"/>
                            </li>
                            <li>
                                <label>单价：</label>
                                <input type="text" name="unitPrice"/>
                            </li>
                            <li>
                                <label>数量：</label>
                                <input type="text" name="number"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="state" class="form-control " >
                                <option value="">请选择</option>
                                <option value="0">全部订单</option>
                                <option value="1">已支付</option>
                                <option value="2">已预约</option>
                                <option value="3">已完成</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:order:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:order:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table">
                
                </table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:order:remove')}]];
        var prefix = ctx + "system/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订单",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '订单id',
                    visible: false
                },
                {
                    field: 'orderNumber',
                    title: '订单编号'
                },
                {	
                	field: 'userPicture',
                    title: '客户头像',
                    formatter: function(value, row, index) {
				    	// 图片预览（注意：如存储在本地直接获取数据库路径，如有配置context-path需要使用ctx+路径）
				    	// 如：/profile/upload/2019/08/08/3b7a839aced67397bac694d77611ce72.png
				    		return $.table.imageView("/img/"+value);
				    		/* if(index % 2 == 0){
					    		return $.table.imageView(value);
					    	}else {
					    		return $.table.imageView(value);
					    	} */
				    }
                },
                {
                    field: 'hyUser.name',
                    title: '客户名称'
                },
                {
                    field: 'tradeName',
                    title: '商品名'
                },
                {
                    field: 'businessName',
                    title: '商家名'
                },
                {
                    field: 'unitPrice',
                    title: '单价'
                },
                {
                    field: 'number',
                    title: '数量'
                },
                {
                    field: 'state',
                    title: '状态'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>