<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('费用减免列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>业主名称：</label>
                                <input type="text" name="ownerName"/>
                            </li>
                            <li>
                                <label>房屋编号：</label>
                                <input type="text" name="houseNumber"/>
                            </li>
                            <li>
                                <label>开始时间：</label>
                                <input type="text" class="time-input" placeholder="请选择开始时间" name="timeStr"/>
                            </li>
                            <li>
                                <label>结束时间：</label>
                                <input type="text" class="time-input" placeholder="请选择结束时间" name="timeEnd"/>
                            </li>
                            <li>
                                <label>减免原因：</label>
                                <input type="text" name="exemptionReason"/>
                            </li>
                            <li>
                                <label>审核状态：</label>
                                <select name="auditStatus" th:with="type=${@dict.getType('hy_examine_type')}">
                                    <option value="">请选择</option>
                                    <option value="0">已审核</option>
                                    <option value="1">未审核</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:remission:edit">
                    <i class="fa fa-edit"></i> 减免登记
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:remission:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:remission:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:remission:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:remission:remove')}]];
        var prefix = ctx + "system/remission";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "费用减免",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '客户名称'
                },
                {
                    field: 'houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'hyParkingInf.parkingNumber',
                    title: '车位编号'
                },
                {
                    field: 'hyMeter.meterName',
                    title: '表计名称'
                },
                {
                    field: 'businessExemptedType',
                    title: '减免业务类型'
                },
                {
                    field: 'feeName',
                    title: '费用名称'
                },
                {
                    field: 'reliefTypes',
                    title: '减免类型'
                },
                {
                    field: 'totalAmountDeduction',
                    title: '减免总金额'
                },
                {
                    field: 'reducedAmount',
                    title: '已减免金额'
                },
                {
                    field: 'cancellationCreditAmount',
                    title: '取消减免金额'
                },
                {
                    field: 'monthlyDeductionAmount',
                    title: '每月减免金额'
                },
                {
                    field: 'reductionRatio',
                    title: '减免比例'
                },
                {
                    field: 'sharingTotalDeduction',
                    title: '均摊减免总金额'
                },
                {
                    field: 'timeStr',
                    title: '开始时间'
                },
                {
                    field: 'timeEnd',
                    title: '结束时间'
                },
                {
                    field: 'exemptionReason',
                    title: '减免原因'
                },
                {
                    field: 'remarks',
                    title: '备注'
                },
                {
                    field: 'offsetModificationRecord',
                    title: '是否冲抵修改记录'
                },
                {
                    field: 'auditStatus',
                    title: '审核状态'
                },
                {
                    field: 'taxRate',
                    title: '税率'
                },
                {
                    field: 'feeDate',
                    title: '费用日期'
                },
                {
                    field: 'dueDate',
                    title: '应收日期'
                },
                {
                    field: 'remissionYear',
                    title: '减免年份'
                },
                {
                    field: 'remissionMonth',
                    title: '减免月份'
                },
                {
                    field: 'exemptionRegistrant',
                    title: '减免登记人'
                },
                {
                    field: 'registrationTime',
                    title: '登记时间'
                },
                {
                    field: 'reduceNot',
                    title: '是否减免'
                },
                {
                    field: 'amountNotRemitted',
                    title: '未减免金额'
                },
                {
                    field: 'amountTaxInc',
                    title: '含税金额'
                },
                {
                    field: 'taxation',
                    title: '税费'
                },
                {
                    field: 'amountExcludingTax',
                    title: '不含税金额'
                },
                {
                    field: 'offsetTime',
                    title: '冲抵时间'
                },
                {
                    field: 'cancellationTime',
                    title: '撤销时间'
                },
                {
                    field: 'revocation',
                    title: '撤销人'
                },
                {
                    field: 'writeoffOnt',
                    title: '是否冲销'
                },
                {
                    field: 'writeoffTime',
                    title: '冲销时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>