<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('预交冲抵列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>房屋编号：</label>
                                <input type="text" name="houseNum"/>
                            </li>
                            <li>
                                <label>冲抵类别：</label>
                                <input type="text" name="offsetCategory"/>
                            </li>
                            <li>
                                <label>冲抵人：</label>
                                <input type="text" name="offsetPreson"/>
                            </li>
                            <li>
                                <label>冲抵操作时间：</label>
                                <input type="text" class="time-input" placeholder="请选择冲抵操作时间" name="offsetOperationDate"/>
                            </li>
                            <li>
                                <label>冲抵范围：</label>
                                <input type="text" name="offsetRange"/>
                            </li>
                            <li>
                                <label>冲抵抵用时间：</label>
                                <input type="text" name="offsetDate"/>
                            </li>
                            <li>
                                <label>导入人：</label>
                                <input type="text" name="importPerson"/>
                            </li>
                            <li>
                                <label>导入时间：</label>
                                <input type="text" class="time-input" placeholder="请选择导入时间" name="importTime"/>
                            </li>
                            <li>
                                <label>预交时间：</label>
                                <input type="text" class="time-input" placeholder="请选择预交时间" name="advaneTime"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:offset:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:offset:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:offset:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:offset:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:offset:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:offset:remove')}]];
        var prefix = ctx + "system/offset";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "预交冲抵",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'houseNum',
                    title: '房屋编号'
                },
                {
                    field: 'offsetCategory',
                    title: '冲抵类别'
                },
                {
                    field: 'offsetPreson',
                    title: '冲抵人'
                },
                {
                    field: 'offsetOperationDate',
                    title: '冲抵操作时间'
                },
                {
                    field: 'offsetRange',
                    title: '冲抵范围'
                },
                {
                    field: 'offsetDate',
                    title: '冲抵抵用时间'
                },
                {
                    field: 'importPerson',
                    title: '导入人'
                },
                {
                    field: 'importTime',
                    title: '导入时间'
                },
                {
                    field: 'advaneTime',
                    title: '预交时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>