<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('预交冲抵列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                        	<li>
                                <label>选择小区：</label>
                                <select name="hyResidentialQuarters.communityName" class="form-control" th:with="type=${@quarters.getQuarters()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.communityName}" th:value="${data.communityName}"></option>
						 	    </select>
                            </li>
                            <li>
                                <label>选择楼栋号：</label>
						 	    <select name="hyBuilding.buildingNumber" class="form-control m-b" th:with="type=${@building.getBuilding()}">
		                        <option value="">请选择</option>
		                        <option th:each="dict : ${type}" th:text="${dict.buildingNumber}" th:value="${dict.buildingNumber}"></option>
		                    </select>
                            </li>
                             <li>
                                <label>选择单元：</label>
                                <select name="hyHouseInf.unit" class="form-control" th:with="type=${@houseInf.getUnit()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.unit}" th:value="${data.unit}"></option>
						 	    </select>
                            </li>
                            <li>
                                <label>选择房屋编号：</label>
                                <select name="hyHouseInf.houseNumber" class="form-control" th:with="type=${@houseInf.getHouseNumber()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.houseNumber}" th:value="${data.houseNumber}"></option>
						 	    </select>
                            </li>
                            <li>
                                <label>费用项目：</label>
                                <select name="hyCost.costItems" class="form-control" th:with="type=${@cost.getCost()}"> 
									<option value="">请选择</option>
									<option th:if="data != null" th:each="data : ${type}" th:text="${data.costItems}" th:value="${data.costItems}"></option>
								</select> 
                            </li>
                            <li>
                                <label>业主姓名：</label>
                                <input type="text" class="form-control" name="hyOwnerRegistration.ownerName"/>
                            </li>
                            <li>
                                <label>冲抵人：</label>
                                <input type="text" name="offsetPreson"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:offset:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:offset:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:offset:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:offset:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:offset:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:offset:remove')}]];
        var prefix = ctx + "system/offset";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "预交冲抵",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'hyResidentialQuarters.communityName',
                    title: '小区名称'
                },
                {
                    field: 'hyBuilding.buildingNumber',
                    title: '栋号'
                },
                {
                    field: 'hyHouseInf.unit',
                    title: '单元'
                },
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '业主名称'
                },
                {
                    field: 'hyCost.costItems',
                    title: '费用名称'
                },
                {
                    field: 'offsetMoney',
                    title: '冲抵金额'
                },
                {
                    field: 'offsetYear',
                    title: '冲抵年份'
                },
                {
                    field: 'offsetMonth',
                    title: '冲抵月份'
                },
                {
                    field: 'offsetDate',
                    title: '截止日期'
                },
                {
                    field: 'offsetOperationDate',
                    title: '冲抵操作时间'
                },
                {
                    field: 'offsetPreson',
                    title: '冲抵人'
                },
                {
                    field: 'auditProcess',
                    title: '审核流程'
                },
                {
                    field: 'auditStatus',
                    title: '审核状态',
               	 formatter: function(value, item, index) {
                  	switch(value){
	                    	case "0" : value =  "未审核";break;
	                    	case "1" : value =  "已审核";break;
	                
	                	}
		            	return value;
		            }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>