<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增盘点员')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-check-add">
        	<div class="form-group">    
			    <label class="col-sm-3 control-label">选择部门：</label>
                	<div class="col-sm-8">
	                	<select class="city form-control m-b" name="deptId" id="dept" data-first-title="选择部门" th:with="type=${@dept.getDept()}" onchange="changeEmployee()">
	                 	 <option value="">请选择</option>
	                 	 <option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.id}"></option>
	                	</select>
                	</div>
            </div>
            <div class="form-group">    
               <label class="col-sm-3 control-label">选择员工：</label>
               	<div class="col-sm-8">
	                <select class="area form-control m-b" name="employeeId" id="employee" data-first-title="选择员工" disabled="disabled">
	                  <option value="">请选择</option>
	                </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/check"
        $("#form-check-add").validate({
        	rules : {
        		deptId : {
					required : true,
					maxlength:11,
				},
				employeeId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-check-add').serialize());
            }
        }
        
   		var prefix2 = ctx + "system/employee"
   		function changeEmployee(){
   			$("#employee").removeAttr("disabled");
   			$.ajax({
                url: prefix2 + "/lists",
                data: {deptId : $("#dept").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#employee").empty();
					$("#employee").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#employee").append("<option value=" + result[i].id + ">" + result[i].employeeName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#employee").selectpicker('refresh');
                    $("#employee").selectpicker('render');

					console.log(result);
                }
            });
   		}
    </script>
</body>
</html>