<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('设备类别列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>父设备：</label>
                                <select id="parentId" name="parentId" class="form-control" th:with="type=${@equipment.getEquipment()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.equipmentName}" th:value="${data.id}"></option>
						 	    </select>
                            </li>
                           <!--  <li>
                                <label>设备类别代码：</label>
                                <select id="equipmentCode" name="equipmentCode" class="form-control" th:with="type=${@equipment.getEquipment()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.equipmentCode}" th:value="${data.equipmentCode}"></option>
						 	    </select>
                            </li> -->
                            <li>
                                <label>设备名称：</label>
                                <input type="text" name="equipmentName"/>
                            </li>
                            <li>
                                <label>设备说明：</label>
                                <input type="text" name="equipmentExplains"/>
                            </li>
                            <li>
                                <label>是否明细：</label>
                                <select id="equipmentDetail" name="equipmentDetail" class="form-control">
									<option value="">请选择</option>
									<option value="0">否</option>
									<option value="1">是</option>
						 	    </select>
                            </li>
                            <li>
                                <label>组织机构：</label>
                                <select id="deptId" name="deptId" class="form-control" th:with="type=${@dept.getDepts()}">
									<option value="">请选择</option>
									<option th:if="data!=null" th:each="data:${type}" th:text="${data.deptName}" th:value="${data.deptId}"></option>
						 	    </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:equipment:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:equipment:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:equipment:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:equipment:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:equipment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:equipment:remove')}]];
        var prefix = ctx + "system/equipment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "设备类别",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '设备类别id',
                    visible: false
                },
                {
                    field: 'parentId',
                    title: '父设备id',
                    visible: false
                },
                {
                    field: 'equipmentCode',
                    title: '设备类别代码',
                    visible: false
                },
                {
                    field: 'equipmentName',
                    title: '设备名称'
                },
                {
                    field: 'equipmentExplains',
                    title: '设备说明'
                },
                {
                    field: 'equipmentDetail',
                    title: '是否明细',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '0' : value =  "否";break;
	                    	case '1' : value =  "是";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'sysDept.deptName',
                    title: '组织机构'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>