<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增巡检线路')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-route-add">
        	<div class="form-group">
            	<label class="col-sm-2 control-label">选择物业：</label>
                	<div class="col-sm-4">
                    	<select class="province form-control m-b" name="propertyId" id="property" data-first-title="选择物业"  th:with="type=${@dept.getDept()}" onchange="changeDept()">
	                  		<option value="">请选择</option>
	                  		<option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}"></option>
	                	</select>
			    	</div>
		    	<label class="col-sm-2 control-label">选择项目：</label>
	               	<div class="col-sm-4">
	                	<select class="city form-control m-b" name="parentId" id="dept" data-first-title="选择项目" disabled="disabled" onchange="changeDepts()">
	                 	 <option value="">请选择</option>
	                	</select>
	               	</div>
			</div> 
            <div class="form-group">    
                <label class="col-sm-2 control-label">巡检线路名称：</label>
                <div class="col-sm-4">
                    <input name="routeName" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">组织机构：</label>
                <div class="col-sm-4">
	                	<select class="city form-control m-b" name="deptId" id="depts" data-first-title="选择部门" disabled="disabled">
	                 	 <option value="">请选择</option>
	                	</select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">巡检类别：</label>
                <div class="col-sm-4">
                    <select name="type" class="form-control m-b">
                        <option value="">请选择</option>
                        <option value="1">01-设备巡检</option>
                        <option value="2">02-秩序巡检</option>
                        <option value="3">03-环境巡检</option>
                        <option value="4">04-安防巡检</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-4">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">巡检计划：</label>
                <div class="col-sm-4">
                    <select name="schemeId" class="form-control" th:with="type=${@scheme.getScheme()}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.documentNumber}" th:value="${dict.id}"></option>
					</select>
                </div>
            </div>
        </form>
        <div class="col-sm-6">
			<div class="tabs-container">
				<ul class="nav nav-tabs">
					<li id="tab1li" class="active">
						<a data-toggle="tab" href="#tab-1" aria-expanded="true" onclick="tab(1)">巡检线路明细</a>
					</li>
					
					<li id="tab2li" class="">
						<a data-toggle="tab" href="#tab-2" aria-expanded="false" onclick="tab(2)">线路巡检内容</a>
					</li>
					
					<li id="tab3li" class="">
						<a data-toggle="tab" href="#tab-3" aria-expanded="false" onclick="tab(3)">路线图</a>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="tab-content ">
			<div id="tab-1" class="tab-pane active">
				<div class="row">
					<div class="col-sm-12 select-table table-striped">
						<table id="table1"></table>
					</div>
				</div>
			</div>
		
			<div id="tab-2" class="tab-pane ">
				<div class="row">
					<div class="col-sm-12 select-table table-striped">
						<table id="table2"></table>
					</div>
				</div>
			</div>

			<div id="tab-3" class="tab-pane ">
				<div class="row">
					<div class="col-sm-12 select-table table-striped">
						<table id="table3"></table>
					</div>
				</div>
			</div>
		</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/route"
        $("#form-route-add").validate({
        	rules : {
        		name : {
					required : true,
					maxlength:20,
				},
				type : {
					required : true,
					maxlength:20,
				},
				remark : {
					maxlength:255,
				},
				schemeId : {
					required : true,
					maxlength:11,
				},
				deptId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-route-add').serialize());
            }
        }
        
        var prefix1 = ctx + "system/dept"
        //物业部门员工
        function changeDept(){
   			$("#dept").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/list",
                data: {parentId : $("#property").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#dept").empty();
					$("#dept").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#dept").append("<option value=" + result[i].deptId + ">" + result[i].deptName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#dept").selectpicker('refresh');
                    $("#dept").selectpicker('render');

					console.log(result);
                }
            });
   		}
        function changeDepts(){
   			$("#depts").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/list",
                data: {parentId : $("#dept").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	console.log(result);
                	var optArr = [];
                	$("#depts").empty();
					$("#depts").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#depts").append("<option value=" + result[i].deptId + ">" + result[i].deptName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#depts").selectpicker('refresh');
                    $("#depts").selectpicker('render');

					console.log(result);
                }
            });
   		};
        
        
        var prefix2 = ctx + "system/detail";
        $(function() {
            var options = {
            		tableId : "table1",
            		showSearch: false,
    		        showRefresh: false,
    		        showToggle: false,
    		        showColumns: false,
                url: prefix2 + "/list",
                createUrl: prefix2 + "/add",
                updateUrl: prefix2 + "/edit/{id}",
                removeUrl: prefix2 + "/remove",
                exportUrl: prefix2 + "/export",
                modalName: "巡检线路明细",
                clickToSelect: true,
		        rememberSelected: true,
		        onClickCell:function(field, value, row, $element){
				    $.modal.open("节点巡检任务", "/system/selectTask/");
		        },
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '巡检线路明细id',
                    visible: false
                },
                {
                    field: 'code',
                    title: '序号'
                },
                {
                    field: 'hyCheckeNode.name',
                    title: '巡检节点'
                },                
                {
                    field: 'hyNodeTask.taskName',
                    title: '节点巡检任务'
                },
                {
                    field: 'inspectionTime',
                    title: '巡检时间点'
                },
                {
                    field: 'remark',
                    title: '备注'
                }]
            };
            $.table.initOtherTable(options);
        });
        
        function tab(value){
    		console.log(value);
    		if(value == 1){
    	        $.ajax({
                    url: prefix2 + "/list",
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            var options = {
                            		tableId : "table1",
                            		showSearch: false,
                    		        showRefresh: false,
                    		        showToggle: false,
                    		        showColumns: false,
                                url: prefix2 + "/list",
                                createUrl: prefix2 + "/add",
                                updateUrl: prefix2 + "/edit/{id}",
                                removeUrl: prefix2 + "/remove",
                                exportUrl: prefix2 + "/export",
                                modalName: "巡检线路明细",
                                clickToSelect: true,
                		        rememberSelected: true,
                		        onClickCell:function(field, value, row, $element){
                				    $.modal.open("节点巡检任务", "/system/selectTask/");
                		        },
                                columns: [{
                                    checkbox: true
                                },
                                {
                                    field: 'id',
                                    title: '巡检线路明细id',
                                    visible: false
                                },
                                {
                                    field: 'code',
                                    title: '序号'
                                },
                                {
                                    field: '',
                                    title: '巡检节点'
                                },
                                {
                                    field: 'taskId',
                                    title: '节点巡检任务'
                                },
                                {
                                    field: 'inspectionTime',
                                    title: '巡检时间点'
                                },
                                {
                                    field: 'remark',
                                    title: '备注'
                                }]
                            };
                	            $.table.initOtherTable(options);
                        }  else {
                            $.modal.enable();
                            $.modal.alertError(result.msg);
                        }
                    }
                });
    	        
    			
    		} else if(value == 2) {
    			var prefix3 = ctx + "system/projects";

    	        $.ajax({
                    url: prefix3 + "/list",
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            var options = {
                            		tableId : "table2",
                            		showSearch: false,
                    		        showRefresh: false,
                    		        showToggle: false,
                    		        showColumns: false,
                                    url: prefix3 + "/list",
                                    createUrl: prefix + "/add",
                                    updateUrl: prefix + "/edit/{id}",
                                    removeUrl: prefix + "/remove",
                                    exportUrl: prefix + "/export",
                                    modalName: "巡检项目",
                    		        clickToSelect: true,
                    		        rememberSelected: true,
                    		        onClickCell:function(field, value, row, $element){
                    				    $.modal.open("节点巡检任务", "/system/selectTask/");
                    		        },
                                    columns: [{
                                        checkbox: true
                                    },
                                    {
                                        field: 'id',
                                        title: '序号'
                                    },
                                    {
                                        field: 'hyCheckeNode.name',
                                        title: '节点'
                                    },
                                    {
                                        field: 'hyNodeTask.taskName',
                                        title: '节点巡检任务'
                                    },
                                    {
                                        field: 'type',
                                        title: '类型'
                                    },
                                    {
                                        field: 'hyPatrolScheme.inspectionTime',
                                        title: '巡检时间'
                                    },
                                    {
                                        field: 'hyCheckeNode.nodeAddress',
                                        title: '地点'
                                    },
                                    {
                                        field: '',
                                        title: '设备'
                                    },
                                    {
                                        field: 'standard',
                                        title: '标准'
                                    },
                                    {
                                        field: 'isMeasured',
                                        title: '是否测量'
                                    },
                                    {
                                        field: 'referenceValue',
                                        title: '参考值'
                                    }
                                    /* ,
                                    {
                                        title: '操作',
                                        align: 'center',
                                        formatter: function(value, row, index) {
                                            var actions = [];
                                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                                            return actions.join('');
                                        }
                                    } */]
                                };
                	            $.table.initOtherTable(options);
                        }  else {
                            $.modal.enable();
                            $.modal.alertError(result.msg);
                        }
                    }
                });
    		}else if(value == 3){
    			console.log('进入到第三个');
    			var editFlag = [[${@permission.hasPermi('system:set:edit')}]];
    	        var removeFlag = [[${@permission.hasPermi('system:set:remove')}]];
    	        var prefix4 = ctx + "system/projects";
    	        
    	        $.ajax({
                    url: prefix4 + "/list",
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            var options = {
                            		tableId : "table3",
                            		showSearch: false,
                    		        showRefresh: false,
                    		        showToggle: false,
                    		        showColumns: false,
                                    url: prefix4 + "/list",
                                    createUrl: prefix + "/add",
                                    updateUrl: prefix + "/edit/{id}",
                                    removeUrl: prefix + "/remove",
                                    exportUrl: prefix + "/export",
                                    modalName: "巡检项目",
                                    clickToSelect: true,
                    		        rememberSelected: true,
                    		        onClickCell:function(field, value, row, $element){
                    				    $.modal.open("节点巡检任务", "/system/selectTask/");
                    		        },
                    		        columns: [{
                                        checkbox: true
                                    },
                                    {
                                        field: 'id',
                                        title: '序号'
                                    },
                                    {
                                        field: 'hyCheckeNode.name',
                                        title: '节点'
                                    },
                                    {
                                        field: 'hyNodeTask.taskName',
                                        title: '节点巡检任务'
                                    },
                                    {
                                        field: 'type',
                                        title: '类型'
                                    },
                                    {
                                        field: 'hyPatrolScheme.inspectionTime',
                                        title: '巡检时间'
                                    },
                                    {
                                        field: 'hyCheckeNode.nodeAddress',
                                        title: '地点'
                                    },
                                    {
                                        field: '',
                                        title: '设备'
                                    },
                                    {
                                        field: 'standard',
                                        title: '标准'
                                    },
                                    {
                                        field: 'isMeasured',
                                        title: '是否测量'
                                    },
                                    {
                                        field: 'referenceValue',
                                        title: '参考值'
                                    }
                                    /* ,
                                    {
                                        title: '操作',
                                        align: 'center',
                                        formatter: function(value, row, index) {
                                            var actions = [];
                                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                                            return actions.join('');
                                        }
                                    } */]
                                };
                                $.table.initOtherTable(options);
                        }  else {
                            $.modal.enable();
                            $.modal.alertError(result.msg);
                        }
                    }
                });
                
    		}
    	} 
    </script>
</body>
</html>