<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('票据设置列表')" />
</head>
 <body class="gray-bg">
			  <!-- 选项卡 tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#billSet" aria-controls="home" role="tab" data-toggle="tab" onclick="initBiaoGe(1)">收款方式修改历史</a></li>
			    <li role="presentation"> <a href="#collectionBillSet" aria-controls="profile" role="tab" data-toggle="tab" onclick="initBiaoGe(2)">收款方式更正</a></li>
			    <li role="presentation"><a href="#collectionTimeBillSet" aria-controls="messages" role="tab" data-toggle="tab" onclick="initBiaoGe(3)">收费时间更正</a></li>
			    <li role="presentation"><a href="#updateCollectionTimeBillSet" aria-controls="settings" role="tab" data-toggle="tab" onclick="initBiaoGe(4)">修改时间修改历史</a></li>
			  </ul>
			  <!-- Tab 面板 -->
			  <div class="tab-content">
			   <!-- 收款方式修改历史 -->
			    <div role="tabpanel" class="tab-pane active" id="billSet">
					<div class="container-div">
						<div class="row">
							<div class="col-sm-12 search-collapse">
								<form id="formId">
									<div class="select-list">
										<ul>
											<li><label>票据日期：</label> <input type="text"
											class="time-input" placeholder="请选择票据时间"  name="billDate" /></li>
											<li><label>客户名称：</label> <input type="text" name="hyOwnerRegistration.ownerName" /></li>
											<li><label>房屋编号：</label> <input type="text"
												name="houseNum" /></li>
											<li><label>票据号码：</label> <input type="text"
												name="billNumber" /></li>
											<li><label>收款人：</label> <input type="text"
												name="paymentPerson" /></li>
											<li><label>修改人：</label> <input type="text"
												name="modifyPerson" /></li>
											<li><a class="btn btn-primary btn-rounded btn-sm"
												onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
												<a class="btn btn-warning btn-rounded btn-sm"
												onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
											</li>
										</ul>
									</div>
								</form>
							</div>
							<div class="btn-group-sm" id="toolbar1" role="group">
								 <a class="btn btn-warning" onclick="$.table.exportExcel()"
									shiro:hasPermission="system:set:export"> <i
									class="fa fa-download"></i> 导出
								</a>
							</div>
							<div>
							    	<div class="col-sm-12 select-table table-striped">
									<table id="bootstrap-table"></table>
									</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 收款方式更正 -->
			    <div role="tabpanel" class="tab-pane" id="collectionBillSet">
			   		 <div class="container-div">
						<div class="row">
							<div class="col-sm-12 search-collapse">
								<form id="formId">
									<div class="select-list">
									<ul>
									<li><label>票据种类：</label> <select id="billTypes"
										name="billTypes">
											<option value="">请选择</option>
											<option value="0">收据</option>
											<option value="1">发票</option>
											<option value="2">凭据</option>
									</select></li>
									<li><label>票据类别：</label> <input type="text"
										name="billCategory" /></li>
									<li><label>客户名称：</label> <input type="text" name="hyOwnerRegistration.ownerName" /></li>
									<li><label>前缀：</label> <input type="text" name="prefix" /></li>
									<li><label>后缀：</label> <input type="text" name="suffix" /></li>
									<li><label>位数：</label> <input type="text" name="digit" /></li>
									<li><label>票据样例：</label> <input type="text"
										name="billSample" /></li>
									<li><label>定额票据面板：</label> <input type="text"
										name="billPanel" /></li>
									<li><a class="btn btn-primary btn-rounded btn-sm"
										onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
										<a class="btn btn-warning btn-rounded btn-sm"
										onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
									</li>
								</ul>
							</div>
						</form>
					</div>
		
					<div class="btn-group-sm" id="toolbar2" role="group">
				 		<a class="btn btn-warning" onclick="$.table.exportExcel()"
							shiro:hasPermission="system:set:export"> <i
							class="fa fa-download"></i> 导出
						</a>
					</div>
					<div class="col-sm-12 select-table table-striped">
						<table id="bootstrap-table"></table>
					</div>
				</div>
			</div>
			    </div>
			    <!-- 收费时间更正 -->
			    <div role="tabpanel" class="tab-pane" id="collectionTimeBillSet">
			    	<div class="container-div">
						<div class="row">
							<div class="col-sm-12 search-collapse">
								<form id="formId">
									<div class="select-list">
										<ul>
											<li><label>票据种类：</label> <select id="billTypes"
												>
													<option value="">请选择</option>
													<option value="0">收据</option>
													<option value="1">发票</option>
													<option value="2">凭据</option>
											</select></li>
											<li><label>票据类别：</label> <input type="text"
												name="billCategory" /></li>
											<li><label>前缀：</label> <input type="text" name="prefix" /></li>
											<li><label>后缀：</label> <input type="text" name="suffix" /></li>
											<li><label>位数：</label> <input type="text" name="digit" /></li>
											<li><label>票据样例：</label> <input type="text"
												name="billSample" /></li>
											<li><label>定额票据面板：</label> <input type="text"
												name="billPanel" /></li>
											<li><a class="btn btn-primary btn-rounded btn-sm"
												onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
												<a class="btn btn-warning btn-rounded btn-sm"
												onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
											</li>
										</ul>
									</div>
								</form>
							</div>
				
							<div class="btn-group-sm" id="toolbar3" role="group">
							 <a class="btn btn-warning" onclick="$.table.exportExcel()"
									shiro:hasPermission="system:set:export"> <i
									class="fa fa-download"></i> 导出
								</a>
							</div>
							<div class="col-sm-12 select-table table-striped">
								<table id="bootstrap-table"></table>
							</div>
						</div>
					</div>
			    </div>
			    <!-- 修改时间修改历史 -->
			    <div role="tabpanel" class="tab-pane" id="updateCollectionTimeBillSet">
			    		<div class="container-div">
							<div class="row">
								<div class="col-sm-12 search-collapse">
									<form id="formId">
										<div class="select-list">
											<ul>
												<li><label>票据日期：</label> <input type="text"
													class="time-input" placeholder="请选择票据时间" name="billDate" /></li>
												<li><label>新票据日期：</label> <input type="text"
													class="time-input" placeholder="请选择票据时间" name="billDateNew" /></li>
												<li><label>房屋编号：</label> <input type="text" name="houseNum" /></li>
												<li><label>票据号码：</label> <input type="text"
													name="billNumber" /></li>
												<li><a class="btn btn-primary btn-rounded btn-sm"
													onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
													<a class="btn btn-warning btn-rounded btn-sm"
													onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
												</li>
											</ul>
										</div>
									</form>
								</div>
					
								<div class="btn-group-sm" id="toolbar4" role="group">
									<a class="btn btn-warning" onclick="$.table.exportExcel()"
										shiro:hasPermission="system:set:export"> <i
										class="fa fa-download"></i> 导出
									</a>
								</div>
								<div class="col-sm-12 select-table table-striped">
									<table id="bootstrap-table"></table>
								</div>
							</div>
						</div>
			    </div>
			  </div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
/* 	var editFlag = [[${@permission.hasPermi('system:set:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:set:remove')}]];
    var prefix = ctx + "system/billSet";
    $(function() {
    	//收款方式修改历史
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "票据设置",
            columns: [{
                checkbox: true
            },
            {
                field: 'id',
                title: '主键',
                visible: false
            },
            {
                field: 'billNumber',
                title: '票据号码'
            },
            {
                field: 'billDate',
                title: '票据日期'
            },
            {
                field: 'paymentMethod',
                title: '收款方式'
            },
            {
                field: 'paymentMethodNew',
                title: '新收款方式'
            },
            {
                field: 'modifyPerson',
                title: '修改人'
            },
            {
                field: 'modifyTime',
                title: '修改时间'
            }
        
          ]
        };
        $.table.init(options);
        
    }); */
      
    function init1(){
    	var editFlag = [[${@permission.hasPermi('system:set:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:set:remove')}]];
        var prefix = ctx + "system/billSet";
        $(function() {
        	//收款方式修改历史
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "票据设置",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'billNumber',
                    title: '票据号码'
                },
                {
                    field: 'billDate',
                    title: '票据日期'
                },
                {
                    field: 'paymentMethod',
                    title: '收款方式'
                },
                {
                    field: 'paymentMethodNew',
                    title: '新收款方式'
                },
                {
                    field: 'modifyPerson',
                    title: '修改人'
                },
                {
                    field: 'modifyTime',
                    title: '修改时间'
                }
            
              ]
            };
            $.table.init(options);
            
        });
    };
 
    
    
    function init2(){
    	var editFlag = [[${@permission.hasPermi('system:set:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:set:remove')}]];
        var prefix = ctx + "system/collectionBillSet";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "票据设置",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '客户名称'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'billNumber',
                    title: '票据号码'
                },
                {
                    field: 'invoiceNumber',
                    title: '发票号码'
                },
               
                {
                    field: 'paymentMethod',
                    title: '收款方式'
                },
                {
                    field: 'paymentDate',
                    title: '收款日期'
                },
                {
                    field: 'paymentPerson',
                    title: '收款人'
                }

              ]
            };
            $.table.init(options);
        });
    };
    
	 /**
	  选项卡
  	*/
 	  $('#myTabs a').click(function (e) {
  	  e.preventDefault();
  	  $(this).tab('show');
  	})
  	function initBiaoGe(id){
		 console.log(id);
		 switch(id){
		 case 1 :init1();break;
		 case 2 :init2();break;
		 case 3 :init3();break;
		 case 4 :init4();break;
		 default:init1();break;
		 }
	 }

    </script>
</body>
</html>