<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('车位资料列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li><label>车位区域：</label> <input type="text"
								name="parkingArea" /></li>
							<li><label>车位类别：</label> <input type="text"
								name="parkingType" /></li>
							<li><label>车位类型：</label> <input type="text"
								name="parkingClass" /></li>
							<li><label>车位编号：</label> <input type="text"
								name="parkingNumber" /></li>

							<li><label>收费标准：</label> <input type="text"
								name="chargingStandard" /></li>
							<li><label>当前状态：</label> <select name="currentState"
								class="form-control m-b"
								th:with="type=${@dict.getType('hy_use_state')}">
									<option value="">请选择</option>
									<option value="0">使用</option>
									<option value="1">未使用</option>
							</select></li>
							<li><label>停车卡号：</label> <input type="text"
								name="parkingCard" /></li>
							<li><label>车牌号码：</label> <input type="text"
								name="licensePlate" /></li>
							<li><label>开始时间：</label> <input type="text"
								class="time-input" placeholder="请选择开始时间" name="timeStr" /></li>
							<li><label>结束时间：</label> <input type="text"
								class="time-input" placeholder="请选择结束时间" name="timeEnd" /></li>
							<li><label>计费周期：</label> <input type="text"
								name="bilingCycle" /></li>
							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索

							</a> <a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置

							</a></li>
						</ul>
					</div>
				</form>
			</div>
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-primary single disabled"
					onclick="$.operate.edit()"
					shiro:hasPermission="system:parking:edit"> <i
					class="fa fa-edit"></i> 修改
				</a> <a class="btn btn-warning" onclick="$.table.exportExcel()"
					shiro:hasPermission="system:parking:export"> <i
					class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:parking:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:parking:remove')}]];
        var prefix = ctx + "system/parkingHandle";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "车位资料",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'parkingArea',
                    title: '车位区域'
                },
                {
                    field: 'parkingType',
                    title: '车位类别'
                },
                {
                    field: 'parkingClass',
                    title: '车位类型'
                },
                {
                    field: 'parkingNumber',
                    title: '车位编号'
                },
       
                {
                    field: 'chargingStandard',
                    title: '收费标准'
                },
                {
                    field: 'currentState',
                    title: '当前状态'
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '客户名称'
                },
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
     
                {
                    field: 'parkingCard',
                    title: '停车卡号'
                },
                {
                    field: 'licensePlate',
                    title: '车牌号码'
                },

                {
                    field: 'timeStr',
                    title: '开始时间'
                },
                {
                    field: 'timeEnd',
                    title: '结束时间'
                },
                {
                    field: 'bilingCycle',
                    title: '计费周期'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>