<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('费用项目列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                               <li>
                                <label>客户名称：</label>
                                <input type="text" name="ownerName"/>
                            </li>
                            
                                <li>
                                <label>房屋编号：</label>
                                <input type="text" name="houseNum"/>
                            </li>
                            
                                <li>
                                <label>房屋名称：</label>
                                <input type="text" name="houseName"/>
                            </li>
                                <li>
                                <label>车位名称：</label>
                                <input type="text" name="parkingNumber"/>
                            </li>
                            <li>
                                <label>费用项目：</label>
                                <select name="costItems" th:with="type=${@dict.getType('hy_fee_name')}">
											<option value="">请选择</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
									</select>
                            </li>
                            <li>
                                <label>费用日期：</label>
                                <input type="text" class="time-input" placeholder="请选择费用日期" name="feeDateOld"/>
                            </li>
                           
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
      
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:cost:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/receivableFrozen";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "费用项目",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '客户名称'
                },
                
                {
                    field: 'hyOwnerRegistration.houseNum',
                    title: '房屋编号'
                },
                
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                
                {
                    field: 'hyParkingInf.parkingNumber',
                    title: '车位编号'
                },
 
                {
                    field: 'feeDateOld',
                    title: '费用日期'
                },
                {
                    field: 'dueDate',
                    title: '应收日期'
                },
    			 {
                    field: 'amountReceivable',
                    title: '应收金额'
                },
     
                {
                    field: 'amountArrears',
                    title: '欠收金额'
                },
     
                {
                    field: 'frozenState',
                    title: '冻结状态'
                },
      
                {
                    field: 'deliveryStatus',
                    title: '预交状态'
                },
                {
                    field: 'frozenPerson',
                    title: '冻结人'
                },
                {
                    field: 'frozenDate',
                    title: '冻结日期'
                },
                {
                    field: 'frozenReason',
                    title: '冻结原因'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>