<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('车位资料列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li><label>车牌号码：</label> <input type="text"
								name="licensePlate" /></li>
							<li><label>车辆类型：</label> <input type="text"
								name="vehicleType" /></li>
							<li><label>车辆品牌：</label> <input type="text"
								name="vehicleBrand" /></li>
							<li><label>排量：</label> <input type="text"
								name="displacement" onkeyup="this.value=this.value.replace(/\D/g,'')" /></li>
							<li><label>车辆颜色：</label> <input type="text"
								name="vehicleColor" /></li>
							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索

							</a> <a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置

							</a></li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-primary single disabled"
					onclick="$.operate.edit()"
					shiro:hasPermission="system:parking:edit"> <i
					class="fa fa-edit"></i> 修改
				</a>  <a class="btn btn-warning" onclick="$.table.exportExcel()"
					shiro:hasPermission="system:parking:export"> <i
					class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:parking:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:parking:remove')}]];
        var prefix = ctx + "system/parkingDataRegistration";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "车位资料",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },

                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '客户名称'
                },

                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'licensePlate',
                    title: '车牌号码'
                },
                {
                    field: 'vehicleType',
                    title: '车辆类型'
                },
                {
                    field: 'vehicleBrand',
                    title: '车辆品牌'
                },
                {
                    field: 'displacement',
                    title: '排量'
                },
                {
                    field: 'vehicleColor',
                    title: '车辆颜色'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>