<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('实收费用查询')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<label>客户名称：</label> 
								<input type="text" name="hyOwnerRegistration.ownerName" />
							</li>
							<li>
								<label>房屋编号：</label> 
								<input type="text" name="hyHouseInf.houseNumber" />
							</li>
							
							<li>
								<label>产权性质：</label> 
								<input type="text" name="hyHouseInf.natureProperty" />
							</li>
							
							<li>
								<label>房屋名称：</label> 
								<input type="text" name="hyHouseInf.houseName" />
							</li>
							<li>
							<label>费用名称：</label> 
								<select name="hyCost.costItems" th:with="type=${@dict.getType('hy_fee_name')}">
									<option value="">请选择</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()">
									<i class="fa fa-search"></i>&nbsp;搜索
								</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()">
									<i class="fa fa-refresh"></i>&nbsp;重置
								</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:cost:export"> 
					<i class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/refundCost";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "费用项目",
                showFooter: true,
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        footerStyle: footerStyle,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'applyNumber',
                    title: '申请编号',
                    footerFormatter:function (value) {
				        return "合计：";
				    }
                },
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'hyCollection.collectionTime',
                    title: '收款/冲抵时间'
                },
                {
                    field: 'hyCollection.receiptNumber',
                    title: '收据号码'
                },
                {
                    field: 'hyCost.feeDate',
                    title: '费用日期'
                },
                {
                    field: 'hyCost.dueDate',
                    title: '应收日期'
                },
                {
                    field: 'hyCost.bilingStartDate',
                    title: '开始日期'
                },
                {
                    field: 'hyCost.bilingEndDate',
                    title: '结束日期'
                },
                {
                    field: 'hyCost.costItems',
                    title: '费用名称'
                },
                {
                    field: 'refundMoney',
                    title: '退款金额',
                    footerFormatter:function (value) {
				    	var sumBalance = 0;
				        for (var i in value) {
				        	sumBalance += parseFloat(value[i].refundMoney);
				        }
				        return "退款总金额：" + sumBalance;
				    }
                },
                {
                    field: 'collectionRemark',
                    title: '备注'
                }]
            };
            $.table.init(options);
        });
        
        function footerStyle(column) {
        	return {
        		applyNumber: {
        			css: { color: 'red', 'font-weight': 'normal' }
        		},
        		refundMoney: {
        	        css: { color: 'red', 'font-weight': 'normal' }
        	    }
        	}[column.field]
        }
    </script>
</body>
</html>