<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改物业')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-property-edit" th:object="${hyProperty}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">物业名称：</label>
                <div class="col-sm-8">
                    <input name="propertyName" th:field="*{propertyName}" class="form-control" type="text" placeholder="请输入物业名称">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物业电话：</label>
                <div class="col-sm-8">
                    <input name="propertyPhone" th:field="*{propertyPhone}" class="form-control" type="text" placeholder="请输入物业电话" onkeyup="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物业介绍：</label>
                <div class="col-sm-8">
                    <input name="propertyIntroduce" th:field="*{propertyIntroduce}" placeholder="请输入物业介绍" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="creationTime" th:value="${#dates.format(hyProperty.creationTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物业图片地址：</label>
                <div class="col-sm-8">
                    <input name="propertyPictureAddress" th:field="*{propertyPictureAddress}" class="form-control" type="text" placeholder="请输入物业图片地址">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/property";
        $("#form-property-edit").validate({
        	rules:{
        		propertyName :{
        			required : true,
        			maxlength : 255
        		},
        		propertyPhone :{
        			required : true,
        			maxlength:11,
        			isPhone:true
        		},
        		propertyIntroduce :{
        			required : true,
        			maxlength : 255
        		},
        		creationTime :{
        			required : true
        		},
        		propertyPictureAddress :{
        			required : true,
        			maxlength : 255
        		}
        	},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-property-edit').serialize());
            }
        }

        $("input[name='creationTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>