<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增车位资料')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-parking-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">车位区域：</label>
                <div class="col-sm-8">
                    <input id="parkingArea" name="parkingArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">车位类别：</label>
                <div class="col-sm-8">
                    <select id="parkingType" name="parkingType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">车位类型：</label>
                <div class="col-sm-8">
                    <input id="parkingClass" name="parkingClass" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">车位编号：</label>
                <div class="col-sm-8">
                    <input id="parkingNumber" name="parkingNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">合同交付日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input id="contractDeliveryDate" name="contractDeliveryDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实际交付日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input id="actualDeliveryDate" name="actualDeliveryDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">接管日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="takeoverTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收费标准：</label>
                <div class="col-sm-8">
                    <input id="chargingStandard" name="chargingStandard" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">当前状态：</label>
                <div class="col-sm-8">
                    <input id="currentState" name="currentState" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户名称：</label>
                <div class="col-sm-8">
                    <input id="ownerName" name="ownerName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋编号：</label>
                <div class="col-sm-8">
                    <input id="houseNumber" name="houseNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋名称：</label>
                <div class="col-sm-8">
                    <input id="houseName" name="houseName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋产权性质：</label>
                <div class="col-sm-8">
                    <input id="houseProperty" name="houseProperty" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋使用性质：</label>
                <div class="col-sm-8">
                    <input id="houseNature" name="houseNature" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">停车卡号：</label>
                <div class="col-sm-8">
                    <input id="parkingCard" name="parkingCard" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">车牌号码：</label>
                <div class="col-sm-8">
                    <input id="licensePlate" name="licensePlate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">车辆类型：</label>
                <div class="col-sm-8">
                    <select id="vehicleType" name="vehicleType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">车辆品牌：</label>
                <div class="col-sm-8">
                    <input id="vehicleBrand" name="vehicleBrand" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排量：</label>
                <div class="col-sm-8">
                    <input id="displacement" name="displacement" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">车辆颜色：</label>
                <div class="col-sm-8">
                    <input id="vehicleColor" name="vehicleColor" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否收取其他费用：</label>
                <div class="col-sm-8">
                 <select id="otherExpenses" name="otherExpenses" class="form-control m-b"
                    th:with="type=${@dict.getType('hy_parking_inf')}">
                       	<option value="">请选择</option>
						<option value="0">是</option>
						<option value="1">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否挂牌：</label>
                <div class="col-sm-8">
                 <select id="licensePlateNot" name="licensePlateNot" class="form-control m-b"
                    th:with="type=${@dict.getType('hy_parking_inf')}">
                       	<option value="">请选择</option>
						<option value="0">是</option>
						<option value="1">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">挂牌时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="licensePlateTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用状态：</label>
                <div class="col-sm-8">
                <select name="usageStatus" class="form-control m-b" th:with="type=${@dict.getType('hy_use_state')}">
		              <option value="">请选择</option>
		               <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
		           </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">车位产权性质：</label>
                <div class="col-sm-8">
                    <input id="parkingProperty" name="parkingProperty" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">办理时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="timeProcessing" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="timeStr" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="timeEnd" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计费周期：</label>
                <div class="col-sm-8">
                    <input id="bilingCycle" name="bilingCycle" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/parking"
        $("#form-parking-add").validate({
     	   onkeyup: false,
           rules : {
        	   parkingArea:{
  					required : true,
  					maxlength:50,
  				},
  			/*	parkingType:{
  					required : true,
  					maxlength:50,
  				},*/
  				parkingClass:{
  					required : true,
  					maxlength:50,
  				},
  				parkingNumber:{
  					required : true,
  					maxlength:50,
  				},
  				contractDeliveryDate:{
  					required : true,
  					maxlength:50,
  				},
  				actualDeliveryDate :{
  					required : true,
  					maxlength:50,
  				},
  				takeoverTime:{
  					required : true,
  					maxlength:50,
  				},
  				chargingStandard :{
  					required : true,
  					maxlength:50,
  				},
  				currentState:{
  					required : true,
  					maxlength:50,
  				},
  				ownerName:{
  					required : true,
  					maxlength:50,
  				},
  				houseNumber:{
  					required : true,
  					maxlength:20,
  				},
  				houseName:{
  					required : true,
  					maxlength:50,
  				},
  				houseProperty:{
  					required : true,
  					maxlength:3,
  				},
  				houseNature:{
  					required : true,
  					maxlength:3,
  				},
  				parkingCard:{
  					required : true,
  					maxlength:30,
  				},
  				licensePlate:{
  					required : true,
  					maxlength:8,
  				},
  		/*
  				vehicleBrand:{
  					required : true,
  					maxlength:50,
  				},*/
  				displacement:{
  					required : true,
  					number : true,
  					maxlength:5,
  				},
  				vehicleColor:{
  					required : true,
  					maxlength:30,
  				},
  				otherExpenses:{
  					required : true,
  					maxlength:50,
  				},
  				licensePlateNot:{
  					required : true,
  					maxlength:50,
  				},
  				usageStatus:{
  					required : true,
  				},
  				parkingProperty:{
  					required : true,
  					maxlength:20,
  				},
  				bilingCycle:{
  					required : true,
  					maxlength:20,
  				},
           },

            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-parking-add').serialize());
            }
        }

        $("input[name='contractDeliveryDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='actualDeliveryDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='takeoverTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='licensePlateTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='timeProcessing']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='timeStr']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='timeEnd']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>