<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>

    <th:block th:include="include :: header('微信支付第三方列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>银行通道：</label>
                                <input type="text" name="bankChannel" placeholder="请输入银行通道"/>
                            </li>
                            <li>
                                <label>商户号：</label>
                                <input type="text" name="merchantNumber" placeholder="请输入商户号"/>
                            </li>
                            <li>
                                <label>密钥：</label>
                                <input type="text" name="secretKey" placeholder="请输入密钥"/>
                            </li>
                            <li>
                                <label>公众号appid：</label>
                                <input type="text" name="appid" placeholder="请输入公众号appid"/>
                            </li>
                            <li>
                                <label>公众号appseret：</label>
                                <input type="text" name="appsecret" placeholder="请输入公众号appseret"/>
                            </li>
                            <li>
                                <label>应用私钥：</label>
                                <input type="text" name="applicationPrivateKey" placeholder="请输入应用私钥"/>
                            </li>
                            <li>
                                <label>小区id：</label>
                                <input type="text" name="residentialQuartersId" placeholder="请输入小区id" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:payment:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:payment:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:payment:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:payment:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:payment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:payment:remove')}]];
        var prefix = ctx + "system/thirdPayment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "微信支付第三方",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '第三方id',
                    visible: false
                },
                {
                    field: 'bankChannel',
                    title: '银行通道'
                },
                {
                    field: 'merchantNumber',
                    title: '商户号'
                },
                {
                    field: 'secretKey',
                    title: '密钥'
                },
                {
                    field: 'appid',
                    title: '公众号appid'
                },
                {
                    field: 'appsecret',
                    title: '公众号appseret'
                },
                {
                    field: 'applicationPrivateKey',
                    title: '应用私钥'
                },
                {
                    field: 'residentialQuartersId',
                    title: '小区id'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>