<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('巡检执行情况表')" />
    <th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
<div class="ui-layout-west">
	<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 组织机构
				</div>
				<div class="box-tools pull-right">
				    <a type="button" class="btn btn-box-tool" href="#" onclick="costProject()" title="管理部门"><i class="fa fa-edit"></i></a>
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree"></div>
			</div>
		</div>
	</div>
	<div class="ui-layout-center">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>单据号：</label>
                                <input type="text" name="documentNumber"/>
                            </li>
                            <li>
                                <label>计划时间：</label>
                                <input type="text" class="time-input" placeholder="请选择计划时间" name="plannedTime"/>
                            </li>
                            <li>
                                <!-- <label>组织机构：</label> -->
                                <input type="hidden" id="deptId" name="deptId"/>
                            </li>
                            <li>
                                <label>计划区间：</label>
                                <select name="planRange" class="form-control" th:with="type=${@dict.getType('hy_patrol_scheme')}">
									<option value="">请选择</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						 	    </select>
                            </li>
                            <li>
                                <label>计划年度：</label>
                                <input type="text" name="planAnnual"/>
                            </li>
                            <li>
                                <label>巡检人：</label>
                                <input type="text" name="checkPeople"/>
                            </li>
                            <li>
                                <label>计划人：</label>
                                <input type="text" name="planner"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
               <!--  <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:scheme:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:scheme:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:scheme:remove">
                    <i class="fa fa-remove"></i> 删除
                </a> -->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:scheme:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:scheme:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:scheme:remove')}]];
        var prefix = ctx + "system/scheme";
		
        $(function() {
        	
        	var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 185 });
	     	// 回到顶部绑定
	    	if ($.fn.toTop !== undefined) {
	    		var opt = {
	    			win:$('.ui-layout-center'),
	    			doc:$('.ui-layout-center')
	    		};
	    		$('#scroll-up').toTop(opt);
	    	}
		    querySchemeList();
		    queryDeptTree();
        });
        
        function querySchemeList() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "巡检计划",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '巡检计划id',
                    visible: false
                },
                {
                    field: 'documentNumber',
                    title: '单据号'
                },
                {
                    field: 'hyCheckeNode.sysDept.deptName',
                    title: '组织机构'
                },
                {
                    field: 'hyInspectionRoute.routeName',
                    title: '巡检线路'
                },
                {
                    field: 'inspectionTime',
                    title: '巡检时间'
                },
                {
                    field: 'inspectionStatus',
                    title: '巡检状态'
                },
                {
                    field: 'checkPeople',
                    title: '巡检人'
                },
                {
                    field: 'actualInspectionTime',
                    title: '实际巡检时间'
                },
                {
                    field: 'hyInspectionDetail.code',
                    title: '序号'
                },
                {
                    field: 'hyCheckeNode.name',
                    title: '节点名称'
                },
                {
                    field: 'hyCheckeNode.address',
                    title: '节点地址'
                },
                {
                    field: 'hyCheckeProject.explains',
                    title: '节点巡检项目'
                },
                {
                    field: 'hyInspectionDetail.inspectionTime',
                    title: '巡检时间点'
                },
                {
                    field: 'hyCheckeProject.type',
                    title: '类型',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case "" : value =  "请选择";break;
	                    	case "1" : value =  "类型";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: '',
                    title: '设备'
                },
                {
                    field: 'hyCheckeProject.standard',
                    title: '标准'
                },
                {
                    field: 'isCheck',
                    title: '是否审核'
                }]
            };
            $.table.init(options);
        };
        //组织架构
        function queryDeptTree()
		{
			var url = ctx + "system/dept/treeData";
			var options = {
		        url: url,
		        expandLevel: 2,
		        onClick : zOnClick
		    };
			$.tree.init(options);
			
			function zOnClick(event, treeId, treeNode) {
				$("#deptId").val(treeNode.id);
				$.table.search();
			}
		}
		
		$('#btnExpand').click(function() {
			$._tree.expandAll(true);
		    $(this).hide();
		    $('#btnCollapse').show();
		});
		
		$('#btnCollapse').click(function() {
			$._tree.expandAll(false);
		    $(this).hide();
		    $('#btnExpand').show();
		});
		
		$('#btnRefresh').click(function() {
			queryDeptTree();
		});
    </script>
</body>
</html>