<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('缴费通知列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
             <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                    	<ul>
                    		<li>
                    		<label>选择楼宇</label>
                    		<select name="buildingId" class="form-control m-b" th:with="type=${@building.getBuilding()}" onchange="changeHouseNumber()">
		                        <option value="">请选择</option>
		                        <option th:each="dict : ${type}" th:text="${dict.buildingName}" th:value="${dict.id}"></option>
		                    </select>
                    		</li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div> 
            <div class="btn-group-sm" id="toolbar" role="group">
<!--               <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="system:advicecharge:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
             	<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:inf:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:inf:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                 <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="system:user:import">
			            <i class="fa fa-upload"></i> 导入
			     </a> -->
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:advicecharge:add">
                    <i class="fa fa-plus"></i> 生成缴费通知单
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:advicecharge:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:advicecharge:remove')}]];
        var prefix = ctx + "system/advicecharge";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                importTemplateUrl: prefix + "/importTemplate",
                modalName: "缴费通知",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '业主名称'
                },
                {
                    field: 'houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'houseName',
                    title: '房屋名称'
                },
                {
                    field: 'hyCost.bilingStartDate',
                    title: '开始日期'
                },
                {
                    field: 'hyCost.bilingEndDdate',
                    title: '结束日期'
                }]
            };
            $.table.init(options);
        });
        
    </script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			<input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
			 &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</script>
</html>