<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('费用项目列表')" />
<th:block th:include="include :: bootstrap-duallistbox-css" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<label>费用项目：</label> 
								<input type="text" name="costItems" onclick="selectProject()" />
							</li>
							<li>
								<label>收费标准：</label> 
								<input type="text" name="standardName" onclick="selectFee()" />
							</li>
							<li>
								<label>计费周期：</label> 
								<select name="billingCycle" class="form-control m-b" th:with="type=${@dict.getType('hy_billing_cycle')}">
									<option value="">请选择</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>计算方式：</label> 
								<select name="building" class="form-control m-b" th:with="type=${@dict.getType('hy_subject_type')}">
									<option value="">请选择</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>出租时自动转移租户：</label> 
								<select name="transferTenants" class="form-control m-b" th:with="type=${@dict.getType('sys_yes_no')}">
									<option value="">请选择</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
						</ul>
					</div>
				</form>
			</div>


			<div class="col-sm-12 select-table table-striped">
				<div class="ibox-content">
					<p style="text-align: center">房号选择</p>
						<div class="col-sm-8">
							<div class="select-list" style="margin-left: 52%;">
								<ul>
									<li>
										<select id="currentState" name="currentState" class="form-control m-b" onchange="changeStanderName()">
											<option value="0">按组团</option>
											<option value="1">按楼宇</option>
											<option value="2">按单元</option>
											<option value="3">按楼层</option>
										</select>
									</li>
								</ul>
							</div>
						</div>
					<form id="form" action="#" class="wizard-big">
						<select class="form-control dual_select" id="sel" name="sel" multiple>
						</select>
					</form>
				</div>
			</div>
			<div class="ibox-content">
				<p style="text-align: center">客户选择</p>
				<ul style="list-style-type: none">
					<li>
					<label>客户类型：</label> 
					
						<select name="ownerCategory">
							<option value="">请选择</option>
							<option value="0">业主</option>
							<option value="1">租户</option>
							<option value="2">开发商</option>
							<option value="3">外来单位</option>
							<option value="4">临时客户</option>
							<option value="5">VIP客户</option>
						</select>
					</li>
					<li>
						<label>设置对象：</label> 
						<input type="radio" name="ownerCategory" checked>当前住户 
						<input type="radio" name="ownerCategory" checked>房屋业主 
						<input type="radio" name="ownerCategory" checked>房屋租户
					</li>
				</ul>
				<div align="center">
					<input class="btn btn-success btn-sm" type="button" value="设置" onclick="bt()">
				</div>
			</div>
		</div>
	</div>


	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-duallistbox-js" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/customerStandardSetting";
        
        var selectorx = $('.dual_select').bootstrapDualListbox({
	    	nonSelectedListLabel: '房屋范围',
            selectedListLabel: '&nbsp',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,           // 出现一个剪头，表示可以一次选择一个
            filterTextClear: '请选择',
            moveSelectedLabel: "添加",
            moveAllLabel: '添加所有',
            removeSelectedLabel: "移除",
            removeAllLabel: '移除所有',
            infoText: false,
            showFilterInputs: false,       // 是否带搜索
	        selectorMinimalHeight: 160
	    });
        
        function selectFee() {
			$.modal.open("收费标准选择","/system/selectCost");
			
		}
        
        function selectProject(){
        	var costItems = $("#costItems").val();
        	if(costItems == ''){
        		$.modal.alertWarning("费用项目未选择");
        	}else{
        		$.modal.open("收费项目选择","/system/costSelect?costItems=" + costItems);
        	}
        	
        }
        
        function bt(){

        	 $.ajax({
	       		 url: "/system/customerStandardSetting/edit",
	       	        type: "post",
	       	        dataType: "json",
       	        	data: {
                       	"currentState": function() {
                            return $("#currentState").val();
                        },
                        "costItems": function() {
	                		return $("#costItems").val();
	                    },
               			"standardName": function() {
                            return $.common.trim($("#standardName").val());
                        },
                        "billingCycle": function() {
                            return $.common.trim($("#billingCycle").val());
                        },
                        "standardName": function() {
                            return $.common.trim($("#standardName").val());
                        },
                    },
	       	        beforeSend: function () {
	       	            $.modal.loading("正在处理中，请稍后...");
	       	            $.modal.disable();
	       	        },
	       	        success: function(result) {
	       	            if (typeof callback == "function") {
	       	                callback(result);
	       	            }
	       	            $.operate.successCallback(result);
	       	        }
			}); 
        	s
        	
        }
        
        $(window).load(function(){
        	$("#sel").empty();
			$.ajax({
		        type:"GET",
		        url:"/system/group/getGroupData?currentState="+$("#currentState").val(),
		        dataType:"json", 
		        success:function(data){
		        	for (var i = 0; i < data.length; i++) {
		        		if(data[i].data == null || data[i].data == ''){
		        			continue;
		        		}
			        　　　　	selectorx.append("<option>"+data[i].data+"</option>");
			        }
		        　　　　	selectorx.bootstrapDualListbox('refresh');
		        },
		        error:function(jqXHR){
		           aler("发生错误："+ jqXHR.status);
		        }
			});
        });
        
        function changeStanderName(){
        	$("#sel").empty();
			$.ajax({
		        type:"GET",
		        url:"/system/group/getGroupData?currentState="+$("#currentState").val(),
		        dataType:"json", 
		        success:function(data){
		        	for (var i = 0; i < data.length; i++) {
		        		if(data[i].data == null || data[i].data == ''){
		        			continue;
		        		}
			        　　　　	selectorx.append("<option>"+data[i].data+"</option>");
			        }
		        　　　　	selectorx.bootstrapDualListbox('refresh');
		        },
		        error:function(jqXHR){
		           aler("发生错误："+ jqXHR.status);
		        }
			});
        }
    </script>
</body>
</html>