<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改车位资料
')" />
<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-parking-edit"
			th:object="${hyParkingInf}">
			<input name="id" th:field="*{id}" type="hidden">

			<div class="form-group">
				<label class="col-sm-3 control-label">客户名称：</label>
				<div class="col-sm-8">
					<input name="ownerName" th:field="*{ownerName}"
						class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">房屋名称：</label>
				<div class="col-sm-8">
					<input name="houseName" th:field="*{houseName}"
						class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">车牌号码：</label>
				<div class="col-sm-8">
					<input name="licensePlate" th:field="*{licensePlate}"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">车辆类型：</label>
				<div class="col-sm-8">
					<input name="vehicleType" th:field="*{vehicleType}"
						class="form-control m-b" type="text" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">车辆品牌：</label>
				<div class="col-sm-8">
					<input name="vehicleBrand" th:field="*{vehicleBrand}"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">排量：</label>
				<div class="col-sm-8">
					<input name="displacement" th:field="*{displacement}"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">车辆颜色：</label>
				<div class="col-sm-8">
					<input name="vehicleColor" th:field="*{vehicleColor}"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">车位名称：</label>
				<div class="col-sm-8">
					<input name="parkingName" th:field="*{parkingName}"
						class="form-control" type="text">
				</div>
			</div>

		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<script th:inline="javascript">
		var prefix = ctx + "system/parking";
		$("#form-parking-edit").validate({

			onkeyup : false,
			rules : {

				ownerName : {
					required : true,
					maxlength : 50,
				},

				houseName : {
					required : true,
					maxlength : 50,
				},

				licensePlate : {
					required : true,
					maxlength : 8,
				},
				vehicleType : {
					required : true,
					maxlength : 30,
				},
			
						vehicleBrand:{
							required : true,
							maxlength:30,
						},
				displacement : {
					required : true,
					number : true,
					maxlength : 5,
				},
				vehicleColor : {
					required : true,
					maxlength : 30,
				},
				parkingName : {
					required : true,
					maxlength : 255,
				},

			},
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $('#form-parking-edit')
						.serialize());
			}
		}

		$("input[name='contractDeliveryDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='actualDeliveryDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='takeoverTime']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='licensePlateTime']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='timeProcessing']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='timeStr']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='timeEnd']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
	</script>
</body>
</html>