<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改设备维修登记')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-serviceregistration-edit" th:object="${hyServiceregistration}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-2 control-label">维修单号：</label>
                <div class="col-sm-4">
                    <input name="repairOrder" th:field="*{repairOrder}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">设备档案：</label>
                <div class="col-sm-4">
                    <select id="archivesId" name="archivesId" th:field="*{archivesId}" class="form-control" th:with="type=${@archives.getArchives()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.archivesName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
            	<label class="col-sm-2 control-label">维修类别：</label>
                <div class="col-sm-4">
                    <select name="serviceCategory" th:field="*{serviceCategory}" class="form-control m-b">
                        <option value=''>请选择</option>
                        <option value='1'>自维</option>
                        <option value='0'>外维</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">故障类别：</label>
                <div class="col-sm-4">
                    <select name="faultCategory" th:field="*{faultCategory}" class="form-control m-b">
                        <option value=''>请选择</option>
                        <option value='1'>机械故障</option>
                        <option value='2'>突发事件</option>
                        <option value='3'>电路故障</option>
                        <option value='4'>签报</option>
                        <option value='5'>内部维修</option>
                        <option value='6'>日常维修</option>
                        <option value='7'>合同</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">故障发生时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="failureTime" th:value="${#dates.format(hyServiceregistration.failureTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <label class="col-sm-2 control-label">附属设备：</label>
                <div class="col-sm-4">
                    <select id="equipmentId" name="equipmentId" th:field="*{equipmentId}" class="form-control" th:with="type=${@equipment.getEquipment()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.equipmentName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">故障情况：</label>
                <div class="col-sm-8">
                    <input name="faultCondition" th:field="*{faultCondition}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">维修开始时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="startTime" th:value="${#dates.format(hyServiceregistration.startTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                 <label class="col-sm-2 control-label">维修结束时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="endTime" th:value="${#dates.format(hyServiceregistration.endTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">故障原因类别：</label>
                <div class="col-sm-4">
                    <select name="causeType" th:field="*{causeType}" class="form-control m-b">
                        <option value=''>请选择</option>
                        <option value='1'>操作不当</option>
                        <option value='2'>设备老化</option>
                        <option value='3'>保养缺失</option>
                        <option value='4'>其他</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">维修单位：</label>
                <div class="col-sm-4">
                    <input name="serviceUnit" th:field="*{serviceUnit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">原因分析：</label>
                <div class="col-sm-4">
                    <input name="reasonAnalysis" th:field="*{reasonAnalysis}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">维修结果：</label>
                <div class="col-sm-4">
                    <input name="serviceResults" th:field="*{serviceResults}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">维修费用：</label>
                <div class="col-sm-4">
                    <input name="serviceCosts" th:field="*{serviceCosts}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">专业部门：</label>
                <div class="col-sm-4">
                    <select class="form-control m-b" name="deptId" th:field="*{deptId}" data-first-title="选择部门" th:with="type=${@dept.getDepts()}">
                  		<option value="">请选择</option>
                  		<option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}"></option>
                	</select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">验收时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="receptionTime" th:value="${#dates.format(hyServiceregistration.receptionTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <label class="col-sm-2 control-label">验收人：</label>
                <div class="col-sm-4">
                    <select class="form-control m-b" name="acceptor" th:field="*{acceptor}" data-first-title="选择员工" th:with="type=${@employee.getEmployee()}">
	                  <option value="">请选择</option>
	                  <option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userName}"></option>
	                </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">检查验收情况：</label>
                <div class="col-sm-4">
                    <input name="inspectionAcceptance" th:field="*{inspectionAcceptance}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">问题整改情况：</label>
                <div class="col-sm-4">
                    <input name="problemRectification" th:field="*{problemRectification}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group"> 
            	<label class="col-sm-2 control-label">负责人：</label>
                <div class="col-sm-4">
                    <select class="form-control m-b" name="userId" th:field="*{userId}" data-first-title="选择员工" th:with="type=${@employee.getEmployee()}">
	                  <option value="">请选择</option>
	                  <option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userId}"></option>
	                </select>
                </div>   
                <label class="col-sm-2 control-label">当前周期：</label>
                <div class="col-sm-4">
                    <input name="currentCycle" th:field="*{currentCycle}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">当前年限：</label>
                <div class="col-sm-4">
                    <input name="currentYear" th:field="*{currentYear}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">调整年限：</label>
                <div class="col-sm-4">
                    <input name="adjustmentYear" th:field="*{adjustmentYear}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">   
            	<label class="col-sm-2 control-label">是否审核：</label>
                 <div class="col-sm-2">
                  <input name="isAudit" th:field="*{isAudit}" value='1' type="radio" checked="checked">是
                </div>
                <div class="col-sm-2">
                   <input name="isAudit" th:field="*{isAudit}" value='0' type="radio">否
                </div>
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-4">
                    <input name="serviceRemark" th:field="*{serviceRemark}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/serviceregistration";
        $("#form-serviceregistration-edit").validate({
        	rules : {
        		repairOrder : {
					required : true,
					maxlength:255,
				},
				archivesId : {
					required : true,
					maxlength:11,
				},
				faultCategory : {
					required : true,
					maxlength:1,
				},
				failureTime : {
					required : true,
				},
				startTime : {
					required : true,
				},
				serviceCategory : {
					maxlength:1,
				},
				faultCondition : {
					maxlength:255,
				},
				causeType : {
					maxlength:1,
				},
				serviceUnit : {
					maxlength:20,
				},
				reasonAnalysis : {
					maxlength:255,
				},
				serviceResults : {
					maxlength:255,
				},
				serviceCosts : {
					maxlength:10,
				},
				isAudit : {
					maxlength:1,
				},
				acceptor : {
					maxlength:20,
				},
				inspectionAcceptance : {
					maxlength:255,
				},
				problemRectification : {
					maxlength:255,
				},
				currentCycle : {
					maxlength:1,
				},
				currentYear : {
					maxlength:10,
				},
				adjustmentYear : {
					maxlength:20,
				},
				serviceRemark : {
					maxlength:255,
				},
				equipmentId : {
					required : true,
					maxlength:11,
				},
				userId : {
					required : true,
					maxlength:11,
				},
				deptId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-serviceregistration-edit').serialize());
            }
        }

        $("input[name='failureTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='startTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='endTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='receptionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>