<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改注册方式配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-configuration-edit" th:object="${hyRegistrationModeConfiguration}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">小区设置：</label>
                <div class="col-sm-8">
                    <input name="residentialQuartersSetUp" placeholder="请输入小区设置" th:field="*{residentialQuartersSetUp}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">说明：</label>
                <div class="col-sm-8">
                    <input name="ecplain" placeholder="请输入说明" th:field="*{ecplain}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否启用：</label>
                <div class="col-sm-8">
                    <input name="ecable" placeholder="请输入是/否" th:field="*{ecable}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">小区id：</label>
                <div class="col-sm-8">
                    <input name="residentialQuartersId" placeholder="请输入小区id" th:field="*{residentialQuartersId}" class="form-control" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/configuration";
        $("#form-configuration-edit").validate({
        	rules:{
        		residentialQuartersSetUp :{
        			required : true,
        			maxlength : 255
        		},
        		ecplain :{
        			required : true,
        			maxlength:255
        		},
        		ecable :{
        			required : true,
        			maxlength : 255
        		},
        		residentialQuartersId :{
        			required : true,
        			maxlength : 20
        		}
        	},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-configuration-edit').serialize());
            }
        }
    </script>
</body>
</html>