<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--360浏览器优先以webkit内核解析-->
<title>航宇介绍</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link href="../static/css/main/animate.min.css"
	th:href="@{/css/main/animate.min.css}" rel="stylesheet" />
<link href="../static/css/main/style.min862f.css"
	th:href="@{/css/main/style.min862f.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-4">

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>联系信息</h5>

					</div>
					<div class="ibox-content">
						<p>
							<i class="fa fa-send-o"></i> 官网：<a href="http://www.ruoyi.vip"
								target="_blank">http://www.baidu.com</a>
						</p>
						<p>
							<i class="fa fa-weixin"></i> 微信：<a href="javascript:;">/ *航宇</a>
						</p>
						<p>
							<i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;"
								class="支付宝信息">/ *航宇</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>更新日志</h5>
					</div>
					<div class="ibox-content no-padding">
						<div class="panel-body">
							<div class="panel-group" id="version">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v46">访问统计</a>
											<code class="pull-right">2021.01.01</code>
										</h5>
									</div>
									<div id="v46" class="panel-collapse collapse in">
										<div class="panel-body">
											<div id="echarsBt" style="width: 100%; height: 250px;"></div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v451">降雨量</a>
											<code class="pull-right">2020.11.18</code>
										</h5>
									</div>
									<div id="v451" class="panel-collapse collapse">
										<div class="panel-body">
											<div id="echarsLine" style="width: 500px; height: 250px;"></div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v431">v4.3.1</a>
											<code class="pull-right">2020.07.05</code>
										</h5>
									</div>
									<!-- <div id="v431" class="panel-collapse collapse">
										<div class="panel-body">
											<ol>
												<li>国家信息安全漏洞（请务必保持cipherKey密钥唯一性）</li>
												<li>升级shiro到最新版1.5.3 阻止权限绕过漏洞</li>
												<li>修改验证码在使用后清除，防止多次使用</li>
												<li>检查字符支持小数点&降级改成异常提醒</li>
												<li>openOptions函数中加入自定义maxmin属性</li>
												<li>支持openOptions方法最大化</li>
												<li>支持openOptions方法多个按钮回调</li>
												<li>新增isLinkage支持页签与菜单联动</li>
												<li>修改代码生成导入表结构出现异常页面不提醒问题</li>
												<li>优化用户头像发生错误，则显示一个默认头像</li>
												<li>Excel导出支持字典类型</li>
											</ol>
										</div>
									</div> -->
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-4">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>捐赠</h5>
					</div>
					<div class="ibox-content">
						<div class="alert alert-warning">请作者喝杯咖啡（点击图片放大）</div>
						<p id="pay-qrcode">
							<a href="javascript:;"><img th:src="@{/img/pay.png}"
								width="100%" alt="请使用手机支付宝或者微信扫码支付"> </a>
						</p>

					</div>
				</div>
			</div> -->
		</div>
	</div>

	<script th:src="@{/ajax/libs/report/echarts/echarts-all.js}"></script>
	<script th:src="@{/ruoyi/js/hy-echars.js}"></script>

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
	<script type="text/javascript">
		$('#pay-qrcode').click(function() {
			var html = $(this).html();
			parent.layer.open({
				title : false,
				type : 1,
				closeBtn : false,
				shadeClose : true,
				area : [ '600px', '360px' ],
				content : html
			});
		});
	</script>
</body>
</html>
