<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('房屋登记列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>房屋编号：</label>
                                <input type="text" name="houseNumber"/>
                            </li>
                            <li>
                                <label>房屋名称：</label>
                                <input type="text" name="houseName"/>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

      
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
      
        var prefix = ctx + "system/selectInf";

        $(function() {
            var options = {
            		showSearch: false,
    		        showRefresh: false,
    		        showToggle: false,
    		        showColumns: false,
                url: prefix + "/list",
    
                modalName: "房屋登记",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
       
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'ownerName',
                    title: '客户名称'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'hyHouseInf.builtUpArea',
                    title: '建筑面积'
                }
               ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>