<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('费用标准列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>费用名称：</label>
                                <input type="text" name="costItems"/>
                            </li>
                        
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:cost:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:cost:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:cost:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:cost:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/customerStandardsCost";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "费用标准",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '客户名称'
                },
                {
                    field: 'hyHouseInf.houseNumber',
                    title: '房屋编号'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'hyHouseInf.deliveryStatus',
                    title: '交房状态',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '0' : value =  "已售未接房";break;
	                    	case '1' : value =  "未售";break;
	                    	case '2' : value =  "已接房";break;
	                    	case '3' : value =  "装修";break;
	                    	case '4' : value =  "入住";break;
	                    	case '5' : value =  "已售空置";break;
	                    	case '6' : value =  "未售空置";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'hyParkingInf.parkingNumber',
                    title: '车位编号'
                },
                {
                    field: 'hyMeter.meterName',
                    title: '表计名称'
                },
                {
                    field: 'costItems',
                    title: '费用名称'
                },
                {
                    field: 'standardName',
                    title: '标准名称'
                },
                {
                    field: 'standardState',
                    title: '标准状态',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '1' : value =  "标准";break;
	                    	case '2' : value =  "一般";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'calculationMehod',
                    title: '计算方式',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '30' : value =  "按计费面积*单价每月计算";break;
                        	case '120' : value =  "按计费面积*单价每季计算";break;
                        	case '365' : value =  "按计费面积*单价每年计算";break;
                        	case '31' : value =  "按定额每月计算";break;
                        	case '122' : value =  "按定额每季计算";break;
                        	case '366' : value =  "按定额每年计算";break;
                    	}
                    	return value;
                    }
                    
                },
                {
                    field: 'billingCycle',
                    title: '计费周期',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '0' : value =  "按每1月计费";break;
                        	case '1' : value =  "按每2月计费";break;
                        	case '2' : value =  "按每3月计费";break;
                        	case '3' : value =  "按每4月计费";break;
                        	case '4' : value =  "按每5月计费";break;
                        	case '5' : value =  "按每6月计费";break;
                        	case '6' : value =  "按每7月计费";break;
                        	case '7' : value =  "按每8月计费";break;
                        	case '8' : value =  "按每9月计费";break;
                        	case '9' : value =  "按每10月计费";break;
                        	case '10' : value =  "按每11月计费";break;
                        	case '11' : value =  "按每12月计费";break;
                    	}
                    	return value;
                    }
                },
                {
                    field: 'billingMethod',
                    title: '计费方式',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case '0' : value =  "按整月";break;
                        	case '1' : value =  "按对时";break;
                    	}
                    	return value;
                    }
                },
                {
                    field: 'bilingStartDate',
                    title: '计费开始日期'
                },
                {
                    field: 'transferTenants',
                    title: '出租时自动转给租户',
                    formatter: function(value, item, index) {
                    	switch(value){
                        	case 0 : value =  "是";break;
                        	case 1 : value =  "否";break;
                    	}
                    	return value;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function submitHandler() {
        	var standardName = $.table.selectColumns('standardName');
        	
        	var standardState = $.table.selectColumns('standardState');
        	var billingCycle = $.table.selectColumns('billingCycle');
        	var calculationMehod = $.table.selectColumns('calculationMehod');
        	var transferTenants = $.table.selectColumns('transferTenants');
        	if(standardName == ''){
        		$.modal.alertWarning("请至少选择一条记录");
        	}else{
        		$("#standardName1",window.parent.document).val(standardName);
        		$("#standardState",window.parent.document).val(standardName);
        		$("#billingCycle",window.parent.document).val(billingCycle);
        		$("#calculationMehod",window.parent.document).val(calculationMehod);
        		$("#transferTenants",window.parent.document).val(transferTenants);
        	}
        	$.modal.close();
        }
    </script>
</body>
</html>