<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改收费比例设置')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-charge-edit"
			th:object="${hyCharge}">
			<input name="id" th:field="*{id}" type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">房屋序号：</label>
				<div class="col-sm-8">
					<input id="number" name="number" th:field="*{number}" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">交房状态：</label>
				<div class="col-sm-8">
					<select id="state" name="state" th:field="*{state}" class="form-control "
						th:with="type=${@dict.getType('hy_delivery_status')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
							th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">收费比例：</label>
				<div class="col-sm-8">
					<input name="proportion" th:field="*{proportion}"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input name="remarks" th:field="*{remarks}" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">当前交房状态：</label>
				<div class="col-sm-8">
					<select name="currentState" th:field="*{currentState}"
						class="form-control "
						th:with="type=${@dict.getType('hy_delivery_status')}">
					
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
							th:value="${dict.dictValue}"></option>

					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">缴费收费科目：</label>
				<div class="col-sm-8">
					<input name="cost" th:field="*{cost}" class="form-control"
						type="text">
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var prefix = ctx + "system/charge";
        
        var oldNumber = $("#number").val();
    	
        $("#form-charge-edit").validate({
            onkeyup: false,
            rules : {
				number : {
					required:true,
					number : true,
					minlength : 1,
					maxlength : 4,
					remote : {
						url : prefix + "/checkNumber",
						type : "post",
						dataType : "json",
						data : {
							"number" : function() {
								return $.common.trim($("#number").val());
							}
						},
						dataFilter : function(data, type) {
							if(oldNumber == $("#number").val()){
								return $.validate.unique(0);
							}
							return $.validate.unique(data);
						}
					}

				},
				state : {
					required : true,
				},
				currentState:{
					required : true,
				},
				cost:{
					number:true,
					maxlength:10,
				},
				remarks:{
					maxlength:255,
				},
				proportion :{
					maxlength:25,
				},

            },
            
            messages : {
				"number" : {
					remote : "房屋号已有居住者"
				},
				"cost":{
					remote:"缴费收费科目只能为数字"
				},
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-charge-edit').serialize());
            }
        }
    </script>
</body>
</html>