<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改打印机配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-printer-edit" th:object="${hyPrinter}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">报修打印：</label>
                <div class="col-sm-8">
                    <input name="repairReportPrinting" th:field="*{repairReportPrinting}" class="form-control" type="text" placeholder="请输入保修打印">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">意见打印：</label>
                <div class="col-sm-8">
                    <input name="opinionPrinting" th:field="*{opinionPrinting}" class="form-control" type="text" placeholder="请输入意见打印">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">缴费打印：</label>
                <div class="col-sm-8">
                    <input name="paymentPrinting" th:field="*{paymentPrinting}" class="form-control" type="text" placeholder="请输入缴费打印">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">API密钥：</label>
                <div class="col-sm-8">
                    <input name="apiSecretKey" th:field="*{apiSecretKey}" class="form-control" type="text" placeholder="请输入API密钥">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">终端编号：</label>
                <div class="col-sm-8">
                    <input name="terminalNumber" th:field="*{terminalNumber}" class="form-control" type="text" placeholder="请输入终端编号">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">小区id：</label>
                <div class="col-sm-8">
                    <input name="residentialQuartersId" th:field="*{residentialQuartersId}" class="form-control" type="text" placeholder="请输入小区id" onkeyup="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/printer";
        $("#form-printer-edit").validate({
        	rules:{
        		repairReportPrinting :{
        			required : true,
        			maxlength : 255
        		},
        		opinionPrinting :{
        			required : true,
        			maxlength : 255
        		},
        		paymentPrinting :{
        			required : true,
        			maxlength : 255
        		},
        		apiSecretKey :{
        			required : true,
        			maxlength : 255
        		},
        		terminalNumber :{
        			required : true,
        			maxlength : 11
        		},
        		residentialQuartersId :{
        			required : true,
        			maxlength : 11
        		}
        	},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-printer-edit').serialize());
            }
        }
    </script>
</body>
</html>