<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增检测参数')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-testparameter-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">检测参数名称：</label>
                <div class="col-sm-8">
                    <input name="parameterName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">参数值：</label>
                <div class="col-sm-8">
                    <input name="parameterValues" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最小值：</label>
                <div class="col-sm-8">
                    <input name="leastValue" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最大值：</label>
                <div class="col-sm-8">
                    <input name="maximumValue" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="parameterRemark" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备档案：</label>
                <div class="col-sm-8">
                    <select id="archivesId" name="archivesId" class="form-control" th:with="type=${@archives.getArchives()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.archivesName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/testparameter"
        $("#form-testparameter-add").validate({
        	rules : {
        		parameterName : {
					required : true,
					maxlength:20,
				},
				parameterValues : {
					required : true,
					maxlength:20,
				},
				leastValue : {
					required : true,
					maxlength:20,
				},
				maximumValue : {
					required : true,
					maxlength:20,
				},
				parameterRemark : {
					required : true,
					maxlength:255,
				},
				archivesId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-testparameter-add').serialize());
            }
        }
    </script>
</body>
</html>