<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增接收员')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-recipients-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">人员类型：</label>
                <div class="col-sm-8">
                	<div class="col-sm-9">
            			<label class="radio-box">
               		 		<input type="radio" checked="checked" th:value="1" th:text="物业人员" name="personType">
               		 	</label>
            			<label class="radio-box">
                			<input type="radio" th:value="2" th:text="外部人员" name="personType">
                		</label>
        			</div>
                </div>
            </div>
            <div class="form-group">
            	<label class="col-sm-3 control-label">选择物业：</label>
                	<div class="col-sm-8">
	                	<select class="province form-control m-b" name="recipientsProperty" id="property" data-first-title="选择物业"  th:with="type=${@dept.getDept()}" onchange="changeDept()">
	                  		<option value="">请选择</option>
	                  		<option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}"></option>
	                	</select>
			    	</div>
			</div> 
			<div class="form-group">    
			    <label class="col-sm-3 control-label">选择项目：</label>
                	<div class="col-sm-8">
	                	<select class="city form-control m-b" name="recipientsParent" id="dept" data-first-title="选择项目" disabled="disabled" onchange="changeDepts()">
	                 	 <option value="">请选择</option>
	                	</select>
                	</div>
            </div>
			<div class="form-group">    
			    <label class="col-sm-3 control-label">选择部门：</label>
                	<div class="col-sm-8">
	                	<select class="city form-control m-b" name="recipientsDept" id="depts" data-first-title="选择部门" disabled="disabled" onchange="changeEmployee()">
	                 	 <option value="">请选择</option>
	                	</select>
                	</div>
            </div>
            <div class="form-group">    
               <label class="col-sm-3 control-label">选择员工：</label>
               	<div class="col-sm-8">
	                <select class="area form-control m-b" name="recipientsEmployee" id="employee" data-first-title="选择员工" disabled="disabled" onclick="changePhone()">
	                  <option value="">请选择</option>
	                </select>
                </div>
            </div>
            <div class="form-group">    
               	<div class="col-sm-8">
	                <input id="recipientsNumber" name="recipientsNumber" class="form-control" type="hidden">
                </div>
            </div>
            <div class="form-group">    
                <!-- <label class="col-sm-3 control-label">电话：</label> -->
                <div class="col-sm-8">
                    <input id="recipientsPhone" name="recipientsPhone" class="form-control" type="hidden" onkeyup="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通知方式：</label>
                <div class="col-sm-8">
                	<div class="col-sm-9">
            			<label class="radio-box">
               		 		<input type="radio" checked="checked" th:value="1" th:text="暂不启用" name="notificationWay">
               		 	</label>
            			<label class="radio-box">
                			<input type="radio" th:value="2" th:text="模板消息通知" name="notificationWay">
                		</label>
            			<label class="radio-box">
                			<input type="radio" th:value="3" th:text="短信通知" name="notificationWay">
                		</label>
            			<label class="radio-box">
                			<input type="radio" th:value="4" th:text="全部通知" name="notificationWay">
                		</label>
        			</div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通知类型：</label>
                <div class="col-sm-8">
                    <div class="col-sm-9" th:with="type=${@dict.getType('hy_recipients')}">
                    <label  th:each="dict : ${type}" class="check-box">
                    	<input name="notificationType" type="checkbox" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
                    </label>
        			</div>
                </div>
            </div>
			<div id="element1" class="row">
                <div class="col-sm-offset-2 col-sm-3">
                    <select class="province form-control m-b" name="recipientsProvince" id="province" data-first-title="选择省"  th:with="type=${@area.getProvince()}" onchange="changeCity()">
	                  <option value="">省/直辖市</option>
	                  <option th:each="dict : ${type}" th:text="${dict.areaname}" th:value="${dict.id}"></option>
	                </select>
			    </div>
                <div class="col-sm-3">
	                <select class="city form-control m-b" name="recipientsCity" id="city" data-first-title="选择市" disabled="disabled" onchange="changeArea()">
	                  <option value="">市/直辖区</option>
	                </select>
                </div>
                <div class="col-sm-3">
	                <select class="area form-control m-b" name="recipientsArea" id="area" data-first-title="选择地区" disabled="disabled">
	                  <option value="">区/县</option>
	                </select>
                </div>
             </div> 
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: jquery-cxselect-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/recipients"
        $("#form-recipients-add").validate({
        	rules : {
        		personType : {
					required : true,
					maxlength:20,
				},
				recipientsProperty : {
					required : true,
				},
				recipientsDept : {
					required : true,
				},
				recipientsEmployee : {
					required : true,
				},
				recipientsPhone : {
					required : true,
					maxlength:11,
				},
				notificationWay : {
					required : true,
					maxlength:255,
				},
				notificationType : {
					required : true,
					maxlength:255,
				},
				recipientsProvince : {
					required : true,
					maxlength:50,
				},
				recipientsCity : {
					required : true,
					maxlength:50,
				},
				recipientsArea : {
					required : true,
					maxlength:50,
				},
			},
            focusCleanup: true
        });
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-recipients-add').serialize());
            }
        }
        
        //省市区
        function changeCity(){
   			$("#city").removeAttr("disabled");
   			$.ajax({
                url: "/area/getCity",
                data: {parentid : $("#province").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#city").empty();
					$("#city").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#city").append("<option value=" + result[i].id + ">" + result[i].areaname + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#city").selectpicker('refresh');
                    $("#city").selectpicker('render');

					console.log(result);
                }
            });
   		}
   		
   		function changeArea(){
   			$("#area").removeAttr("disabled");
   			console.log($("#city").val());
   			$.ajax({
                url: "/area/getCity",
                data: {parentid : $("#city").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#area").empty();
					$("#area").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#area").append("<option value=" + result[i].id + ">" + result[i].areaname + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#area").selectpicker('refresh');
                    $("#area").selectpicker('render');

					console.log(result);
                }
            });
   		}
   		var prefix1 = ctx + "system/dept"
        //物业部门员工
        function changeDept(){
   			$("#dept").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/list",
                data: {parentId : $("#property").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#dept").empty();
					$("#dept").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#dept").append("<option value=" + result[i].deptId + ">" + result[i].deptName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#dept").selectpicker('refresh');
                    $("#dept").selectpicker('render');

					console.log(result);
                }
            });
   		}
        function changeDepts(){
   			$("#depts").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/list",
                data: {parentId : $("#dept").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	console.log(result);
                	var optArr = [];
                	$("#depts").empty();
					$("#depts").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#depts").append("<option value=" + result[i].deptId + ">" + result[i].deptName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#depts").selectpicker('refresh');
                    $("#depts").selectpicker('render');

					console.log(result);
                }
            });
   		}
   		var prefix2 = ctx + "system/user"
   		function changeEmployee(){
   			$("#employee").removeAttr("disabled");
   			$.ajax({
                url: prefix2 + "/lists",
                data: {deptId : $("#depts").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	console.log(result);
                	var optArr = [];
                	$("#employee").empty();
					$("#employee").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#employee").append("<option value=" + result[i].userId + ">" + result[i].userName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#employee").selectpicker('refresh');
                    $("#employee").selectpicker('render');

					console.log(result);
                }
            });
   		}
   	 	$(function() {
	     	var date = new Date();
	     	var time = date.getTime();
	     	var year = date.getFullYear();
	     	var Month = "0"+(date.getMonth()+1);
	     	var da = date.getDate();
	     	var dateStr = year+"-"+Month+"-"+da;
	     	$("#recipientsNumber").val(time);
   	 	});
   		function changePhone(){
   			
   			
   			$.ajax({
                url: prefix2 + "/lists",
                data: {userId : $("#employee").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#recipientsPhone").empty();
					$("#recipientsPhone").val(result[0].phonenumber);
                   	//$("#employee").append("<option value=" + result[i].employeeName + ">" + result[i].employeeName + "</option>");
                    // 缺一不可  
                    $("#recipientsPhone").selectpicker('refresh');
                    $("#recipientsPhone").selectpicker('render');
					console.log(result);
                }
            });
   		}
    </script>
</body>
</html>