<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改接收员')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-recipients-edit" th:object="${hyRecipients}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">人员类型：</label>
                <div class="col-sm-8">
                	<div class="col-sm-9">
            			<label class="radio-box">
               		 		<input type="radio" th:value="1"  th:text="物业人员"name="personType" th:field="*{personType}">
               		 	</label>
            			<label class="radio-box">
                			<input type="radio" th:value="2" th:text="外部人员" name="personType" th:field="*{personType}">
                		</label>
        			</div>
                </div>
            </div>
             <div class="form-group">    
                <label class="col-sm-3 control-label">选择物业：</label>
                <div class="col-sm-8">
                    <input name="recipientsProperty" th:field="*{recipientsProperty}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">选择部门：</label>
                <div class="col-sm-8">
                    <input name="recipientsDept" th:field="*{recipientsDept}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">选择员工：</label>
                <div class="col-sm-8">
                    <input name="recipientsEmployee" th:field="*{recipientsEmployee}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="recipientsName" th:field="*{recipientsName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电话：</label>
                <div class="col-sm-8">
                    <input name="recipientsPhone" th:field="*{recipientsPhone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通知方式：</label>
                <div class="col-sm-8">
                    <div class="col-sm-9">
            			<label class="radio-box">
               		 		<input type="radio" checked="checked" th:value="1" th:text="暂不启用" name="notificationWay" th:field="*{notificationWay}">
               		 	</label>
            			<label class="radio-box">
                			<input type="radio" th:value="2" th:text="模板消息通知" name="notificationWay" th:field="*{notificationWay}">
                		</label>
            			<label class="radio-box">
                			<input type="radio" th:value="3" th:text="短信通知" name="notificationWay" th:field="*{notificationWay}">
                		</label>
            			<label class="radio-box">
                			<input type="radio" th:value="4" th:text="全部通知" name="notificationWay" th:field="*{notificationWay}">
                		</label>
        			</div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通知类型：</label>
                <div class="col-sm-8">
                    <div class="col-sm-9" th:with="type=${@dict.getType('hy_recipients')}">
                    <label  th:each="dict : ${type}" class="check-box">
                    	<input name="notificationType" type="checkbox" th:checked="${#arrays.contains(#strings.arraySplit(hyRecipients.notificationType,','),#strings.toString(dict.dictValue))}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}">
                    </label>
        			</div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">省/直辖市：</label>
                <div class="col-sm-8">
                    <input name="recipientsProvince" th:field="*{recipientsProvince}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">市/直辖区：</label>
                <div class="col-sm-8">
                    <input name="recipientsCity" th:field="*{recipientsCity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">区/县：</label>
                <div class="col-sm-8">
                    <input name="recipientsArea" th:field="*{recipientsArea}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/recipients";
        $("#form-recipients-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-recipients-edit').serialize());
            }
        }
    </script>
</body>
</html>