<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改提料人')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-lifting-edit" th:object="${hyLifting}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">审核人：</label>
                <div class="col-sm-8">
                    <input name="liftingAuditor" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审核人部门：</label>
                <div class="col-sm-8">
                    <input name="auditorDept" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通过原因：</label>
                <div class="col-sm-8">
                    <input name="throughReason" class="form-control" type="text">
                </div>
            </div>
            <input name="liftingStatus" value="2" class="form-control" type="hidden">
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/lifting";
        $("#form-lifting-edit").validate({
        	rules : {
        		liftingAuditor : {
					required : true,
					maxlength:20,
				},
				auditorDept : {
					required : true,
					maxlength:20,
				},
				throughReason : {
					required : true,
					maxlength:255,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-lifting-edit').serialize());
            }
        }
    </script>
</body>
</html>