<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('提料人列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>物料名称：</label>
                                <input type="text" name="hyMaterial.materialName"/>
                            </li>
                            <li>
                                <label>物料类型：</label>
                                <input type="text" name="hyMaterial.materialType"/>
                            </li>
                            <li>
                                <label>需求数量：</label>
                                <input type="text" name="materialNumber"/>
                            </li>
                            <li>
                                <label>物料用途：</label>
                                <input type="text" name="materialUse"/>
                            </li>
                            <li>
                                <label>是否归还：</label>
                                <input type="text" name="isreturn"/>
                            </li>
                            <li>
                                <label>申请部门：</label>
                                <input type="text" name="depts"/>
                            </li>
                            <li>
                                <label>申请人：</label>
                                <input type="text" name="proposer"/>
                            </li>
                            <li>
                                <label>盘点员：</label>
                                <input type="text" name="hyMaterial.checkmen"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:lifting:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:lifting:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:lifting:remove')}]];
        var prefix = ctx + "system/liftingAudit";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                updateUrlThrough: prefix + "/editThrough/{id}",
                updateUrlRefusal: prefix + "/editRefusal/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "提料人",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '提料人id',
                    visible: false
                },
                {
                    field: 'hyMaterial.materialName',
                    title: '物料名称'
                },
                {
                    field: 'hyMaterial.materialType',
                    title: '物料类型'
                },
                {
                    field: 'materialNumber',
                    title: '需求数量'
                },
                {
                    field: 'materialUse',
                    title: '物料用途'
                },
                {
                    field: 'isreturn',
                    title: '是否归还'
                },
                {
                    field: 'depts',
                    title: '申请部门'
                },
                {
                    field: 'proposer',
                    title: '申请人'
                },
                {
                    field: 'hyMaterial.specimendept',
                    title: '审核单位'
                },
                {
                    field: 'hyMaterial.specimen',
                    title: '审核人'
                },
                {
                    field: 'hyMaterial.checkmen',
                    title: '盘点员'
                },
                {
                    field: 'createTime',
                    title: '申请时间'
                },
                {
                    field: 'liftingAuditor',
                    title: '审核人'
                },
                {
                    field: 'auditorDept',
                    title: '审核人部门'
                },
                {
                    field: 'liftingStatus',
                    title: '审核状态',
                        formatter: function(value, item, index) {
                        	switch(value){
    	                    	case '1' : value =  "待审核";break;
    	                    	case '2' : value =  "已通过";break;
    	                    	case '3' : value =  "已拒绝";break;
    	                	}
    		            	return value;
    		            }
                },
                {
                    field: 'refusalReason',
                    title: '拒绝原因'
                },
                {
                    field: 'throughReason',
                    title: '通过原因'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.liftingStatus == '1'){
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editThrough(\'' + row.id + '\')"><i class="fa fa-spin fa-calendar-check-o"></i>通过</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editRefusal(\'' + row.id + '\')"><i class="fa fa-spin fa-calendar-times-o"></i>拒绝</a> ');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function editThrough(id){
            $.modal.confirm("确定要通过该条数据吗？", function() {
            $.modal.open("同意审核", $.operate.editUrlThrough(id));
            });
        };
        function editRefusal(id){
        $.modal.confirm("确定要拒绝该条数据吗？", function() {
        	$.modal.open("拒绝审核", $.operate.editUrlRefusal(id));
        });
        };
    </script>
</body>
</html>