<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('撤销收款/恢复票号')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							
							<li><label>客户名称：</label> <input type="text" name="ownerName" /></li>
							<li><label>房屋编号：</label> <input type="text"
								name="houseNum" /></li>
							<li><label>票据号码：</label> <input type="text"
								name="billNumber" /></li>
							<li><label>收款人：</label> <input type="text"
								name="paymentPerson" /></li>
						
							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
		 <a class="btn btn-warning" onclick="$.table.exportExcel()"
					shiro:hasPermission="system:set:export"> <i
					class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:set:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:set:remove')}]];
        var prefix = ctx + "system/revokeReceiptsSet";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "票据设置",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
       
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '客户名称'
                },
                {
                    field: 'houseNum',
                    title: '房屋编号'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                {
                    field: 'paymentDate',
                    title: '收款日期'
                },
                {
                    field: 'billNumber',
                    title: '收据号码'
                },
                {
                    field: 'hyCost.feeDate',
                    title: '费用日期'
                },
                {
                    field: 'hyCost.bilingStartDate',
                    title: '开始日期'
                },
                {
                    field: 'hyCost.bilingEndDate',
                    title: '结束日期'
                },
                {
                    field: 'hyCost.standardName',
                    title: '费用名称'
                },
                {
                    field: 'paymentAmount',
                    title: '收款金额'
                },
                {
                    field: 'hyCost.penaltyContract',
                    title: '合同违约金'
                },
                {
                    field: 'paymentPerson',
                    title: '收款人'
                },
          
                {
                    field: 'hyRevoke.remark',
                    title: '备注'
                },
                {
                    field: 'hyRevoke.revokeDate',
                    title: '撤销时间'
                }
  
              ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>