<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('费用项目列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li><label>操作日期：</label> <input type="text"
								class="time-input" placeholder="请选择操作时间" name="operationDate" />
							</li>
							<li><label>操作人：</label> <input type="text"
								name="operationUser" /></li>
							<li><label>客户名称：</label> <input type="text" name="ownerName" />
							</li>
							<li><label>房屋编号：</label> <input type="text" name="houseNum" />
							</li>

							<li><label>房屋名称：</label> <input type="text" name="houseName" />
							</li>
							<li><label>费用项目：</label> <input type="text" name="costItems" />
							</li>
							<li><label>房屋面积：</label> <input type="text"
								name="builtUpArea" /></li>

							<li><a class="btn btn-primary btn-rounded btn-sm"
								onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm"
								onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()"
					shiro:hasPermission="system:cost:export"> <i
					class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/changeReceivable";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "费用项目",
                columns: [{
                    checkbox: true
                },
         {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
               
                {
                    field: 'hyOwnerRegistration.ownerName',
                    title: '客户名称'
                },
                {
                    field: 'hyOwnerRegistration.houseNum',
                    title: '房屋编号'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                },
                   
                {
                    field: 'hyHouseInf.builtUpArea',
                    title: '房屋面积'
                },
                   
                
                {
                    field: 'costItems',
                    title: '费用项目'
                },
                {
                    field: 'operationDate',
                    title: '操作日期'
                },
                {
                    field: 'operationUser',
                    title: '操作人'
                },
                {
                    field: 'operationType',
                    title: '操作类别'
                },
                {
                    field: 'feeDateOld',
                    title: '原费用日期'
                },
                {
                    field: 'feeDate',
                    title: '现费用日期'
                },
                {
                    field: 'dueDateOld',
                    title: '原应收日期'
                },
                {
                    field: 'dueDate',
                    title: '现应收日期'
                },
                {
                    field: 'amountReceivableOld',
                    title: '原应收金额'
                },
                {
                    field: 'amountReceivable',
                    title: '现应收金额'
                },
                {
                    field: 'remarks',
                    title: '备注'
                }   
                
]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>