<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增巡检周期')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-period-add">
            <div class="form-group">    
                <label class="col-sm-2 control-label">巡检周期名称：</label>
                <div class="col-sm-4">
                    <input name="periodName" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">巡检周期类型：</label>
                <div class="col-sm-4">
                    <select name="type" class="form-control m-b">
                         <option value="">请选择</option>
                        <option value="1">分钟</option>
                        <option value="2">小时</option>
                        <option value="3">天</option>
                        <option value="4">周</option>
                        <option value="5">月 </option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">间隔值：</label>
                <div class="col-sm-4">
                    <input name="intervalValue" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">是否启动：</label>
                <div class="col-sm-4">
                    <select name="isStart" class="form-control m-b">
                         <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">巡检计划：</label>
                <div class="col-sm-4">
                    <select name="schemeId" class="form-control" th:with="type=${@scheme.getScheme()}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.documentNumber}" th:value="${dict.id}"></option>
					</select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/period"
        $("#form-period-add").validate({
        	rules : {
        		periodName : {
					required : true,
					maxlength:20,
				},
				type : {
					maxlength:20,
				},
				intervalValue : {
					required : true,
					maxlength:255,
				},
				isStart : {
					maxlength:2,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-period-add').serialize());
            }
        }
    </script>
</body>
</html>