<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增巡检计划')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-scheme-add" th:object="${hyPatrolScheme}">
            <div class="form-group">    
                <label class="col-sm-2 control-label">单据号：</label>
                <div class="col-sm-4">
                    <input th:field="*{documentNumber}" th:value="*{documentNumber}" class="form-control" type="text" disabled="disabled">
                    <input name="documentNumber" th:value="*{documentNumber}" class="form-control" type="hidden">
                </div>
                <label class="col-sm-2 control-label">计划时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input th:field="*{plannedTime}" th:value="*{plannedTime}" class="form-control" placeholder="yyyy-MM-dd" type="text"  disabled="disabled">
                        <input name="plannedTime" th:field="*{plannedTime}" th:value="*{plannedTime}" class="form-control" placeholder="yyyy-MM-dd" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
            	<label class="col-sm-2 control-label">选择物业：</label>
                	<div class="col-sm-4">
                    	<select class="province form-control m-b" id="property" data-first-title="选择物业"  th:with="type=${@dept.getDept()}" onchange="changeDept()">
	                  		<option value="">请选择</option>
	                  		<option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}"></option>
	                	</select>
			    	</div>
			    <label class="col-sm-2 control-label">选择项目：</label>
                	<div class="col-sm-4">
	                	<select class="city form-control m-b" id="dept" data-first-title="选择项目" disabled="disabled" onchange="changeDepts()">
	                 	 <option value="">请选择</option>
	                	</select>
                	</div>
			</div> 
            <div class="form-group">
            	<label class="col-sm-2 control-label">组织机构：</label>
                <div class="col-sm-4">
                    <select class="city form-control m-b" name="deptId" id="depts" data-first-title="选择部门" disabled="disabled" onchange="changeEmployee()">
	                 	 <option value="">请选择</option>
	                </select>
                </div> 
                <label class="col-sm-2 control-label">计划区间：</label>
                <div class="col-sm-4">
                	<select name="planRange" class="form-control" th:with="type=${@dict.getType('hy_patrol_scheme')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">计划年度：</label>
                <div class="col-sm-4">
                    <input th:field="*{planAnnual}" th:value="*{planAnnual}" class="form-control" type="text" disabled="disabled">
                    <input name="planAnnual" th:field="*{planAnnual}" th:value="*{planAnnual}" class="form-control" type="hidden">
                </div>
                <label class="col-sm-2 control-label">巡检人：</label>
                <div class="col-sm-4">
                    <input id="checkPeople" name="checkPeople" class="form-control" type="text" onclick="selectUser()">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">计划人：</label>
                <div class="col-sm-4">
                    <input name="planner" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-4">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
        </form>
        <div class="col-sm-6">
			<div class="tabs-container">
				<ul class="nav nav-tabs">
					<li id="tab1li" class="active">
						<a data-toggle="tab" href="#tab-1" aria-expanded="true" onclick="tab(1)"> 巡检计划明细</a>
					</li>
					
					<li id="tab2li" class="">
						<a data-toggle="tab" href="#tab-2" aria-expanded="false" onclick="tab(2)">线路日期设置</a>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="tab-content ">
			<div id="tab-1" class="tab-pane active">
				<div class="row">
					<div class="col-sm-12 select-table table-striped">
						<table id="table1"></table>
					</div>
				</div>
			</div>
		
			<div id="tab-2" class="tab-pane ">
				<div class="row">
					<div class="col-sm-12 select-table table-striped">
						<table id="table2"></table>
					</div>
				</div>
			</div>
		</div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/scheme"
        $("#form-scheme-add").validate({
        	rules : {
        		documentNumber : {
					required : true,
					maxlength:255,
				},
				plannedTime : {
					required : true,
					maxlength:255,
				},
				deptId : {
					required : true,
					maxlength:11,
				},
				planRange : {
					required : true,
					maxlength:20,
				},
				planAnnual : {
					required : true,
					maxlength:4,
				},
				checkPeople : {
					required : true,
					maxlength:20,
				},
				planner : {
					maxlength:20,
				},
				remark : {
					maxlength:255,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-scheme-add').serialize());
            }
        }
        $("input[name='plannedTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='inspectionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='makeTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='revisionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='auditTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='actualInspectionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        
        function selectUser(){
			  $.modal.open("员工管理页面","/system/selectUser");	
	        }
        
        var prefix1 = ctx + "system/dept"
        //物业部门员工
        function changeDept(){
   			$("#dept").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/list",
                data: {parentId : $("#property").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#dept").empty();
					$("#dept").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#dept").append("<option value=" + result[i].deptId + ">" + result[i].deptName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#dept").selectpicker('refresh');
                    $("#dept").selectpicker('render');

					console.log(result);
                }
            });
   		}
        function changeDepts(){
   			$("#depts").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/list",
                data: {parentId : $("#dept").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	console.log(result);
                	var optArr = [];
                	$("#depts").empty();
					$("#depts").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#depts").append("<option value=" + result[i].deptId + ">" + result[i].deptName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#depts").selectpicker('refresh');
                    $("#depts").selectpicker('render');

					console.log(result);
                }
            });
   		}
        
   		var prefix2 = ctx + "system/user"
   		function changeEmployee(){
   			$("#employee").removeAttr("disabled");
   			$.ajax({
                url: prefix2 + "/lists",
                data: {deptId : $("#depts").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	console.log(result);
                	var optArr = [];
                	$("#employee").empty();
					$("#employee").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#employee").append("<option value=" + result[i].userId + ">" + result[i].userName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#employee").selectpicker('refresh');
                    $("#employee").selectpicker('render');

					console.log(result);
                }
            });
   		}
        $(function() {
        	var options = {
        			tableId : "table1",
            		showSearch: false,
    		        showRefresh: false,
    		        showToggle: false,
    		        showColumns: false,
                    url: prefix + "/lists",
                    createUrl: prefix + "/add",
                    updateUrl: prefix + "/edit/{id}",
                    removeUrl: prefix + "/remove",
                    exportUrl: prefix + "/export",
                    modalName: "巡检计划",
                    clickToSelect: true,
    		        rememberSelected: true,
    		        onClickCell:function(field, value, row, $element){
    				    $.modal.open("巡检线路", "/system/selectRouter/");
    		        },
                    columns: [{
                        checkbox: true
                    },
                    {
                        field: 'id',
                        title: '巡检计划id',
                        visible: false
                    },
                    {
                        field: 'hyInspectionRoute.name',
                        title: '巡检线路'
                    },
                    {
                        field: 'checkPeople',
                        title: '巡检人'
                    },
                    {
                        field: 'hyPollingPeriod.periodName',
                        title: '巡检周期'
                    },
                    {
                        field: '',
                        title: '巡检开始时间'
                    },
                    {
                        field: '',
                        title: '时间范围从'
                    },
                    {
                        field: '',
                        title: '时间范围至'
                    }]
                };
            $.table.initOtherTable(options);
        });
        function tab(value){
    		console.log(value);
    		if(value == 1){
    	        $.ajax({
                    url: prefix + "/lists",
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                        	var options = {
                        			tableId : "table1",
                            		showSearch: false,
                    		        showRefresh: false,
                    		        showToggle: false,
                    		        showColumns: false,
                                    url: prefix + "/lists",
                                    createUrl: prefix + "/add",
                                    updateUrl: prefix + "/edit/{id}",
                                    removeUrl: prefix + "/remove",
                                    exportUrl: prefix + "/export",
                                    modalName: "巡检计划",
                                    clickToSelect: true,
                    		        rememberSelected: true,
                    		        onClickCell:function(field, value, row, $element){
                    				    $.modal.open("巡检线路", "/system/selectRouter/");
                    		        },
                                    columns: [{
                                        checkbox: true
                                    },
                                    {
                                        field: 'id',
                                        title: '巡检计划id',
                                        visible: false
                                    },
                                    {
                                        field: 'hyInspectionRoute.name',
                                        title: '巡检线路'
                                    },
                                    {
                                        field: 'checkPeople',
                                        title: '巡检人'
                                    },
                                    {
                                        field: 'hyPollingPeriod.periodName',
                                        title: '巡检周期'
                                    },
                                    {
                                        field: '',
                                        title: '巡检开始时间'
                                    },
                                    {
                                        field: '',
                                        title: '时间范围从'
                                    },
                                    {
                                        field: '',
                                        title: '时间范围至'
                                    }]
                                };
                	            $.table.initOtherTable(options);
                        }  else {
                            $.modal.enable();
                            $.modal.alertError(result.msg);
                        }
                    }
                });
    	        
    			
    		} else if(value == 2) {

    	        $.ajax({
                    url: prefix + "/lists",
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                        	var options = {
                        			tableId : "table2",
                            		showSearch: false,
                    		        showRefresh: false,
                    		        showToggle: false,
                    		        showColumns: false,
                                    url: prefix + "/lists",
                                    createUrl: prefix + "/add",
                                    updateUrl: prefix + "/edit/{id}",
                                    removeUrl: prefix + "/remove",
                                    exportUrl: prefix + "/export",
                                    modalName: "巡检计划",
                                    clickToSelect: true,
                    		        rememberSelected: true,
                    		        onClickCell:function(field, value, row, $element){
                    				    $.modal.open("巡检线路", "/system/selectRouter/");
                    		        },
                                    columns: [{
                                        checkbox: true
                                    },
                                    {
                                        field: 'id',
                                        title: '巡检计划id',
                                        visible: false
                                    },
                                    {
                                        field: 'hyInspectionRoute.name',
                                        title: '巡检线路'
                                    },
                                    {
                                        field: 'checkPeople',
                                        title: '巡检人'
                                    },
                                    {
                                        field: 'hyPollingPeriod.periodName',
                                        title: '巡检周期'
                                    },
                                    {
                                        field: '',
                                        title: '巡检开始时间'
                                    },
                                    {
                                        field: '',
                                        title: '时间范围从'
                                    },
                                    {
                                        field: '',
                                        title: '时间范围至'
                                    }]
                                };
                	            $.table.initOtherTable(options);
                        }  else {
                            $.modal.enable();
                            $.modal.alertError(result.msg);
                        }
                    }
                });
    		}
    	} 
    </script>
</body>
</html>