<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('巡检计划列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>单据号：</label>
                                <input type="text" name="documentNumber"/>
                            </li>
                            <li>
                                <label>计划时间：</label>
                                <input type="text" class="time-input" placeholder="请选择计划时间" name="plannedTime"/>
                            </li>
                            <li>
                                <label>计划区间：</label>
                                <input type="text" name="planRange"/>
                            </li>
                            <li>
                                <label>计划年度：</label>
                                <input type="text" name="planAnnual"/>
                            </li>
                            <li>
                                <label>计划人：</label>
                                <input type="text" name="planner"/>
                            </li>
                            <li>
                                <label>巡检人：</label>
                                <input type="text" name="checkPeople"/>
                            </li>
                            <li>
                                <label>巡检时间：</label>
                                <input type="text" class="time-input" placeholder="请选择巡检时间" name="inspectionTime"/>
                            </li>
                            <li>
                                <label>制单时间：</label>
                                <input type="text" class="time-input" placeholder="请选择制单时间" name="makeTime"/>
                            </li>
                            <li>
                                <label>制单人：</label>
                                <input type="text" name="documentMaker"/>
                            </li>
                            <li>
                                <label>修订时间：</label>
                                <input type="text" class="time-input" placeholder="请选择修订时间" name="revisionTime"/>
                            </li>
                            <li>
                                <label>修订人：</label>
                                <input type="text" name="reviser"/>
                            </li>
                            <li>
                                <label>是否审核：</label>
                                <input type="text" name="isCheck"/>
                            </li>
                            <li>
                                <label>审核时间：</label>
                                <input type="text" class="time-input" placeholder="请选择审核时间" name="auditTime"/>
                            </li>
                            <li>
                                <label>审核人：</label>
                                <input type="text" name="auditor"/>
                            </li>
                            <li>
                                <label>实际巡检时间：</label>
                                <input type="text" class="time-input" placeholder="请选择实际巡检时间" name="actualInspectionTime"/>
                            </li>
                            <li>
                                <label>巡检状态：</label>
                                <select name="inspectionStatus">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>变更巡检状态原因：</label>
                                <select name="changeStatus">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>巡检说明：</label>
                                <input type="text" name="inspectionInstructions"/>
                            </li>
                            <li>
                                <label>组织机构id：</label>
                                <input type="text" name="deptId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:scheme:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:scheme:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:scheme:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:scheme:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:scheme:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:scheme:remove')}]];
        var prefix = ctx + "system/scheme";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "巡检计划",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '巡检计划id',
                    visible: false
                },
                {
                    field: 'documentNumber',
                    title: '单据号'
                },
                {
                    field: 'plannedTime',
                    title: '计划时间'
                },
                {
                    field: 'planRange',
                    title: '计划区间'
                },
                {
                    field: 'planAnnual',
                    title: '计划年度'
                },
                {
                    field: 'planner',
                    title: '计划人'
                },
                {
                    field: 'checkPeople',
                    title: '巡检人'
                },
                {
                    field: 'inspectionTime',
                    title: '巡检时间'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'makeTime',
                    title: '制单时间'
                },
                {
                    field: 'documentMaker',
                    title: '制单人'
                },
                {
                    field: 'revisionTime',
                    title: '修订时间'
                },
                {
                    field: 'reviser',
                    title: '修订人'
                },
                {
                    field: 'isCheck',
                    title: '是否审核'
                },
                {
                    field: 'auditTime',
                    title: '审核时间'
                },
                {
                    field: 'auditor',
                    title: '审核人'
                },
                {
                    field: 'actualInspectionTime',
                    title: '实际巡检时间'
                },
                {
                    field: 'inspectionStatus',
                    title: '巡检状态'
                },
                {
                    field: 'changeStatus',
                    title: '变更巡检状态原因'
                },
                {
                    field: 'inspectionInstructions',
                    title: '巡检说明'
                },
                {
                    field: 'deptId',
                    title: '组织机构id'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>