<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增巡检节点')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-node-add">
            <div class="form-group">    
                <label class="col-sm-2 control-label">巡检节点名称：</label>
                <div class="col-sm-4">
                    <input name="name" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">巡检节点地址：</label>
                <div class="col-sm-4">
                    <input name="address" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
            	<label class="col-sm-2 control-label">选择物业：</label>
                	<div class="col-sm-4">
                    	<select class="province form-control m-b" name="propertyId" id="property" data-first-title="选择物业"  th:with="type=${@dept.getDept()}" onchange="changeDept()">
	                  		<option value="">请选择</option>
	                  		<option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}"></option>
	                	</select>
			    	</div>
		    	<label class="col-sm-2 control-label">选择项目：</label>
	               	<div class="col-sm-4">
	                	<select class="city form-control m-b" name="parentId" id="dept" data-first-title="选择项目" disabled="disabled" onchange="changeDepts()">
	                 	 <option value="">请选择</option>
	                	</select>
	               	</div>
			</div> 
             <div class="form-group">    
             	<label class="col-sm-2 control-label">选择部门：</label>
                	<div class="col-sm-4">
	                	<select class="city form-control m-b" name="deptId" id="depts" data-first-title="选择部门" disabled="disabled">
	                 	 <option value="">请选择</option>
	                	</select>
                	</div>
                <label class="col-sm-2 control-label">房间：</label>
                <div class="col-sm-4">
                    <input name="deptId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">扫描码：</label>
                <div class="col-sm-4">
                    <input name="scanCode" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-4">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">经度：</label>
                <div class="col-sm-4">
                    <input id="longitude" name="longitude" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">纬度：</label>
                <div class="col-sm-4">
                    <input id="latitude" name="latitude" class="form-control" type="text">
                </div>
            </div>
 			<div class="form-group">
                <label class="col-sm-2">巡检地图：</label>
                <div class="col-sm-10">
                	<div id="container" style="width:600px;height:400px"></div>
                    <!-- <iframe id="map" src="/system/map" frameBorder="0" width="600" scrolling="no" height="400"></iframe> -->
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DD279b2a90afdf0ae7a3796787a0742e"></script> 
    <script th:inline="javascript">
        var prefix = ctx + "system/node"
        $("#form-node-add").validate({
        	rules : {
        		name : {
					required : true,
					maxlength:20,
				},
				address : {
					required : true,
					maxlength:255,
				},
				scanCode : {
					required : true,
					maxlength:255,
				},
				longitude : {
					required : true,
					maxlength:255,
				},
				latitude : {
					required : true,
					maxlength:255,
				},
				remark : {
					required : true,
					maxlength:255,
				},
				deptId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-node-add').serialize());
            }
        }
        var prefix1 = ctx + "system/dept"
        //物业部门员工
        function changeDept(){
   			$("#dept").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/list",
                data: {parentId : $("#property").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#dept").empty();
					$("#dept").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#dept").append("<option value=" + result[i].deptId + ">" + result[i].deptName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#dept").selectpicker('refresh');
                    $("#dept").selectpicker('render');

					console.log(result);
                }
            });
   		}
        function changeDepts(){
   			$("#depts").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/list",
                data: {parentId : $("#dept").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	console.log(result);
                	var optArr = [];
                	$("#depts").empty();
					$("#depts").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#depts").append("<option value=" + result[i].deptId + ">" + result[i].deptName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#depts").selectpicker('refresh');
                    $("#depts").selectpicker('render');

					console.log(result);
                }
            });
   		}
      //创建map组件
        var map = new BMap.Map("container"); 
        //var mapStyle={  style : "dark" }  // 创建地图实例  
        var point = new BMap.Point(125.263169,43.823328);  // 创建点坐标  
        var marker = new BMap.Marker(point);        // 创建标注    
        map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别  
        map.enableScrollWheelZoom(true); 
        map.addControl(new BMap.NavigationControl());
        //map.setMapStyle(mapStyle);
        map.addOverlay(marker); 
        marker.enableDragging();
        marker.addEventListener("dragend", function(e){    
            alert("当前位置：" + e.point.lng + ", " + e.point.lat);   
            var lng = e.point.lng;
            var lat = e.point.lat;
            $("#longitude").val(lng);
            $("#latitude").val(lat);
        })   
    </script>
</body>
</html>