<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增巡检节点')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-node-add">
            <div class="form-group">    
                <label class="col-sm-2 control-label">巡检节点名称：</label>
                <div class="col-sm-4">
                    <input name="name" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">巡检节点地址：</label>
                <div class="col-sm-4">
                    <input name="nodeAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="nodeRemark" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">经度：</label>
                <div class="col-sm-4">
                    <input id="longitude" name="nodeLongitude" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">纬度：</label>
                <div class="col-sm-4">
                    <input id="latitude" name="nodeLatitude" class="form-control" type="text">
                </div>
            </div>
 			<div class="form-group">
                <label class="col-sm-2">巡检地图：</label>
                <div class="col-sm-10">
                	<div id="container" style="width:600px;height:400px"></div>
                    <!-- <iframe id="map" src="/system/map" frameBorder="0" width="600" scrolling="no" height="400"></iframe> -->
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DD279b2a90afdf0ae7a3796787a0742e"></script> 
    <script th:inline="javascript">
        var prefix = ctx + "system/node"
        $("#form-node-add").validate({
        	rules : {
        		name : {
					required : true,
					maxlength:20,
				},
				nodeAddress : {
					required : true,
					maxlength:255,
				},
				nodeLongitude : {
					required : true,
					maxlength:255,
				},
				nodeLatitude : {
					required : true,
					maxlength:255,
				},
				nodeRemark : {
					required : true,
					maxlength:255,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-node-add').serialize());
            }
        }
      //创建map组件
        var map = new BMap.Map("container"); 
        //var mapStyle={  style : "dark" }  // 创建地图实例  
        var point = new BMap.Point(125.263169,43.823328);  // 创建点坐标  
        var marker = new BMap.Marker(point);        // 创建标注    
        map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别  
        map.enableScrollWheelZoom(true); 
        map.addControl(new BMap.NavigationControl());
        //map.setMapStyle(mapStyle);
        map.addOverlay(marker); 
        marker.enableDragging();
        marker.addEventListener("dragend", function(e){    
            alert("当前位置：" + e.point.lng + ", " + e.point.lat);   
            var lng = e.point.lng;
            var lat = e.point.lat;
            $("#longitude").val(lng);
            $("#latitude").val(lat);
        })   
    </script>
</body>
</html>