<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('新增抄设置')" />
<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-meter-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">楼宇名称：</label>
				<div class="col-sm-8">
					<input name="buildingName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">房屋编号：</label>
				<div class="col-sm-8">
					<input name="houseNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">表计类型：</label>
				<div class="col-sm-8">
					<select name="meterType" class="form-control" th:with="type=${@dict.getType('hy_meter_type')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">表计序号：</label>
				<div class="col-sm-8">
					<input name="meterSerialNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">表计名称：</label>
				<div class="col-sm-8">
					<input name="meterName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">初始读数：</label>
				<div class="col-sm-8">
					<input name="initialRead" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">起数：</label>
				<div class="col-sm-8">
					<input name="meterStrNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">止数：</label>
				<div class="col-sm-8">
					<input name="meterEndNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">变比：</label>
				<div class="col-sm-8">
					<input name="transfRatio" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">计量表类型：</label>
				<div class="col-sm-8">
					<select id="strappingType" name="strappingType" class="form-control" th:with="type=${@dict.getType('hy_metering_type')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
							th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">抄表日期：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="meterReadDate" class="form-control" placeholder="yyyy-MM-dd" type="text"> 
						<span class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">现用量：</label>
					<div class="col-sm-8">
						<input name="newMeterConsumption" class="form-control" type="text" >
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">旧表用量：</label>
					<div class="col-sm-8">
						<input name="oldMeterConsumption" class="form-control" type="text" >
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">损耗：</label>
					<div class="col-sm-8">
						<input name="attritionRate" class="form-control" type="text" >
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">单价：</label>
					<div class="col-sm-8">
						<input name="unitPrice" class="form-control" type="text" >
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">金额：</label>
					<div class="col-sm-8">
						<input name="amountPrice" class="form-control" type="text" >
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">客户名称：</label>
					<div class="col-sm-8">
						<input name="customerName" class="form-control" type="text" >
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">业主/租户：</label>
					<div class="col-sm-8">
						<input name="ownerTenant" class="form-control" type="text" >
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">房屋名称：</label>
					<div class="col-sm-8">
						<input name="houseName" class="form-control" type="text" >
					</div>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script th:src="@{/js/jquery.form.min.js}"></script>
	<th:block th:include="include :: datetimepicker-js" />
	<script th:inline="javascript">
		var prefix = ctx + "system/selectMeter"

		$("#form-meter-add").validate({
			onkeyup : false,
			rules : {
				buildingName : {
					maxlength : 20,
				},
				houseNum : {
					maxlength : 20,
				},
				meterSerialNum : {
					number : true,
					maxlength : 3,
				},
				meterName : {
					maxlength : 50,
				},
				initialRead : {
					number : true,
					maxlength : 11,
				},
				meterStrNum : {
					number : true,
					maxlength : 11,
				},
				meterEndNum : {
					number : true,
					maxlength : 11,
				},
				transfRatio : {
					number : true,
					maxlength : 11,
				},
				meterReadDate : {
					date:true,
				},
				newMeterConsumption : {
					number : true,
					maxlength : 11,
				},
				oldMeterConsumption : {
					number : true,
					maxlength : 11,
				},
				attritionRate : {
					maxlength : 50,
				},
				unitPrice : {
					number : true,
					maxlength : 11,
				},
				amountPrice : {
					number : true,
					maxlength : 11,
				},
				customerName : {
					maxlength : 50,
				},
				ownerTenant : {
					maxlength : 20,
				},
				houseName : {
					maxlength : 50,
				},
			},

			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/add", $('#form-meter-add')
						.serialize());
			}
		}

		$("input[name='meterReadDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

	</script>
</body>
</html>