<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('抄设置列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<label>楼宇名称：</label> 
								<input type="text" name="buildingName" />
							</li>
							<li>
								<label>房屋编号：</label> 
								<input type="text" name="houseNum" />
							</li>
							<li>
								<label>表计类型：</label> 
								<input type="text" name="meterType" />
							</li>
							<li>
								<label>表计序号：</label> 
								<input type="text" name="meterSerialNum" />
							</li>
							<li>
								<label>表计名称：</label> 
								<input type="text" name="meterName" />
							</li>
							<li>
								<label>表箱名称：</label> 
								<input type="text"name="meterCaseName" />
							</li>
							<li>
								<label>起数：</label> 
								<input type="text"name="meterStrNum" />
							</li>
							<li>
								<label>止数：</label> 
								<input type="text"name="meterEndNum" />
							</li>
							<li>
								<label>变比：</label> 
								<input type="text"name="transfRatio" />
							</li>
							<li>
								<label>计量表类型：</label> 
								<input type="text"name="strappingType" />
							</li>
							<li>
								<label>抄表日期：</label> 
								<input type="text"name="meterReadDate" />
							</li>
							<li>
								<label>现用量：</label> 
								<input type="text"name="newMeterConsumption" />
							</li>
							<li>
								<label>旧表用量：</label> 
								<input type="text"name="oldMeterConsumption" />
							</li>
							<li>
								<label>损耗：</label> 
								<input type="text"name="attritionRate" />
							</li>
							<li>
								<label>单价：</label> 
								<input type="text"name="unitPrice" />
							</li>
							<li>
								<label>金额：</label> 
								<input type="text"name="amountPrice" />
							</li>
							<li>
								<label>客户名称：</label> 
								<input type="text"name="customerName" />
							</li>
							<li>
								<label>业主/租户：</label> 
								<input type="text"name="ownerTenant" />
							</li>
							<li>
								<label>房屋名称：</label> 
								<input type="text"name="houseName" />
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm" id="toolbar" role="group">
	
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:meter:export"> 
					<i class="fa fa-download"></i> 导出
				</a>
				
				<a class="btn btn-danger" shiro:hasPermission="system:meter:print" onclick="printPage()">
	                <i class="fa fa-print"></i> 打印
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:meter:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:meter:remove')}]];
        var prefix = ctx + "system/selectMeter";
        
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "抄设置",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                }, 
                {
                    field: 'buildingName',
                    title: '楼宇名称'
                },
                {
                    field: 'houseNum',
                    title: '房屋编号'
                },
                {
                    field: 'meterType',
                    title: '表计类型',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case "0" : value =  "水";break;
	                    	case "1" : value =  "电";break;
	                    	case "2" : value =  "气";break;
	                    	case "3" : value =  "暖气";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'meterSerialNum',
                    title: '表计序号'
                },
                {
                    field: 'meterName',
                    title: '表计名称'
                },
                {
                    field: 'initialRead',
                    title: '起始读数'
                },
                {
                    field: 'meterStrNum',
                    title: '起数'
                },
                {
                    field: 'meterEndNum',
                    title: '止数'
                },
                {
                    field: 'transfRatio',
                    title: '变比'
                },
                {
                    field: 'strappingType',
                    title: '计量表类型',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case "0" : value =  "商业";break;
	                    	case "1" : value =  "外协";break;
	                    	case "2" : value =  "住宅";break;
	                    	case "3" : value =  "其他";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'meterReadDate',
                    title: '抄表日期'
                },
                {
                    field: 'newMeterConsumption',
                    title: '现用量'
                },
                {
                    field: 'oldMeterConsumption',
                    title: '旧表用量'
                },
                {
                    field: 'attritionRate',
                    title: '耗损'
                },
                {
                    field: 'unitPrice',
                    title: '单价'
                },
                {
                    field: 'amountPrice',
                    title: '金额'
                },
                {
                    field: 'customerName',
                    title: '客户名称'
                },
                {
                    field: 'ownerTenant',
                    title: '业主/租户'
                },
                {
                    field: 'hyHouseInf.houseName',
                    title: '房屋名称'
                }]
            };
            $.table.init(options);
        });
        
        function printPage() {
            window.print();
        }
    </script>
</body>
</html>