<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增收费科目设置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-subject-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">费用名称：</label>
                <div class="col-sm-8">
                    <input id="feeName"  name="feeName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标准编号：</label>
                <div class="col-sm-8">
                    <input id="standardNum" name="standardNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标准名称：</label>
                <div class="col-sm-8">
                    <input id="standardName" name="standardName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计算方式：</label>
                <div class="col-sm-8">
                    <select id="calculationMethod" name="calculationMethod" class="form-control"                
						th:with="type=${@dict.getType('hy_charge_subject_set_calculation_method')}">
						<option value="">请选择</option>
						<option value="0">计费面积*单价每月</option>
					</select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通用收费标准：</label>
                <div class="col-sm-8">
                    <input id="chargingStanard" name="chargingStanard" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标准说明：</label>
                <div class="col-sm-8">
                    <input id="descriptionStandard" name="descriptionStandard" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/subject"
        $("#form-subject-add").validate({
        	onkeyup:false,
        	rules:{
        		feeName: {
            		maxlength:50,
            		required : true,
    			},
    			standardNum: {
    				maxlength:50,
    				required : true,
    			},
    			standardName: {
    				maxlength:50,
    			},
    			calculationMethod: {
    				required : true,
    			},
    			chargingStanard: {
    				maxlength:50,
    			},
    			descriptionStandard: {
    				maxlength:50,
    			},

        	},
        	
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-subject-add').serialize());
            }
        }
    </script>
</body>
</html>