<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改收费科目设置')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-subject-edit"
			th:object="${hyChargeSubjectSet}">
			<input name="id" th:field="*{id}" type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">费用名称：</label>
				<div class="col-sm-8">
					<input id="feeName" name="feeName" th:field="*{feeName}" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">标准编号：</label>
				<div class="col-sm-8">
					<input id="standardNum" name="standardNum" th:field="*{standardNum}"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">标准名称：</label>
				<div class="col-sm-8">
					<input id="standardName" name="standardName" th:field="*{standardName}"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">计算方式：</label>
				<div class="col-sm-8">
					<select id="calculationMethod" name="calculationMethod" class="form-control"  th:field="*{calculationMethod}"               
						th:with="type=${@dict.getType('hy_subject_type')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">通用收费标准：</label>
				<div class="col-sm-8">
					<input id="chargingStanard" name="chargingStanard" th:field="*{chargingStanard}"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">标准说明：</label>
				<div class="col-sm-8">
					<input id="descriptionStandard" name="descriptionStandard" th:field="*{descriptionStandard}"
						class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var prefix = ctx + "system/set";
		 $("#form-subject-edit").validate({
	        	onkeyup:false,
	        	rules:{
	        		feeName: {
	            		maxlength:50,
	            		required : true,
	    			},
	    			standardNum: {
	    				maxlength:50,
	    				required : true,
	    			},
	    			standardName: {
	    				maxlength:50,
	    			},
	    			calculationMethod: {
	    				required : true,
	    			},
	    			chargingStanard: {
	    				maxlength:50,
	    			},
	    			descriptionStandard: {
	    				maxlength:50,
	    			},

	        	},
	        	
	            focusCleanup: true
	        });

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $('#form-subject-edit')
						.serialize());
			}
		}
	</script>
</body>
</html>