<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增增值税税率')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-audit-add">
            
            <div class="form-group">    
                <label class="col-sm-3 control-label">项目名称：</label>
                <div class="col-sm-8">
                    <input id="entryName" name="entryName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">费用科目：</label>
                <div class="col-sm-8">
                    <input id="expenseAccount" name="expenseAccount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">纳税人规模：</label>
                <div class="col-sm-8">
               		<select id="taxScale"
								name="taxScale" class="form-control">
               		<option value="2">一般纳税人</option>
               		<option value="3">小规模纳税人</option>
               		</select>
               
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">税率：</label>
                <div class="col-sm-8">
                	<select id="taxRate"
								name="taxRate" class="form-control">
               		<option value="0%">0%</option>
               		<option value="3%">3%</option>
               		<option value="5%">5%</option>
               		<option value="6%">6%</option>
               		<option value="9%">9%</option>
               		<option value="13%">13%</option>
               		<option value="15%">15%</option>
               		</select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="timeStr" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="timeEnd" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
          
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否需要不动产备案：</label>
                <div class="col-sm-8">
                <input name="estateRecord" type="checkbox"
						th:with="type=${@dict.getType('hy_vat_audit')}" value="0"/>
              
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否需要合同违约金税率：</label>
                <div class="col-sm-8">
                <input name="taxRateRecord" type="checkbox"
						th:with="type=${@dict.getType('hy_vat_audit')}" value="0"/>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/audit"
        $("#form-audit-add").validate({
        	onkeyup : false,
			rules : {
				areaName: {
					required : true,
					maxlength:50,
				},
				projectNum: {
					required : true,
					maxlength:50,
				},
				entryName: {
					required : true,
					maxlength:50,
				},
				expenseAccount: {
					required : true,
					maxlength:50,
				},
				taxScale: {
					maxlength:50,
				},
				taxRate: {
					maxlength:50,
				},
				auditStatus: {
					maxlength:50,
				},
		
				
			},
        	
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-audit-add').serialize());
            }
        }

        $("input[name='timeStr']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='timeEnd']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>