<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改增值税率审核')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-audit-edit" th:object="${hyVatAudit}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">区域名称：</label>
                <div class="col-sm-8">
                    <input name="areaName" th:field="*{areaName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">项目编号：</label>
                <div class="col-sm-8">
                    <input name="projectNum" th:field="*{projectNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">项目名称：</label>
                <div class="col-sm-8">
                    <input name="entryName" th:field="*{entryName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">纳税人规模：</label>
                <div class="col-sm-8">
                    <input name="taxScale" th:field="*{taxScale}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">费用科目：</label>
                <div class="col-sm-8">
                    <input name="expenseAccount" th:field="*{expenseAccount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">税率：</label>
                <div class="col-sm-8">
                    <input name="taxRate" th:field="*{taxRate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="timeStr" th:value="${#dates.format(hyVatAudit.timeStr, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="timeEnd" th:value="${#dates.format(hyVatAudit.timeEnd, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审核状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="auditStatus" th:field="*{auditStatus}" value="0">
                        <label th:for="auditStatus" th:text="已审核"></label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="auditStatus" th:field="*{auditStatus}" value="1">
                        <label th:for="auditStatus" th:text="未审核"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否需要不动产备案：</label>
                <div class="col-sm-8">
                <select id="estateRecord" name="estateRecord" th:field="*{estateRecord}" class="form-control "
						th:with="type=${@dict.getType('hy_vat_audit')}">
						<option value="">请选择</option>
						<option value="0">是</option>
						<option value="1">否</option>
					</select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否需要合同违约金含税率：</label>
                <div class="col-sm-8">
                  <select id="taxRateRecord" name="taxRateRecord" th:field="*{taxRateRecord}" class="form-control "
						th:with="type=${@dict.getType('hy_vat_audit')}">
						<option value="">请选择</option>
						<option value="0">是</option>
						<option value="1">否</option>
					</select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/audit";
        $("#form-audit-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-audit-edit').serialize());
            }
        }

        $("input[name='timeStr']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='timeEnd']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>