<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改增值税率审核')" />
<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-audit-edit" th:object="${hyVatAudit}">
			<input name="id" th:field="*{id}" type="hidden">

			<div class="form-group">
				<label class="col-sm-3 control-label">项目名称：</label>
				<div class="col-sm-8">
					<input name="entryName" th:field="*{entryName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">纳税人规模：</label>
				<div class="col-sm-8">
					<select id="taxScale"
								name="taxScale" class="form-control" th:field="*{taxScale}" th:with="type=${@dict.getType('hy_taxpayper_type')}">
               		<option value="0">一般纳税人</option>
               		<option value="1">小规模纳税人</option>
               		</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">费用科目：</label>
				<div class="col-sm-8">
					<input name="expenseAccount" th:field="*{expenseAccount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">税率：</label>
				<div class="col-sm-8">
					<select id="taxRate" th:field="*{taxRate}" name="taxRate" class="form-control">
						<option value="">请选择</option>
	               		<option value="0%">0%</option>
	               		<option value="3%">3%</option>
	               		<option value="5%">5%</option>
	               		<option value="6%">6%</option>
	               		<option value="9%">9%</option>
	               		<option value="13%">13%</option>
	               		<option value="15%">15%</option>
               		</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">开始时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="timeStr" th:value="${#dates.format(hyVatAudit.timeStr, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">结束时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="timeEnd" th:value="${#dates.format(hyVatAudit.timeEnd, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">是否需要不动产备案：</label>
				<div class="col-sm-8">
                    <label class="check-box">
                        <input type="radio" value="0" name="estateRecord" id="estateRecord" th:field="*{estateRecord}">是</label>
                    <label class="check-box">
                        <input type="radio" value="1" name="estateRecord" id="estateRecord" th:field="*{estateRecord}">否</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否需要合同违约金含税率：</label>
				<div class="col-sm-8">
					 <label class="check-box">
                         <input type="radio" value="0" name="taxRateRecord" id="taxRateRecord" th:field="*{taxRateRecord}">是</label>
                     <label class="check-box">
                         <input type="radio" value="1" name="taxRateRecord" id="taxRateRecord" th:field="*{taxRateRecord}">否</label>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<script th:inline="javascript">
		var prefix = ctx + "system/audit";
		 
		$("#form-audit-edit").validate({
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $('#form-audit-edit').serialize());
			}
		}

		$("input[name='timeStr']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='timeEnd']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
	</script>
</body>
</html>