<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增供应商')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-supplier-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商名称：</label>
                <div class="col-sm-8">
                    <input id="supplierName" name="supplierName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="font-noraml">供应商营业执照：</label>
                <div class="file-loading">
                	<a id="url"><img th:src="*{supplierBusinessLicence}" style="width: 90px;height: 90px"></a>
		            <input type="file" name="imagepath" data-ref="supplierBusinessLicence"  class="myfile" value=""/> 
		        </div>
            </div>
		            <input type="hidden" name="supplierBusinessLicence" id="remarks" value="">
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商负责人：</label>
                <div class="col-sm-8">
                    <input id="supplierCharge" name="supplierCharge" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商联系电话：</label>
                <div class="col-sm-8">
                    <input id="supplierPhone" name="supplierPhone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商电子邮箱：</label>
                <div class="col-sm-8">
                    <input id="supplierEmail" name="supplierEmail" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商地址：</label>
                <div class="col-sm-8">
                    <input id="supplierAddress" name="supplierAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成立日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="incorporationDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/supplier"
        $("#form-supplier-add").validate({
        	rules : {
        		supplierName : {
					required : true,
					maxlength:100,
				},
				supplierBusinessLicence : {
					maxlength:255,
				},
				supplierCharge : {
					maxlength:20,
				},
				supplierPhone : {
					isPhone : true,
					maxlength:12,
				},
				supplierEmail : {
					email : true,
					maxlength:50,
				},
				supplierAddress : {
					maxlength:155,
				}
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-supplier-add').serialize());
            }
        }

        $("input[name='incorporationDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(document).ready(function () {
        	//上传简介图片
	        $(".myfile").fileinput({
	        	uploadUrl : prefix + '/uploadFile', //接受请求地址
	            uploadAsync: true, //默认异步上传
	            showUpload: true, //是否显示上传按钮,跟随文本框的那个
	            showRemove: false, //显示移除按钮,跟随文本框的那个
	            showCaption: true,//是否显示标题,就是那个文本框
	            showPreview: true, //是否显示预览,不写默认为true
	            dropZoneEnabled: false,//是否显示拖拽区域，默认不写为true，但是会占用很大区域
	            //minImageWidth: 50, //图片的最小宽度
	            //minImageHeight: 50,//图片的最小高度
	            //maxImageWidth: 1000,//图片的最大宽度
	            //maxImageHeight: 1000,//图片的最大高度
	            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
	            //minFileCount: 0,
	            maxFileCount: 1, //表示允许同时上传的最大文件个数
	            enctype: 'multipart/form-data',
	            validateInitialCount: true,
	            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
	            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
	            allowedFileTypes: ['image'],//配置允许文件上传的类型
	            allowedPreviewTypes: ['image'],//配置所有的被预览文件类型
	            allowedPreviewMimeTypes: ['jpg', 'png', 'gif'],//控制被预览的所有mime类型
	            language: 'zh'
	        })
	        //异步上传返回结果处理
	        $('.myfile').on('fileerror', function (event, data, msg) {
	            console.log("fileerror");
	            console.log(data);
	        });
	        //异步上传返回结果处理
	        $(".myfile").on("fileuploaded", function (event, data, previewId, index) {
	            console.log(data.response.url);
	            var ref = $(this).attr("data-ref");
	            var aa = $("input[name='" + ref + "']").val(data.response.url);
	            var jsonData = JSON.stringify(aa);// 转成JSON格式
	            var result = $.parseJSON(jsonData);// 转成JSON对象
	        });

	        //上传前
	        $('.myfile').on('filepreupload', function (event, data, previewId, index) {
	            var form = data.form, mynewpic = data.mynewpic, extra = data.extra,
	                response = data.response, reader = data.reader;
	            console.log("文件正在上传。。。。");
	        });
            
        });

    </script>
</body>
</html>