<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('新增业主资料登记')" />
<th:block th:include="include :: datetimepicker-css" />
<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-registration-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">登录账号：</label>
				<div class="col-sm-8">
					<input name="loginUsername" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">登录密码：</label>
				<div class="col-sm-8">
					<input name="loginPassword" class="form-control"
						type="password">
				</div>
			</div>
			
			<input id="nickName" name="nickName" class="form-control" type="hidden">
			
			<div class="form-group">
                <label class="font-noraml">头像：</label>
                <div class="file-loading">
		            <input type="file" name="imagepath" data-ref="ownerPicture"  class="myfile" value=""/> 
		        </div>
            </div>
		            <input type="hidden" name="ownerPicture">
			<div class="form-group">
				<label class="col-sm-3 control-label">业主名称：</label>
				<div class="col-sm-8">
					<input name="ownerName" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">性别：</label>
				<div class="col-sm-8">
					<select name="gender" class="form-control "
						th:with="type=${@dict.getType('sys_user_sex')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
							th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">固定电话：</label>
				<div class="col-sm-8">
					<input name="fixedTelephone" class="form-control" type="text">
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-3 control-label">移动电话：</label>
				<div class="col-sm-8">
					<input name="mobilePhone" class="form-control"
						type="text" onkeyup="this.value=this.value.replace(/\D/g,'')">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">证件号码：</label>
				<div class="col-sm-8">
					<input name="idCardNum" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">身份证地址：</label>
				<div class="col-sm-8">
					<input name="idCardAddress" class="form-control"
						type="text">
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-3 control-label">供应商类别：</label>
				<div class="col-sm-8">
					<input name="suplierCategory" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否锁定：</label>
				<div class="col-sm-8">
					<select id="lockedNot" name="lockedNot" class="form-control "
						th:with="type=${@dict.getType('sys_yes_no')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
							th:value="${dict.dictValue}"></option>

					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">出入卡号：</label>
				<div class="col-sm-8">
					<input id="accessNum" name="accessNum" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">证件名称：</label>
				<div class="col-sm-8">
					<input id="certificateName" name="certificateName"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">客户类别：</label>
				<div class="col-sm-8">
					<input id="customerCategoy" name="customerCategoy"
						class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">传真电话：</label>
				<div class="col-sm-8">
					<input name="faxPhone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">联系地址：</label>
				<div class="col-sm-8">
					<input name="contactAddress" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">邮政编码：</label>
				<div class="col-sm-8">
					<input name="postalCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">收件人：</label>
				<div class="col-sm-8">
					<input name="postalPreson" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">电子邮件：</label>
				<div class="col-sm-8">
					<input name="eMail" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">绑定手机户名：</label>
				<div class="col-sm-8">
					<input id="phoneAccount" name="phoneAccount" class="form-control"
						type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">绑定手机号码：</label>
				<div class="col-sm-8">
					<input name="bindingPhoneNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">共有业主：</label>
				<div class="col-sm-8">
					<input name="coOwner" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">业主标识：</label>
				<div class="col-sm-8">
					<input name="ownerIdentification" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">姓：</label>
				<div class="col-sm-8">
					<input name="firName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">名：</label>
				<div class="col-sm-8">
					<input name="secName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">国籍：</label>
				<div class="col-sm-8">
					<input name="nationality" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">出生日期：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input name="birthDate" class="form-control"
							placeholder="yyyy-MM-dd" type="text"> <span
							class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">工作单位：</label>
				<div class="col-sm-8">
					<input name="workUnit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">职业：</label>
				<div class="col-sm-8">
					<input name="ownerJob" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">兴趣爱好：</label>
				<div class="col-sm-8">
					<input name="ownerHobby" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">用户名：</label>
				<div class="col-sm-8">
					<input name="ownerId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">纳税人识别号：</label>
				<div class="col-sm-8">
					<input name="taxpayerNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">地址、电话：</label>
				<div class="col-sm-8">
					<input name="ownerAddPhone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">开户行及账号：</label>
				<div class="col-sm-8">
					<input name="bankAccount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">托收类别：</label>
				<div class="col-sm-8">
					<input name="collectionCategory" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">银行行别：</label>
				<div class="col-sm-8">
					<select id="bankType" name="bankType" class="form-control "
						th:with="type=${@dict.getType('hy_bank')}">
						<option value="">请选择</option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
							th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>	
		
			<div class="form-group">
				<label class="col-sm-3 control-label">开户行行号：</label>
				<div class="col-sm-8">
					<input name="bankNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">银行户名：</label>
				<div class="col-sm-8">
					<input name="bankAccountName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">项目管理：</label>
				<div class="col-sm-8">
					<select class="form-control m-b" name="projectId" th:with="type=${@project.getProject()}">
	                  		<option value="">请选择</option>
	                  		<option th:each="dict : ${type}" th:text="${dict.projectName}" th:value="${dict.id}"></option>
	                </select>
				</div>
			</div> -->
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<th:block th:include="include :: bootstrap-fileinput-js" />
	<script th:inline="javascript">
		var prefix = ctx + "system/registration"
		$("#form-registration-add").validate({
			onkeyup : false,
			rules : {
				loginUsername : {
					required : true,
					maxlength : 255,
				},
				loginPassword : {
					required : true,
					maxlength : 255,
				},
				ownerPicture : {
					required : true,
					maxlength : 255,
				},
				ownerName : {
					required : true,
					maxlength : 20,
				},
				gender : {
					required : true,
				},
				mobilePhone : {
					required : true,
					minlength : 11,
					maxlength : 11,
				},
				idCardNum : {
					required : true,
					minlength : 18,
					maxlength : 18,
				},
				idCardAddress : {
					required : true,
					maxlength : 255,
				},
			},
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/add", $('#form-registration-add')
						.serialize());
			}
		}

		$("input[name='birthDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
		

        $(function() {
        	var date = new Date();
	     	var time = date.getTime();
	     	$("#nickName").val("用户"+time);
        });
		
        $(document).ready(function () {
        	//上传头像操作
	        $(".myfile").fileinput({
	        	uploadUrl : prefix + '/uploadFile', //接受请求地址
	            uploadAsync: true, //默认异步上传
	            showUpload: true, //是否显示上传按钮,跟随文本框的那个
	            showRemove: false, //显示移除按钮,跟随文本框的那个
	            showCaption: true,//是否显示标题,就是那个文本框
	            showPreview: true, //是否显示预览,不写默认为true
	            dropZoneEnabled: false,//是否显示拖拽区域，默认不写为true，但是会占用很大区域
	            //minImageWidth: 50, //图片的最小宽度
	            //minImageHeight: 50,//图片的最小高度
	            //maxImageWidth: 1000,//图片的最大宽度
	            //maxImageHeight: 1000,//图片的最大高度
	            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
	            //minFileCount: 0,
	            maxFileCount: 1, //表示允许同时上传的最大文件个数
	            enctype: 'multipart/form-data',
	            validateInitialCount: true,
	            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
	            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
	            allowedFileTypes: ['image'],//配置允许文件上传的类型
	            allowedPreviewTypes: ['image'],//配置所有的被预览文件类型
	            allowedPreviewMimeTypes: ['jpg', 'png', 'gif'],//控制被预览的所有mime类型
	            language: 'zh'
	        })
	        //异步上传返回结果处理
	        $('.myfile').on('fileerror', function (event, data, msg) {
	            console.log("fileerror");
	            console.log(data);
	        });
	        //异步上传返回结果处理
	        $(".myfile").on("fileuploaded", function (event, data, previewId, index) {
	            console.log(data.response.url);
	            var ref = $(this).attr("data-ref");
	            var aa = $("input[name='" + ref + "']").val(data.response.url);
	            var jsonData = JSON.stringify(aa);// 转成JSON格式
	            var result = $.parseJSON(jsonData);// 转成JSON对象
	        });

	        //上传前
	        $('.myfile').on('filepreupload', function (event, data, previewId, index) {
	            var form = data.form, mynewpic = data.mynewpic, extra = data.extra,
	                response = data.response, reader = data.reader;
	            console.log("文件正在上传。。。。");
	        });
           
        });
	</script>
</body>
</html>