<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改业主资料登记')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-registration-edit" th:object="${hyOwnerRegistration}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">业主名称：</label>
                <div class="col-sm-8">
                    <input name="ownerName" th:field="*{ownerName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋编号：</label>
                <div class="col-sm-8">
                    <input name="houseNum" th:field="*{houseNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">固定电话：</label>
                <div class="col-sm-8">
                    <input name="fixedTelephone" th:field="*{fixedTelephone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">移动电话：</label>
                <div class="col-sm-8">
                    <input name="mobilePhone" th:field="*{mobilePhone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">证件号码：</label>
                <div class="col-sm-8">
                    <input name="idCardNum" th:field="*{idCardNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商类别：</label>
                <div class="col-sm-8">
                    <input name="suplierCategory" th:field="*{suplierCategory}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否锁定：</label>
                <div class="col-sm-8">
                    <input name="lockedNot" th:field="*{lockedNot}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出入卡号：</label>
                <div class="col-sm-8">
                    <input name="accessNum" th:field="*{accessNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">证件名称：</label>
                <div class="col-sm-8">
                    <input name="certificateName" th:field="*{certificateName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户类别：</label>
                <div class="col-sm-8">
                    <input name="customerCategoy" th:field="*{customerCategoy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">传真电话：</label>
                <div class="col-sm-8">
                    <input name="faxPhone" th:field="*{faxPhone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系地址：</label>
                <div class="col-sm-8">
                    <input name="contactAddress" th:field="*{contactAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮政编码：</label>
                <div class="col-sm-8">
                    <input name="postalCode" th:field="*{postalCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收件人：</label>
                <div class="col-sm-8">
                    <input name="postalPreson" th:field="*{postalPreson}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电子邮件：</label>
                <div class="col-sm-8">
                    <input name="eMail" th:field="*{eMail}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定手机户名：</label>
                <div class="col-sm-8">
                    <input name="phoneAccount" th:field="*{phoneAccount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定手机号码：</label>
                <div class="col-sm-8">
                    <input name="bindingPhoneNum" th:field="*{bindingPhoneNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">共有业主：</label>
                <div class="col-sm-8">
                    <input name="coOwner" th:field="*{coOwner}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">业主标识：</label>
                <div class="col-sm-8">
                    <input name="ownerIdentification" th:field="*{ownerIdentification}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓：</label>
                <div class="col-sm-8">
                    <input name="firName" th:field="*{firName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">名：</label>
                <div class="col-sm-8">
                    <input name="secName" th:field="*{secName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <input name="gender" th:field="*{gender}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">国籍：</label>
                <div class="col-sm-8">
                    <input name="nationality" th:field="*{nationality}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="birthDate" th:value="${#dates.format(hyOwnerRegistration.birthDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">工作单位：</label>
                <div class="col-sm-8">
                    <input name="workUnit" th:field="*{workUnit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">职业：</label>
                <div class="col-sm-8">
                    <input name="ownerJob" th:field="*{ownerJob}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">兴趣爱好：</label>
                <div class="col-sm-8">
                    <input name="ownerHobby" th:field="*{ownerHobby}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户名：</label>
                <div class="col-sm-8">
                    <input name="ownerId" th:field="*{ownerId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">纳税人识别号：</label>
                <div class="col-sm-8">
                    <input name="taxpayerNum" th:field="*{taxpayerNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">地址、电话：</label>
                <div class="col-sm-8">
                    <input name="ownerAddPhone" th:field="*{ownerAddPhone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开户行及账号：</label>
                <div class="col-sm-8">
                    <input name="bankAccount" th:field="*{bankAccount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">托收类别：</label>
                <div class="col-sm-8">
                    <input name="collectionCategory" th:field="*{collectionCategory}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行行别：</label>
                <div class="col-sm-8">
                    <select name="bankType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开户行行号：</label>
                <div class="col-sm-8">
                    <input name="bankNum" th:field="*{bankNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行户名：</label>
                <div class="col-sm-8">
                    <input name="bankAccountName" th:field="*{bankAccountName}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/registration";
        $("#form-registration-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-registration-edit').serialize());
            }
        }

        $("input[name='birthDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>