<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改注册字段配置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-configuration-edit" th:object="${hyRegistrationFieldConfiguration}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">字段：</label>
                <div class="col-sm-8">
                    <input name="field" th:field="*{field}" class="form-control" type="text" placeholder="请输入字段">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标题：</label>
                <div class="col-sm-8">
                    <input name="title" th:field="*{title}" class="form-control" type="text" placeholder="请输入标题">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否启用：</label>
                <div class="col-sm-8">
                    <input name="enable" th:field="*{enable}" class="form-control" type="text" placeholder="请输入是/否">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">小区id：</label>
                <div class="col-sm-8">
                    <input name="residentialQuartersId" th:field="*{residentialQuartersId}" class="form-control" type="text" placeholder="请输入社区id" onkeyup="this.value=this.value.replace(/\D/g,'')">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/fieldConfiguration";
        $("#form-configuration-edit").validate({
        	rules:{
        		field :{
        			required : true,
        			maxlength : 255
        		},
        		title :{
        			required : true,
        			maxlength:255
        		},
        		enable :{
        			required : true,
        			maxlength : 255
        		},
        		residentialQuartersId :{
        			required : true,
        			maxlength : 20
        		}
        	},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-configuration-edit').serialize());
            }
        }
    </script>
</body>
</html>