<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改设备保养计划')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-maintenanceplan-edit" th:object="${hyMaintenanceplan}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-2 control-label">计划名称：</label>
                <div class="col-sm-4">
                    <input name="planName" th:field="*{planName}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">设备保养类别：</label>
                <div class="col-sm-4">
                    <select name="maintainType" th:field="*{maintainType}" class="form-control m-b">
                        <option value=''>请选择</option>
                        <option value='1'>自维</option>
                        <option value='0'>外维</option>
                    </select>
                </div>
            </div>
            <div class="form-group">  
            	<label class="col-sm-2 control-label">设备保养周期：</label>
                <div class="col-sm-4">
                    <input name="maintainPeriod" th:field="*{maintainPeriod}" class="form-control" type="text"  onclick="selectPeriod()">
                </div>  
                <label class="col-sm-2 control-label">设备保养等级：</label>
                <div class="col-sm-4">
                     <select name="maintainLevel" th:field="*{maintainLevel}" class="form-control m-b">
	                    <option value=''>请选择</option>
	                    <option value='0'>日常保养</option>
	                    <option value='1'>一级保养</option>
	                    <option value='2'>二级保养</option>
	                    <option value='3'>三级保养</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
           		<label class="col-sm-2 control-label">计划负责人：</label>
                <div class="col-sm-4">
                    <select id="userId" name="userId" th:field="*{userId}" class="form-control" th:with="type=${@user.getUser()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.userName}" th:value="${data.userId}"></option>
			 	    </select>
                </div>
                <label class="col-sm-2 control-label">设备类别：</label>
                <div class="col-sm-4">
                    <select id="equipmentId" name="equipmentId" th:field="*{equipmentId}" class="form-control" th:with="type=${@equipment.getEquipment()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.equipmentName}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
            	<label class="col-sm-2 control-label">计划日期：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <input name="planDate" th:value="${#dates.format(hyMaintenanceplan.planDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <label class="col-sm-2 control-label">组织机构：</label>
                <div class="col-sm-4">
                    <select id="deptId" name="deptId" th:field="*{deptId}" class="form-control" th:with="type=${@dept.getDepts()}">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.deptName}" th:value="${data.deptId}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备保养项目内容：</label>
                <div class="col-sm-8">
                    <input type="hidden" class="form-control" th:field="*{content}">
                    <div class="summernote" id="content"></div>
                </div>
            </div>
            <div class="form-group">  
            	<label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="planRemark" th:field="*{planRemark}" class="form-control" type="text">
                </div>  
            </div>
            <!-- <div class="form-group"> 
            	<label class="col-sm-3 control-label">是否审核：</label>
                <div class="col-sm-8">
                    <input name="isAudit" th:field="*{isAudit}" class="form-control" type="text">
                    
                </div>   
                <label class="col-sm-3 control-label">计划关闭：</label>
                <div class="col-sm-8">
                    <input name="plansClose" th:field="*{plansClose}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">关闭类型：</label>
                <div class="col-sm-8">
                    <select name="closedType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">制单人：</label>
                <div class="col-sm-8">
                    <input name="preparedBy" th:field="*{preparedBy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">制单时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="makeTime" th:value="${#dates.format(hyMaintenanceplan.makeTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">修订人：</label>
                <div class="col-sm-8">
                    <input name="reviser" th:field="*{reviser}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">修订时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="revisionTime" th:value="${#dates.format(hyMaintenanceplan.revisionTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业部门：</label>
                <div class="col-sm-8">
                    <input name="specializedDepartment" th:field="*{specializedDepartment}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">原保养计划编号：</label>
                <div class="col-sm-8">
                    <input name="planNumber" th:field="*{planNumber}" class="form-control" type="text">
                </div>
            </div> -->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/maintenanceplan";
        $("#form-maintenanceplan-edit").validate({
        	rules : {
        		planName : {
					required : true,
					maxlength:50,
				},
				maintainType : {
					required : true,
					maxlength:20,
				},
				maintainPeriod : {
					required : true,
					maxlength:20,
				},
				maintainLevel : {
					required : true,
					maxlength:20,
				},
				userId : {
					required : true,
					maxlength:11,
				},
				equipmentId : {
					required : true,
					maxlength:11,
				},
				planDate : {
					required : true,
				},
				deptId : {
					required : true,
					maxlength:11,
				},
				content : {
					required : true,
					maxlength:255,
				},
				planRemark : {
					required : true,
					maxlength:255,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-maintenanceplan-edit').serialize());
            }
        }

        $("input[name='planDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='makeTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='revisionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $(function() {
            $('.summernote').each(function(i) {
                $('#' + this.id).summernote({
                    lang: 'zh-CN',
                    callbacks: {
                        onChange: function(contents, $edittable) {
                            $("input[name='" + this.id + "']").val(contents);
                        },
                        onImageUpload: function(files) {
                            var obj = this;
                            var data = new FormData();
                            data.append("file", files[0]);
                            $.ajax({
                                type: "post",
                                url: ctx + "common/upload",
                                data: data,
                                cache: false,
                                contentType: false,
                                processData: false,
                                dataType: 'json',
                                success: function(result) {
                                    if (result.code == web_status.SUCCESS) {
                                        $('#' + obj.id).summernote('insertImage', result.url);
                                    } else {
                                        $.modal.alertError(result.msg);
                                    }
                                },
                                error: function(error) {
                                    $.modal.alertWarning("图片上传失败。");
                                }
                            });
                        }
                    }
                });
                var content = $("input[name='" + this.id + "']").val();
                $('#' + this.id).summernote('code', content);
            })
        });
        function selectPeriod(){
        	$.modal.open("设备保养周期一览表","/system/selectPeriod");
        }
    </script>
</body>
</html>