<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('保养设备列表')" />
    <th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
<div class="ui-layout-west">
	<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 设备类型
				</div>
				<div class="box-tools pull-right">
				    <a type="button" class="btn btn-box-tool" href="#" onclick="costProject()" title="管理部门"><i class="fa fa-edit"></i></a>
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree"></div>
			</div>
		</div>
	</div>
	<div class="ui-layout-center">
     <div class="container-div">
        <div class="row">
<!--             <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>保养设备型号：</label>
                                <select name="maintenanceequipmentType">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>保养设备规格：</label>
                                <input type="text" name="maintenanceequipmentSpecification"/>
                            </li>
                            <li>
                                <label>保养设备单位：</label>
                                <input type="text" name="maintenanceequipmentUnit"/>
                            </li>
                            <li>
                                <label>存放位置：</label>
                                <input type="text" name="maintenanceequipmentPlace"/>
                            </li>
                            <li>
                                <input type="hidden" id="equipmentId" name="equipmentId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:maintenanceequipment:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:maintenanceequipment:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:maintenanceequipment:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:maintenanceequipment:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div> -->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:maintenanceequipment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:maintenanceequipment:remove')}]];
        var prefix = ctx + "system/maintenanceequipment";
        $(function() {
        	var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 185 });
	     	// 回到顶部绑定
	    	if ($.fn.toTop !== undefined) {
	    		var opt = {
	    			win:$('.ui-layout-center'),
	    			doc:$('.ui-layout-center')
	    		};
	    		$('#scroll-up').toTop(opt);
	    	}
	    	queryMaintenanceequipmentList();
		    queryDeptTree();
		});
        function queryMaintenanceequipmentList() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "保养设备",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '保养设备id',
                    visible: false
                },
                {
                    field: 'hyMaintenanceregistration.recordNumber',
                    title: '保养记录号'
                },
                {
                    field: 'hyMaintenanceregistration.startDate',
                    title: '开始日期'
                },
                {
                    field: 'hyMaintenanceregistration.endDate',
                    title: '结束日期'
                },
                {
                    field: 'hyMaintenanceregistration.currentContent',
                    title: '当前保养内容'
                },
                {
                    field: 'hyMaintenanceregistration.maintenanceCompletion',
                    title: '保养完成情况'
                },
                {
                    field: 'hyMaintenanceregistration.inspectionAcceptance',
                    title: '检查验收情况'
                },
                {
                    field: 'hyMaintenanceregistration.problemRectification',
                    title: '问题整改情况'
                },
                {
                    field: 'hyMaintenanceplan.planCode',
                    title: '保养计划编号'
                },
                {
                    field: 'hyMaintenanceplan.planName',
                    title: '保养计划名称'
                },
                {
                    field: 'hyMaintenanceplan.maintainType',
                    title: '设备保养类别',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '' : value =  "请选择";break;
	                    	case '1' : value =  "自维";break;
	                    	case '2' : value =  "外维";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'hyMaintenanceplan.maintainLevel',
                    title: '设备保养等级',
                    formatter: function(value, item, index) {
                    	switch(value){
	                    	case '' : value =  "请选择";break;
	                    	case '0' : value =  "日常保养";break;
	                    	case '1' : value =  "一级保养";break;
	                    	case '2' : value =  "二级保养";break;
	                    	case '3' : value =  "三级保养";break;
	                	}
		            	return value;
		            }
                },
                {
                    field: 'hyMaintenanceplan.maintainPeriod',
                    title: '设备保养周期'
                }/* ,
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                } */]
            };
            $.table.init(options);
        };
        function queryDeptTree()
		{
			var url = ctx + "system/equipment/equipmentList";
			var options = {
		        url: url,
		        expandLevel: 2,
		        onClick : zOnClick
		    };
			$.tree.init(options);
			
			function zOnClick(event, treeId, treeNode) {
				$("#equipmentId").val(treeNode.id);
				$.table.search();
			}
		}
		
		$('#btnExpand').click(function() {
			$._tree.expandAll(true);
		    $(this).hide();
		    $('#btnCollapse').show();
		});
		
		$('#btnCollapse').click(function() {
			$._tree.expandAll(false);
		    $(this).hide();
		    $('#btnExpand').show();
		});
		
		$('#btnRefresh').click(function() {
			queryDeptTree();
		});
    </script>
    </script>
</body>
</html>