<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增节点巡检任务')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-task-add">
            <div class="form-group">    
                <label class="col-sm-2 control-label">名称：</label>
                <div class="col-sm-4">
                    <input name="taskName" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">巡检节点：</label>
                <div class="col-sm-4">
                    <select id="nodeId" name="nodeId" class="form-control" th:with="type=${@node.getNode()}" onclick="changeAddress()">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.name}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">巡检方式：</label>
                <div class="col-sm-2">
                    <input name="inspectionWay" value="1" type="radio">设备巡检
                </div>
                <div class="col-sm-2">
                    <input name="inspectionWay" value="2" type="radio">区域巡检
                </div>
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-4">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">组织机构：</label>
                 <div class="col-sm-4">
                    <input id="dept" class="form-control" type="text" disabled="disabled">
                    <input id="depts" class="form-control" type="hidden" disabled="disabled">
                </div>
                <label class="col-sm-2 control-label">地址：</label>
                <div class="col-sm-4">
                    <input id="address" class="form-control" type="text" disabled="disabled">
                </div>
            </div>
            
            <div class="col-sm-12 select-table table-striped">
			    <div class="col-sm-12 select-table table-striped">
				    <table id="bootstrap-table"></table>
				</div>
			</div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/task"
        $("#form-task-add").validate({
        	rules : {
        		taskName : {
					required : true,
					maxlength:20,
				},
				inspectionWay : {
					maxlength:20,
				},
				remark : {
					maxlength:255,
				},
				nodeId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-task-add').serialize());
            }
        };
        var prefix1 = ctx + "system/node"
        var prefix2 = ctx + "system/dept"
		function changeAddress(){
   			$.ajax({
                url: prefix1 + "/lists",
                data: {id : $("#nodeId").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#address").empty();
					$("#address").val(result[0].address);
					$("#depts").empty();
					$("#depts").val(result[0].deptId);
                    // 缺一不可  
                    $("#address").selectpicker('refresh');
                    $("#address").selectpicker('render');
                    $("#depts").selectpicker('refresh');
                    $("#depts").selectpicker('render');
                }
            });
   			$.ajax({
			    url: prefix2 + "/lists",
			    data: {deptId : $("#depts").val()},
			    dataType : 'json',
			    type: 'POST',
			    success: function (result) {
			    	$("#dept").empty();
					$("#dept").val(result[0].deptName);
			                    // 缺一不可  
			                    $("#dept").selectpicker('refresh');
			                    $("#dept").selectpicker('render');
					   	}
			});
   			
        };
    </script>
    
    <script type="text/javascript">
		var prefix = ctx + "tool/gen";
	
		$(function() {
		    var options = {
		        url: prefix + "/db/list",
		        sortName: "createTime",
		        sortOrder: "desc",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        clickToSelect: true,
		        rememberSelected: true,
		        uniqueId: "tableName",
		        onClickCell:function(field, value, row, $element){
				    $.modal.open("分配数据权限", "/system/task/");
		        },
		        columns: [
		        {
                    title: "序号",
                    formatter: function (value, row, index) {
                 	    return $.table.serialNumber(index);
                    }
                },
		        {
		            field: 'tableName',
		            title: '表名称',
		            sortable: true,
		            formatter: function(value, row, index) {
                    	return $.table.tooltip(value);
                    }
		        },
		        {
		            field: 'tableComment',
		            title: '表描述',
		            sortable: true,
		            formatter: function(value, row, index) {
                    	return $.table.tooltip(value);
                    }
		        },
		        {
		            field: 'createTime',
		            title: '创建时间',
		            sortable: true
		        },
		        {
		            field: 'updateTime',
		            title: '更新时间',
		            sortable: true
		        }]
		    };
		    $.table.init(options);
		});
		
		/* 导入表结构-选择表结构-提交 */
		function submitHandler() {
			var rows = $.table.selectColumns("tableName");
			if (rows.length == 0) {
       			$.modal.alertWarning("请至少选择一条记录");
       			return;
       		}
			var data = {"tables": rows.join()};
			$.operate.save(prefix + "/importTable", data);
		}
	</script>
</body>
</html>