<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改节点巡检任务')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-task-edit" th:object="${hyNodeTask}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">计划名称：</label>
                <div class="col-sm-8">
                    <input name="taskName" th:field="*{taskName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">巡检时间：</label>
                <div class="col-sm-8">
                    <select name="taskTime" th:field="*{taskTime}" class="form-control">
                        <option value="">请选择</option>
                        <option value="1">天</option>
                        <option value="2">周</option>
                        <option value="3">月</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务备注：</label>
                <div class="col-sm-8">
                    <input name="taskRemark" th:field="*{taskRemark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">任务状态：</label>
                <div class="col-sm-8">
                     <select name="taskStatus" th:field="*{taskStatus}" class="form-control">
                          <option value="">请选择</option>
                          <option value="1">未完成</option>
                          <option value="2">进行中</option>
                          <option value="3">已完成</option>
                      </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">巡检节点：</label>
                <div class="col-sm-8">
                	<div class="col-sm-9" th:with="type=${@node.getNode()}">
                    <label  th:each="dict : ${type}" class="check-box">
                    	<input name="nodeIds" type="checkbox" th:checked="${#arrays.contains(#strings.arraySplit(hyNodeTask.nodeIds,','),#strings.toString(dict.id))}" th:text="${dict.name}" th:value="${dict.id}">
                    </label>
        			</div>
                </div>
            </div>
            <div class="form-group">    
			    <label class="col-sm-3 control-label">选择部门：</label>
                	<div class="col-sm-8">
	                	<select name="deptId" id="dept" th:field="*{deptId}" class="form-control m-b" th:with="type=${@dept.getDepts()}" onchange="changeUser()">
	                  		<option value="">请选择</option>
	                  		<option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}"></option>
	                	</select>
                	</div>
            </div>
            <div class="form-group">    
               <label class="col-sm-3 control-label">选择巡检人：</label>
               	<div class="col-sm-8">
	                <select id="user" name="userId" th:field="*{userId}" class="form-control" th:with="type=${@user.getUser()}">
							<option value="">请选择</option>
							<option th:if="data!=null" th:each="data : ${type}" th:text="${data.userName}" th:value="${data.userId}"></option>
					 </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">巡检类型：</label>
                <div class="col-sm-8">
                    <select name="typeId" th:field="*{typeId}" class="form-control" th:with="type=${@type.getType()}">
							<option value="">请选择</option>
							<option th:if="data!=null" th:each="data : ${type}" th:text="${data.checkType}" th:value="${data.id}"></option>
					 </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/task";
        $("#form-task-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-task-edit').serialize());
            }
        }
        var prefix1 = ctx + "system/user"
   		function changeUser(){
   			$("#user").removeAttr("disabled");
   			$.ajax({
                url: prefix1 + "/lists",
                data: {deptId : $("#dept").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	console.log(result);
                	var optArr = [];
                	$("#user").empty();
					$("#user").append("<option value=\"\">请选择</option>");
                    for (var i = 0; i < result.length; i++) {
                    	$("#user").append("<option value=" + result[i].userId + ">" + result[i].userName + "</option>");
                    }
                        
                    // 缺一不可  
                    $("#user").selectpicker('refresh');
                    $("#user").selectpicker('render');

					console.log(result);
                }
            });
   		}
    </script>
</body>
</html>