<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改节点巡检任务')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-task-edit" th:object="${hyNodeTask}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-2 control-label">名称：</label>
                <div class="col-sm-4">
                    <input name="taskName" th:field="*{taskName}" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">巡检节点：</label>
                <div class="col-sm-4">
                    <select id="nodeId" name="nodeId" th:field="*{nodeId}" class="form-control" th:with="type=${@node.getNode()}" onchange="changeAddress()">
						<option value="">请选择</option>
						<option th:if="data!=null" th:each="data:${type}" th:text="${data.name}" th:value="${data.id}"></option>
			 	    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">巡检方式：</label>
                <div class="col-sm-2">
                    <input name="inspectionWay" th:field="*{inspectionWay}" value="1" type="radio">设备巡检
                </div>
                <div class="col-sm-2">
                    <input name="inspectionWay" th:field="*{inspectionWay}" value="2" type="radio">区域巡检
                </div>
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-4">
                    <input name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">地址：</label>
                <div class="col-sm-4">
                    <input id="address" th:field="*{hyCheckeNode.nodeAddress}" class="form-control" type="text" disabled="disabled">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/task";
        $("#form-task-edit").validate({
        	rules : {
        		taskName : {
					required : true,
					maxlength:20,
				},
				inspectionWay : {
					maxlength:20,
				},
				remark : {
					maxlength:255,
				},
				nodeId : {
					required : true,
					maxlength:11,
				},
			},
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-task-edit').serialize());
            }
        };
		function changeAddress(){
   			$.ajax({
                url: prefix1 + "/lists",
                data: {id : $("#nodeId").val()},
                dataType : 'json',
                type: 'POST',
                success: function (result) {
                	var optArr = [];
                	$("#address").empty();
					$("#address").val(result[0].address);
					$("#depts").empty();
					$("#depts").val(result[0].deptId);
                    // 缺一不可  
                    $("#address").selectpicker('refresh');
                    $("#address").selectpicker('render');
                    $("#depts").selectpicker('refresh');
                    $("#depts").selectpicker('render');
                }
            });
   			$.ajax({
			    url: prefix2 + "/lists",
			    data: {deptId : $("#depts").val()},
			    dataType : 'json',
			    type: 'POST',
			    success: function (result) {
			    	$("#dept").empty();
					$("#dept").val(result[0].deptName);
			                    // 缺一不可  
			                    $("#dept").selectpicker('refresh');
			                    $("#dept").selectpicker('render');
					   	}
			});
   			
        };
    </script>
</body>
</html>