<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改项目列')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-project-edit" th:object="${hyProject}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">项目名称：</label>
                <div class="col-sm-8">
                    <input name="projectName" th:field="*{projectName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">小区id：</label>
                <div class="col-sm-8">
                    <input name="villageId" th:field="*{villageId}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/project";
        
        $("#form-project-edit").validate({
			onkeyup : false,
			rules : {
				projectName : {
					required : true,
					minlength : 1,
					maxlength : 100,
				},
				villageId : {
					required : true,
					number : true,
					minlength : 1,
					maxlength : 11,
				},
			},
			messages : {
				"projectName" : {
					remote : "项目名称长度为100个字符"
				},
				"villageId" : {
					remote : "小区id只能为数字，并且长度在11个字符内"
				}
			},
			focusCleanup : true
		});


        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-project-edit').serialize());
            }
        }
    </script>
</body>
</html>