<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('应收导入')" />
<th:block th:include="include :: bootstrap-duallistbox-css" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
					<div class="ibox-content" >
						<ul>
							<li>
								<label>楼宇：</label>
								<select name="building" class="form-control m-b">
									<option value="">请选择</option>
								</select>	
							</li>
							<li>
								<label>组团区域名称：</label> 
								<select name="groupAreaName" class="form-control m-b">
									<option value="">请选择</option>
								</select>	
							</li>
							<li>
								<label>费用项目：</label> 
								<input type="text" name="costItems" onclick="selectProject()" />
							</li>
							<li>
								<label>计费开始日期：</label> 
								<input type="text" placeholder="yyyy-MM-dd" name="feeDate" class="time-input" />
							</li>
							<li>
								<label>计费开始日期：</label> 
								<input type="text" placeholder="yyyy-MM-dd" name="bilingStartDate" class="time-input"/>
							</li>
							<li>
								<label >计费开始日期：</label> 
								<input type="text" placeholder="yyyy-MM-dd" name="bilingEndDate" class="time-input" />
							</li>
						</ul>
							<div class="col-sm-8" >
								<label class="control-label">费用对象：</label>
								 <label class="check-box">
			                         <input type="radio" name="ownerCategory" checked>当前用户</label>
			                     <label class="check-box">
			                         <input type="radio" name="ownerCategory" checked>业主 </label>
		                         <label class="check-box">
			                         <input type="radio" name="ownerCategory" checked>租户</label>
		                         <label class="check-box">
			                       	<input type="radio" name="ownerCategory" checked>车位业主</label>
		                         <label class="check-box">
			                         <input type="radio" name="ownerCategory" checked>车位租户</label>
							</div>
							<div class="col-sm-8">
								<label class=" control-label">生成方式：</label> 
								 <label class="check-box">
			                         <input type="radio" name="generateMode" checked>按房号
			                     </label>
			                     <label class="check-box">
			                         <input type="radio" name="generateMode" checked>按客户
			                     </label>
						<div  align="center">
							<input class="btn btn-success btn-sm" type="button" value="生成格式文件"
								onclick="bt()">
						</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="ibox-content" >
					<input style="display：inline-block;" class="btn btn-success btn-sm" type="button" value="选择文件" onclick="bt()">
               	 	<input style="display：inline-block; float: right;width:200px" class="form-control" type="text">
            </div>
						
			<div class="col-sm-12 select-table table-striped">
				<div class="ibox-content">
					<form id="form" action="#" class="wizard-big">

						<select class="form-control dual_select" multiple>

						</select>
					</form>
				</div>
			</div>
		</div>
	</div>



	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<th:block th:include="include :: bootstrap-duallistbox-js" />
	<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:cost:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:cost:remove')}]];
        var prefix = ctx + "system/receivableImport";

		$("input[name='feeDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
		$("input[name='bilingStartDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
        
		$("input[name='bilingEndDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
        
 
        $('.dual_select').bootstrapDualListbox({
	    	nonSelectedListLabel: '房屋范围',
            selectedListLabel: '&nbsp',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,           // 出现一个剪头，表示可以一次选择一个
            filterTextClear: '请选择',
            moveSelectedLabel: "添加",
            moveAllLabel: '添加所有',
            removeSelectedLabel: "移除",
            removeAllLabel: '移除所有',
            infoText: false,
            showFilterInputs: false,       // 是否带搜索
	        selectorMinimalHeight: 160
	    });

    </script>
</body>
</html>