<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改设备异常')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-abnormal-edit" th:object="${hyEquipmentAbnormal}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">异常名称：</label>
                <div class="col-sm-8">
                    <input name="abnormalName" th:field="*{abnormalName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">异常描述：</label>
                <div class="col-sm-8">
                    <input name="abnormalDescribe" th:field="*{abnormalDescribe}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">异常图片：</label>
                <div class="col-sm-8">
                    <input name="abnormalPicture" th:field="*{abnormalPicture}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审核人：</label>
                <div class="col-sm-8">
                    <input name="abnormalAuditor" th:field="*{abnormalAuditor}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                	<select name="abnormalStatus" th:field="*{abnormalStatus}" class="form-control">
                      <option value="">请选择</option>
                      <option value="1">待审核</option>
                      <option value="2">已通过</option>
                      <option value="3">已拒绝</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">拒绝原因：</label>
                <div class="col-sm-8">
                    <input name="refusalReason" th:field="*{refusalReason}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通过原因：</label>
                <div class="col-sm-8">
                    <input name="throughReason" th:field="*{throughReason}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/abnormal";
        $("#form-abnormal-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-abnormal-edit').serialize());
            }
        }
    </script>
</body>
</html>